@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/rtl";

.done {
  background: var(--background-contrast-info);
  border-radius: u(2);
  padding: u(4);
  display: flex;
  align-items: center;
}
