@import 'src/scss/colors.scss';

.side-trad{
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #f2f2f2;
  padding: 20px 20px 80px;
  margin-bottom: 20px;
  position: fixed;
  width: 33%;
  min-width: 450px;
  z-index:3;
  overflow: auto;

  .flag-margin {
    margin-left: 10 !important;
    margin-bottom: 10 !important;
  }

  .shadow {
    -webkit-box-shadow: 4px 40px rgba(0, 0, 0, 0.25);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    4px 40px rgba(0, 0, 0, 0.25);  /* Firefox 3.5 - 3.6 */
    box-shadow:         4px 40px rgba(0, 0, 0, 0.25);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }

  .nav-btns{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    flex-wrap: wrap;
  }
  .langue-data{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
  }
  .toolbar-spacer{
    width: 175px;
    height: 35px;
  }
  .align-right{
    margin-left: auto;
  }
  .content-data-french{
   min-height:50px;
   overflow: scroll;
   z-index: 3;
  // display: flex;
    border-radius: 12px 12px 12px 12px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    &.no-margin-modified{
      margin-bottom: 0px;
      background-color: #fcd497 !important;
    border-radius: 12px 12px 0px 0px;
    }
    &.no-margin-abstract{
      margin-bottom: 0px;
      background-color: #f9ef99 !important;
    border-radius: 12px 12px 0px 0px;
    }
    &.no-margin-validated{
      margin-bottom: 0px;
      background-color: #def6c2 !important;
    border-radius: 12px 12px 0px 0px;
    }
    &#body_texte_initial{
      background-color: #D2EDFC;
    }
    &#body_texte_final{
      background: #FFFFFF;
      border: 0.5px solid $noir;
      display: flex;
      flex-direction: column;
      .body{
        flex: 1;
        background: transparent;
      }
      .editeur-sidebar{
        border: none;
        border-radius: 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        .editor-editeur{
          padding: 0;
          margin-top: -16px;
          flex: 1;
        }
        .toolbar-editeur{
          right: -25px;
          top: -75px;
          //z-index: 5;
        }
      }
    }
  }
  .content-data{
   // overflow: auto;
    display: flex;
    position: relative;
    height: 100%;
    min-height: 180px;
    flex: 1;
    border-radius: 12px 12px 12px 12px;
    padding: 0px 0px 0px 20px;
    position: relative;
      border: 0.5px solid $noir;
    &.no-margin-validated{
      background-color: #def6c2 !important;
      border: none;
    }
    &.editor-validated {
      background-color:  #def6c2 !important;
    }

/* 
    &#body_texte_initial{
      background-color: #D2EDFC;
    } */
    &#body_texte_final{
      overflow: visible;
      //position: relative;
      background: #FFFFFF;
      display: flex;
      flex-direction: column;
      .body{
        flex: 1;
        background: transparent;
      }
      .editeur-sidebar{
        // position: relative;
        overflow: scroll;
        border: none;
        border-radius: 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0;
        .editor-editeur{
          display: flex;
          //position: relative;
          padding: 0;
          margin-top: 40px;
          flex: 1;
          &.editor-validated {
            background-color:  #def6c2 !important;
          }
        }
        .toolbar-editeur{
          display: flex;
          align-items: flex-end;
          justify-content: flex-start;
          position: absolute;
          z-index: 1000;
         right: 5px;
          top: -7px;
        }
        .toolbar-editeur-droite{
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          z-index: 1000;
         left: 5px;
          top: -7px;
        }
      }
    }
  }

  .notrounded{
    border-radius: 12px 12px 0px 0px;
  }

  .footer-btns{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;

    .right-footer{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
      margin-right: -10px;
    }
  }
  .margin-left-auto{
    margin-left: auto;
  }

  .other-propositions{
    margin-top: 30px;

    .title-props{
      margin-bottom:20px;
    }
    .list-group-item{
      border-radius: 12px;
      margin-bottom: 10px;
      border:none;
      outline: none;
      &:not(:hover){
        background: $blanc;
      }
      .score{
        float: right;
        color: $grisFonce;
      }
    }
  }

  .expert-bloc{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .score{
      display: flex;
      flex: 1;
      font-weight: bold;
    }

    .proposition{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex: 1;
      font-weight: bold;
      border: 0.5px solid $noir;
      border-width: 0px 0.5px 0.5px 0.5px;
      border-radius: 0px 0px 12px 0px;
      padding: 10px;
      color: #909090;
      height: 60px;
      &.no-margin-validated{
        background-color: white;
        border: none;
      }
    }

    .propositions{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      font-weight: bold;
      border: 0.5px solid $noir;
      border-width: 0px 0.5px 0.5px 0.5px;
      border-radius: 0px 0px 12px 0px;
      padding: 10px;
      color: #909090;
      height: 60px;
      &.no-margin-validated{
        background-color: white;
        border: none;
      }
    }
    .texte-vert{
      color: #8BC34A;
    }
    .trad-info{
      display: flex;
      align-items: center;
      flex: 1;
      background: $noir;
      color: #FFFFFF;
      border-radius: 0px 0px 0px 12px;
      padding: 10px;
      height: 60px;
      font-weight: 600;
      font-size: 16;
    }
  }  

  .mb-20{
    margin-bottom: 20px;
  }

  .google-suggest{
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-size: 12px;
    line-height: 15px;
    color: $noirCD;
  }
  .google-logo{
    width: 13px;
    height: 13px;
  }
}