@import 'src/scss/colors.scss';

.side-trad{
  background: rgba(242, 242, 242, 0.8);
  padding: 20px 20px 60px;
  position: fixed;
  width: 33%;
  max-height: calc(100% - 56px);
  overflow: scroll;
  z-index:3;
  backdrop-filter: blur(10px);

  .shadow {
    -webkit-box-shadow: 4px 40px rgba(0, 0, 0, 0.25);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    4px 40px rgba(0, 0, 0, 0.25);  /* Firefox 3.5 - 3.6 */
    box-shadow:         4px 40px rgba(0, 0, 0, 0.25);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }

  .nav-btns{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    flex-wrap: wrap;
    margin-top: -10px;
  }
  .langue-data{
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
  }
  .toolbar-spacer{
    width: 175px;
    height: 35px;
  }
  .content-data{
    min-height:200px;
    border-radius: 12px;
    padding: 20px;
    position: relative;

    &#body_texte_initial{
      background-color: #D2EDFC;
    }
    &#body_texte_final{
      background: #FFFFFF;
      border: 0.5px solid $noir;
      display: flex;
      flex-direction: column;
      .body{
        flex: 1;
        background: transparent;
      }
      .editeur-sidebar{
        border: none;
        border-radius: 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        .editor-editeur{
          padding: 0;
          margin-top: -16px;
          flex: 1;
        }
        .toolbar-editeur{
          right: -25px;
          top: -75px;
        }
      }
    }
  }
  .footer-btns{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;

    .right-footer{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
      margin-right: -10px;
    }
  }
  .margin-left-auto{
    margin-left: auto;
  }

  .other-propositions{
    margin-top: 30px;

    .title-props{
      margin-bottom:20px;
    }
    .list-group-item{
      border-radius: 12px;
      margin-bottom: 10px;
      border:none;
      outline: none;
      &:not(:hover){
        background: $blanc;
      }
      .score{
        float: right;
        color: $grisFonce;
      }
    }
  }

  .expert-bloc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -12px;

    .score{
      font-weight: bold;
    }
    .texte-vert{
      color: #8BC34A;
    }
    .trad-info{
      background: $noir;
      color: #FFFFFF;
      border-radius: 0px 0px 12px 12px;
      padding: 20px 12px 8px;
    }
  }  

  .mb-20{
    margin-bottom: 20px;
  }

  .google-suggest{
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-size: 12px;
    line-height: 15px;
    color: $noirCD;
  }
  .google-logo{
    width: 13px;
    height: 13px;
  }
}