@import "src/scss/colors";

.btn {
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 4px;
  opacity: 0.5;
  align-items: center;
  cursor: default;
  border: none;

  &.selected {
    opacity: 1;
  }
  &.clickable {
    cursor: "pointer";
  }

  .inner {
    display: flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
  }
}
