@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/mixins/rtl";
@import "~/scss/variables";

$orange: #cd5605;
$purple: #3d2884;

@mixin fadeBorder() {
  &::after {
    content: "";
    inline-size: $borderWidth;
    position: absolute;
    block-size: 200px;
    inset-block-end: 0;
    inset-inline-start: -$borderWidth;
    background: linear-gradient(rgb(255 255 255 / 0%), rgb(255 255 255 / 100%));
  }
}

// layout
.row {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  min-block-size: 420px;

  @include isTablet {
    position: relative;
    flex-direction: column-reverse;
    padding-inline-start: u(4);
  }
}

$borderWidth: 4px;

.content {
  max-inline-size: 480px;
  order: 2;
  padding-block-end: 100px;
  padding-inline-start: 60px;
  border-inline-start: $borderWidth solid $dark;
  border-inline-end: none;
  position: relative;

  .orange & {
    border-color: $orange;
  }

  .purple & {
    border-color: $purple;
  }

  .has_btn_step & {
    padding-block-end: 250px;

    @include isTablet {
      padding-block-end: 0;
    }
  }

  @include isTablet {
    max-inline-size: none;
    padding-inline: u(8) 0;
    padding-block-end: u(9);
  }

  .dotted & {
    border-inline-style: dashed none;

    @include media-min("lg-limit") {
      @include fadeBorder;
    }
  }
}

.media {
  position: relative;
  order: 1;
  flex-grow: 0;
  inline-size: 480px;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  :global(.autoplay-video) {
    max-inline-size: 100%;
    block-size: auto;
  }

  @include isTablet {
    border-inline-start: $borderWidth solid $dark;
    border-inline-end: none;
    padding-inline: u(8) 0;
    padding-block-end: 60px;
    inline-size: auto;

    .orange & {
      border-color: $orange;
    }

    .purple & {
      border-color: $purple;
    }

    .dotted & {
      border-inline-style: dashed none;

      @include fadeBorder;
    }
  }

  .has_btn_step & {
    @include isTablet {
      padding-block-end: 150px;
    }
  }
}

// text
.title {
  @include text("h4");

  font-weight: normal;
  margin-block-end: u(8);

  @include isTablet {
    @include text("large");

    margin-block-end: u(4);
  }
}

.text {
  @include text("large");

  color: $gray80;
  margin-block-end: u(8);

  @include isTablet {
    @include text("normal");

    margin-block-end: u(4);
  }
}

.step {
  @include text("h5");

  inline-size: 40px;
  block-size: 40px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1.3px solid $white;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: -22px;
  box-shadow: 1.3px 1.3px 11px 0 #2121213d;

  // fix vertical align
  span {
    block-size: 22px;
    line-height: 20px;

    @include isTablet {
      block-size: 16px;
      line-height: 15px;
    }
  }

  .orange & {
    background: $orange;
  }

  .purple & {
    background: $purple;
  }

  @include isTablet {
    @include text("normal");

    inline-size: 24px;
    block-size: 24px;
    inset-inline-start: -14px;
    inset-block-start: -1px;
  }
}

.btn_step {
  @include text("large");

  padding: u(4);
  border-radius: $radius;
  color: $white;
  font-weight: bold;
  text-align: center;
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 120px;
  transform: translateX(-50%);

  @include rtl {
    transform: translateX(50%);
  }

  .orange & {
    background: $orange;
  }

  .purple & {
    background: $purple;
  }

  &.last {
    inset-block-end: 0;
  }

  @include isTablet {
    transform: none;
    inset-inline-start: 0;
    inset-block-end: 60px;
    inline-size: 100%;
  }
}
