@import 'src/scss/colors.scss';

.footer{
  background: $noir;
  padding: 60px 120px;
  color: #FFFFFF;

  .ligne-footer{
    margin-top: 20px;
  }
  .lien-footer{
    margin-top: 25px;
    &:first-child{
      margin-top: 40px;
    }
    &:hover{
      font-weight: bold;
    }
  }
  .form-group{
    margin: 10px 0 0 0;
  }

$placeholderColor: $noir;

*::-webkit-input-placeholder {
  color: $placeholderColor;
}
*:-moz-placeholder {
  color: $placeholderColor;
  opacity: 1;
}
*::-moz-placeholder {
  color: $placeholderColor;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: $placeholderColor;
}
*::-ms-input-placeholder {
  color: $placeholderColor;
}
*::placeholder {
  color: $placeholderColor;
}

  .form-control{
    border-radius: 12px;
    border: none;
    color: $noir;
    outline: none;
    height: 3.75em;
    placeholder
    &:hover{background: $gris;}
    &:focus::-webkit-input-placeholder { color:transparent; }
    &:focus:-moz-placeholder { color:transparent; }
    &:focus{ box-shadow: none;}
  }
  .footer-btn{
    display: block;
    height: 60px;
    padding: 10px 20px;
    line-height: 38px;
  }
  .icon-append{
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    outline: none;
    cursor: pointer;
  }
  .right-col{
    display: flex; 
    flex-direction: column;

    .social-custom-buttons-row{
      margin-top: 40px;
    }

    .main-row{
      flex: 1 1;

    .footer-header h5{
      margin-bottom: 1rem;
    }
    }
  }
}