@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";

.item {
  margin-inline-end: u(2);

  @include media-min("lg-limit") {
    margin-inline-end: 0;
    display: none;
  }

  @include media-min("xl-limit") {
    margin-inline-end: u(2);
    display: inline-block;
  }
}
