@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/text";

.container {
  display: flex;
  align-items: center;
  margin-top: u(4);
}
.item {
  width: u(8);
  height: u(8);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: u(4);
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.flag {
  z-index: 1;
  position: relative;
  width: 20px !important;
}
