@import "src/scss/global.scss";
@import "src/scss/colors.scss";

.modal-objectifs {
  @include media-min("tablet-down") {
    min-width: 900px;
  }

  .modal-content {
    background: #ffffff;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    font-size: 18px;
    line-height: 23px;
    padding: 50px;

    .modal-header {
      border: none;
      .modal-title {
        font-weight: bold;
        font-size: 40px;
        max-width: 100%;
        @include media-max("phone-down") {
          font-size: 24px;
        }
      }
    }

    .modal-body {
      font-size: 18px;
      line-height: 23px;

      .text-small {
        color: #828282;
      }
      .objectifs-wrapper {
        margin-top: 30px;

        .obj-row {
          background: $gris;
          border-radius: 12px;
          padding: 10px;
          cursor: pointer;
          &:hover {
            box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
          }
          &.active {
            background: $validation;
          }
        }
        .obj-col {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        .texte-gris-fonce {
          color: $grisFonce;
        }
        .texte-gris {
          color: $grisFonce;
        }
      }
      .dot-circle {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: $noir;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
      }
    }

    .modal-footer {
      border: none;
      justify-content: flex-end;
      @include media-max("phone-down") {
        flex-direction: column;
      }

      .form-check-label {
        margin: 0;
        margin-left: 20px;
        font-size: 16px;
        line-height: 20px;
        color: #828282;
        @include media-min("phone-down") {
          max-width: 50%;
        }
        @include media-max("phone-down") {
          width: 100%;
        }
      }

      .margin-right-8 {
        margin-right: 8px;
      }
    }
  }
}
