.modal-objectifs{ 
  min-width:900px;

  .modal-content{
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    font-size: 18px;
    line-height: 23px;
    padding:50px;

    .modal-header{
      border:none;
      .modal-title{
        font-weight: bold;
        font-size: 40px;
        line-height: 51px;
      }
    }
    
    .modal-body{
      font-size: 18px;
      line-height: 23px;
      .text-small{
        color: #828282;
      }
      .obj-row{
        margin-top:30px;

        .col-lg-3{
          min-height:235px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding:20px;

          h3{
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
          }
          .statut{
            font-size: 18px;
            line-height: 23px;
            color: #4A69BD;
            font-style: italic;
          }
          .detail{
            color: #4A69BD;
          }

          &:hover{
            background: #FBFBFB;
            box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
            border-radius: 12px;
          }
          &.active{
            background: #FBFBFB;
            border: 1px solid #78E08F;
          }
        }
      }
    }

    .modal-footer{
      border:none;
      justify-content: space-between;

      .form-check-label{
        max-width:50%;
        margin:0;
        margin-left:20px;
        font-size: 16px;
        line-height: 20px;
        color: #828282;
      }

      .validate-btn{
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        background: #78E08F;
        border-radius: 12px;
        border:none;
      }
      .margin-right-8{
        margin-right:8px;
      }
    }
  }
}