.container {
  /* Layout */
  display: flex;
  padding: 56px 120px;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  align-self: stretch;

  /* Style */
  background: var(--text-inverted-grey);
}

.results {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  flex-wrap: wrap;
  place-content: flex-start center;
}
