@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/mixins/responsive";

.wrapper {
  background: white;
  container-type: inline-size;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  padding-block: u(14);
  gap: u(14);
  max-width: 990px;

  /* Style */
  background: $white;

  /* Responsive */
  @include media-min("xl-limit") {
    max-width: 1200px; /* TODO:fix this width with the future tailwind container */
  }
}

.results {
  display: grid;
  gap: u(6);
  grid-template-columns: 1fr;

  @container (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @container (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @container (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.no_results {
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: u(10);
  align-items: center;
  justify-content: center;
  padding: u(14) 0;
  text-align: center;

  h2 {
    @include dsfr-text("chapo");

    font-weight: bold;
  }

  p {
    @include dsfr-text("chapo");
  }
}

.no_results_other {
  @include dsfr-text("h2");

  text-align: left;
  margin-bottom: u(10);
}
