@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/responsive";

.wrapper {
  background: white;
  container-type: inline-size;
}

.container {
  /* Layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  padding-block: u(14);
  gap: u(14);

  /* Style */
  background: $white;

  /* Responsive */
  @include media-min("xl-limit") {
    max-width: 1200px; /* TODO:fix this width with the future tailwind container */
  }
}

.results {
  display: grid;
  gap: u(6);
  max-width: 100%;

  @container (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @container (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @container (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.no_results {
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: u(2);
  align-items: center;
  justify-content: center;
  padding: u(8);
}

.card {
  width: 100%;

  > div {
    width: 100%;
  }
}
