@import "src/scss/colors.scss";

$placeholderColor: $noir;
$borderRadius: 12px;

.input {
  .prepend {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
  }
  .append {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    cursor: pointer;
  }

  input,
  textarea {
    background: #ffffff;
    border-radius: $borderRadius !important;
    border: 0.5px solid $noir;
    color: $noir;
    outline: none;

    &.error {
      border: 0.5px solid $error;
    }
    &.new_size {
      height: 52px;
    }
    &.has_prepend {
      padding-left: 45px;

      &.new_size {
        height: 52px;
      }
    }
    &:hover {
      background: $gris;
      border: 0.5px solid $noir;
    }
    &:focus::-webkit-input-placeholder {
      color: $grisFonce;
    }
    &:focus:-moz-placeholder {
      color: $grisFonce;
    }
    &:focus {
      box-shadow: none;
      background: $blanc;
    }
    // TODO : wont work
    &.password-input {
      min-width: 300px;
      max-width: 900px;
      padding-right: 38px;
    }
    &.phone-input {
      max-width: 170px;
    }
    &.phone-user-input.error::placeholder {
      color: $error;
    }
  }

  *::-webkit-input-placeholder,
  *:-ms-input-placeholder,
  *::-ms-input-placeholder,
  *::placeholder,
  *:-moz-placeholder,
  *::-moz-placeholder {
    color: $placeholderColor;
  }
  *:-moz-placeholder,
  *::-moz-placeholder {
    opacity: 1;
  }
}
