@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/text";
@import "src/scss/mixins/rtl";
@import "src/scss/variables";

.dispositifs {
  padding-bottom: u(4);
}

.demarches {
  margin-bottom: u(10);
  padding-bottom: u(10);

  & .card > a {
    height: 100%;
  }
}
