/* stylelint-disable no-descending-specificity */
/* stylelint-disable no-duplicate-selectors */
@layer utilities {
  :not(.no-prose) .prose {
    --tw-prose-bullets: var(--text-default-grey);
    --tw-prose-counters: var(--text-default-grey);

    & > *:last-child {
      @apply mb-0 pb-0;
    }

    ul,
    ol {
      @apply mt-0;
    }

    li {
      @apply mt-0 mb-2 px-0 pb-0 last:mb-0;
    }

    /* Fixes nested numbered lis numbers ovelap */
    ol {
      @apply mb-0 grid grid-cols-[min-content_auto] gap-y-2 p-0 ps-[0.625em];

      counter-reset: list-item;

      li {
        @apply pb-2;

        display: contents;

        ol > li::before {
          content: counter(list-item, lower-alpha) ".\a0";
        }
      }

      li::before {
        @apply font-bold;

        counter-increment: list-item;
        content: counter(list-item, decimal) ".\a0";
        display: table-cell;
        text-align: right;
      }

      ol {
        @apply ps-2;

        > li::before {
          content: counter(list-item, lower-alpha) ".\a0";
        }

        ol {
          > li::before {
            content: counter(list-item, upper-roman) ".\a0";
          }

          ol {
            > li::before {
              content: counter(list-item, decimal) ".\a0";
            }

            ol {
              > li::before {
                content: counter(list-item, lower-alpha) ".\a0";
              }

              ol {
                > li::before {
                  content: counter(list-item, upper-roman) ".\a0";
                }
              }
            }
          }
        }
      }
    }

    p {
      @apply mt-0 mb-4;

      &:last-of-type {
        @apply mb-6;
      }

      & + h2,
      & + h3 {
        @apply mt-8 mb-6;
      }

      & + ul,
      & + ol {
        @apply mb-4 -translate-y-2;
      }
    }

    h2,
    h3 {
      @apply mt-0 mb-6;
    }

    .callout {
      @apply m-0 mb-6;
    }
  }
}
