$btnHeight:40px;
$btnWidth:40px;

.language-btn.btn{
  background: #F2F2F2;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
  height: $btnHeight;
  width: $btnWidth;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
  margin: auto 10px;
  padding: 0;
  border: none;
  &:hover{
    background: #CDCDCD;
    box-shadow: none;
  }
  i{
    box-sizing: border-box;
    border-radius: 2px;
  }
}