@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";

.infos {
  overflow-x: hidden;
}

.infos_col {
  max-inline-size: 430px;
  margin: auto;
  padding: u(20) 0;

  @include isTablet {
    padding: u(10) 0;
  }

  .action {
    margin-block-start: u(10);

    @include isTablet {
      margin-block-start: u(6);
    }
  }

  .img {
    max-inline-size: 100%;
    block-size: auto;
  }
}

.title2 {
  @include text("h5");

  text-align: center;
  margin-block-start: u(10);
}

.subtitle {
  @include text("large");

  margin-block-start: u(6);
}

.newsletter {
  position: relative;
}

.newsletter_input {
  input {
    block-size: 64px;
    padding-inline: u(10) u(36);
  }

  & > span {
    inset-block-start: u(5) !important;
    inset-inline-start: u(2);
  }

  :global(.input-error-icon) {
    inset-inline-start: 150px;
  }
}

.newsletter_submit {
  position: absolute;
  inset-inline-end: 8px;
  inset-block-start: 8px;
  block-size: 48px;
}
