@import "colors";
@import "variables";
@import "mixins/text";
@import "mixins/responsive";

/**
* Global style for content callouts so they can be used in input or view mode
*/
.callout {
  margin-block: 1.5rem;
  background: var(--background-contrast-blue-cumulus);
  border-inline-start: 0.25rem solid var(--border-default-blue-cumulus);

  &.callout--important {
    border-inline-start: 0.25rem solid var(--border-default-yellow-tournesol);
    background: var(--background-contrast-yellow-tournesol);
  }

  /* stylelint-disable-next-line selector-class-pattern */
  &.callout--info,
  &.callout--important {
    color: var(--color-text-default-grey);
    line-height: 1.5rem;
    margin-inline-start: 2rem;
    padding-block: 1rem;
    padding-inline: 0.75rem 1rem;

    @include media-max("lg-limit") {
      line-height: 1.75rem;
    }

    &::before {
      color: var(--color-text-title-grey);
      content: attr(data-title);
      display: block;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.75rem;
      margin-bottom: 0.75rem;

      @include media-max("lg-limit") {
        font-size: 1.125rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}
