@import "colors";
@import "variables";
@import "mixins/unit";
@import "mixins/text";
@import "mixins/responsive";

/**
* Global style for content callouts so they can be used in input or view mode
*/
.callout {
  margin-block: u(6);

  /* stylelint-disable-next-line selector-class-pattern */
  &.callout--info {
    padding-block-start: u(8);
    margin-inline-start: u(8);

    $border: 4px solid var(--border-default-blue-france);

    @include media-max("lg-limit") {
      @include pl-ltr(u(4));
      @include ml-ltr(u(2));
    }

    &::before {
      @include dsfr-text("h6");

      content: attr(data-title);
      display: block;
      margin-block-end: u(2);
      font-weight: bold;
      color: var(--border-default-blue-france);

      @include media-max("lg-limit") {
        @include dsfr-text("large");
      }
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  &.callout--important {
    background: var(--background-contrast-grey);
    position: relative;
    border-radius: u(2);
    overflow: hidden;
    padding-inline: u(14) u(2);
    padding-block: u(4);

    &::before {
      @include dsfr-text("h6");

      content: attr(data-title);
      display: block;
      margin-block-end: u(1);
      font-weight: bold;

      @include media-max("lg-limit") {
        @include dsfr-text("large");
      }
    }

    &::after {
      content: "\ea20";
      font-family: remixicon, sans-serif !important;
      color: white;
      text-align: center;
      font-size: 24px;
      padding-block-start: u(4);
      inline-size: u(10);
      position: absolute;
      inset-block: 0;
      inset-inline-start: 0;
      background: var(--border-default-blue-france);
    }
  }
}
