/* stylelint-disable media-feature-range-notation */
/* stylelint-disable selector-not-notation */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */
// mobile menu button
.fr-header .fr-header__navbar {
  align-self: center;

  [dir="ltr"] & {
    padding-inline-end: 1rem;
  }

  [dir="rtl"] & {
    padding-inline-start: 1rem;
    margin-inline: inherit auto;
  }
}

// rtl
[dir="rtl"] {
  .fr-footer__top-cat,
  .fr-nav__list > * > .fr-nav__link,
  .fr-nav__link {
    text-align: end;
  }

  [class^="ri-"].icon-left {
    margin-inline: 0.5rem 0;
  }

  .fr-header
    .fr-btns-group:not(.fr-btns-group--sm):not(.fr-btns-group--lg):not([class^="fr-btns-group--icon-"]):not(
      [class*=" fr-btns-group--icon-"]
    )
    .fr-btn::before {
    margin-inline: 0.5rem -0.125rem;
  }

  @media (min-width: 62em) {
    .fr-footer__content {
      margin-inline: inherit auto;
    }
  }
}

// remove when remixicons css is removed
[class^="ri-"],
[class*=" ri-"] {
  font-family: inherit !important;
}
