/* stylelint-disable media-feature-range-notation */
/* stylelint-disable selector-not-notation */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */
// mobile menu button
.fr-header .fr-header__navbar {
  align-self: center;
  padding-inline-end: 1rem;
  margin-inline-start: inherit;
  margin-inline-end: auto;

  .fr-btn--menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 0;
    width: 2.5rem;
    height: 2.5rem;
    min-height: 2.5rem;

    &::before {
      margin: 0;
    }
  }
}

// rtl
[dir="rtl"] {
  .fr-footer__top-cat,
  .fr-nav__list > * > .fr-nav__link,
  .fr-nav__link {
    text-align: end;
  }

  [class^="ri-"].icon-left {
    margin-inline: 0 0.5rem;
  }

  .fr-header
    .fr-btns-group:not(.fr-btns-group--sm):not(.fr-btns-group--lg):not([class^="fr-btns-group--icon-"]):not(
      [class*=" fr-btns-group--icon-"]
    )
    .fr-btn::before {
    margin-inline: -0.125rem 0.5rem;
  }

  @media (min-width: 62em) {
    .fr-footer__content {
      margin-inline-start: inherit;
      margin-inline-end: auto;
    }
  }
}

// remove when remixicons css is removed
[class^="ri-"],
[class*=" ri-"] {
  font-family: inherit !important;
}

// links
a:not(.underline) {
  text-decoration: none;

  &:not([class^="fr-"]),
  &:not([class^="fr-"])[href],
  &:not([class^="fr-"]):hover {
    color: inherit;
    background-image: none;
  }
}

:not([class^="fr-link"])[target="_blank"]::after {
  content: none;
}
