@import "~/scss/mixins/responsive";
@import "~/scss/variables";
@import "~/scss/mixins/rtl";

// Margin and padding utilities that work in both LTR and RTL
@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $length in $spacers {
    .#{$abbrev}e-#{$size} {
      #{$prop}-inline-end: $length !important;
      #{$prop}-inline-start: 0 !important;
    }
    .#{$abbrev}s-#{$size} {
      #{$prop}-inline-start: $length !important;
      #{$prop}-inline-end: 0 !important;
    }
  }
}

// Special margin utilities
.me-auto {
  margin-inline-end: auto !important;
  margin-inline-start: inherit !important;
}

.ms-auto {
  margin-inline-start: auto !important;
  margin-inline-end: inherit !important;
}
