@import "~/scss/mixins/responsive";
@import "~/scss/variables";
@import "~/scss/mixins/rtl";

html body div[dir="rtl"] {
  text-align: end;

  @each $prop, $abbrev in (margin: m, padding: p) {
    @each $size, $length in $spacers {
      .#{$abbrev}e-#{$size} {
        #{$prop}-right: 0 !important;
        #{$prop}-left: $length !important;
      }
      .#{$abbrev}s-#{$size} {
        #{$prop}-right: $length !important;
        #{$prop}-left: 0 !important;
      }
    }
  }

  // Some special margin utils
  .me-auto {
    margin-inline-start: auto !important;
  }

  .ms-auto {
    margin-inline-end: auto !important;
  }
}

html body div[dir="ltr"] {
  text-align: start;

  @each $prop, $abbrev in (margin: m, padding: p) {
    @each $size, $length in $spacers {
      .#{$abbrev}e-#{$size} {
        #{$prop}-left: 0 !important;
        #{$prop}-right: $length !important;
      }
      .#{$abbrev}s-#{$size} {
        #{$prop}-left: $length !important;
        #{$prop}-right: 0 !important;
      }
    }
  }

  // Some special margin utils
  .me-auto {
    margin-inline: inherit auto !important;
  }

  .ms-auto {
    margin-inline: auto inherit !important;
  }
}
