@import 'src/scss/colors.scss';
@import 'src/scss/mixins/responsive';

.modal {
  overflow: scroll;
  max-height: 100vh;
  width: 650px;
  max-width: 60vw;
  background: $gris;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  border-radius: 12px;

  @include media-max("tablet-up") {
    max-width: 100%;
  }

  .modal_content{
    background: transparent;
    padding:20px;
    border:none;

    h5{
      display: inline;
    }
    .list_group{
      margin-top:20px;
    }
    .list_group_item{
      border-radius: 12px;
      margin-bottom: 10px;
      border:none;
      outline: none;
      background: $blanc;

      &:hover{
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
      }
      &.active{
        border: 0.5px solid $noir;
        box-sizing: border-box;
        border-radius: 12px;
        color: $noir;
      }
    }
    textarea{
      width: 100%;
      border-radius: 6px;
      border: none;
      padding: 20px;
      outline: none;
    }
  }
  .modal_body{
    background: transparent;
    padding:20px;
    padding-top: 0;
    border:none;
  }
  .modal_footer{
    background: transparent;
    border:none;
  }
}
