@import 'src/scss/colors.scss';
@import 'src/scss/mixins/responsive';
@import "src/scss/variables";

.modal {
  overflow: scroll;
  max-height: 100vh;
  width: 650px;
  max-width: 60vw;
  background: $gray20;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  border-radius: $radius;

  @include isMobile() {
    max-width: 100%;
  }

  .modal_content{
    background: transparent;
    padding:20px;
    border:none;

    h5{
      display: inline;
    }
    .list_group{
      margin-top:20px;
    }
    .list_group_item{
      border-radius: $radius;
      margin-bottom: 10px;
      border:none;
      outline: none;
      background: $gray10;

      &:hover{
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
      }
      &.active{
        border: 0.5px solid $gray90;
        box-sizing: border-box;
        border-radius: $radius;
        color: $gray90;
      }
    }
    textarea{
      width: 100%;
      border-radius: 6px;
      border: none;
      padding: 20px;
      outline: none;
    }
  }
  .modal_body{
    background: transparent;
    padding:20px;
    padding-top: 0;
    border:none;
  }
  .modal_footer{
    background: transparent;
    border:none;
  }
}
