@import "src/scss/colors";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/text";
@import "src/scss/mixins/responsive";

.container {
  width: 100%;
  background-color: $lightBackgroundContrastGrey;
}

.content {
  display: flex;
  justify-content: center;

  @media print {
    justify-content: flex-start;
  }

  @include media-max("lg-limit") {
    display: block;
    background: $gray30;
    box-shadow: 0 4px 12px 0 #00001229;
    border-radius: u(2) u(2) 0 0;
    padding: u(4);
    margin-top: -30px;
  }
}
.left {
  width: 320px;
  padding: u(10);

  @include media-max("xl-limit") {
    padding: u(5);
  }

  @include media-max("lg-limit") {
    width: 100%;
    padding: 0;
  }
}
.main {
  min-width: 700px;
  width: 50%;
  background: $gray30;
  border: 1px solid $lightBorderDefaultGrey;
  border-radius: u(2) u(2) 0 0;
  padding: u(10) u(20);
  margin-top: -142px;

  @include media-max("xl-limit") {
    min-width: 580px;
  }

  @include media-max("lg-limit") {
    min-width: 0;
    width: auto;
    background: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    margin-top: u(10);
  }

  @media print {
    margin-right: u(10);

    :global(.collapse:not(.show)) {
      display: block !important;
    }
  }
}
.right {
  width: 320px;

  @include media-max("lg-limit") {
    display: none;
  }

  & > div {
    padding: u(10);
    position: sticky;
    top: 0;

    @include media-max("xl-limit") {
      padding: u(5);
    }
  }

  @media print {
    display: none;
  }
}
.edit {
  .right > div {
    top: 56px;
  }
}

.section_title {
  @include dsfr-text("h2");
  font-weight: bold;
}

.top {
  margin-bottom: u(16);

  @media print {
    display: none;
  }
}

.divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: $lightBorderDefaultGrey;
  margin-bottom: u(10);
}
