@import "src/scss/colors";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/text";

.container {
  width: 100%;
  background-color: $lightBackgroundContrastGrey;
}

.banner {
  height: 400px;
  background-size: cover;
  background-position: center center;
}

.content {
  display: flex;
  justify-content: center;
}
.left {
  width: 320px;
  padding: u(10);
}
.main {
  min-width: 800px;
  width: 50%;
  background: $gray30;
  border: 1px solid $lightBorderDefaultGrey;
  box-shadow: 0 4px 12px 0 #00001229;
  border-radius: u(2) u(2) 0 0;
  padding: u(10) u(20);
  margin-top: -142px;

  @media print {
    margin-right: u(10);

    :global(.collapse:not(.show)) {
      display: block !important;
    }
  }
}
.right {
  width: 320px;

  & > div {
    padding: u(10);
    position: sticky;
    top: 0;
  }

  @media print {
    display: none;
  }
}

.section_title {
  @include dsfr-text("h2");
  font-weight: bold;
}
