@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/text";
@import "src/scss/mixins/rtl";
@import "src/scss/variables";

.suggestions {
  background: white;
  position: absolute;
  z-index: 2;
  width: 100%;
  box-shadow: 0 6px 18px 0 #00001229;

  & > button {
    display: block;
    width: 100%;
    text-align: left;
    padding: u(2) u(3);
  }
}

.option {
  background: var(--background-action-low-blue-france);
  padding: u(2) u(3);
  color: var(--text-action-high-blue-france);
  display: inline-flex;
  align-items: center;
  gap: u(2);
  margin-right: u(2);
  margin-bottom: u(2);
}

.button {
  &.full {
    width: 100%;
    justify-content: center;
  }
}
