.feedback #svgContainer {
  max-width: 50%;
  max-height: 50%;
  position: relative;
  height: 200px;
  margin: auto;
}

.feedback .change {
  clear: both;
  display: block;
  font-size: 14px;
  color: #ccc;
}
