@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/text";
@import "src/scss/mixins/rtl";
@import "src/scss/mixins/unit";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
