@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/text";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/icons";
@import "~/scss/mixins/responsive";

.sidebar {
  position: absolute;
  inset-block: 0;
  inset-inline-start: 0;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  transition: transform ease-in-out 0.2s;

  .btn {
    @include iconSize(u(4));
    @include dsfr-text("small");

    inline-size: u(8);
    block-size: u(8);
    min-block-size: u(8) !important;
    box-shadow: 0 6px 18px 0 #00001229;
    background-color: white;
    color: var(--background-action-high-blue-france);

    @include media-max("lg-limit") {
      display: none;
    }
  }

  &.hidden {
    transform: translateX(-200px);

    .btn {
      inline-size: fit-content;
    }
  }

  @include media-max("lg-limit") {
    transform: none !important;
    inset-block-start: inherit;
    max-inline-size: 100%;
  }

  .list {
    background: white;
    inline-size: 200px;
    block-size: 100%;
    border-inline-end: 1px solid var(--border-default-grey);
    padding: u(2);
    overflow-y: scroll;

    @include media-max("lg-limit") {
      background: transparent;
      display: flex;
      overflow: scroll hidden;
      inline-size: auto;
      block-size: auto;
      border: none;

      & > span {
        flex-shrink: 0;
      }
    }
  }
}

.item {
  padding: u(2);
  inline-size: 100%;
  text-align: start;
  border-radius: u(2);

  @include media-max("lg-limit") {
    inline-size: 200px;
    background: white;
    margin-inline: u(2);
    box-shadow: 0 6px 18px 0 #00001229;
    border: 1px solid transparent;
  }

  &:hover,
  &.active {
    background: var(--background-action-low-blue-france) !important;
    color: var(--background-action-high-blue-france);

    @include media-max("lg-limit") {
      border-color: var(--background-action-high-blue-france);
    }

    svg {
      fill: var(--background-action-high-blue-france);
    }
  }

  .title {
    @include dsfr-text("small");

    margin-block-end: 0;

    @include media-max("lg-limit") {
      min-block-size: 36px;
      margin-block-end: u(2);
    }
  }

  .city {
    @include dsfr-text("very-small");

    margin-block-end: 0;
  }
}

.divider {
  display: block;
  margin: u(1) 0;
  inline-size: 100%;
  block-size: 1px;
  background: var(--border-default-grey);

  @include media-max("lg-limit") {
    display: none;
  }
}
