@import 'src/scss/global.scss';

$h1Size: 64px;
$normalSize: 18px;

.dash-header{
  .tableau-header{
    .full-width{
      flex-grow:1;
    }
    .right-element{
      display:flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  .header-indicateurs{

    .col-lg-4{
      padding:0;
      @include media-max("lg-limit") { margin-top: 10px; }
      &:first-child{
        .inner-indicator{
          margin-left:0;
        }
      }

      .inner-indicator{
        border-radius: 12px;
        display:flex;
        margin-left:10px;
        height:100%;
        @include media-max("lg-limit") { margin-left:0; }

        .right-side{
          font-weight: bold;
          font-size: $h1Size;
          padding: 20px;
          margin: auto 0;
          @include media-max("desktop-down") { font-size: $h1Size * 4 / 5; }
          @include media-max("desktop-up") { font-size: $h1Size * 3 / 5; }
          @include media-max("tablet-up") { font-size: $h1Size * 2 / 5; }
        }
        .left-side{
          padding: 10px 20px;
          margin:auto 0;
          font-size: $normalSize;
          @include media-max("desktop-down") { font-size: $normalSize * 4 / 5; }
        }
        &.first-indicator{
          background: #60A3BC;
          color: #FFFFFF;
        }
        &.second-indicator{
          background: rgba(185, 236, 255, 0.3);
          color: #60A3BC;
        }
        &.third-indicator{
          border: 1px solid #3D3D3D;
        }
      }
    }
  }
}