@import "src/scss/global.scss";
@import "src/scss/colors.scss";

$h1Size: 64px;
$normalSize: 18px;

.dash-header {
  .ariane {
    color: $noir;
  }

  .my-breadcrumb {
    color: $grisFonce;
    &:hover {
      color: $noir;
      text-decoration: underline;
    }
  }

  .tableau-header {
    .full-width {
      flex-grow: 1;
    }
    .right-element {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      flex-grow: 1;
    }
    .role {
      margin: auto 10px;
    }
  }

  .header-indicateurs {
    margin: 0;

    .col-lg-4 {
      padding-left: 0px;
      padding-right: 0px;
      @include media-max("lg-limit") {
        margin-top: 10px;
      }
      &:first-child {
        .inner-indicator {
          margin-left: 0;
        }
      }

      .inner-indicator {
        border-radius: 12px;
        margin-left: 10px;
        padding: 20px;
        font-size: 18px;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        background: $blancSimple;
        @include media-max("lg-limit") {
          margin-left: 0;
        }

        .right-side {
          font-weight: 600;
          font-size: 80px;
          display: inline-flex;

          padding: 10px;
          margin-bottom: 0px;
          line-height: 55px;

          @include media-max("desktop-down") {
            font-size: $h1Size * 4 / 5;
          }
          @include media-max("desktop-up") {
            font-size: $h1Size * 3 / 5;
          }
          @include media-max("tablet-up") {
            font-size: $h1Size * 2 / 5;
          }
          .gris {
            white-space: nowrap;
            font-size: 40px;
            margin: 0 10px;
          }
        }
        .left-side {
          margin-left: 30px;
          margin-right: 10px;
          color: $grisFonce;
          align-items: baseline;
          @include media-max("desktop-down") {
            font-size: $normalSize * 4 / 5;
          }
        }
      }
    }
  }

  .header-structure {
    margin-top: -10px;
    .titre-structure {
      border-radius: 12px;
      background: $blanc;
      height: 100%;
      padding: 0;

      .right-side {
        padding: 20px;
        display: flex;
        flex-direction: column;
        h5 {
          flex: 1;
        }
        .bottom-btn {
          align-self: flex-end;
        }
      }
    }
    .img-wrapper {
      padding: 35px 35px;
      height: 100%;
      background: $blancSimple;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .logo-img {
      max-width: 190px;
    }

    .row-indicateurs {
      margin-left: 10px;
    }

    .struct-indicateurs {
      padding-left: 0;
      padding-right: 10px;
    }

    .right-side-header {
      .indicateur {
        background: $blanc;
        border-radius: 12px;
        padding: 20px;
        margin-top: 10px;
        align-items: center;
        display: flex;
        flex: 1 0 auto;
        //overflow: scroll;
        h2 {
          margin-right: 10px;
        }
      }
    }
  }
}
