@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/text";

.modal {
  max-width: 800px;
}
.modal_content {
  background: white;
  border: none;
  overflow: hidden;
  box-shadow: 0 2px 6px 0 #00001229;
  border-radius: u(2);
}

.container {
  display: flex;
}

.sidebar {
  width: 204px;
  color: $lightBorderPlainInfo;
  background-color: $lightBackgroundContrastInfo;
  padding: u(6);

  .title {
    @include dsfr-text("large");
    font-weight: bold;
    margin-top: u(2);
    margin-bottom: u(6);
  }
  .text {
    @include dsfr-text("very-small");
  }
}

.content {
  padding: u(4) u(8) u(8) u(8);
  flex-grow: 1;

  .title {
    @include dsfr-text("h4");
    font-weight: bold;
    color: $lightTextTitleGrey;
  }

  .close {
    padding: u(1) u(3);
    @include dsfr-text("small");
    box-shadow: none;
    min-height: 0;
    margin-bottom: u(2);
  }
}
