@import "src/scss/colors.scss";
@import "src/scss/variables";
@import "src/scss/mixins/text";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/responsive";

.banner {
  height: 400px;
  background: url(../../../../assets/dispositif/notheme-banner.svg);
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 0;

  &.translate {
    height: 280px;
  }

  @include media-max("lg-limit") {
    height: 240px;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: u(4);
  padding-right: u(4);

  @include media-max("lg-limit") {
    display: none;
  }

  .edit {
    box-shadow: 0 6px 18px 0 #00001252;
  }
}
