@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/unit";

$size: 40px;
.switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $gray90;
  font-weight: bold;
  font-size: $text-normal;
  margin-left: u(2);
  margin-right: u(2);

  :global(.form-switch) {
    padding-left: $size;
  }

  :global(.form-check-input) {
    background-color: $gray40b;
    border-color: $gray40b;
    margin-left: -$size;
    width: $size;
    height: 26px;
  }
  :global(.form-check-input:checked) {
    background-color: $validationHover;
    border-color: $validationHover;
  }

  :global(.form-check-input) {
    appearance: none !important;
  }

  &.large {
    font-size: 24px;
    line-height: 38px;
    font-weight: 600;
  }
}
