@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/mixins/rtl";
@import "~/scss/variables";

.figure {
  @include text("h1");

  margin-block-end: u(6);
  font-weight: bold;

  @include isTablet {
    margin-block-end: u(4);
  }
}

.label {
  @include text("h5");

  margin-block-end: 0;

  @include isTablet {
    @include text("large");

    margin-block-end: u(6);
  }
}
