@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/text";
@import "src/scss/mixins/rtl";
@import "src/scss/variables";

$orange: #cd5605;
$purple: #3d2884;

@mixin fadeBorder() {
  &:after {
    content: "";
    width: $borderWidth;
    position: absolute;
    height: 200px;
    bottom: 0;
    left: -$borderWidth;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  }
}

// layout
.row {
  display: flex;
  align-items: stretch;
  min-height: 420px;

  @include isTablet() {
    position: relative;
    flex-direction: column-reverse;
    padding-left: u(4);
  }
}

$borderWidth: 4px;
.content {
  max-width: 390px;
  order: 2;
  padding-left: 60px;
  padding-bottom: 100px;
  border-left: $borderWidth solid $dark;
  position: relative;

  .orange & {
    border-color: $orange;
  }
  .purple & {
    border-color: $purple;
  }

  .has_btn_step & {
    padding-bottom: 250px;

    @include isTablet() {
      padding-bottom: 0;
    }
  }

  @include isTablet() {
    max-width: none;
    padding-left: u(8);
    padding-bottom: u(9);
  }

  .dotted & {
    border-left-style: dashed;

    @include media-min("lg-limit") {
      @include fadeBorder();
    }
  }
}

.media {
  position: relative;
  order: 1;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  @include isTablet() {
    border-left: $borderWidth solid $dark;
    padding-left: u(8);
    padding-bottom: 60px;

    .orange & {
      border-color: $orange;
    }
    .purple & {
      border-color: $purple;
    }

    .dotted & {
      border-left-style: dashed;
      @include fadeBorder();
    }
  }

  .has_btn_step & {
    @include isTablet() {
      padding-bottom: 150px;
    }
  }
}

// text
.title {
  @include text("h4");
  font-weight: normal;
  margin-bottom: u(8);

  @include isTablet() {
    @include text("large");
    margin-bottom: u(4);
  }
}

.text {
  @include text("large");
  color: $gray80;
  margin-bottom: u(8);

  @include isTablet() {
    @include text("normal");
    margin-bottom: u(4);
  }
}

.step {
  width: 40px;
  height: 40px;
  @include text("h5");
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1.3px solid $white;
  position: absolute;
  top: 0;
  left: -22px;

  .orange & {
    background: linear-gradient(90deg, $orange 26.28%, #f97319 100%), linear-gradient(0deg, #ffffff, #ffffff);
  }
  .purple & {
    background: linear-gradient(90deg, $purple 26.28%, #705fa4 100%), linear-gradient(0deg, #ffffff, #ffffff);
  }

  @include isTablet() {
    width: 24px;
    height: 24px;
    @include text("large");
    left: -14px;
    top: -1px;
  }
}

.btn_step {
  padding: u(4);
  border-radius: $radius;
  color: $white;
  @include text("large");
  font-weight: bold;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 120px;
  transform: translateX(-50%);

  .orange & {
    background: $orange;
  }
  .purple & {
    background: $purple;
  }

  &.last {
    bottom: 0;
  }

  @include isTablet() {
    transform: none;
    left: 0;
    bottom: 60px;
    width: 100%;
  }
}
