@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/text";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/icons";
@import "~/scss/mixins/responsive";

.sidebar {
  z-index: 1;
  display: flex;
  align-items: flex-start;
  min-height: 0;

  .list {
    background: white;
    width: 100%;
    height: 100%;
    border-right: 1px solid var(--border-default-grey);
    padding: u(2);
    overflow-y: scroll;
  }
}

.item {
  padding: u(2);
  width: 100%;
  text-align: left;

  &:hover,
  &.active {
    background: var(--background-action-low-blue-france) !important;
    color: var(--background-action-high-blue-france);

    svg {
      fill: var(--background-action-high-blue-france);
    }
  }

  .title {
    @include dsfr-text("small");

    margin-bottom: 0;
  }

  .city {
    @include dsfr-text("very-small");

    margin-bottom: 0;
  }
}

.divider {
  display: block;
  margin: u(1) 0;
  width: 100%;
  height: 1px;
  background: var(--border-default-grey);
}
