.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(52, 59, 64, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.Toolbar .left_buttons{
  height : 100%;
  display: flex;
}

.Toolbar .Logo {
  height: 80%;
  margin: auto;
}

.Toolbar .makeItRed{
    color:white;
    background-color: red;
    padding:10px;
    border-radius: 10px;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}

.Toolbar .dropdown-toggle.btn.btn-transparent:after{
  color : white;
}

.Toolbar .dropdown-toggle.btn.btn-transparent:hover{
  background-color : gray;
}