@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";

.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: 0;
}

.flag {
  z-index: 1;
  position: relative;

  .lg & {
    inline-size: 50px !important;
    block-size: 37.5px;
    outline-width: 2px;
    border-radius: 5px;
  }

  .md & {
    inline-size: 20px !important;
  }
}
