.container {
  display: flex;
  justify-content: flex-start;
  font-weight: normal;

  :global(.flag-icon) {
    margin-right: 8px;
  }
  & > span {
    font-weight: bold;
    margin-right: 4px;
  }
}
