@import "src/scss/colors";
@import "src/scss/mixins/unit";

.link {
  color: $lightTextActionHighBlueFrance !important;
  background-image: var(--underline-img), var(--underline-img) !important;
  display: inline-flex;
  align-items: center;
}
