@import "src/scss/colors";

.count {
  color: $gray80;
  text-align: center;
  font-weight: bold;
  margin: 32px 0 24px 0;
}

.title {
  font-size: 22px !important;
  margin: 30px 0 24px 0;
}

.blue {
  color: $bleuCharte;
}
