@import "src/scss/colors";
@import "src/scss/variables";

.modal {
  .modal_content {
   mix-blend-mode: normal; /* Shadow autour */
   box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
   border-radius: $radius;
   border: none;
   background: #fbfbfb;
   padding: 40px;
   width: 600px;

   .user_img {
     max-width: 70px;
     max-height: 40px;
     border-radius: 50%;
   }
 }
}
