@import "src/scss/colors.scss";

.bandeau-edition {
  background: $attention;
  border-radius: 12px;
  position: fixed;
  width: 100%;
  z-index: 15;
  h5 {
    margin-bottom: 0;
  }

  .dashed-panel.no-radius {
    border-radius: 0px;
  }

  .bandeau {
    background: $uiattention;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bandeau-btns {
    display: flex;
    align-items: center;
  }
}
