@import "src/scss/colors.scss";
@import "src/scss/mixins/responsive";

.audio_btn {
  position: relative;
  height: 52px;
  background: $blanc;
  box-sizing: border-box;
  border: 0.5px solid $blanc;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  min-width: 50px;

  @include media-max("phone-down") {
    margin-right: 5px;
  }
  @include media-max("tablet-up") {
    height: 50px;
    margin-right: 8px;
  }

  &:hover {
    background: $noir;
    border-color: $noir;
    box-shadow: 04px 7px rgba(0, 0, 0, 0.1);
    color: $blanc;
    svg {
      fill: $blanc;
    }
  }

  &.pressed {
    background: $vert;
    border: none;
    color: $blanc;
  }

  .text {
    display: flex;
    flex: 1;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 10px;

    @include media-max("desktop-up") {
      display: none;
    }
  }

  .icon {
    line-height: 20px;

    @include media-min("desktop-up") {
      margin-left: 15px;
    }
  }
}
