@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/rtl";
@import "~/scss/mixins/text";
@import "~/scss/variables";

.container {
  border: 1px solid var(--border-default-grey);
  position: relative;
  background: white;
  border-radius: u(2);

  &.focus {
    border-color: var(--text-title-grey);
  }
}

.content {
  @include content-text;

  padding: u(6);
  outline: none !important;
  position: relative;
  z-index: 1;
}

.placeholder {
  @include l-ltr(u(6));

  position: absolute;
  bottom: u(12);
  color: var(--text-disabled-grey);
}
