@import "src/scss/colors.scss";
@import "src/scss/global.scss";

.language-modal {
  @include media-min("tablet-up") {
    width: 500px;
  }

  .modal-content {
    background: #ffffff;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    border: none;
  }

  .modal-header {
    border: none;
    padding: 1.25rem;
    .close {
      color: $noir;
      outline: none;
      text-shadow: none;
      position: absolute;
      opacity: 1;
      top: 20px;
      right: 20px;
    }
  }
  .modal-title {
    width: 100%;
    cursor: default;
    .title {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: $noir;
    }

    .subtitle {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      text-decoration-line: underline;
      color: $grisFonce;
      float: right;
      line-height: 40px;
    }
    .sous-titre {
      font-size: 16px;
      font-weight: normal;
    }
  }

  .modal-body {
    padding: 0 1.25rem 1.25rem;
    p {
      margin-top: 1rem;
    }
    .list-group {
      .list-group-item {
        padding: 15px;
        border: 0.5px solid $noir;
        color: $noir;
        border-radius: 12px;
        margin-bottom: 10px;
        cursor: pointer;
        &:hover {
          transition: all 0.5s ease;
          color: $blancSimple;
          background: $noir;
        }
        &.disabled {
          color: $noirCD;
          border-color: $noirCD;
        }
        &.unavailable-item {
          background: $grisFonce;
          border: none;
          color: #ffffff;
          padding: 10px;
          box-shadow: none;
        }
        &.active {
          color: $blancSimple;
          background-color: $validationHover;
          border: 0.5px solid $validationHover;
        }
        .vertical-center {
          display: flex;
          align-items: center;
          padding-left: 20px;
        }
      }

      .progress-col {
        display: flex;
        align-items: center;

        .progress {
          width: 100px;
          margin-right: 10px;
          height: 10px;
        }
      }

      .button-col {
        display: flex;
        padding-right: 15px;
        justify-content: flex-end;
      }

      .icon-col {
        justify-content: center;
        align-items: center;
        display: flex;
        padding-right: 20px;
      }
    }
  }
  .close {
    outline: none;
  }
}
