@import 'src/scss/colors.scss';

.language-modal{ 
  font-family: CircularStd;
  width: 500px;

  .modal-content {
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
  }

  .modal-header{
    border:none;
  }
  .modal-title{
    width: 100%;
    .title{
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: $noir;
    }

    .subtitle{
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      text-decoration-line: underline;
      color: #828282;
      float: right;
      line-height: 40px;
    }
    .sous-titre{
      font-size: 16px;
      font-weight: normal;
    }
  }

  .modal-body{
    padding-top: 0;
    p {
      margin-top: 1rem;
    }
    .list-group{
      .list-group-item{
        border: 0.5px solid $noir;
        padding: 0.5rem 1rem;
        &:first-child{
          border-radius: 6px 6px 0 0;
        }
        &:last-child{
          border-radius: 0 0 6px 6px;
        }
        &.disabled{
          color: #CDCDCD;
        }
      }

      .progress-col{
        display: flex;
        align-items: center;

        .progress{
          width: 100px;
          margin-right:10px;
          height: 15px;
        }
      }

      .icon-col{
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 0;
      }
    }
  }
  .close{
    outline: none;
  }
}