@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/text";
@import "~/scss/mixins/unit";

.container {
  background: $darkBackgroundElevationContrast;
  inline-size: 152px;
  block-size: 212px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: u(4);
  border-radius: u(2);
}

.username {
  block-size: u(12);
  margin-block-start: u(2);
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
}

.role {
  @include dsfr-text("small");

  margin-block-start: u(2);
  color: white;
  background: $darkBackgroundContrastGrey;
  padding: u(1) u(3);
  border-radius: 40px;
  display: inline-flex;
  align-items: center;
}

.image {
  inline-size: u(22);
  block-size: u(22);
  flex-shrink: 0;

  &.profile {
    border: 4px solid white;
    border-radius: 50%;
    object-fit: cover;
  }
}
