@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/variables";

.col {
  display: flex;
  flex-grow: 1;

  & > div {
    background: $white;
    border-radius: $radius;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    .dark & {
      background-color: $gray70;
    }
  }
}

.file_input {
  z-index: 2;
  cursor: pointer;
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.image_container {
  width: 100px;
  height: 100px;
  position: relative;
}

.help {
  font-size: 12px;
  margin-top: 8px;
  text-align: center;
}
