@import "src/scss/colors";

.form {
  padding: 40px;
  background: $gray40b;
  border: 2px dashed $gray60;
  border-radius: 16px;
}
.form_block {
  margin-top: 40px;
}

.label {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
}

.buttons {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
