@import "src/scss/colors.scss";
@import "src/scss/global.scss";

.map-paragraphe {
  margin-top: 40px;

  .where-header {
    background: $darkColor;
    border-radius: 0px 12px 0px 0px;
    padding: 10px;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .btn-group {
      max-width: 100%;
    }
    .dropdown-menu.show {
      width: 100%;
    }
    .dropdown-btn {
      background: #ffffff;
      border: 0.5px solid $grisFonce;
      border-radius: 12px;
      font-weight: bold;
      width: 390px;
      height: 40px;
      text-align: left;
      max-width: 100%;

      &:after {
        position: absolute;
        right: 10px;
        top: 50%;
      }
    }
  }

  .map-content {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 470px;

    .inner-container {
      flex: 1;
    }
    .right-menu {
      width: 400px;
      max-width: 50%;
      background: $gris;
      box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
      padding: 20px 40px;
      transform: width 0.45;
      overflow: scroll;
      @include media-max("tablet-up") {
        max-width: 300px;
      }

      &.flip-out-ver-right {
        width: 0;
        padding: 0;

        .marker-input,
        label,
        .validate-btn {
          width: 0;
          padding: 0;
          margin: 0;
          min-width: 0;
        }
      }

      label {
        font-size: 12px;
        color: $grisFonce;
        margin-bottom: 0;
      }
      .marker-input {
        font-size: 18px;
        color: $darkColor;
        &.no-highlight {
          background: transparent;
        }
        &.isTitle {
          font-weight: bold;
          font-size: 24px;
          @include media-max("tablet-up") {
            font-size: 18px;
          }
        }
      }
      .validate-btn {
        position: sticky;
        bottom: 20px;
        left: 200px;
      }

      [contenteditable="true"]:empty:before {
        content: attr(placeholder);
        display: block;
        color: #828282;
      }
    }

    .places-wrapper {
      position: relative;
    }

    .places-input {
      box-sizing: border-box;
      border: none;
      width: 330px;
      height: 40px;
      margin-top: 30px;
      margin-left: 30px;
      padding: 12px;
      border-radius: 12px;
      font-size: 16px;
      outline: none;
      text-overflow: ellipsis;
    }

    .places-icon {
      position: absolute;
      right: 10px;
      top: 40px;
      z-index: 2;
    }
  }

  .remove-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
    z-index: 10;
  }
}

.slide-in-blurred-right {
  -webkit-animation: slide-in-blurred-right 0.5s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  -moz-animation: slide-in-blurred-right 0.5s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  -ms-animation: slide-in-blurred-right 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-right 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.flip-out-ver-right {
  -webkit-animation: flip-out-ver-right 0.45s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  -moz-animation: flip-out-ver-right 0.45s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  -ms-animation: flip-out-ver-right 0.45s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: flip-out-ver-right 0.45s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
    flex: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    flex: 1;
  }
}
@-moz-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
    flex: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    flex: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
    flex: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    flex: 1;
  }
}

@-webkit-keyframes flip-out-ver-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
    flex: 1;
  }
  100% {
    -webkit-transform: rotateY(70deg);
    transform: rotateY(70deg);
    opacity: 0;
    flex: 0;
  }
}
@-moz-keyframes flip-out-ver-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
    flex: 1;
  }
  100% {
    -webkit-transform: rotateY(70deg);
    transform: rotateY(70deg);
    opacity: 0;
    flex: 0;
  }
}
@keyframes flip-out-ver-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
    flex: 1;
  }
  100% {
    -webkit-transform: rotateY(70deg);
    transform: rotateY(70deg);
    opacity: 0;
    flex: 0;
  }
}
