@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/mixins/input";

.list {
  list-style-type: none;

  li {
    position: relative;
    padding-inline-start: u(5);
    margin-block-end: u(4);

    .icon {
      position: absolute;
      inset-inline-start: u(-2);
      inset-block-start: u(1);
    }
  }
}
