**/.dist
**/.env
**/.eslintcache
**/.expo*
**/.jest
**/.next
**/.swc
**/.turbo
**/.vscode
**/*.log
**/db-backup*
**/dist
**/node_modules
**/storybook-static
apps/mobile/android
apps/mobile/ios
client/.next
credentials
documentation/
