@import "src/scss/colors.scss";
@import "src/scss/variables";

.modal {
  max-width: 650px;

  .modal_content {
    background: $gray20;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
    border-radius: $radius;
    padding: 20px 40px;
    border: none;

    .modal_header {
      border: none;
      padding: 0;

      h5 {
        font-size: 40px;
        line-height: 51px;
      }
    }

    .modal_body {
      padding: 0;

      .img {
        margin: 50px 0;
      }
      .red_text {
        color: $rouge;
      }
    }
    .modal_footer {
      border: none;
      padding: 0;
      padding-top: 20px;
    }
  }
}
