@import 'src/scss/colors.scss';

.modal.show .modal-responsable{
  max-width: 650px;
  
  .modal-content{
    background: $gris;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding:20px 40px;
    border:none;

    .modal-header{
      border:none;
      padding: 0;
      h5.modal-title{
        font-size: 40px;
        line-height: 51px;
      }
    }
    .modal-body{
      padding: 0;

      .inspection-img{
        margin: 50px 0px 30px 50px;
      }
      .texte-vert{
        color: $vert;
      }
      .texte-rouge{
        color: $rouge;
      }
      .creator-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    .modal-footer{
      border:none;
      padding: 0;
      padding-top:20px;
    }

    .texte-validationHover{
      color: $validationHover;
    }
    .member-added{
      background: $validation;
      border-radius: 12px;
      padding: 20px;
    }

    .contributeur-wrapper{
      .contrib-choice{
        padding: 10px 20px 10px 40px;
        border: 0.5px solid $noir;
        border-radius: 12px;
        width: fit-content;
        display: inline-block;
      }
    }

    .second-step{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .inspection-img{
        margin: 50px 0 30px 0;
      }
      .text-center{
        text-align: center;
      }
    }
  }
}