@import 'src/scss/colors.scss';

.dispositif-validate-modal{
  min-width:650px;
  font-family: CircularStd;
  .modal-content{
    background: $noir;
    border: hidden;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    color: #FFFFFF;
    padding:40px;

    .modal-header{
      .close{
        color: #FFFFFF;
      }
      padding: 0;
      border:none;
      h5{
        font-size: 40px;
        line-height: 51px;
      }
    }
    .modal-body{
      padding: 0;
      margin-top: 60px;
      p{
        font-size: 18px;
        line-height: 23px;
      }
      h6{
        font-size: 24px;
        line-height: 30px;
      }
    }
    .modal-footer{
      margin-top: 20px;
      border:none;
      padding:0;

      .btn{
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
        background: #FBFBFB;
        border-radius: 12px;
        color:#3D3D3D;
        font-size: 18px;
        line-height: 23px;
        i{
          margin-right:10px;
        }
      }
    }
  }
}