@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/rtl";
@import "~/scss/mixins/text";
@import "~/scss/colors";
@import "~/scss/variables";

.container {
  background: radial-gradient(150.13% 150.13% at 50% 50%, #0421b1 0%, #1b62d8 100%);
}

.mockup {
  @include media-max("lg-limit") {
    text-align: center;
  }
}

.store {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-block-start: u(8);
  z-index: 2;

  @include isTablet {
    justify-content: center;
  }

  a {
    margin-inline-end: u(4);

    img {
      max-inline-size: 124px;
      block-size: auto;

      @include isTablet {
        max-inline-size: inherit;
        block-size: auto;
      }
    }
  }
}

.reviews {
  margin-inline-start: u(4);

  @include isTablet {
    position: absolute;
    inset-block-start: -80px;
    transform: translateX(70%);

    @include rtl {
      transform: translateX(-70%);
    }
  }
}

.links {
  background: none;
}
