@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/unit";

.container {
  display: flex;
  align-items: center;
  margin-block-end: u(6);

  &.fill {
    align-items: stretch;
  }
}
