@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/rtl";
@import "~/scss/mixins/text";
@import "~/scss/variables";

.dialogMenu {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100svw;
  block-size: 100svh;
  background-color: #fff;
  z-index: 1000000;
  will-change: transform;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;

  .dialogTitle {
    position: sticky;
    inset-block-start: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: u(4);
    margin-block-end: 0;

    @include dsfr-text("chapo");

    background-color: #fff;
    border-block-end: 1px solid $gray20;
  }

  .dialogInnerContent {
    position: relative;
    z-index: 9;
    padding: u(4);
    padding-block-start: 0;
    overflow-y: auto;
    scroll-snap-type: x mandatory;
  }

  .dialogFooter {
    display: flex;
    justify-content: space-between;
    gap: u(4);
    padding: u(4);
    background-color: #fff;
    border-block-start: 1px solid $gray20;
  }

  .dialogSubTitle {
    @include dsfr-text("large");

    font-weight: bold;
    color: black;
    margin-block-end: u(2);
    padding-inline: u(2);

    &:not(:first-child) {
      margin-block-start: u(8);
    }
  }

  /* Slide-in Animation */
  &.slideIn {
    animation: slide-in-from-right 600ms ease-out forwards;
  }

  /* Slide-out Animation */
  &.slideOut {
    animation: slide-out-to-right 600ms ease-out forwards;
  }
}

body:has(.dialogMenu[data-state="open"]) {
  overflow: hidden;
}

/* Slide-In Animation */
@keyframes slide-in-from-right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Slide-Out Animation */
@keyframes slide-out-to-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}
