@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/text";
@import "src/scss/mixins/unit";
@import "src/scss/variables";

.container {
  height: 120px;
  background: $lightBackgroundElevationAlt;
  border: 1px dashed $lightBorderDefaultGrey;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: u(2);
}

.image_container {
  width: 100px;
  height: 100px;
  position: relative;
}

.file_input {
  z-index: 2;
  cursor: pointer;
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.help {
  @include dsfr-text("very-small");
  color: $lightTextMentionGrey;
  margin-top: u(2);
}

.delete {
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -20px;
}

.uploading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
  border-radius: $radius;
}
