@import "~scss/colors";
@import "~scss/mixins/responsive";
@import "~scss/mixins/unit";
@import "~scss/mixins/rtl";
@import "~scss/mixins/text";
@import "~scss/variables";

.container {
  @include dsfr-text("very-small");

  padding: u(1) u(3);
  border-radius: u(12);
  font-weight: 500;
  color: var(--text-action-title-grey);
  background-color: var(--background-contrast-grey);

  @include media-max("sm-limit") {
    @include dsfr-text("small");
  }
}
