@import "~scss/colors";
@import "~scss/mixins/responsive";
@import "~scss/mixins/unit";
@import "~scss/mixins/rtl";
@import "~scss/mixins/text";
@import "~scss/variables";

.container {
  @include dsfr-text("very-small");
  
  padding: 2px u(1);
  border-radius: u(3);
  color: var(--text-action-high-grey);
  background-color: var(--background-contrast-grey);
}
