@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include isTablet {
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: flex-start;
    margin-inline: -12px;
    padding-block-end: u(4);
  }
}

.title {
  inline-size: 50%;
  margin-inline: auto;

  @include isTablet {
    inline-size: 100%;
  }
}
