@import "~/scss/colors";
@import "~/scss/variables";

.admin {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: $gray20;
  max-inline-size: 100%;

  .tab_content {
    border: none;
    background: $gray20;
  }
}

.details_button {
  display: flex;
  align-items: center;
  flex-grow: 1;
  block-size: 52px;
  padding: 12px;
  border-radius: $radius;
  background-color: $white;
  cursor: pointer;
  margin-block-end: 8px;

  &:last-child {
    margin-block-end: 0;
  }

  &:hover {
    background-color: $gray10;
  }

  &:active,
  &:focus {
    background-color: $gray20;
  }

  &.disabled {
    background-color: $white !important;
    cursor: default !important;
  }

  .user_img {
    border-radius: 50%;
    margin-inline-end: 8px;
  }

  .sponsor_img {
    margin-inline-end: 8px;
  }

  &.wrap {
    inline-size: fit-content;
  }
}

.tags {
  display: flex;
  flex-direction: row;

  & > div {
    margin-inline-start: 8px;
  }
}

.text {
  margin-block-end: 0;
  font-size: 12px;
  line-height: 15px;
}

.label {
  margin-block-end: 8px;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
}
