@import 'src/scss/colors.scss';

.search-btn{
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
  background: $gris;
  border-radius: 6px;
  border:none;
  color: $noirCD;
  font-weight: bold;
  font-size: 16px;
  padding: 6px;

  &:hover{
    color: $noir;
  }
  &:not(:disabled):not(.disabled):active, &.active{
    color: #FFFFFF;
    background: $noir;
  }
  &:focus{
    outline: none;
    color: $noir;
    border: 0.5px solid #2D9CDB;
  }

  &.full{
    background: transparent;
    color: #FFFFFF;
    border: 0.5px solid #FFFFFF;
    &:hover{
      color: $noir;
      background: #FFFFFF;
    }
  }
}