@import 'src/scss/mixins/responsive';
@import 'src/scss/colors.scss';
@import "src/scss/variables";

.search_btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: $gray70;
  border-radius: 10px;
  color: $gray70;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  white-space: nowrap;
  border: 0.5px solid transparent;

  &:hover{
    color: $gray90;
  }
  &:focus{
    outline: none;
    color: $white;
    border: 0.5px solid #2D9CDB;
  }

  // Styles
  &.active{
    color: $white;
    background: $gray90;
  }
  &.lighter {
    filter: saturate(80%) opacity(50%) brightness(110%);
  }
  &.with_margins {
    margin: 5px;
  }
  &.filter{
    background: transparent;
    color: $white;
    margin-right: 10px;
    border-radius: $radius;
    border: 1px solid white;
    font-weight: normal;
    padding: 8px;
    font-size: 16px;

    &:hover{
      filter:brightness(80%);
    }
    &.active {
      color: black !important;
      font-weight: 600;
      background: $white;
    }
  }
  &.color{
    color: $white;

    &:hover{
      filter:brightness(80%);
    }
  }
  &.in_header {
    color: $gray10;
    font-size: 18px;

    @include media-min("big-desktop") {
      font-size: 22px;
    }

    &:after{
      margin-left: 13px;
    }
  }
  &.extra_padding {
    padding: 12px;
  }
  &.search_option {
    outline: none;
    flex-direction: row;
    display: flex;
    white-space: nowrap;
    overflow: visible;
    margin-top: 10px;
    font-weight: 600;
    padding: 10px;
    margin-right: 0;

    &:not(&.color) {
      background: black;
    }
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  &.no_hover {
    cursor: unset !important;

    &:hover {
      filter: none;
    }
    &:focus {
      border-color: transparent;
    }
  }
  &.small_font {
    font-size: 16px;
  }
}
