@import 'src/scss/colors.scss';

.search-btn{
  background: $grisFonce;
  border-radius: 6px;
  border:none;
  color: $cardColor;
  font-weight: bold;
  font-size: 16px;
  padding: 6px 10px;
  cursor: pointer;

  &:hover{
    color: $noir;
  }
  &:not(:disabled):not(.disabled):active, &.active{
    color: #FFFFFF;
    background: $noir;

  }
  &:focus{
    outline: none;
    color: #FFFFFF;
    border: 0.5px solid #2D9CDB;
  }

  &.full{
    background: transparent;
    color: #FFFFFF;
    border: 0.5px solid #FFFFFF;
    &:hover{
      color: $noir;
      background: #FFFFFF;
    }
  }
  &.color{
    color: #FFFFFF;
    &:hover{
      filter:brightness(80%);
    }
  }
  &.in-header{
    padding: 20px;
    color: $blanc;
    border-radius: 12px;
    &:after{
      margin-left: 13px;
    }
  }
}