@import 'src/scss/colors.scss';

.search-btn{
  justify-content: center;
  align-items: center;
  background: $grisFonce;
  border-radius: 6px;
  border:none;
  color: $cardColor;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 10px;
  cursor: pointer;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);

  &.disabled {
    background-color: #cdcdcd;
    cursor: not-allowed;
  }

  &:hover{
    color: $noir;
  }
  &:not(:disabled):not(.disabled):active, &.active{
    color: #FFFFFF;
    background: $noir;

  }
  &:focus{
    outline: none;
    color: #FFFFFF;
    border: 0.5px solid #2D9CDB;
  }

  &.full{
    background: transparent;
    color: #FFFFFF;
    border: 0.5px solid #FFFFFF;
    &:hover{
      color: $noir;
      background: #FFFFFF;
    }
  }
  &.filter{
    background: black;
    color: #FFFFFF;
    //border: 0.5px solid #FFFFFF;
    &:hover{
      filter:brightness(80%);
    }
  }
  &.color{
    color: #FFFFFF;
    &:hover{
      filter:brightness(80%);
    }
  }
  &.in-header{
    padding: 20px;
    color: $blanc;
    border-radius: 12px;
    &:after{
      margin-left: 13px;
    }
  }
}