@import 'src/scss/mixins/responsive';
@import 'src/scss/colors.scss';

.search_btn{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $grisFonce;
  border-radius: 12px;
  border: none;
  color: $cardColor;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;

  &:hover{
    color: $noir;
  }
  &:focus{
    outline: none;
    color: #FFFFFF;
    border: 0.5px solid #2D9CDB;
  }

  // Styles
  &.active{
    color: #FFFFFF;
    background: $noir;
  }
  &.with_margins {
    margin: 5px;
  }
  &.filter{
    background: black;
    color: #FFFFFF;

    &:hover{
      filter:brightness(80%);
    }
  }
  &.color{
    color: #FFFFFF;

    &:hover{
      filter:brightness(80%);
    }
  }
  &.in_header {
    color: $blanc;
    font-size: 18px;

    @include media-min("big-desktop") {
      font-size: 22px;
    }

    &:after{
      margin-left: 13px;
    }
  }
  &.extra_padding {
    padding: 12px;
  }
  &.search_option {
    outline: none;
    flex-direction: row;
    display: flex;
    white-space: nowrap;
    overflow: visible;
    margin-top: 10px;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
