@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/variables";

.map {
  margin-top: 40px;

  .header {
    background: $gray90;
    border-radius: 0 12px 0 0;
    padding: 10px;
    color: $white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .map_content {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 470px;

    .container {
      flex: 1;
    }
    .right_menu {
      width: 400px;
      max-width: 50%;
      background: $gray20;
      box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
      padding: 20px 40px;
      transform: width 0.45;
      overflow: scroll;
      @include isMobile() {
        padding: 16px;
      }

      &.flip {
        width: 0;
        padding: 0;

        .marker_input,
        label,
        .validate_btn {
          width: 0;
          padding: 0;
          margin: 0;
          min-width: 0;
        }
      }

      label {
        font-size: 12px;
        color: $gray70;
        margin-bottom: 0;
      }
      .marker_input {
        font-size: $text-large;
        @include isMobile() {
          font-size: $text-normal;
        }
        color: $gray90;
        &.no_highlight {
          background: transparent;
        }
        &.is_title {
          font-weight: bold;
          font-size: 24px;
          @include isMobile() {
            font-size: $text-large;
          }
        }
      }
      [contenteditable="true"]:empty:before {
        content: attr(placeholder);
        display: block;
        color: $gray70;
      }
    }
  }
}

.remove_btn {
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
  z-index: 10;
}
.validate_btn {
  position: sticky;
  bottom: 0;
  left: 200px;
}
.delete_btn {
  position: sticky;
  bottom: 0;
  left: 0;
}
.btn {
  background-color: $validationDefault;
  height: 50px;
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  justify-content: center;
  font-size: $text-normal;
  font-weight: bold;
  text-align: center;
  border-radius: $radius;
  color: $white;
}

.slide {
  -webkit-animation: slide-in-blurred-right 0.5s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  -moz-animation: slide-in-blurred-right 0.5s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  -ms-animation: slide-in-blurred-right 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-right 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
  @include isMobile() {
    min-width: 300px;
  }
}

.flip {
  -webkit-animation: flip-out-ver-right 0.45s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  -moz-animation: flip-out-ver-right 0.45s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  -ms-animation: flip-out-ver-right 0.45s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: flip-out-ver-right 0.45s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
    flex: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    flex: 1;
  }
}
@-moz-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
    flex: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    flex: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
    flex: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    flex: 1;
  }
}

@-webkit-keyframes flip-out-ver-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
    flex: 1;
  }
  100% {
    -webkit-transform: rotateY(70deg);
    transform: rotateY(70deg);
    opacity: 0;
    flex: 0;
  }
}
@-moz-keyframes flip-out-ver-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
    flex: 1;
  }
  100% {
    -webkit-transform: rotateY(70deg);
    transform: rotateY(70deg);
    opacity: 0;
    flex: 0;
  }
}
@keyframes flip-out-ver-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
    flex: 1;
  }
  100% {
    -webkit-transform: rotateY(70deg);
    transform: rotateY(70deg);
    opacity: 0;
    flex: 0;
  }
}
