@import "src/scss/mixins/responsive";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/rtl";
@import "src/scss/mixins/text";
@import "src/scss/colors";
@import "src/scss/variables";

.container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  @include pr-ltr(u(10));

  @include isTablet() {
    justify-content: center;
  }
}

.front {
  position: relative;
  top: 80px;
  z-index: 2;
  flex: 0 0 auto;
  max-width: 217px;

  video {
    max-width: 100%;
    border-width: 12px;
  }

  @include isTablet() {
    width: 140px;
    top: 50px;

    video {
      border-width: 6px;
      border-radius: 18px !important;
    }
  }
}

.back {
  position: relative;
  top: -35px;
  left: -60px;
  margin-right: -115px;
  z-index: 1;
  flex: 0 0 auto;

  @include rtl() {
    left: inherit;
    margin-right: inherit;
    right: -80px;
    margin-left: -115px;
  }

  @include isTablet() {
    width: 200px;
    height: auto;
    top: -25px;
    left: -40px;

    @include rtl() {
      left: inherit;
      right: -60px;
    }
  }
}
