@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/mixins/input";

.collapse {
  position: absolute;
  inline-size: 100%;
  max-block-size: 240px;
  overflow-y: scroll;
  background-color: white;
  box-shadow: 0 2px 6px 0 #00001229;
  margin-block-start: u(-3);
  border-radius: u(2);
  padding: u(4);
}

.item {
  padding: u(2);
  border: none !important;

  &:hover {
    background-color: var(--background-alt-raised-grey);
  }
}
