.avancement-table.card{
  width:100%;
  border-radius: 12px;
  font-size: 18px;
  line-height: 23px;

  .profile-img {
    height: 30px;
    width: 30px;
  }
  .limit-width-340 {
    max-width: 340px;
  }

  .card-header{
    background: linear-gradient(174.36deg, #3D3D3D 6.51%, #000000 96.1%);
    border-radius: 12px 12px 0px 0px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
  }
  .card-body{
    padding:0;
    .table{
      margin:0;
    }
    .voir-plus{
      border-radius: 0px 0px 12px 12px;
    }

    .badge{
      padding: 6px;
    }
    .since-col{
      color: #78E08F;
    }

    .flag-icon{
      font-size: 15px;
      margin-right: 8px;
    }

    .text-grey{
      color: #828282;
    }

    .btn{
      box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
      padding:8px;
      font-weight: bold;
      .translate-btn{
        background: linear-gradient(152.38deg, #4A69BD -7.66%, #60A3BC 92.45%);
      }
      .quick-btn{
        background: linear-gradient(138.35deg, #E8D000 -7.66%, #F6B93B 92.45%);
      }
      svg{
        margin-right:10px;
      }
    }
  }
}