@import "~scss/mixins/unit";

.container {
  display: flex;
  gap: u(3);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  &.small {
    flex-wrap: nowrap;
    justify-content: flex-start;

    .search {
      width: 200px;
      flex-shrink: 0;
      margin-bottom: 0;
    }
  }
}

.search {
  position: relative;
  width: 720px;
  margin-bottom: u(10);

  i {
    position: absolute;
    top: u(2);
    left: u(3);
    color: var(--background-active-blue-france);
  }

  input {
    box-shadow: inset 0 -2px 0 0 var(--background-active-blue-france);
    background: white;
    padding-inline-start: u(12);
  }
}
