@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/variables";

.container {
  background: radial-gradient(150% 150% at 50% 50%, $bleuCharte 0%, #1B62D8 100%);
  padding: 56px;
  width: 100%;
}

.filters {
  background: $white;
  border-radius: $radius;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
  display: flex;
  margin-top: 56px;
}

.dropdown {
  flex-shrink: 0;
  flex-grow: 1;

  & > button {
    background: transparent !important;
    border: none;
    padding: 0;
    width: 100%;
  }
}
