@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/variables";

.container {
  background: radial-gradient(150% 150% at 50% 50%, $bleuCharte 0%, #1B62D8 100%);
  padding: 56px;
  width: 100%;
}

.inputs {
  background: $white;
  border-radius: $radius;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
  display: flex;
  margin-top: 56px;
}

.dropdown {
  flex-shrink: 0;
  flex-grow: 1;
  width: 33.3333%;

  & > button {
    background: transparent !important;
    border: none;
    padding: 0;
    width: 100%;
  }
}

.reset {
  background: transparent;
  color: $white;
  border-color: $white;
  border-width: 2px;
  border-radius: 8px;

  &:hover, &:active, &:focus {
    color: $dark;
    background-color: $white;
    border-color: $white;

    svg {
      fill: $dark;
    }
  }
}

.subheader {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.filters {
  display: inline-flex;
  background: $gray30;
  border-radius: 8px;
}
