@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/text";
@import "src/scss/mixins/rtl";
@import "src/scss/variables";

.container {
  background: radial-gradient(150% 150% at 50% 50%, $bleuCharte 0%, #1b62d8 100%);
  border-bottom: 1px solid $white;
  padding: u(6) u(4);
  width: 100%;

  @include isMobile() {
    & > :global(.container) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.secondary_container {
  display: flex;
  background-color: $white;

  .right {
    min-width: 56px;
    display: flex;
  }
}

.inputs {
  background: $white;
  border-radius: $radius;
  display: flex;
  margin-top: 0;
  padding: u(1);

  & > button,
  & > div {
    background: transparent !important;
    border: none;
    padding: 0;
    width: 100%;
  }
}

.more_filters {
  padding-bottom: u(20);
}

.dropdown {
  flex-shrink: 1;
  flex-grow: 1;
  min-width: 0;

  & > button {
    background: transparent !important;
    border: none;
    width: 100%;
    padding: u(2) u(4);
    min-height: 56px;
  }
  &.filters {
    width: u(14);
    flex-grow: 0;
    flex-shrink: 0;

    & > button {
      background: $bleuCharte !important;
      height: 100%;
      width: 100%;
      border-radius: 0;
    }
  }
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  @include text("very-small");
  line-height: 16px;
  font-weight: bold;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: $white;
  color: $bleuCharte;
  position: absolute;
  top: u(2);
  right: u(2);

  @include rtl() {
    right: inherit;
    left: u(2);
  }
}
