@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/rtl";
@import "~/scss/mixins/unit";
@import "~/scss/variables";

.container {
  display: flex;
  align-items: center;
  color: $white;
}

.icon {
  margin-inline-end: u(2);
  display: inline-flex;

  @include rtl {
    margin-inline: u(2) 0;
  }
}

.name {
  white-space: nowrap;
}
