@import "~/scss/colors";
@import "~/scss/variables";

$containerHeight: 435px;

.details_row {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  margin-block-start: 20px;
}

.col_1 {
  inline-size: 335px;
  display: flex;
  flex-direction: column;
}

.col_2 {
  inline-size: 390px;
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  block-size: $containerHeight;

  .scrollable {
    background: $white;
    border-radius: $radius;
    padding: 16px;
    flex-grow: 1;
    overflow-y: scroll;
  }
}

.col_3 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  block-size: $containerHeight;
}
