@import 'src/scss/colors.scss';

.moteur-variantes{
  background: $gris;
  border-radius: 12px;
  margin: 0 40px;

  .moteur-wrapper{
    padding: 20px;
  }
  .moteur-header{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h5{
      display: inline-block;
    }
  }
  .moteur-row{
    display: flex;
    flex-wrap: wrap;
  }
  .moteur-col{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    &:not(:first-child){
      padding-left: 10px;
    }
  }
  .col-header{
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    background: $noir;
    border-radius: 6px 6px 0 0;
    padding: 10px 20px;
  }
  .col-body{
    background: #FFFFFF;
    padding: 10px;
    border-radius: 12px;
    flex:1;
    &.with-header{
      border-radius: 0 0 12px 12px;
    }
  }

  .btn{
    width: 100%;
  }
  .critere{
    padding: 20px 20px;
    background: $gris;
    border-radius: 6px;
    &.validated{
      background: $validation;
    }
    &.add-critere{
      padding: 10px 20px;
      &:hover{
        background: $noir;
        .color-grisFonce{
          color: #FFFFFF;
        }
        svg{
          fill: #FFFFFF;
        }
      }
    }
  }
  .critere-title{
    margin-bottom: 25px;
  }
  .critere-body{
    display: flex;
    align-items: center;
  }
  .justify-content-space-between{
    justify-content: space-between;
  }
  .criteres-autocomplete{
    background: #FFFFFF;
    border-radius: 12px;
    border: none;
    padding: 10px;
    min-width: 33%;
    &:focus{
      outline: none;
    }
  }
  .selected-ville{
    background: $noir;
    border-radius: 12px;
    color: #FFFFFF;
    padding: 10px;
    display: inline-flex;
  }
  .dropdown-toggle.btn, .btn{
    padding:10px 15px;
    border-radius: 12px;
    background: #FFFFFF;
    border:none;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
  }

  .age-input{
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    display: inline-block;
    padding: 0;
    border: none;
    text-align: center;
    margin: 0;
    width: 40px;
    color: $noir;
    height: 40px;
    background-color: $jauneClair;
    &:active, &:focus{
      background-color: $gris;
    }
  }
  
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

  .mb-20{
    margin-bottom: 20px;
  }

  .figma-btn.light-action.custom-critere-btn{
    box-shadow: none;
    margin-bottom: 10px;
    &.active{
      background: $noir;
      color: #FFFFFF;
      outline: none;
      border:none;
      &:focus{
        color: #FFFFFF;
      }
    }
    &:focus{
      box-shadow: none;
      border: none;
      color: $noir;
    }
  }
  .footer-btns{
    display: flex;
    justify-content: space-between;
  }

  .reduced-critere{
    background: $blancSimple;
    border-radius: 6px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  .reduced-header{
    margin-bottom: 30px;
    font-weight: bold;
  }
  .negative-margin{
    margin-top: -10px;
  }

  .delete-icon{
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 2;
  }
}