@import "src/scss/colors.scss";
@import "src/scss/global.scss";

.highlighter {
  font-weight: 700;
}

.react-autosuggest__container {
  position: relative;
  width: 100%;

  .react-autosuggest__input {
    width: 240px;
    height: 30px;
    padding: 10px 20px;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
    &:hover {
      box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
    }
    &:focus::-webkit-input-placeholder {
      color: transparent;
    }
    &:focus:-moz-placeholder {
      color: transparent;
    }
  }

  .react-autosuggest__input--focused {
    outline: none;
  }

  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .react-autosuggest__suggestions-container {
    display: none;
  }

  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 51px;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    z-index: 2;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
  }

  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: scroll;
    height: 300px;
    max-height: 100%;
    text-align: left;
    background-color: $gris;
  }

  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
  }

  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
  }

  .react-autosuggest__section-container {
    border-top: 1px dashed #ccc;
    overflow: scroll;
  }

  .react-autosuggest__section-container--first {
    border-top: 0;
  }

  .react-autosuggest__section-title {
    padding: 10px 0 0 10px;
    font-size: 12px;
    color: #777;
  }

  .highlight {
    color: $noir;
    font-weight: bold;
  }

  .react-autosuggest__suggestion--focused .highlight {
    color: #120000;
  }

  .plus-btn {
    padding: 12px;
    background: $grisFonce;
    border-radius: 1000px;
    display: inline-block;
    line-height: 18px;
  }
}

.search-bar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  @include media-max("phone-down") {
    display: none;
  }

  .react-autosuggest__container input {
    background: $blancSimple;
    border: 0.5px solid $grisFonce;
    border-radius: 12px;
    padding-right: 42px;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 400;
    height: 50px;
    width: 100%;
    &:hover {
      background-color: $gris;
    }
    &:focus::-webkit-input-placeholder {
      color: transparent;
    }
    &:focus:-moz-placeholder {
      color: transparent;
    }

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $noir;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $noir;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $noir;
    }
  }

  .loupe-btn {
    position: absolute;
    padding: 10px;
    right: 5px;
    font-size: 24px;
    transform: matrix(-1, 0, 0, 1, 0, 0) translateY(-50%);
    color: $noir;
    top: 25px;

    &.icon-only {
      position: relative;
      right: 0;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    &:hover {
      color: rgba(0, 0, 0, 0.1);
    }
    &:active {
      display: none;
    }
    &:focus {
      display: none;
    }
  }

  &.isArray {
    .react-autosuggest__suggestions-container--open {
      background: transparent;
      box-shadow: none;
      border-radius: 12px;
      position: relative;
      top: 0;
    }
    .react-autosuggest__suggestions-list {
      background: transparent;
      border-radius: 12px;
    }
    .react-autosuggest__suggestion {
      padding: 10px 15px;
      background: $blancSimple;
      border-radius: 12px;
      margin-top: 10px;
      border: 0.5px solid $grisFonce;

      &:hover {
        background: $validation;
      }
    }
    .name {
      color: $grisFonce;
    }
    .selection-logo {
      max-width: 40px;
      max-height: 40px;
    }
  }
  .suggestion-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .oeil-btn {
    padding: 10px;
    background: $gris;
    border-radius: 10px;
  }
}
