@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/mixins/btn";

.help_text {
  margin-block: u(6) 0;

  @include text("large");

  @include isTablet {
    margin-block-start: u(4);
  }
}

.link {
  @include focus;

  display: inline-block;
  block-size: 100%;
}
