@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/unit";

.item {
  padding: u(4);
  background: $gray30;
  margin-block-end: u(6);
}

.avatar {
  border-radius: 50%;
  border: 1px solid var(--border-plain-grey);
}
