.container {
  display: flex;
  position: relative;
  height: 40px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  z-index: 5;
}

.tabs_inner {
  /* Layout */
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  /* Style */
  border-radius: 4px;
  border: 1px solid var(--border-default-grey);
}

.tab_button {
  /* Layout */
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  /* Style */
  border-radius: 4px;
}

.tab_button_selected {
  border: 1px solid var(--border-active-blue-france);
}

.tab_button_label {
  color: var(--text-action-high-grey);
  text-align: center;

  /* 2.Corps de texte/MD - Texte standard/Desktop & Mobile - Medium */
  font-family: Marianne, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.tab_button_label_selected {
  color: var(--text-active-blue-france);
}

.sort_button_container {
  /* Layout */
  display: flex;
  padding: 8px 12px 8px 16px;
  align-items: center;
  gap: 8px;

  /* Style */
  border: 1px solid var(--border-default-grey);
  background: var(--text-inverted-grey);
}

.sort_container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.sort_spacer {
  display: flex;
  width: 282px;
  justify-content: end;
}

.sort_label {
  color: var(--text-action-high-grey);

  /* 2.Corps de texte/M - Texte standard/Desktop & Mobile - Medium */
  font-family: Marianne, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.sort_menu_content {
  /* Layout */
  display: flex;
  width: 232px;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  z-index: 10;

  /* Style */
  border-top: 1px solid var(--background-action-low-blue-france);
  background: var(--text-inverted-grey);

  /* shadow/light/$shadow-md */
  box-shadow: 0 4px 12px rgb(0 0 18 / 16%);
}

.sort_menu_item {
  display: flex;
  padding: 8px 8px 8px 10px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;

  &:hover {
    background: var(--background-default-grey-hover);  }
}
