@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/rtl";
@import "src/scss/mixins/unit";
@import "src/scss/variables";

.container {
  display: flex;
  align-items: center;
  color: $white;
}

.icon {
  margin-right: u(2);
  margin-top: -3px;

  @include rtl() {
    margin-right: 0;
    margin-left: u(2);
  }
}
