accountSid=demo
AIRTABLE_BASE_CONTENU=demo
AIRTABLE_BASE_TRAD=demo
AIRTABLE_BASE_USERS=demo
AIRTABLE_TOKEN=demo
ALGOLIA_API_KEY=demo
ALGOLIA_INDEX=demo
API_KEY=demo
API_SECRET=demo
authToken=demo
BREVO_API_KEY=demo
CLOUD_NAME=demo
CRON_TOKEN=demo
EXPO_ACCESS_TOKEN=demo
FRONT_SITE_URL=demo
GCLOUD_CLIENT_EMAIL=demo
GCLOUD_CLIENT_ID=demo
GCLOUD_CLIENT_X509=demo
GCLOUD_PKEY=demo
GCLOUD_PRIVATE_KEY_ID=demo
GOOGLE_CLIENT_ID=demo
GOOGLE_CLIENT_SECRET=demo
MICROSOFT_CLIENT_ID=demo
MICROSOFT_CLIENT_SECRET=demo
MONGODB_URI=demo
REDIS_URI=redis://127.0.0.1:6379
NODE_ENV=demo
NODE_PATH=./src
PORT=demo
POSTMAN_SECRET=demo
REACT_APP_SITE_SECRET=demo
SECRET=demo
SENDGRID_API_KEY=demo
SLACK_WEBHOOK_URL=demo
SMS_SENDER=demo
TTS_KEY_1=demo
WEBHOOK_SECRET=your_secret_here
