@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/text";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/responsive";

.container {
  margin-bottom: u(16);
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: u(2);

  @include media-max("lg-limit") {
    display: block;
  }
}

.title {
  @include dsfr-text("small");
  text-transform: uppercase;
  font-weight: bold;

  @include media-max("lg-limit") {
    margin-bottom: u(4);
  }
}

.btn {
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  box-shadow: 0 2px 6px 0 #00001229;
  padding: u(2) u(4);
  border-radius: u(2);

  @include media-max("lg-limit") {
    display: flex;
    width: fit-content;
    margin-bottom: u(2);
  }

  &.need {
    border: 1px solid transparent;
  }
}
