.quick-toolbar{
  width: fit-content;

  box-shadow: 0px 0px 18px #E5E5E5;
  
  top: 50%; 
  transform: translateY(-50%);
  border-radius: 8px;
  border: 1px solid #F2F2F2;
  background: #FBFBFB;
  z-index: 2;
}