@import "src/scss/colors";
@import "src/scss/variables";

.etape {
  .etape_title {
    display: inline-block;
  }
  .delete_icon {
    position: absolute;
    right: 16px;
    top: 20px;
    cursor: pointer;
  }
}
