@import "src/scss/colors.scss";

.etape {
  .etape-title {
    display: inline-block;
  }
  .delete-icon {
    position: absolute;
    right: 16px;
    top: 20px;
  }
  .etapes-data {
    display: inline-flex;
    justify-content: space-between;
    &.editing {
      cursor: pointer;
      .etape-data {
        background: $attention;
      }
    }
  }
  .etape-data {
    border-right: 1px solid $grisFonce;
    color: $grisFonce;
    padding: 10px;
    &:last-child {
      border: none;
    }
  }
  .bloc-configuration {
    background: $attention;
    border-radius: 12px;
    padding: 20px;
    margin-top: 20px;

    .row-config {
      background: $blanc;
      border-radius: 12px;
      padding: 10px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      &.direction-colonne {
        flex-direction: column;
        align-items: flex-start;
      }
      &.validated {
        background: $validation;
        .col-config.active {
          background: $validationDefault;
          color: #ffffff;
          border: none;
          svg {
            fill: #ffffff;
          }
        }
      }
    }
    .options-wrapper {
      display: flex;
    }
    .col-config {
      background: $gris;
      border: 0.5px solid $gris;
      border-radius: 12px;
      padding: 10px;
      font-weight: bold;
      cursor: pointer;

      &.active {
        background: $noir;
        border: 0.5px solid $noir;
        color: #ffffff;
        svg {
          fill: #ffffff;
        }
      }
    }
    .etape-dropdown {
      display: block;
    }
    .negative-padding {
      padding-bottom: 0;

      .etape-dropdown {
        display: block;
        margin-bottom: 10px;
      }
    }
    .etape-input {
      width: 60px;
      text-align: center;
      margin-left: 10px;
    }
    .etape-input,
    .etape-dropdown .dropdown-toggle {
      padding: 10px;
      background: $gris;
      border-radius: 12px;
      border: none;
      color: $grisFonce;
      &.docs-dropdown {
        padding-left: 0;
      }
    }
    .etape-dropdown .dropdown-menu {
      max-height: 60vh;
      overflow: scroll;
    }
    .form-group {
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;
    }
    label {
      font-weight: bold;
    }
    .figma-input-group input,
    .figma-input-group textarea {
      border: none;
    }
    .no-info {
      color: $grisFonce;
      label {
        font-weight: normal;
      }
    }
    .footer-form {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .plus-btn-docs {
      background: $grisFonce;
      padding: 10px;
      border-radius: 12px 0px 0px 12px;
      margin-right: 10px;
    }
    .idx-docs {
      background: $noir;
      color: #ffffff;
      padding: 10px;
      border-radius: 12px 0px 0px 12px;
      margin-right: 10px;
    }
    .footer-btns {
      display: flex;
      justify-content: space-between;
    }
  }

  .realisation-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: $gris;
    border-radius: 12px;
    margin-bottom: 20px;

    .real-btns .figma-btn {
      padding: 20px;
    }
  }

  .feedback-wrapper {
    margin-bottom: 10px;
    background: $gris;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    color: $noir;
  }
}
