@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/text";
@import "src/scss/mixins/unit";

.card {
  background: #f6f6f6;
  border: 1px solid #dddddd;
  padding: u(4);
  margin-bottom: u(6);
  border-radius: u(2);

  .title {
    @include dsfr-text("h6");
    font-weight: bold;
    margin-bottom: 0;
  }
}

.item {
  display: flex;
  margin-top: u(6);

  .details {
    margin-left: u(3);
  }

  .icon {
    width: u(8);
    height: u(8);
  }

  .label,
  .content {
    @include dsfr-text("small");
    display: block;
  }
  .label {
    font-weight: bold;
  }
  .content {
    a {
      display: block;
    }
  }
}
