@import "src/scss/colors";
@import "src/scss/variables";

$containerHeight: 450px;

.user_img {
  border-radius: 50%;
}

.no_structure {
  font-size: 22px;
  font-weight: bold;
  color: $orange;
  background: $lightOrange;
  padding: 8px;
  border-radius: $radius;
}

.details_row {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  margin-top: 20px;
}

.col_1 {
  width: 335px;
  display: flex;
  flex-direction: column;
}
.col_2 {
  width: 450px;
  margin: 0 16px;
  display: flex;
  flex-direction: column;
}
.col_3 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: $containerHeight;
}

.stats {
  font-size: 12px;
}
.error {
  color: $error;
  font-size: 12px;
}
