@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/mixins/rtl";
@import "~/scss/variables";

.container {
  [type="file"] {
    z-index: 2;
    cursor: pointer;
    display: block;
    filter: alpha(opacity=0);
    block-size: 100%;
    inline-size: 100%;
    opacity: 0;
    position: absolute;
    inset-inline-end: 0;
    text-align: end;
    inset-block-start: 0;
  }

  [type="file"]::-webkit-file-upload-button {
    cursor: pointer;
  }
}

.avatar {
  inline-size: 160px;
  block-size: 160px;
  border-radius: 50%;
  overflow: hidden;
  margin-block-end: u(4);
  margin-inline: u(2);
  background-color: white;
  position: relative;

  &.loading {
    opacity: 0.5;
  }

  .spinner {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
  }
}

.small {
  @include dsfr-text("very-small");

  color: var(--text-mention-grey);
}
