@import "src/scss/mixins/unit";
@import "src/scss/colors";

.language_title {
  :global(.fi) {
    font-size: 20px;
    margin-right: 8px;
    border-radius: 6px;
  }
  .selected {
    font-size: 40px;
    margin-right: 8px;
    border-radius: 6px;
  }
}

.filter {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: u(2);
}
