@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/icons";

.delete {
  @include iconSize(u(4));

  inline-size: u(8) !important;
  block-size: u(8);
  min-block-size: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user {
  display: flex;
  align-items: center;
}

.proposal {
  font-weight: bold;
  margin-inline-start: u(2);

  &.default {
    font-weight: normal;
    color: var(--text-mention-grey);
  }

  &.pending {
    color: var(--text-action-high-yellow-tournesol);
  }

  &.success {
    color: var(--text-default-success);
  }
}
