@import 'src/scss/colors.scss';

.search-col{
  padding: 10px;

  .dropdown-menu.show{
    display: flex;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
    background: $noir;
    border-radius: 12px;
    padding: 8px;
    max-width: 770px;
    z-index: 3;
    // flex-wrap: wrap;
  }

  .options-wrapper{
    margin-top:-10px;
    max-height: 50vh;
    overflow: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar { width: 0 !important }
  }
  .search-options{
    white-space: nowrap;
    overflow: visible;
    margin-top:10px;

    &:not(:last-child){
      margin-right: 8px;
    }
  }
  .display-inline-block{
    display:inline-block;
  }
  .texte-blanc{
    color: #FFFFFF;
  }

  .search-dropdown{
    background: $gris;
    border-radius: 6px;
    padding: 20px;
  }
}