@import "src/scss/colors.scss";

$placeholderColor: $blanc;

.search-col {
  padding-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  .search-title {
    font-size: 22px;
    font-weight: bold;
    white-space: nowrap;
  }
  .search-title-small {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
  }

  .search-btn {
    font-size: 22px;
  }
  .search-btn-small {
    font-size: 18px;
  }

  .search-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
  }

  .dropdown-menu.show {
    display: flex;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
    background: $blanc;
    border-radius: 12px;
    padding: 10px;
    z-index: 3;
    //flex-wrap: wrap;
    flex-direction: row;
  }

  .options-wrapper {
    margin-top: -10px;
    flex-direction: row;
    display: flex;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    //&::-webkit-scrollbar { width: 0 !important }
    &.query-tags {
      flex-wrap: wrap;
      min-width: 700px;
    }
  }
  .search-options {
    outline: none;
    flex-direction: row;
    display: flex;
    white-space: nowrap;
    overflow: visible;
    margin-top: 10px;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  .display-inline-block {
    display: inline-block;
  }
  .texte-blanc {
    color: #ffffff;
  }

  .search-dropdown {
    background: $gris;
    border-radius: 6px;
    padding: 20px;
  }

  .search-autocomplete {
    padding: 12px;
    text-align: center;
    display: flex;
    &::-webkit-input-placeholder {
      color: $placeholderColor;
      text-align: center;
    }
    &:-moz-placeholder {
      color: $placeholderColor;
      opacity: 1;
      text-align: center;
    }
    &::-moz-placeholder {
      color: $placeholderColor;
      opacity: 1;
      text-align: center;
    }
    &:-ms-input-placeholder {
      color: $placeholderColor;
      text-align: center;
    }
    &::-ms-input-placeholder {
      color: $placeholderColor;
      text-align: center;
    }
    &::placeholder {
      color: $placeholderColor;
      text-align: center;
    }
  }

  .close-icon {
    position: absolute;
    top: -5px;
    right: -5px;
    cursor: pointer;
  }
}
