@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/text";
@import "src/scss/mixins/rtl";
@import "src/scss/variables";

$red: #9e180a;
$light_red: #f9e8e8;
$green: #055e5a;
$light_green: #edfdf9;
$purple: #3d2884;
$light_purple: #efe8f4;
$brown: #443023;
$light_brown: #eee7e5;
$blue: $bleuCharte;
$light_blue: #dae0fb;

:export {
  red: $red;
  green: $green;
  purple: $purple;
  brown: $brown;
  blue: $blue;
}

.container {
  width: 265px;
  border-radius: 20px;
  padding: u(6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  border: 1px solid transparent;
  margin: 0 auto u(10) auto;
  flex-shrink: 0;

  @include rtl() {
    text-align: right;
  }

  &:hover {
    &.color_red {
      border-color: $red;
      background-color: $light_red;
    }
    &.color_green {
      border-color: $green;
      background-color: $light_green;
    }
    &.color_purple {
      border-color: $purple;
      background-color: $light_purple;
    }
    &.color_brown {
      border-color: $brown;
      background-color: $light_brown;
    }
    &.color_blue {
      border-color: $blue;
      background-color: $light_blue;
    }

    &.link {
      .badge {
        display: none;
      }
      .cta {
        display: block;
      }
    }

    .badge {
      background: $white !important;
    }
  }

  @include isTablet() {
    padding: u(4);
    margin: 0 u(2);
    background: $white !important;
    width: 230px;

    &.color_red {
      border-color: $red;
    }
    &.color_green {
      border-color: $green;
    }
    &.color_purple {
      border-color: $purple;
    }
    &.color_brown {
      border-color: $brown;
    }
    &.color_blue {
      border-color: $blue;
    }
  }
}

.image_container {
  position: relative;
  display: flex;
  align-items: center;

  img {
    @include isTablet() {
      width: 124px;
      height: auto;
    }
  }
}

.count {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 3px solid $white;
  font-weight: bold;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-60%);

  @include rtl() {
    transform: translateX(60%);
  }

  .color_red & {
    background-color: #c54126;
  }
  .color_green & {
    background-color: #187f73;
  }
  .color_purple & {
    background-color: #564394;
  }
  .color_brown & {
    background-color: #5a483c;
  }
  .color_blue & {
    background-color: $blue;
  }

  @include isTablet() {
    width: 32px;
    height: 32px;
    @include text("very-small");
    border-width: 2px;
  }
}

.title {
  @include text("h5");
  font-weight: bold;
  margin-top: u(6);
  margin-bottom: u(4);

  @include isTablet() {
    @include text("normal");
    margin-top: u(4);
  }
}

.subtitle {
  @include text("large");
  margin-bottom: 0;

  @include isTablet() {
    @include text("normal");
  }
}

.footer {
  margin-top: u(8);
  height: 28px; // prevent card height change

  @include isTablet() {
    margin-top: u(4);
  }
}

.cta {
  display: none;
}

.badge {
  padding: u(1) u(2);
  border-radius: 30px;
  line-height: 20px;
  display: inline-flex;
  align-items: center;

  .icon {
    @include mr-ltr(u(1));
  }

  .color_red & {
    color: $red;
    background-color: $light_red;
  }
  .color_green & {
    color: $green;
    background-color: $light_green;
  }
  .color_purple & {
    color: $purple;
    background-color: $light_purple;
  }
  .color_brown & {
    color: $brown;
    background-color: $light_brown;
  }
  .color_blue & {
    color: $blue;
    background-color: $light_blue;
  }
}
