@import "~/scss/colors";
@import "~/scss/mixins/text";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/responsive";
@import "~/scss/variables";

.modal {
  block-size: auto !important;

  @include isMobile {
    inline-size: 345px !important;

    :global(.modal-body) {
      padding: 0 !important;
    }
  }

  .close {
    background: transparent;
    border: none;
    inline-size: 24px;
    block-size: 24px;
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    padding: 0;
  }

  .cards {
    padding-block-start: u(8);
    display: flex;
    justify-content: space-between;

    @include isMobile {
      flex-wrap: wrap;
      justify-content: center;

      & > button {
        margin-block-end: u(6);
      }
    }
  }
}
