.container {
  display: flex;
  width: 520px;
  padding: 8px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.needs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
