@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/variables";

.modal {
  @include media-min("tablet-up") {
    width: 500px;
  }

  .close {
    outline: none;

    @include isMobile {
      padding: 0 !important;
    }
  }

  .modal_content {
    background: $white;
    box-shadow: 0 0 16px rgb(0 0 0 / 30%);
    border-radius: 0;
    border: none;
  }

  .modal_header {
    border: none;
    padding: 1.25rem;

    .close {
      color: $gray90;
      outline: none;
      text-shadow: none;
      position: absolute;
      opacity: 1;
      top: 20px;
      right: 20px;

      @include isMobile {
        color: white;
        background-color: black;
        font-size: 20px;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        top: 35px;
        right: 35px;
      }
    }

    h5 {
      width: 100%;
      cursor: default;
    }

    .title {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: $gray90;
    }
  }

  .modal_body {
    padding: 0 1.25rem 1.25rem;

    :global .fr-tag {
      font-size: 0.7em;
    }

    :global(ul) {
      padding-inline-start: 0 !important;
    }
  }

  .radio {
    :global(.fr-fieldset__content) {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    :global(.fr-radio-group) {
      padding: 0.5rem 1rem;
      border: 1px solid var(--border-default-grey);
      width: 100% !important;
      max-width: none !important;
      box-sizing: border-box;

      &:hover {
        background-color: var(--background-alt-blue-france);
      }
    }
  }

  .help_translate_container {
    background-color: var(--background-alt-blue-france);
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    .title {
      font-weight: bold;
      margin: 0;
    }

    p {
      margin: 0;
    }
  }

  .lang_name,
  .lang_name_bold {
    color: var(--tokens-light-text-label-grey, #161616);
    font-family: Marianne, sans-serif;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.5rem;
  }

  .lang_name {
    font-weight: 400;
  }

  .lang_name_bold {
    font-weight: 700;
  }
}
