@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/variables";

.modal {
  @include media-min("tablet-up") {
    width: 500px;
  }

  .close {
    outline: none;

    @include isMobile {
      padding: 0 !important;
    }
  }

  .modal_content {
    background: $white;
    box-shadow: 0 0 16px rgb(0 0 0 / 30%);
    border-radius: 0;
    border: none;
  }

  .modal_header {
    border: none;
    padding: 1.25rem;

    .close {
      color: $gray90;
      outline: none;
      text-shadow: none;
      position: absolute;
      opacity: 1;
      top: 20px;
      right: 20px;

      @include isMobile {
        color: white;
        background-color: black;
        font-size: 20px;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        top: 35px;
        right: 35px;
      }
    }

    h5 {
      width: 100%;
      cursor: default;
      margin-bottom: 0;
    }

    .title {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: $gray90;
    }

    .subtitle {
      font-size: $text-normal;
      font-weight: normal;
    }
  }

  .modal_body {
    padding: 1rem 2rem 2rem;

    :global .fr-tag {
      font-size: 0.7em;
    }
  }

  .list_group_item {
    padding: 15px;
    border-radius: 0;
    margin-bottom: 10px !important;
    cursor: pointer;

    &:hover {
      transition: all 0.5s ease;
      background: $gray20;
    }

    /*   &.disabled {
    color: $gray50;
    border-color: $gray50;
  } */
    &.unavailable {
      background: var(--background-alt-grey);
      border: none;
      padding: 10px;
      box-shadow: none;

      // 10px du bloc + 8px que portait la marge basse du ul quand ce bloc était dedans
      margin-bottom: 18px !important;
    }

    &.active {
      background-color: $bleuCharte;
      border: 0.5px solid $bleuCharte;
    }

    .vertical_center {
      display: flex;
      align-items: center;
      padding-left: 20px;
    }
  }

  // Cols
  .ln_col {
    white-space: nowrap;

    @include isMobile {
      max-width: 70%;
      flex: 0 0 80%;
    }
  }

  .progress_col {
    display: flex;
    align-items: center;
  }

  .button_col {
    display: flex;
    padding-right: 15px;
    justify-content: flex-end;
  }

  .icon_col {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-right: 20px;
  }
}
