/* stylelint-disable selector-class-pattern */
.footer {
  :global(.fr-footer__brand) {
    @apply flex-wrap;

    column-gap: 2em;
  }

  :global(.fr-footer__brand-link) {
    margin: 0;
  }

  @media print {
    display: none;
  }
}
