.modal-traducteur .modal-content{
  font-family: CircularStd;
  box-shadow: 0px 0px 40px #3c3434;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 8px;
  background: #FBFBFB;
  color: #3D3D3D;
  border:none;

  .modal-header{
    border:none;
    .modal-title{
      font-size: 40px;
      line-height: 51px;
      color: #4A69BD;
    }
  }
  .modal-body{
    .col-xl{
      margin-bottom:10px;
    }
    h3{
      font-size: 20px;
      line-height: 25px;
      margin-top:10px;
    }
    .btn{
      white-space: nowrap;
      border-radius: 12px;

      &.btn-outline-light{
        color: gray;
        border-color: gray;
      }
      &.btn-light{
        background-color: gray;
        color:white;
      }
    }
    input{
      border: 1px solid #ECEBED;
      border-radius: 12px;
      padding:20px;
    }
  }
  .modal-footer{
    border:none;
    background: linear-gradient(146.48deg, #4A69BD -7.66%, #60A3BC 92.45%);
    padding:20px;

    .btn{
      background: #FFFFFF;
      box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
      color: #3D3D3D;
      padding:20px;
    }
  }
}