@import "src/scss/colors";

.modal {
  min-width: 650px;

  .modal_content {
    box-shadow: 0 0 40px #3c3434;
    border: 1px solid $gray20;
    box-sizing: border-box;
    border-radius: 8px;
    background: $gray20;
    padding: 30px 40px;

    .modal_header {
      border: none;
      padding: 0;
      margin-bottom: 8px;

      h5 {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 40px;
        line-height: 51px;
      }
    }

    .modal_body {
      padding: 0;
      margin-bottom: 80px;

      .inner {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 8px;
      }
    }

    .input {
      border-radius: 6px;
      height: 370px;
      font-size: 16px;
      line-height: 20px;
      padding: 20px;
      color: $gray70;
    }
    .modal_footer {
      border: none;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
