.modal-suggerer {
  min-width: 650px;

  .modal-content {
    box-shadow: 0px 0px 40px #3c3434;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 8px;
    background: #f2f2f2;
    padding: 30px 40px;
    .modal-header {
      border: none;
      padding: 0px;
      margin-bottom: 8px;
      h5.modal-title {
        display: flex;
        align-items: center;
        align-items: center;
        font-weight: bold;
        font-size: 40px;
        line-height: 51px;
      }
    }
    .modal-body {
      padding: 0px;
      textarea {
        border-radius: 6px;
        height: 370px;
      }
      margin-bottom: 80px;
    }
    .modal-footer {
      border: none;
      padding: 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
