@import "src/scss/mixins/responsive";
@import "src/scss/colors";
@import "src/scss/variables";

$avatarSize: 52px;

.navbar {
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(
    98.59deg,
    $white 15.84%,
    rgba(255, 255, 255, 0) 37.34%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px;
  z-index: 90;
  color: $gray90;
  transition: top 0.6s;

  @include isMobile() {
    background: none;
  }

  @include media-max("desktop-up") {
    padding: 0 10px;
  }

  &.hidden {
    @include media-min("desktop-up") {
      top: -100px !important;
    }
  }

  &.rtl {
    background: linear-gradient(
      267.06deg,
      $white 13.69%,
      rgba(255, 255, 255, 0) 31.19%
    );

    @include isMobile() {
      background: none;
    }
  }

  // User
  .user_picture_link {
    cursor: pointer;
    height: $avatarSize;
    width: $avatarSize;
    border-radius: 50%;
    padding: 0;
    overflow: hidden;
    display: block;
    border: none;
    background: transparent;
    outline: none;

    .overlay {
      background-image: linear-gradient(
        0deg,
        rgba(4, 33, 177, 0.6),
        rgba(4, 33, 177, 0.6)
      );
      height: $avatarSize;
      width: $avatarSize;
      position: relative;
      font-weight: bold;
      font-size: $text-normal;
      line-height: 20px;
      color: $white;
    }
    .user_picture {
      height: $avatarSize;
      width: $avatarSize;
    }

    .user_picture_with_overlay {
      height: $avatarSize;
      width: $avatarSize;
      opacity: 0.3;
    }

    .middle {
      transition: 0.5s ease;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      opacity: 1;
    }
  }


  // Search
  .advanced_search_btn {
    border-width: 0;
    outline: none;
    font-size: $text-normal;
    color: white;
    margin-right: 10px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: $radius;
    height: 52px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .advanced_search_btn_rtl {
    margin-left: 16px;
  }

  // Buttons
  .center_buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .left_buttons {
    display: flex;
    align-items: center;
  }
  .menu_btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home_btn {
    height: 51px;
    margin-left: 26px;
    display: none;

    @include media-min("phone-down") {
      display: block;
    }
    @include media-max("desktop-down") {
      :global(span.mr-10) {
        margin: 0 !important;
      }
      b {
        display: none;
      }
    }
  }
  .mobile_search_btn {
    background-color: $gray90;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: none;
  }
  .auth_btn {
    @include media-max("desktop-down") {
      :global(span.mr-10) {
        margin: 0 !important;
      }
      .auth_btn_text {
        display: none;
      }
    }
  }
}
