@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/rtl";
@import "~/scss/mixins/text";
@import "~/scss/variables";

.item {
  @include text("normal");

  text-align: start;
  inline-size: 100%;
  gap: u(2);
  align-self: stretch;

  // Wrap text
  white-space: normal;

  &:hover {
    background: $gray40b;
    color: $dark;
  }

  &:focus {
    outline: none;
  }

  & > span {
    position: relative;
    inset-block-start: -1px;
  }

  :global(.fi) {
    margin: 0 u(2) 0 0;

    @include rtl {
      margin: 0 0 0 u(2);
    }
  }

  .count {
    @include dsfr-text("very-small");

    color: var(--text-mention-grey);
    align-self: stretch;
  }
}

.label {
  white-space: wrap;
  inline-size: 100%;
  display: grid;
  grid-template-columns: 1fr min-content;
  color: var(--text-title-grey);
}

.icon {
  &::before {
    --icon-size: 16px;

    background-color: transparent;
  }
}

.backdrop {
  background: rgb(0 0 0 / 0%);
  position: fixed;
  inset: 0;
  inline-size: 100vw;
  block-size: 100vh;
  z-index: 10;
}

.radioContainer {
  padding-inline: u(2);

  & fieldset {
    margin-block: u(1);
  }
}
