@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/rtl";
@import "~/scss/mixins/text";
@import "~/scss/variables";

.item {
  @include text("normal");

  place-items: center;
  text-align: left;
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: u(2);
  align-self: stretch;
  border: none;

  // Wrap text
  white-space: normal;

  &:hover {
    background: $gray40b;
    color: $dark;
  }

  &:focus {
    outline: none;
  }

  & > span {
    position: relative;
    top: -1px;
  }

  :global(.fi) {
    margin: 0 u(2) 0 0;

    @include rtl {
      margin: 0 0 0 u(2);
    }
  }

  .countContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .count {
    @include dsfr-text("very-small");

    color: var(--text-mention-grey);
  }
}

.label {
  flex: 1 0 0;
}

.icon {
  border: 1px solid red;

  &::before {
    --icon-size: 16px;

    background-color: transparent;
  }
}

.backdrop {
  background: rgb(0 0 0 / 0%);
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.radioContainer {
  padding-inline: u(2);

  & fieldset {
    margin-block: u(1);
  }
}
