@import "~/scss/mixins/text";

.tooltip {
  @include dsfr-text("very-small");

  width: 360px;
  color: var(--text-inverted-blue-france);
  background-color: $darkBackgroundAltBlueFrance;
  border-radius: 4px;
  padding: 2px 4px;
  opacity: 1;
  z-index: 1000010;

  @media print {
    display: none;
  }
}

.trigger {
  width: 100%;
  padding-inline: 0;
  cursor: not-allowed !important;
  text-align: start;
}
