@import "src/scss/colors";

.niveaux_wrapper {
  margin-top: -5px;

  button {
    border: 0.5px solid $gray50;
    border-radius: 6px;
    padding: 8px;
    color: $gray50;
    // background: transparent;
    margin-right: 5px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 22px;

    &.active {
      color: $white;
      background-color: inherit;
      border: none;
      outline: none;
      cursor: default;
    }
    &:focus {
      outline: none;
    }
  }
}
