.header_content {
  margin-left: 10px;
}
.icon_title {
  display: inline-flex;
}
.header_value {
  background-color: inherit;
  color: inherit;
  border: none;
  width: 100%;
  text-align: initial;
  padding: 0;
}
