@import "src/scss/variables";

.price_details {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.price_frequency {
  font-weight: normal;
  font-size: $text-normal;
  margin-left: 10px;
}
