@import 'src/scss/colors.scss';
@import "src/scss/variables";

.contributors {
  background: #F2F2F2;

  .header{
    padding:40px 10px 40px 40px;

  }
  .subheader{
    display: inline;
    font-size: $text-normal;

    h5{
      display: inline;
      margin-right: 6px;
      font-size: 24px;
      color: $gray90;
    }
    .badge {
      margin-right: 33px;
      font-size: 11px;
      color: $gray90;
    }
  }

  .navigate_btn{
    flex-grow:1;
    display: flex;
    justify-content: flex-end;

    a{
      cursor: pointer;
    }
  }
}

.carousel {
  padding: 0 30px 16px 30px;

  .item {
    display: flex;
  }

  .card_wrapper{
    padding: 0 10px;
  }
}

.card {
  background: $white;
  border-radius: $radius;
  width:140px;
  text-align: center;
  display: flex;
  justify-content: center;
  border:none;
  font-weight: bold;
  font-size: $text-normal;

  .card_body{
    padding: 20px;
  }

  .img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #F6B93B;
    display: block;
    overflow: hidden;
  }
}
