@import "src/scss/colors";
@import "src/scss/variables";

.form {
  padding: 40px;
  background: $gray40b;
  border: 2px dashed $gray60;
  border-radius: 16px;
}
.form_block {
  margin-top: 40px;
}

.label {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
}

.buttons {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fake_field {
  background: white;
  border: 1px solid $darkColor;
  padding: 10px;
  border-radius: $radius;
  box-shadow: 0 10px 15px 0 #00000040;
  line-height: 20px;
  height: 40px;
}
