@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/input";
@import "~/scss/mixins/text";

.text {
  position: relative;
  block-size: 100%;
}

.input {
  @include baseInput;

  block-size: 100%;
  padding-block-end: u(12);
  background: $gray30;
  border: 1px solid var(--border-default-grey);
  max-inline-size: 230px;

  &:hover {
    background: var(--background-contrast-grey);
  }

  &:focus {
    background: $gray30;
    border-color: var(--text-title-grey);
  }
}

.help {
  @include dsfr-text("very-small");

  position: absolute;
  inset-block-end: u(4);
  inset-inline: u(4);
  margin-block-end: 0;
  color: var(--text-default-error);
}

.arrow {
  position: relative;
  inset-block-start: 50%;
  padding: 0 u(2);
  z-index: 1;
  inline-size: 70px;
  block-size: 30px;
  display: block;

  img {
    max-inline-size: 100%;
  }
}
