version: 2
jobs:
  build:
    branches:
      ignore:
        - master-frontend
        - master-backend
        - staging-frontend
        - staging-backend
        - dev
        - gcp-config
    working_directory: ~/refugies-info
    docker:
      - image: circleci/node:10.13.0
    environment:
      USER: circleci
      TERM: someTerm
    steps:
      - checkout
      - run:
          name: Install Dependencies front
          command: npm run install:client
      - run:
          name: Run tests unit front
          command: npm run test:unit:client
      - run:
          name: Run tests type front
          command: npm run test:types:client
      - run:
          name: Run tests linter front
          command: npm run test:lint:client
      - run:
          name: Install Dependencies server
          command: npm run install:server
      - run:
          name: Run tests unit server
          command: npm run test:unit:server
      - run:
          name: Run tests type server
          command: npm run test:types:server
      - run:
          name: Run tests linter server
          command: npm run test:lint:server
