@import "~/scss/mixins/unit";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/text";

.search {
  position: relative;
  margin-bottom: u(10);

  i {
    position: absolute;
    top: u(2);
    left: u(3);
    color: var(--background-active-blue-france);
  }

  input {
    box-shadow: inset 0 -2px 0 0 var(--background-active-blue-france);
    background: white;
    padding-inline-start: u(12);

    &:not(:placeholder-shown) {
      color: var(--text-title-grey);
    }
  }
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: u(8);
  align-items: center;
  justify-content: center;
  container-type: inline-size;

  .searchZone {
    max-width: 768px;
    flex-shrink: 0;
    margin-bottom: 0;
  }

  .filtersBar {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    gap: u(2);
    width: 100%;
  }

  &.sticky {
    gap: u(4);
    max-width: 100%;

    @media screen and (width >= 1200px) {
      max-width: 1200px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  &.sticky > .filtersBar {
    justify-content: space-between;

    @container (max-width: 1200px) {
      @include text("small");

      justify-content: center;
    }

    @media (width >= 975px) and (width <= 1140px) {
      @include text("very-small");

      gap: u(2);
    }
  }

  &.sticky > .searchZone {
    @media (width >= 975px) and (width <= 1140px) {
      max-width: 960px;
    }

    @media screen and (width >= 1200px) {
      max-width: 10rem;
      transform: translateY(-0.25rem);

      input {
        padding-right: 1rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &::placeholder {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          display: inline-block;
          width: 100%;
        }
      }
    }
  }
}

.filterHiddenOnMobile {
  @media (width <= 975px) {
    display: none;
  }
}

.collapsedFiltersButton {
  display: none;

  @media (width <= 975px) {
    display: inline-flex;
    margin-left: auto;

    & button {
      aspect-ratio: 1;
      padding: u(3);
    }
  }
}
