.container {
  inline-size: 100%;

  & label {
    display: none !important;
  }

  & .fr-input-wrap {
    inline-size: 100%;
  }

  & > div::before {
    inset-inline: 1rem auto;
    inline-size: 1.25rem;
    block-size: 1.25rem;
    color: var(--background-flat-blue-france);
  }

  & input {
    padding-inline: 3rem 1rem !important;
    background-color: #fff;
    box-shadow: 0 2px 0 0 var(--background-flat-blue-france);
  }
}
