@import "~/scss/mixins/btn";
@import "~/scss/mixins/unit";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: u(4);
}

.radio {
  @include choiceButton;

  flex-direction: column;
  justify-content: center;
  padding: u(4) u(6);
  inline-size: calc(50% - u(2));
  margin: 0 !important;

  .label {
    font-weight: bold;
    background: transparent !important;
    margin-block-start: u(2);
    text-align: center;
    padding: 0 !important;
    min-block-size: 0 !important;
    color: var(--text-action-high-blue-france);
  }

  .illu {
    inline-size: u(14);
    block-size: u(14);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.full {
  inline-size: 100%;
  margin-block-start: u(8) !important;

  .illu {
    padding: u(4) u(6) !important;
  }
}
