@import "~/scss/colors";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/mixins/input";

.theme {
  color: white;
  font-weight: bold;
  padding: u(2) u(3);
  border-radius: u(2);
  inline-size: fit-content;
  margin-block-end: u(6);
  display: flex;
  align-items: center;
}

.label {
  @include dsfr-text("h4");

  font-weight: bold;
  margin-block-end: u(4);
}

.flag_input {
  position: relative;
  margin-block-end: u(4);

  .flag {
    position: absolute;
    inset-block-start: u(2);
    margin-block-start: 6px;
    inset-inline-start: u(4);
  }

  .input {
    @include styledInput;

    padding-inline-start: 44px;
  }

  &[dir="rtl"] {
    .input {
      padding-inline-end: 44px;
    }

    .flag {
      inset-inline-end: u(4);
    }
  }
}
