@import 'src/scss/colors.scss';

.switch {
  display:flex;
  flex-direction: row;
  align-items: center;
  color: $noir;
  font-weight: bold;
  font-size: 16px;

  .switch-input:checked + .switch-slider{
    &:before{
      border:none;
      background: $vert;
    }
  }
  .switch-slider{
    background: #FFFFFF;
    border-color: #FFFFFF;
    &:before{
      border:none;
      background: #CDCDCD;
    }
  }
}

.card-custom-title{
  font-size: 24px;
  font-weight: 600;
  border-radius: 6px;
  line-height: 38px;
}
