@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/unit";
@import "src/scss/variables";

.container {
  background-color: $attention;
  padding: u(4);
  border-radius: $radius;
  margin-bottom: u(10);
  display: flex;
  align-items: center;

  @include isMobile {
    order: 1;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0;
  }
}

.title {
  font-weight: bold;
  margin-bottom: u(2);
  display: flex;
  align-items: center;

  .map_icon {
    @include isMobile() {
      display: none;
    }
  }
}

.link {
  &,
  &:hover {
    text-decoration: underline;
    color: $bleuCharte;
  }
}

.image {
  flex-shrink: 0;
  margin-right: u(10);

  @include isMobile() {
    display: none;
  }
}

.actions {
  padding-left: u(10);

  @include isMobile() {
    display: none;
  }

  .btn {
    padding: 12px;
    border-radius: 8px;
  }
}
