@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/unit";
@import "src/scss/variables";

.container {
  background-color: $attention;
  padding: u(4);
  border-radius: $radius;
  margin-bottom: u(10);
  display: flex;
  align-items: center;
}

.image {
  flex-shrink: 0;
  margin-right: u(10);
}
