@import "@/scss/colors";
@import "@/scss/variables";
@import "@/scss/mixins/unit";

.container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: u(4);
  z-index: 1050;
}

.inner {
  background-color: var(--background-action-high-blue-france);
  box-shadow: 0 6px 18px 0 #00001229;
  border-radius: u(2);
  padding: u(2) 0;
  max-width: 350px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divider {
  width: 1px;
  height: 24px;
  background: var(--border-default-grey);
  display: block;
}
