@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";

.container {
  @include dsfr-text("small");

  margin-block-end: 0 !important;
  padding: u(3) u(2) u(2);
  border-radius: u(2);
  position: relative;
  flex-basis: 50%;
  display: flex;
  align-items: center;

  &.success {
    background: var(--background-contrast-success);
  }

  &.error {
    background: var(--background-contrast-error);
  }
}

.icon {
  border-radius: 50%;
  inline-size: 20px;
  block-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset-block-start: -10px;
  inset-inline-start: 50%;
  transform: translateX(-50%);

  .success & {
    background: var(--text-default-success);
  }

  .error & {
    background: var(--text-default-error);
  }
}
