@import "src/scss/colors";
@import "src/scss/variables";

.modal {
  .modal_content {
    mix-blend-mode: normal; /* Shadow autour */
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    border-radius: $radius;
    border: none;
    background: $gray20;
    padding: 32px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
