NEXT_PUBLIC_REACT_APP_ENV=demo
NEXT_PUBLIC_REACT_APP_GOOGLE_CLIENT_ID=demo
NEXT_PUBLIC_REACT_APP_SITE_SECRET=demo
NEXT_PUBLIC_REACT_APP_SERVER_URL=demo
NEXT_PUBLIC_REACT_APP_SITE_URL=demo
NEXT_PUBLIC_REACT_APP_ALGOLIA_API_KEY=demo
NEXT_PUBLIC_REACT_APP_ALGOLIA_INDEX_STG=demo
NEXT_PUBLIC_REACT_APP_ALGOLIA_INDEX_PROD=demo
NEXT_PUBLIC_REACT_APP_GOOGLE_ANALYTICS_PROD=demo
NEXT_PUBLIC_REACT_APP_GOOGLE_ANALYTICS_STAG=demo
NEXT_PUBLIC_SR_DEBUG=true # pour activer le debug du ScreenReaderAnnouncer
DISABLE_SEARCH_COUNTS=false # set to true to disable search counts API when database load is too high
