@import "src/scss/colors";
@import "src/scss/variables";

.column {
  background: $white;
  border-radius: $radius;
  padding: 16px;
}

.subtitle {
  font-size: $text-normal;
  line-height: 20px;
  margin-bottom: 8px;
}
