.needs-modal .modal-content {
  mix-blend-mode: normal; /* Shadow autour */
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  border: none;
  background: #f2f2f2;
  padding: 16px;
  width: 748px;
}
