/* stylelint-disable no-descending-specificity */
@import "~/scss/colors";
@import "~/scss/variables";

.checkbox {
  display: block;
  position: relative;
  padding-inline-start: 20px;
  margin-block-end: 0;
  cursor: pointer;
  font-size: $text-normal;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    block-size: 0;
    inline-size: 0;

    &:checked ~ .checkmark {
      background-color: #4caf51;
      border-width: 0;

      &::after {
        display: block;
      }
    }
  }

  .checkmark {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    block-size: 20px;
    inline-size: 20px;
    background-color: white;
    border: solid #ccc;
    border-width: 1px;

    &::after {
      content: "";
      position: absolute;
      display: none;
      inset-inline-start: 6px;
      inset-block-start: 2px;
      inline-size: 6px;
      block-size: 13px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }

  &:hover input ~ .checkmark {
    background-color: #ccc;
  }

  &.reverse {
    input:checked ~ .checkmark {
      background-color: $white;
    }

    .checkmark::after {
      border-color: #4caf51;
    }
  }

  &.v2 {
    .checkmark {
      inline-size: 16px;
      block-size: 16px;
      border-radius: 2px;

      &::after {
        inset-inline-start: 6px;
        inset-block-start: 3px;
        inline-size: 5px;
        block-size: 8px;
        border-width: 0 2px 2px 0;
        border-radius: 1px;
      }
    }
  }
}
