@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/rtl";
@import "~/scss/mixins/text";
@import "~/scss/variables";

.wrapper {
  position: relative;
  display: flex;
  width: 282px;

  /* stylelint-disable-next-line selector-class-pattern */
  :global(.fr-card__content) {
    position: relative;
  }
}

/* Favorite button */
.favorite {
  position: absolute;
  top: 8px;
  right: 12px;
  z-index: 5;

  @include rtl {
    right: inherit;
    left: 12px;
  }
}

.info {
  @include dsfr-text("very-small");

  display: flex;
  align-items: center;
  gap: u(2);
  color: var(--text-mention-grey);

  & > i::before {
    --icon-size: 16px !important;
  }
}

.demo {
  border: 1px solid var(--border-default-grey);
  background: var(--background-default-grey-hover);
  margin: u(-0.5);
  padding: u(0.5);
}

.sponsor {
  position: absolute;
  border: 1px solid var(--border-default-grey);
  background: white;
  top: u(-6);
  right: 2rem; // same padding as dsfr card
  z-index: 2;
}

/* Badges */
.badge_department {
  background-color: var(--background-contrast-purple-glycine);
  color: var(--text-action-high-purple-glycine);
}

.badge_online {
  background-color: var(--background-contrast-info);
  color: var(--text-default-info);

  & > i::before {
    --icon-size: 12px !important;
  }
}

.badge_demarche {
  background-color: var(--background-contrast-yellow-tournesol);
  color: var(--text-action-high-yellow-tournesol);
}

.three_lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
}
