@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/rtl";
@import "~/scss/mixins/text";
@import "~/scss/variables";

.wrapper {
  width: 282px;
  aspect-ratio: 0.62;
  position: relative;
  display: flex;

  em {
    background-color: #fbe769;
    font-style: normal;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  :global(.fr-card__title > a::after) {
    content: none;
  }

  .container {
    max-width: 100%;

    --bg: 255 255 255;

    &:hover {
      --bg: 246 246 246;
    }

    &:active {
      --bg: 237 237 237;
    }
  }

  .body {
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
  }

  .content {
    padding: u(6);
    padding-bottom: u(6) !important; // override dsfr
    margin-left: 0;
    margin-right: 0;
  }

  .text {
    $shadowHeight: 12px;

    order: 2;
    height: 146px + $shadowHeight;
    overflow: hidden;
    flex-shrink: 0;

    .desc {
      &::after {
        content: "";
        position: absolute;
        bottom: u(6 + 5) + 5; // cannot set parent position to relative to keep all card clickable
        right: 0;
        left: 0;
        height: $shadowHeight;
        background: linear-gradient(0deg, rgb(var(--bg) / 100%) 0%, rgb(var(--bg) / 0%) 100%);
      }
    }
  }
}

/* Badges */
.badge_department {
  background-color: var(--background-contrast-purple-glycine);
  color: var(--text-action-high-purple-glycine);
}

.badge_online {
  background-color: var(--background-contrast-info);
  color: var(--text-default-info);

  & > i::before {
    --icon-size: 12px !important;
  }
}

.badge_demarche {
  background-color: var(--background-contrast-yellow-tournesol);
  color: var(--text-action-high-yellow-tournesol);
}

.end {
  order: 4;
  padding-right: u(7);
  margin-top: auto;
  position: relative;

  > i {
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 20px;

    &::before {
      --icon-size: 16px !important;

      line-height: 16px !important;
      color: var(--text-action-high-blue-france);
    }
  }
}

/* Favorite button */
.favorite {
  position: absolute;
  top: u(2);
  right: u(3);
  z-index: 5;

  @include rtl {
    right: inherit;
    left: u(3);
  }
}

/* Info components */
.info {
  height: 20px; // fix for removing space after inline-block elements

  & > span {
    @include dsfr-text("very-small");

    display: inline-block;
    color: var(--text-mention-grey);
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    & > i::before {
      --icon-size: 16px !important;
    }
  }
}

.sponsor {
  position: absolute;
  border: 1px solid var(--border-default-grey);
  background: white;
  top: (u(-6) + u(-6)) - 1; /* padding top + half of image size - border top */
  right: u(-2);
  z-index: 1;
}

.title {
  color: var(--text-title-grey);

  @include dsfr-text("h6");
}

.three_lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
}
