@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/rtl";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/mixins/btn";
@import "~/scss/variables";

// DESKTOP
.dropdown {
  inline-size: 33.3333%;
  padding: u(2);
  flex: 1 1 0;
  position: relative;

  &::after {
    content: "";
    block-size: 80%;
    inline-size: 1px;
    background-color: $gray60;
    position: absolute;
    inset-inline-end: 0;
    inset-block-start: 10%;

    @include rtl {
      inset-inline: 0 auto;
    }
  }

  &:last-child::after {
    display: none;
  }

  & > button {
    @include focus;

    background: transparent !important;
    border: none;
    padding: 0;
    inline-size: 100%;
    position: relative;
  }

  &:global(.show) > button {
    z-index: 2000001;
  }
}

.submit {
  @include text("large");
  @include focus;

  margin: u(2);
  font-weight: bold;
  border-radius: $radius;
  min-inline-size: 190px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $bleuCharte !important;
  color: $white !important;
  border: 1px solid transparent;

  @include media-max("xl-limit") {
    min-inline-size: 0;
    justify-content: center;

    .label {
      display: none;
    }
  }

  @include isMobile {
    inline-size: 100%;
    justify-content: center;
    margin: 0;
    padding: u(4);
  }

  &:hover {
    background: $white !important;
    color: $bleuCharte !important;
    border-color: $bleuCharte !important;

    svg {
      fill: $bleuCharte;
    }
  }

  .icon {
    margin-inline: 0 u(4);
    display: inline-flex;
    align-items: center;

    @include rtl {
      margin-inline: u(4) 0;
    }

    @include media-min("md-limit") {
      margin-inline: u(4);
    }

    @include media-min("xl-limit") {
      margin-inline: 0 u(4);

      @include rtl {
        margin-inline: u(4) 0;
      }
    }
  }

  &:disabled {
    background: $grey50b !important;
    color: $gray80 !important;
    opacity: 1;
    border-color: transparent;
    cursor: not-allowed;

    svg {
      fill: $gray80;
    }
  }
}

// MOBILE
.menu {
  position: fixed !important;
  transform: none !important;
  inline-size: 100%;
  block-size: 100vh;
}

.content {
  margin-block-start: u(8);
  padding: 0 u(4);
}

.input {
  @include text("normal");

  position: relative;

  & > span {
    position: absolute;
    inline-size: u(8);
    block-size: u(8);
    display: flex;
    align-items: center;
    justify-content: center;
    inset-block-start: u(2);
    inset-inline-start: u(2);

    @include rtl {
      inset-inline: inherit u(2);
    }
  }

  & > input {
    background: $gray30;
    border-radius: $radius;
    inline-size: 100%;
    border: 1px solid transparent;
    line-height: u(4);
    outline: none !important;
    padding: u(3) u(12) u(3) u(6);

    &::placeholder {
      color: $gray80;
    }

    &:focus {
      border-color: $bleuCharte;
      background: $white;
    }

    @include rtl {
      padding-inline: 0 u(6);
    }
  }

  .empty {
    position: absolute;
    inset-inline: inherit u(2);

    @include rtl {
      inset-inline: u(2) inherit;
    }
  }
}

.separator::after {
  content: "";
  block-size: 100%;
  inline-size: 1px;
  background-color: $gray60;
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 0;

  @include rtl {
    inset-inline: 0 auto;
  }
}
