@use "~/scss/colors";
@use "~/scss/variables";
@use "~/scss/mixins/unit";
@use "~/scss/mixins/text";
@use "~/scss/mixins/responsive";
/* stylelint-disable scss/at-extend-no-missing-placeholder */

$breakpoint: "lg-limit";

// Layout
.main {
  width: 100%;
}

.container {
  padding-left: 2px;
  padding-right: 2px;

  @include responsive.isMobile {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.scrollspy_section {
  position: relative;
}

.section {
  padding-top: unit.u(20);
  padding-bottom: unit.u(20);
  position: relative;

  @include responsive.isTablet {
    padding-top: unit.u(10);
    padding-bottom: unit.u(10);
  }

  .link {
    margin-top: unit.u(20);
    text-align: center;

    @include responsive.isTablet {
      margin-top: unit.u(10);
    }
  }
}

.bg_blue {
  background: radial-gradient(150.13% 150.13% at 50% 50%, #0421b1 0%, #1b62d8 100%);
  color: colors.$white;
}

.bg_green {
  background: radial-gradient(162.89% 162.89% at 50% 50%, #055e5a 0%, #27a8a5 100%);
  color: colors.$white;
}

.bg_grey {
  background: colors.$gray30;
}

.bg_red {
  background: radial-gradient(231.66% 330.79% at 50% 50%, #910940 0%, #d64b71 100%);
  color: colors.$white;
}

.bg_orange {
  background: radial-gradient(219.91% 221.23% at 33.82% 57.21%, #cd5605 0%, #f97319 100%);
  color: colors.$white;
}

.bg_purple {
  background: radial-gradient(122.96% 170.89% at 46.11% 43.92%, #3d2884 0%, #705fa4 100%);
  color: colors.$white;
}

.anchor {
  position: absolute;
  top: -120px;

  @include responsive.isTablet {
    top: -100px;
  }
}

.top_space {
  margin-top: unit.u(20);

  @include responsive.isTablet {
    margin-top: unit.u(10);
  }
}

.bottom_space {
  margin-top: unit.u(8);
}

// Titles
.title {
  @include text.dsfr-text("alt-title");

  @include responsive.isMobile {
    @include text.dsfr-text("h1");
  }
}

.title_sub {
  @include text.dsfr-text("chapo");
}

.title2 {
  @include text.text("h3");

  margin-bottom: unit.u(20);

  @include responsive.isTablet {
    @include text.text("h4");

    margin-bottom: unit.u(10);
  }
}

.white {
  color: white;
}

.center {
  text-align: center;

  @include responsive.isTablet {
    text-align: left;
  }
}

.subtitle {
  @include text.text("h5");

  margin-top: unit.u(10);
  margin-bottom: 0;

  @include responsive.isTablet {
    @include text.text("large");

    margin-top: unit.u(6);
  }
}

.p {
  @include text.text("large");
}

// Hero
.hero {
  @include responsive.isTablet {
    text-align: center;

    h1 {
      @include text.text("h3");
    }
  }
}

.hero_title {
  @include responsive.media-min($breakpoint) {
    padding-right: unit.u(12);
  }

  @include responsive.isTablet {
    margin-bottom: unit.u(13);
  }
}

.hero_image {
  @include responsive.isTablet {
    text-align: right;
    padding-left: unit.u(4);
  }
}

// Faq
.faq {
  max-width: 720px;
}

// Traduire
.needs {
  max-width: 720px;

  :global(.row) {
    margin-right: -20px;
    margin-left: -20px;

    & > div {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
