/* stylelint-disable scss/at-extend-no-missing-placeholder */
@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/mixins/responsive";

$breakpoint: "lg-limit";

// Layout
.main {
  inline-size: 100%;
}

.container {
  padding-inline: 2px;

  @include isMobile {
    padding-inline: 12px;
  }
}

.scrollspy_section {
  position: relative;
}

.section {
  padding-block: u(20);
  position: relative;

  @include isTablet {
    padding-block: u(10);
  }

  .link {
    margin-block-start: u(20);
    text-align: center;

    @include isTablet {
      margin-block-start: u(10);
    }
  }
}

.bg_blue {
  background: radial-gradient(150.13% 150.13% at 50% 50%, #0421b1 0%, #1b62d8 100%);
  color: $white;
}

.bg_green {
  background: radial-gradient(162.89% 162.89% at 50% 50%, #055e5a 0%, #27a8a5 100%);
  color: $white;
}

.bg_grey {
  background: $gray30;
}

.bg_red {
  background: radial-gradient(231.66% 330.79% at 50% 50%, #910940 0%, #d64b71 100%);
  color: $white;
}

.bg_orange {
  background: radial-gradient(219.91% 221.23% at 33.82% 57.21%, #cd5605 0%, #f97319 100%);
  color: $white;
}

.bg_purple {
  background: radial-gradient(122.96% 170.89% at 46.11% 43.92%, #3d2884 0%, #705fa4 100%);
  color: $white;
}

.anchor {
  position: absolute;
  inset-block-start: -50px;

  @include isTablet {
    inset-block-start: -100px;
  }
}

.top_space {
  margin-block-start: u(20);

  @include isTablet {
    margin-block-start: u(10);
  }
}

.bottom_space {
  margin-block-start: u(8);
}

// Titles
.title2 {
  @include text("h3");

  margin-block-end: u(20);

  @include isTablet {
    @include text("h4");

    margin-block-end: u(10);
  }
}

.center {
  text-align: center;

  @include isTablet {
    text-align: start;
  }
}

.subtitle {
  @include text("h5");

  margin-block: u(10) 0;

  @include isTablet {
    @include text("large");

    margin-block-start: u(6);
  }
}

.p {
  @include text("large");
}

// Hero
.hero {
  @include isTablet {
    text-align: center;

    h1 {
      @include text("h3");
    }
  }
}

.hero_title {
  @include media-min($breakpoint) {
    padding-inline-end: u(12);
  }

  @include isTablet {
    margin-block-end: u(13);
  }
}

.hero_image {
  @include isTablet {
    text-align: end;
    padding-inline-start: u(4);
  }
}

// Steps
.warning {
  @include text("large");

  padding: u(4);
  background: $attention;
  border-radius: $radius;

  @include isTablet {
    @include text("normal");
  }
}

.warning_mobile {
  @extend .warning;

  display: none;
  align-items: center;
  margin-block-end: u(10);

  & > p {
    margin-block-end: 0;
    margin-inline-start: u(4);
  }

  @include isTablet {
    display: flex;
  }
}

// Faq
.faq {
  max-inline-size: 720px;
}

// Publier
.video2 {
  :global(.autoplay-video) {
    border-radius: 26px;
    border-width: 12px;

    @include isTablet {
      inline-size: 124px;
      border-width: 6px;
      border-radius: 18px;
    }
  }
}

// Traduire
.needs {
  max-inline-size: 720px;

  :global(.row) {
    margin-inline: -20px;

    & > div {
      padding-inline: 20px;
    }
  }
}
