@import "src/scss/colors";
@import "src/scss/variables";

.container {
  font-size: $text-normal;
  line-height: 20px;
  padding: 8px;
  width: fit-content;
  background: $white;
  border-radius: 4px;
  margin-bottom: 8px;
}
