@import "src/scss/colors";

.container {
  width: 20px;
  height: 20px;
  background: $white;
  border: 1px solid $gray50;
  border-color: $gray50;
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.checked {
    background:#4CAF50;
    border-color: #4CAF50;

  }
}
