@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/text";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/icons";
@import "src/scss/mixins/responsive";

.xl .value {
  @include dsfr-text("h1");
  font-weight: bold !important;
}
.lg .value {
  @include dsfr-text("chapo");
  font-weight: bold !important;
}

.view {
  padding: u(4);
  border: 1px solid $lightBorderDefaultGrey;
  background: $lightBackgroundElevationAlt;
  border-radius: u(2);
  margin-bottom: u(4);

  .status {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: u(4);
    margin-bottom: u(4);
  }

  &:hover {
    cursor: pointer;
    box-shadow: none;
  }

  &.open {
    background: transparent;
  }

  // status
  &.error {
    background: var(--background-alt-pink-tuile);
    border-color: var(--text-default-error);
    &:hover {
      background: var(--background-contrast-error);
    }
  }
  &.warning {
    background: var(--background-alt-pink-macaron);
    border-color: var(--text-default-warning);

    &:hover {
      background: #ffe8e5;
    }
  }
  &.new {
    background: var(--background-alt-yellow-tournesol);
    border-color: var(--text-action-high-yellow-tournesol);

    &:hover {
      background: var(--background-contrast-yellow-tournesol);
    }
  }
  &.success {
    background: var(--background-alt-green-emeraude);
    border-color: var(--text-default-success);

    &:hover {
      background: var(--background-contrast-green-emeraude);
    }
  }
  &.info {
    background: $lightBackgroundElevationAlt;
    border-color: $lightBorderDefaultGrey;
    box-shadow: 0 2px 6px 0 #00001229;

    &:hover {
      background: $lightBackgroundContrastGrey;
    }
  }
}

.edit {
  margin-bottom: u(4);

  .input {
    border: 1px solid $lightTextTitleGrey;
    border-radius: u(2);

    .text {
      padding: u(4) u(4) u(8) u(4);
    }
    textarea {
      outline: none !important;
      width: 100%;
      cursor: text;
    }

    .error {
      @include dsfr-text("very-small");
      color: $lightTextDefaultError;
      padding: 0 u(4);
    }
  }

  .footer {
    padding: u(4);
    border-top: 1px solid $lightBorderDefaultGrey;
    background: $lightBackgroundContrastGrey;
    border-radius: 0 0 u(2) u(2);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.default {
      background: $lightBackgroundContrastGrey;
    }
    &.pending {
      background: var(--background-alt-yellow-tournesol);
      border-color: var(--text-action-high-yellow-tournesol);
    }
    &.success {
      background: var(--background-alt-green-emeraude);
      border-color: var(--text-default-success);
    }
  }
}
