@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/rtl";
@import "~/scss/mixins/text";
@import "~/scss/colors";
@import "~/scss/variables";

.container {
  padding-inline-end: u(10);
  position: relative;
  display: flex;
  justify-content: flex-end;

  @include isTablet {
    justify-content: center;
  }
}

.front {
  position: relative;
  inset-block-start: 80px;
  z-index: 2;
  flex: 0 0 auto;
  max-inline-size: 217px;

  video {
    max-inline-size: 100%;
    border-width: 12px;
  }

  @include isTablet {
    inline-size: 140px;
    inset-block-start: 50px;

    video {
      border-width: 6px;
      border-radius: 18px !important;
    }
  }
}

.back {
  position: relative;
  inset-block-start: -35px;
  inset-inline-start: -60px;
  margin-inline-end: -115px;
  z-index: 1;
  flex: 0 0 auto;

  @include rtl {
    inset-inline-end: -80px;
    margin-inline-start: -115px;
  }

  @include isTablet {
    inline-size: 200px;
    block-size: auto;
    inset-block-start: -25px;
    inset-inline-start: -40px;

    @include rtl {
      inset-inline-end: -60px;
    }
  }
}
