@import "src/scss/colors";
@import "src/scss/variables";

.modal {
  min-width: 650px;

  .modal_content {
    background: #edebeb;
    border: hidden;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);
    border-radius: $radius;
    mix-blend-mode: normal; /* Shadow autour */
  }

  .close_icon {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }
  .header_container {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    .header {
      font-weight: bold;
      font-size: 40px;
      line-height: 51px;
    }
  }
  .container {
    padding: 40px;
    border-radius: $radius;
  }
  .btn_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .type_contenu {
    background: $white;
    border-radius: $radius;
    padding: 8px 16px;
    margin-left: 13px;
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;
    color: #5e5e5e;
  }
  .subtitle {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
  }
  .video {
    background: $bgfocus;
    border-radius: $radius;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 82px;
  }
  .yellow {
    background: $attention;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    padding: 8px;
    margin-left: 8px;
    margin-right: 8px;
    color: #3a3a3a;
  }
}
