@import 'src/scss/global.scss';
@import 'src/scss/colors.scss';

.dispositif-create-modal{
  font-family: CircularStd;
  @include media-min("tablet-up") { min-width:650px; }
  @include media-max("tablet-up") { width:100%; }

  .modal-content{
    background: linear-gradient(113.12deg, #3D3D3D 6.51%, #000000 96.1%);
    mix-blend-mode: normal;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    color: #FFFFFF;
    padding:40px;

    .modal-header{
      padding: 0;
      border:none;
      margin-bottom: 16px;

      h5{
        font-size: 40px;
        line-height: 51px;
        display: inline-flex;
        flex: 1;
        justify-content: space-between;
        align-items: flex-end;
      }
      .close{
        color: white;
      }
      .align-right{
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
      }
    }
    .modal-body{
      padding: 0;
      .content-bloc{
        background: $blanc;
        border-radius: 12px;
        color: $noir;
        padding: 20px;
        margin-bottom: 10px;
      }
      p{
        font-size: 16px;
        line-height: 20px;
      }
      h6{
        font-size: 24px;
        line-height: 30px;
      }
    }
    .modal-footer{
      border:none;
      padding:0;
      display: inline-flex;
      flex: 1;
      justify-content: space-between;

      .btn{
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
        background: #FBFBFB;
        border-radius: 12px;
        color:$noir;
        font-size: 18px;
        line-height: 23px;
        i{
          margin-right:10px;
        }
      }
    }
  }
}