.container {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-block-start: 45px;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline-end: 75px;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  margin-block-end: 24px !important;
}

.content {
  display: flex;
  flex-direction: column;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px !important;
  margin-block-end: 24px !important;
  max-inline-size: 550px;
}
