@import "src/scss/colors.scss";
@import "src/scss/global.scss";

.user-dash-struct {
  padding: 30px;
  position: relative;
  background: $gris;
  flex: 1 1;
  max-width: 100%;
  //overflow: scroll;

  .nouveau-contenu {
    background: #d2edfc;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    flex-direction: row;
    align-items: center;

    .right-side {
      display: flex;
      flex-direction: row;
      align-items: center;

      .red-text {
        color: $rouge;
        margin-right: 16px;
      }
    }
  }

  .role-btn {
    border-radius: 6px;
    height: 50px;
    .edit-icon {
      display: none;
    }
    &:hover .edit-icon {
      display: inline;
    }
  }

  .tableau-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  @include media-max("desktop-up") {
    .hideOnPhone {
      display: none;
    }
  }
}
