@import 'src/scss/colors.scss';

.structure-card{
  .main-card{
    border:none;
    background: $gris;
    border-radius: 12px;

    .card-body{
      display: flex;
      flex-direction: row;
    }

    .left-side{
      width: 240px;
      background: $blancSimple;
      padding: 20px;
      border-radius: 12px;
      margin-right: 21px;

      .logo-bloc{
        display: flex;
        flex-direction: column;
        height: 100%;
      }
      .img-wrapper{
        padding: 20px;
        flex: 1;
      }
      .logo-img{
        max-width: 160px;
      }
    }

    .middle-side{
      height: 100%;
      margin-right: 21px;
      flex: 1;
      &.no-results-wrapper{
        margin: auto;
      }
    }

    .right-side{
      margin-top: -10px;
      .indicateur{
        background: $blanc;
        border-radius: 12px;
        padding: 20px;
        margin-top: 10px;
      }
    }

    .nav-tabs{
      border:none;
      .nav-item{
        flex: 1;
        border:none;
        .nav-link{
          border-radius: 0px 12px 12px 0px;
          border:none;
          background: $blanc;
          padding: 15px;
          color: $noir;
          &.active{
            background: $noirCD;
            font-weight: bold;
          }
        }
        &:first-child{
          .nav-link{
            border-radius: 12px 0px 0px 12px;
          }
        }
      }
    }
    .tab-content{
      background: transparent;
      border:none;
      .tab-pane{
        padding: 0;
      }
    }
    .liste-actions{
      .list-group-item{
        background: $blanc;
        border-radius: 12px;
        margin-top: 10px;
        padding: 20px 25px;
        border: none;
      }

      .depuis{
        &.alert{
          background: $standby;
        }
        &.warning{
          background: $attention;
        }
      }
    }
  }
  .no-results{
    color: $grisFonce;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
}