@import "src/scss/mixins/unit";
@import "src/scss/mixins/text";

.container {
  background: var(--background-default-grey-hover);
  width: 100%;

  &.edit {
    background: var(--background-alt-blue-france);
  }
}

.wrapper {
  max-width: 915px;
  margin: u(10) auto;

  h1 {
    @include dsfr-text("h1");
    margin-bottom: 0;
  }

  h2 {
    @include dsfr-text("h6");
    color: var(--text-action-high-blue-france);
    font-weight: bold;
    margin: 0;
  }

  input[readonly] {
    outline: none;
    background-color: transparent;
    color: var(--text-action-high-blue-france);
    padding: 0;
    box-shadow: none;
  }

  .empty input[readonly],
  p.empty {
    color: var(--text-disabled-grey);
  }
}

.fix_align {
  margin-bottom: u(-1);
}

.form {
  label {
    @include dsfr-text("small");
  }
  .link {
    @include dsfr-text("small");
  }
}

.block {
  background: white;
  padding: u(6);
  margin-top: u(4);
  border: 1px solid transparent;

  &.edit {
    border-color: var(--text-action-high-blue-france);
    box-shadow: 0 2px 6px 0 #00001229;
  }

  .label {
    @include dsfr-text("small");
    color: var(--text-label-grey);
    text-transform: uppercase;
    font-weight: bold;
  }
}

.danger {
  color: var(--text-default-error);
  box-shadow: inset 0 0 0 1px var(--text-default-error);
}

.info {
  margin-bottom: u(3);

  label {
    @include dsfr-text("small");
  }

  p {
    margin-bottom: 0;
    color: var(--text-action-high-blue-france);
  }
}
