@import 'src/scss/colors.scss';

.homepage{
  flex: 1 1;
  color: $noir;
  background: $gris;

  section{
    height: 750px;
    padding-top: 100px;
    padding-bottom: 93px;
  }

  #hero {
    background-image: url(../../assets/figma/integration_illu.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 150px;
    margin-top: -60px;
    height: 772px;
  }

  .triptique{
    padding-top: 50px;
  }

  .hero-container{
    text-align: center;

    h5{
      margin-top: 10px;
      font-weight: normal;
    }

    .search-row{
      margin-top: 25px;
      display:flex;
      align-items: center;
      justify-content: space-between;
      background: rgba(255, 255,255, .9);
      box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      padding: 10px;
      height: 80px;

      .large-btn{
        height: 100%;
        display: flex;
        align-items: center;
        padding: 10px 20px;
      }
    }
    .try-it-out{
      text-align: left;
      font-size: 16px;
      text-transform: uppercase; 
      color: $noirCD;
      font-weight: bold;
    }
  }

  .arrowhead-icon{
    position: absolute;
    bottom: 100px;
  }
  
  .section-container{
    width: 100%;
    padding: 0 100px;
    height: 100%;

    &.half-width{
      width: 50%;
      display: flex;
      flex-direction: column;
      h2{
        margin-bottom: 40px;
      }

      &.right-side{
        margin-left: auto;

      }
    }
    .section-body{
      flex: 1 1 auto;
    }

    .footer-section{
      font-size: 18px;
      margin-right: -20px;

    }
  }

  #contribution{
    background-image: url(../../assets/figma/contribution_illu.svg), url(../../assets/figma/trame_home_bg.svg);
    background-size: 70%, cover;
    background-repeat: no-repeat;
    background-position: calc(100% + 20px) calc(100% - 160px),0;
  }
  
  #certifiee{
    background-image: url(../../assets/figma/certifiee_illu.svg), url(../../assets/figma/trame_home_bg.svg);
    background-size: 65%, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: calc(100% - 60px) calc(100% - 120px),0;
  }

  #multilangues, #explique{
    background-image: url(../../assets/figma/illustration_Traduction.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: calc(100% - 300px);
  }

  #explique{
    background-image: url(../../assets/figma/illustration_Lexique.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: calc(100% - 300px);
  }



  #plan{
    h2{
      margin-bottom: 42px;
    }
    .card-col .card{
      height: 520px;
      border-radius: 12px;
      border:none;
      padding: 40px;
      font-size: 18px;

      .card-header{
        background: transparent;
        border: none;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        height: 100px;
        padding:0;
      }
      .card-body{
        padding:0;
      }
      .card-footer{
        background: transparent;
        border: none;
        display: flex;
        justify-content: center;
        padding:0;
        font-size: 18px;
        font-weight: bold;

        .homebtn{
          background: rgba(255, 255, 255, 0.95);
          color: $noir;
          transition: all 0.5s ease;
          height: 60px;
          padding: 10px 20px;
          box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
          display: flex;
          align-items: center;
          &:hover{
            background: $noir;
            color: $blancSimple;
            box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
            svg{
              transition: all 0.5s ease;
              fill: $blancSimple;
            }
          }
        }
      }
    }
  }

  /*--------------------------------------------------------------
  # Search bar
  --------------------------------------------------------------*/
  .input-group.md-form.form-sm.form-2 {
    flex: 1;
    margin-right: 10px;
    border-radius: 12px;
    height: 100%;

    .react-autosuggest__container{
      width:100%;
      position: relative;
      flex: 1 1 auto;
      width: 1%;
      height: 100%;

      .react-autosuggest__input{
        width:100%;
        border-radius: 12px;
        border: 0.5px solid $grisFonce;
        height: 100%;
      }
    }
  }

  .input-group-text{
    background: $noir;
    border-radius: 0 12px 12px 0;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border: 0.5px solid #3C3C3C;
    border-left: none;
  }

  .dispo-card{
    background-image: url(../../assets/figma/illustration_Dispositifs.svg);
    background-size: cover;
  }

  .demarche-card{
    background-image: url(../../assets/figma/illustration_Demarches.svg);
    background-size: cover;
  }

  .parcours-card{
    background-image: url(../../assets/figma/illustration_Parcours.svg);
    background-size: cover;
  }
}

.slide-bottom {
	-webkit-animation: slide-bottom 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
	        animation: slide-bottom 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}

 @-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}
