@import "src/scss/colors.scss";
@import "src/scss/global.scss";

.homepage {
  flex: 1 1;
  color: $noir;
  background: $blancSimple;
  max-width: 100%;
  outline: none;
  z-index: 1;
  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
  }

  .search-home {
    outline: none;
    //max-height: 100%;
    display: flex;
    flex: 1;
    margin: 0px;
    font-size: 20px;
    //margin-top: 0px;
    padding: 0px;
    width: 280px;
    min-height: 50px;
    color: white;
    border: none;
  }

  .link {
    text-decoration: underline;
  }

  section {
    padding-top: 20px;
    padding-bottom: 93px;
    @include media-max("tablet-up") {
      min-height: 0px;
      padding-bottom: 0px;
    }
    position: relative;
    overflow: hidden;
  }

  #hero {
    @include media-min("tablet-up") {
      background-image: url(../../assets/figma/integration_illu.svg);
    }
    @include media-max("tablet-up") {
      background-image: url(../../assets/figma/home_mobile.svg);
    }
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 150px;
    @include media-max("tablet-up") {
      padding-top: 116px;
    }
    margin-top: -75px;
    height: 828px;

    .options-wrapper {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 5px;
      //box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);
      max-width: 75%;
      border-radius: 12px;
      margin: 15px;
      z-index: 4;
      .search-btn {
        margin: 5px;
        font-size: 20px;
        border-radius: 12px;
      }
      .advanced-search-btn {
        margin: 5px;
        font-size: 20px;
        color: white;
        font-weight: 600;
        padding: 10px 10px;
        border-radius: 12px;
        background-color: black;
      }
      .advanced-search-a {
        margin: 5px;
        font-size: 20px;
        color: white;
        font-weight: 600;
        padding: 10px 10px;
        border-radius: 12px;
        background-color: black;
      }
      .advanced-search-btn-menu {
        border-width: 0;
        outline: none;
        margin: 5px;
        font-size: 20px;
        color: black;
        font-weight: 600;
        padding: 10px 10px;
        border-radius: 12px;
        background-color: white;
      }
      .figma-btn {
        border-radius: 12px;
        border-width: 1px;
        border-color: black;
        margin: 5px;
      }
    }

    .search-col {
      outline: none;
      border-radius: 12px;
      border-width: 0;
      padding-left: 20px;
      padding: 10px 20px;
      font-size: 22px;
      font-weight: 600;
      color: $noir;
      display: flex;
      align-items: center;
      z-index: 4;
      background: #ffffff;
      @include media-max("tablet-up") {
        flex-direction: column;
        padding: 20px;
      }
      @include media-min("tablet-up") {
        margin-bottom: 0;
      }
      .mb-15 {
        @include media-min("tablet-up") {
          margin-bottom: 0;
        }
        @include media-max("tablet-up") {
          margin-bottom: 15px;
        }
      }
      .mr-10 {
        padding-right: 10px;
        z-index: 4;
      }
      .search-btn {
        font-size: 22px;
      }
    }
  }

  .triptique {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 500px;
  }

  .hero-container {
    text-align: center;

    h5 {
      margin-top: 10px;
      font-weight: normal;
      @include media-max("tablet-up") {
        font-size: 18px;
        padding: 0 50px;
      }
    }

    .search-row {
      position: relative;
      margin: 25px auto 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      width: fit-content;
      z-index: 5;
    }
  }

  .search-btn {
    -webkit-animation: on-homepage 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
      infinite both;
    animation: on-homepage 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
      both;
  }

  // .header-anchor{
  //   margin-top: -60px;
  //   padding-top: 60px;
  // }

  // .arrowhead-icon{
  //   position: absolute;
  //   bottom: 100px;
  // }

  .section-container {
    width: 100%;
    padding: 0 100px;
    height: 100%;
    min-height: 60vh;
    @include media-max("sm-limit") {
      padding: 0 20px;
    }

    &.half-width {
      margin-top: 65px;
      width: 47%;
      display: flex;
      flex-direction: column;
      @include media-max("tablet-down") {
        width: 100%;
      }
      h2 {
        margin-bottom: 50px;
        margin-right: 100px;
      }
      p {
        font-size: 22px;
      }

      &.right-side {
        margin-left: auto;
      }
      &.left-side {
        margin-right: auto;
      }
      &.smartphone {
        margin-top: 0px;
      }
    }
    .section-body {
      p {
        line-height: 28px;
      }
      flex: 1 1 auto;
      margin-bottom: 40px;
      &.smartphone {
        margin-bottom: 20px;
        flex: 0;
      }
    }

    .footer-section {
      font-size: 18px;
      margin-right: -20px;
    }
  }
  .card {
    background-color: initial;
  }

  #contribution {
    background-image: url(../../assets/figma/collaboratif_desktop.svg);
    background-size: 55%, cover;
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 100px;
    @include media-max("tablet-down") {
      background-position: calc(100% + 20px) calc(100% - 110px), 0;
    }
  }

  #deployer {
    background-size: 50%, cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 100px;
  }

  #ecrire {
    background-image: url(../../assets/figma/rediger_desktop.svg);
    background-size: 55%, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: right;
    margin-right: 100px;
  }

  #multilangues {
    background-image: url(../../assets/figma/traduire_desktop.svg);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 100px;
    @include media-max("desktop-down") {
      background-position: calc(100% - 300px) calc(100% - 60px);
    }
    @include media-max("desktop-up") {
      background-position: calc(100% - 300px) calc(100% - 80px);
    }
    @include media-max("tablet-down") {
      background-position: calc(100% - 240px) calc(100% - 140px);
    }
    @include media-max("tablet-up") {
      background-position: calc(100% - 180px) calc(100% - 140px);
    }
  }

  #smartphone {
    padding-top: 100px;
    padding-bottom: 0;
    background: linear-gradient(#0421b1, rgba(4, 33, 177, 0.6496));
    background-repeat: no-repeat;
    color: $blancSimple;
    display: flex;
    justify-content: center;
    img {
      width: 25%;
      position: absolute;
      left: 15%;
    }
    h2 {
      margin-right: 0;
    }
  }

  #explique {
    background-image: url(../../assets/figma/illustration_Lexique.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: calc(100% - 300px);
    @include media-max("desktop-down") {
      background-position: calc(100% - 300px) calc(100% - 60px);
    }
    @include media-max("desktop-up") {
      background-position: calc(100% - 300px) calc(100% - 80px);
    }
    @include media-max("tablet-down") {
      background-position: calc(100% - 240px) calc(100% - 140px);
    }
    @include media-max("tablet-up") {
      background-position: calc(100% - 180px) calc(100% - 140px);
    }
  }

  #plan {
    h2 {
      margin-bottom: 42px;
    }
    .card-col {
      border-radius: 12px;
      .card {
        height: 520px;
        border-radius: 12px;
        border: none;
        padding: 40px;

        .card-header {
          background: transparent;
          border: none;
          font-weight: 900;
          font-size: 32px;
          line-height: 36px;
          height: 100px;
          padding: 0;
          @include media-max("sm-limit") {
            font-size: 21px;
          }
        }
        .card-body {
          padding: 0;
        }
        .card-footer {
          background: transparent;
          border: none;
          display: flex;
          justify-content: center;
          padding: 0;
          font-weight: bold;

          .figma-btn {
            max-width: 100%;
            flex-wrap: wrap;
            text-overflow: ellipsis;
            white-space: inherit;
            overflow-wrap: break-word;
            word-break: break-word;
            min-height: 60px;
            justify-content: center;
          }
          .homebtn {
            background: rgba(255, 255, 255, 0.95);
            color: $noir;
            transition: all 0.5s ease;
            padding: 10px 20px;
            box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
            display: flex;
            align-items: center;
            &:hover {
              background: $noir;
              color: $blancSimple;
              box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
              svg {
                transition: all 0.5s ease;
                fill: $blancSimple;
              }
            }
            &:disabled {
              svg {
                fill: $blancSimple;
              }
              background: $grisFonce;
              color: $blancSimple;
              &:hover {
                background: $grisFonce;
              }
            }
          }
        }
      }
    }
  }

  /*--------------------------------------------------------------
  # Search bar
  --------------------------------------------------------------*/
  .input-group.md-form.form-sm.form-2 {
    flex: 1;
    margin-right: 10px;
    border-radius: 12px;
    height: 100%;

    .react-autosuggest__container {
      width: 100%;
      position: relative;
      flex: 1 1 auto;
      width: 1%;
      height: 100%;

      .react-autosuggest__input {
        width: 100%;
        border-radius: 12px;
        border: 0.5px solid $grisFonce;
        height: 100%;
      }
    }
  }

  .input-group-text {
    background: $noir;
    border-radius: 0 12px 12px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: 0.5px solid #3c3c3c;
    border-left: none;
  }

  .dispo-card {
    background-image: url(../../assets/figma/illustration_Dispositifs.svg);
    background-size: cover;
  }

  .demarche-card {
    background-image: url(../../assets/figma/illustration_Demarches.svg);
    background-size: cover;
  }

  .parcours-card {
    background-image: url(../../assets/figma/illustration_annuaire.svg);
    background-size: cover;
  }

  .chevron-wrapper {
    flex: 1;
    width: 100%;
    position: relative;
  }

  .background-wrapper {
    border-radius: 50%;
    background-color: $noir;
  }
  .slide-animation {
    position: absolute;
    width: 48px;
    height: 48px;
    bottom: 80px;

    left: 50%;
    @include media-max("tablet-up") {
      left: 44%;
      bottom: 160px;
    }
    svg {
      mix-blend-mode: normal;
      filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.25));
    }
    background: $noir;
    border-radius: 50%;
    z-index: 1;
    transition: all 0.5s ease;
    -webkit-animation: slide-bottom 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      infinite alternate both;
    animation: slide-bottom 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
      alternate both;
  }

  .bottom-slider {
    position: absolute;
    fill: $blancSimple;
    z-index: 10;
    svg {
      margin-left: -15px;
      margin-top: -10px;
    }

    &:hover {
      svg {
        transition: all 0.5s ease;
        fill: $gris;
        @include media-max("tablet-up") {
          fill: $blancSimple;
        }
      }
    }
  }

  .bottom-slider-rtl {
    position: absolute;
    fill: $blancSimple;
    z-index: 10;
    svg {
      margin-right: -15px;
      margin-top: -10px;
    }

    &:hover {
      svg {
        transition: all 0.5s ease;
        fill: $gris;
        @include media-max("tablet-up") {
          fill: $blancSimple;
        }
      }
    }
  }

  /*   .flip-horizontal-top {
    -webkit-animation: flip-horizontal-top 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation: flip-horizontal-top 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  } */
}

.flip-horizontal-top {
  -webkit-animation: flip-horizontal-top 3s linear both;
  animation: flip-horizontal-top 3s linear both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
}

@-webkit-keyframes flip-horizontal-top {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}
@keyframes flip-horizontal-top {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}
