@import 'src/scss/colors.scss';
@import 'src/scss/common.scss';

.homepage{
  flex: 1 1;
  color: $noir;
  background: $gris;

  section{
    height: 750px;
    padding-top: 100px;
    padding-bottom: 93px;
  }

  #hero {
    background-image: url(../../assets/figma/headerBackground.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-container{
    text-align: center;

    .search-row{
      margin-top: 30px;
      display:flex;
    }
  }

  .arrowhead-icon{
    position: absolute;
    bottom: 0;
    cursor: pointer;
  }

  .section-container{
    width: 100%;
    padding: 0 100px;
    height: 100%;

    &.half-width{
      width: 50%;
      display: flex;
      flex-direction: column;

      &.right-side{
        margin-left: auto;
      }
    }
    .section-body{
      flex: 1 1 auto;
      padding-top: 40px;
    }
  }

  #contribution, #certifiee{
    background-image: url(../../assets/figma/humaanRight.svg), url(../../assets/figma/curved-background.svg);
    background-size: 420px, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: calc(100% - 180px),0;
    padding-top: 156cpx;
  }

  #multilangues, #explique{
    background-image: url(../../assets/figma/humaanLeft.svg);
    background-size: 420px;
    background-repeat: no-repeat;
    background-position: 180px;
  }

  #plan{
    h2{
      margin-bottom: 42px;
    }
    .card-col .card{
      height: 520px;
      border-radius: 12px;
      border:none;
      padding: 40px;
      font-size: 18px;

      .card-header{
        background: transparent;
        border: none;
        font-weight: 900;
        font-size: 27px;
        line-height: 34px;
        height: 100px;
        padding:0;
      }
      .card-body{
        padding:0;
      }
      .card-footer{
        background: transparent;
        border: none;
        display: flex;
        justify-content: center;
        padding:0;
      }
    }
  }

  .en-savoir-plus{
    cursor: pointer;
  }

  /*--------------------------------------------------------------
  # Search bar
  --------------------------------------------------------------*/
  .input-group.md-form.form-sm.form-2 {
    flex: 1;
    margin-right: 15px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
    border-radius: 12px;

    .react-autosuggest__container{
      width:100%;
      position: relative;
      flex: 1 1 auto;
      width: 1%;
      height: 100%;

      .react-autosuggest__input{
        width:100%;
        border-radius: 12px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: 0.5px solid #3C3C3C;
        border-right: none;
        height: 100%;
      }
    }
  }

  .input-group-text{
    background: $noir;
    border-radius: 0 12px 12px 0;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border: 0.5px solid #3C3C3C;
    border-left: none;
  }
  .react-autosuggest__container {
    position: relative;
  }
  
  .react-autosuggest__input {
    padding: 10px 20px;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
  }
  
  .react-autosuggest__input--focused {
    outline: none;
  }
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .react-autosuggest__suggestions-container {
    display: none;
  }
  
  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 51px;
    width: 280px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
  }
  
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
  }
  
  .react-autosuggest__section-container {
    border-top: 1px dashed #ccc;
  }
  
  .react-autosuggest__section-container--first {
    border-top: 0;
  }
  
  .react-autosuggest__section-title {
    padding: 10px 0 0 10px;
    font-size: 12px;
    color: #777;
  }  
}