@import "~/scss/colors";

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: $gray20;
  margin-block-start: -95px;
  padding-block-start: 100px;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
}
