.container {
  background-image: url(../../../assets/comment-contribuer/CommentContribuer-background_orange.svg);
  background-repeat: no-repeat;
  height: 480px;
  width: 283px;
  border-radius: 12px;
  padding: 24px;
  padding-bottom: 12px;
  border: 4px solid #ffffff;
  cursor: pointer;
  position: relative;

  &:hover {
    border: 4px solid #f9aa75;
  }
}

.inner {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}
