@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/text";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/icons";
@import "src/scss/mixins/responsive";

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  transition: transform ease-in-out 0.2s;

  &.hidden {
    transform: translateX(-200px);

    .btn {
      width: fit-content;
    }
  }

  @include media-max("lg-limit") {
    transform: none !important;
    top: inherit;
    max-width: 100%;
  }

  .list {
    background: white;
    width: 200px;
    height: 100%;
    border-right: 1px solid $lightBorderDefaultGrey;
    padding: u(2);
    overflow-y: scroll;

    @include media-max("lg-limit") {
      background: transparent;
      display: flex;
      overflow-x: scroll;
      width: auto;
      height: auto;
      border: none;
      overflow-y: hidden;

      & > span {
        flex-shrink: 0;
      }
    }
  }
  .btn {
    width: u(8);
    height: u(8);
    min-height: u(8) !important;
    @include iconSize(u(4));
    @include dsfr-text("small");
    box-shadow: 0 6px 18px 0 #00001229;
    background-color: white;
    color: $lightTextActionHighBlueFrance;

    @include media-max("lg-limit") {
      display: none;
    }
  }
}

.item {
  padding: u(2);
  width: 100%;
  text-align: left;
  border-radius: u(2);

  @include media-max("lg-limit") {
    width: 200px;
    background: white;
    margin-right: u(2);
    margin-left: u(2);
    box-shadow: 0 6px 18px 0 #00001229;
    border: 1px solid transparent;
  }

  &:hover,
  &.active {
    background: $lightBackgroundActionLowBlueFrance !important;
    color: $lightTextActionHighBlueFrance;

    @include media-max("lg-limit") {
      border-color: $lightTextActionHighBlueFrance;
    }

    svg {
      fill: $lightTextActionHighBlueFrance;
    }
  }

  .title {
    @include dsfr-text("small");
    margin-bottom: 0;

    @include media-max("lg-limit") {
      min-height: 36px;
      margin-bottom: u(2);
    }
  }
  .city {
    @include dsfr-text("very-small");
    margin-bottom: 0;
  }
}

.divider {
  display: block;
  margin: u(1) 0;
  width: 100%;
  height: 1px;
  background: $lightBorderDefaultGrey;
  @include media-max("lg-limit") {
    display: none;
  }
}
