@import "src/scss/mixins/responsive";

.top_left {
  .btn {
    margin-left: 30px;

    @include media-max("tablet-up") {
      background-color: transparent;
      margin-left: 75px;
      margin-top: -20px;
    }
  }
}
