@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/icons";
@import "~/scss/mixins/text";

.nav {
  @include iconSize(u(4));
  @include dsfr-text("small");

  block-size: u(8);
  min-block-size: u(8);
}

.validate {
  @include iconSize(u(4));

  inline-size: u(8) !important;
  block-size: u(8);
  min-block-size: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;

  &.validated {
    background-color: var(--background-action-high-blue-france);
    color: white;

    svg {
      fill: white;
    }

    &:hover {
      svg {
        fill: var(--background-action-high-blue-france);
      }
    }
  }
}
