@import "@/scss/colors";
@import "@/scss/variables";
@import "@/scss/mixins/unit";
@import "@/scss/mixins/icons";
@import "@/scss/mixins/text";

.nav {
  @include iconSize(u(4));
  @include dsfr-text("small");

  height: u(8);
  min-height: u(8);
}

.validate {
  @include iconSize(u(4));

  width: u(8) !important;
  height: u(8);
  min-height: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;

  &.validated {
    background-color: var(--background-action-high-blue-france);
    color: white;

    svg {
      fill: white;
    }

    &:hover {
      svg {
        fill: var(--background-action-high-blue-france);
      }
    }
  }
}
