@import "src/scss/colors";

.disabled {
  position: relative;

  // hack to disable the button
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 2;
    cursor: not-allowed;
  }
  button {
    color: $lightTextDisabledGrey !important;
  }
}
