@import "src/scss/colors";
@import "src/scss/variables";

.modal {
  min-width: 650px;

  .modal_content {
    background: $gray10;
    border: hidden;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);
    border-radius: $radius;
    color: $gray90;
    mix-blend-mode: normal; /* Shadow autour */
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    background: #fbfbfb;
    filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.15));
    border-radius: 12px 12px 0 0;
  }

  .iframe {
    align-self: center;
    width: 100%;
    height: 500px;
    border: 1px solid #fbfbfb;
    border-radius: 0 0 12px 12px;
  }
}
