@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/variables";

.btn {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  color: $dark;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
  width: 100%;
  border: none;

  &:focus {
    outline: none;
  }
}

.infos {
  margin-top: 8px;
  display:flex;
  justify-content: space-between;

  p {
    margin-bottom: 0;
    font-weight: normal;
  }
}
