@import 'src/scss/colors.scss';

.user-change{
  .profile-header-container{
    width: 120px;
  }

  .profile-header-img > img.img-circle {
    width: 120px;
    height: 120px;
    border: 2px solid #51D2B7;
  }

  .profile-header {
    margin-top: 43px;
  }

  .rank-label-container {
    margin-top: -19px;
    text-align: center;
    min-height:120px;
    overflow: hidden;
    position: relative;
  }

  .label.label-default.rank-label {
    color: $blancSimple;
    background-color: red;
  }

  .score-wrapper{
    display: flex;
    align-items: center;
    .progress{
      flex-grow: 1;
      background-color: $noir3;
    }
  }
}