@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/variables";

.suggestions {
  background: white;
  position: absolute;
  z-index: 2;
  inline-size: 100%;
  box-shadow: 0 6px 18px 0 #00001229;

  & > button {
    display: block;
    inline-size: 100%;
    text-align: start;
    padding: u(2) u(3);
  }
}

.option {
  background: var(--background-action-low-blue-france);
  padding: u(2) u(3);
  color: var(--text-action-high-blue-france);
  display: inline-flex;
  align-items: center;
  gap: u(2);
  margin-inline-end: u(2);
  margin-block-end: u(2);
}

.button {
  &.full {
    inline-size: 100%;
    justify-content: center;
  }
}
