@import 'src/scss/global.scss';
@import 'src/scss/colors.scss';
@import 'src/scss/common.scss';

$imgWidth : 300px;
$imgHeight : 350px;

.dispositif{
  
  position: relative;
  
  .banniere-dispo{
    background-size:cover; 
    background: $lightColor;
    min-height: 330px; 
    background-position:0;
    position: relative;

    .post-title-block{
      padding: 114px 0 49px 0;
      display: flex;
      z-index: 2;

      .bloc-titre{
        margin:auto;
      }
      .bloc-subtitle{
        display: inline-flex;
      }
    }
    .post-title-block h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 64px;
      color: $noir;
      text-transform: initial;
      @include media-max("phone-down") { &.editable{ max-width: calc(100% - 200px); } }
      @include media-max("tablet-up") { font-size: 46px; }
      @include media-max("phone-down") { font-size: 32px; }
    }

    .post-title-block h2 {
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      color: $noir;
      @include media-max("tablet-up") { font-size: 24px; }
      @include media-max("phone-down") { font-size: 16px; }
    }

    .header-row{
      position: absolute;
      width: 100%;
      margin-top:18px;
      z-index: 3;

      .top-left .btn {
        display: flex;
        cursor: pointer;
        height:fit-content;
        width:fit-content;
        margin-left: 9%;
        z-index:3;
        color: $darkColor;
        border-color: $darkColor;
        background-color: $blanc;
        border-radius: 12px;
        padding: 10px 13px;
        &:hover{
          color: #ffffff;
          background-color: $darkColor;
          border-color: $darkColor;
          svg{
            fill: #FFF;
          }
        }

        .icons{
          margin-right: 10px;
        }
        i{
          padding-right:7px;
          padding-top: 0.3rem;
          margin: 0 19px;
        }
      }
      
      .top-right{
        text-align: right;
        display: flex;
        justify-content: flex-end;

        p{
          margin-bottom: 0;
        }

        .card{
          background: transparent;
          z-index:3;
          position: fixed;
          border:none;

          .card-body{
            display:flex;
            flex-direction: column;
            align-items: flex-end;
            border-radius: 12px;

            .btn{
              box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
              border:none;
              &.save-btn{
                background: #FBFBFB;
                border-radius: 12px;
                margin-top: 10px;
              }
              &.publish-btn{
                background: $vert;
                border-radius: 12px;
                margin-top: 10px;
              }
            }
          }
          .card-footer{
            background: transparent;
            border:none;
            padding-right: 0;
            padding-top:  5px;
            svg{
              fill: $darkColor;
            }
          }
        }

        .audio-icon-wrapper{
          z-index:3;
        }
        .top-icon-wrapper{
          position: relative;
          width: 40px;
          height: 40px;
          box-sizing: border-box;
          border-radius: 50%;
          cursor: pointer;
          user-select: none;
          transition: all 0.2s ease;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index:3;
          background: #F2F2F2;
          box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
  .tags-bloc{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    padding-right:0;
  }

  .subtitle-container{
    display: inline-block;
    width: 100%;

    h1{
      float: left;
    }    
    .profile-header-container{
      text-align: center;
      float:right;
    }

    .profile-header-img > img.img-circle {
      width: 20px;
      height: 20px;
      border: 2px solid #51D2B7;
    }

    .profile-header {
      margin-top: 43px;
    }

    .rank-label-container {
      margin-top: -19px;
      text-align: center;
    }

    .label.label-default.rank-label {
      background-color: rgb(81, 210, 183);
      padding: 5px 10px 5px 10px;
      border-radius: 27px;
    }
  }

  .list-group.list-group-flush .list-group {
    padding-left: 30px;
    border: none;
  }

  .list-group.list-group-flush .list-group-item {
    border: none;
    padding: 0;
    line-height: 35px;
    font-size: 18px;
  }
  
  .left-side-col{
    background: $gris;
    padding: 40px 60px;

    .sticky-affix{
      position: sticky;
      position: -webkit-sticky;
      top: 60px;
    }

    .list-item-wrapper.active > .list-group-item{
      z-index: 2;
      border: none;
      font-weight: 900;
    }

    .list-group-item{
      background: inherit;
      &:hover{
        color: $noir;
        font-weight: normal;
      }
    }
  }

  a.anchor {
    display: block;
    position: relative;
    top: -56px;
    visibility: hidden;
  }
  .plus-wrapper{
    position: absolute;
    bottom: 0;
    right: 15px;
    width: 50px;
    height: 36px;
    z-index: 2;
    background: $darkColor;
    border: 0.5px solid $darkColor;
    border-radius: 12px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    .plus-icon{
      cursor: pointer;
    }
  }
  .editor-editeur{
    padding: 0 20px 20px 20px;

    .public-DraftEditor-content{
      background: transparent;
    }
  }

  .rdw-editor-toolbar{
    background: none;
  }
  .toolbar-editeur{
    border:none;
    position: absolute;
    right: 34px;
    top: 70px;


    .blc-gh{
      background: $noir;
      padding:10px;
      &.bloc-gauche-inline{
        border-radius: 12px 0 0 12px;
        padding-right:0;
      }
      &.bloc-gauche-list{
        border-radius: 0 12px 12px 0;
        padding-left:0;
      }
      .inline-btn, .list-btn{
        background: transparent;
        border: none;
      }
    }
    .blc-dr, .rdw-image-wrapper, .rdw-embedded-wrapper{
      background: $darkColor;
      padding:10px;
    }
    .rdw-image-wrapper{
      border-radius: 12px 0 0 12px;
      padding-right:0;
      margin-left:10px;
    }
    .rdw-embedded-wrapper{
      border-radius: 0;
      padding-left:0;
      padding-right:0;
    }
    .blc-dr{
      &.bloc-droite-link{
        border-radius: 0;
        padding-left:0;
        padding-right:0;
      }
      &.bloc-droite-alert{
        border-radius: 0 12px 12px 0;
        padding-left:0;
        margin-bottom: 6px;
      }
    }
    .bloc-droite-image, .bloc-droite-embedded, .btn-link{
      background: transparent;
      border: none;
    }
  }

  ul.a {
    list-style-type: disc;
    padding:1.25rem;
  }

  .float-right{
    float: right;
  }

  h3.contenu-title{
    line-height: normal;
    color: $darkColor;
    margin-bottom: 2.5rem;

  }
  .mt-20{
    margin-top: 40px;
  }

  .contenu{
    padding: 0 40px 0 0;
  }
  #contenu-0 .toolbar-editeur{
    top: 32px;
  }

  .col-middle{
    padding: 40px 0 0 0;
  }

  .contenu-wrapper{
    position:relative;
    padding: 0 40px;

    .relative-position{
      position:relative;
    }

    .nopadding{
      margin-left: 0;
      margin-right: 0;
    }
    .toolbar-col{    
      position: absolute;
      height: 100%;
      top: 0;
      right: -20px;
      transform: translateX(100%);
      z-index: 4;
      width: calc(20vw - 40px);
      @include media-max("tablet-up") { padding: 0; }
    }
  }
  &.reading-mode .contenu.isHovered{
    border-right: 4px solid $darkColor;
    position: relative;

    &:after, &:before {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    &:before {
      border-left-color: inherit;
      border-width: 14px;
      margin-top: -14px;
    }
  }

  .tags-row{
    padding : 15px 60px;
    background: $darkColor;
    margin-right: 0;
    margin-top: -10px;
    .dropdown-menu.show{
      border-radius: 12px;
      border: none;
      outline: none;
    .dropdown-item{
      &:active{
        background-color: $noir;
      }
      &:focus{
        outline: none;
      }
    }
    
  }

    .en-bref{
      font-size: 24px;
      color: #FFFFFF;
    }
    .mt-10{
      margin-top: 10px;
    }

    .tag-wrapper{
      box-sizing: border-box;
      font-size: 18px;
      line-height: normal;
      color: #FFFFFF;
      height: 40px;
      margin-left: 15px;
      margin-top: 10px;
      width: fit-content;
      display: flex;
      align-items: center;
      
      .tag-item{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        .no-decoration{
          color:inherit;
          text-decoration: none;
        }
        svg{
          padding-right: 10px;
        }
      }
    }
  }

  .fiabilite-row{
    margin-left: auto;
    margin-right:40px;
    margin-bottom: 20px;
    padding: 0 40px;

    .col{
      padding:0;
      min-width:250px;
      display: flex;
      align-items: center;
      white-space: nowrap;
      font-size: 16px;
      line-height: 35px;
      color: #828282;
      &.align-right{
        margin-right:15px;
        padding: 0;
      }
      #question-bloc{
        margin-left:8px;
      }
    }
    .date-maj{
      color: green;
    }
    .fiabilite{
      color: #E55039;
    }
  }

  .accordeon-col{

    #accordion-header{
      background: #FFFFFF;
      border-radius: 12px;
      margin-top:20px;
      outline: none;
      box-shadow: none;
      border-color: $darkColor;
      color: $darkColor;
      padding: 10px;
  
      &.active{
        color: #FFF;
        background: $noir;
        border:none;
      }
  
      h5{
        display: flex;
        margin: auto;
      }
  
      .accordion-text{
        margin: 0 18px 0 0;
        font-size: 18px;
        font-weight: 600;
      }
      .accordion-number, .accordion-expand{
        width: 50px;
        height: 50px;
  
        border-radius: 1.25em;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .accordion-number {
        background: #FFFFFF;
        color:black;
      }
  
      .accordion-expand{
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
      }
    }

    .contenu-accordeon{
      margin-top:20px;
      margin-left:50px;
      // div, p{
      //   &:not(:empty)::before{
      //     content:"•";
      //     margin-left: -19px;
      //     margin-right: 10px;
      //     color: $darkColor;
      //   }
      // }
    }
  }
  

  .header-img{
    position: absolute;
    @include media-max("desktop-down") { height: $imgHeight * 3/4; width: $imgWidth * 3/4; }
    @include media-max("desktop-up") { height: $imgHeight / 2; width: $imgWidth / 2; }
    @include media-max("tablet-up") { height: $imgHeight / 4; width: $imgWidth / 4; }
    @include media-max("phone-down") { height: $imgHeight / 6; width: $imgWidth / 6; }

    &.femme-icon{
      left:0;
      bottom:0;
    }
    &.homme-icon{
      bottom:0;
      right: 100px;
      @include media-max("desktop-up") { right: 0; }
    }
  }


  .feedback-footer{
    background: $blanc;
    color: $darkColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:120px;
    padding: 35px 20px 35px 40px;
    font-size: 18px;

    .btn{
      font-weight: bold;
      font-size: 16px;
      border-radius: 12px;
      border: 0.5px solid $rouge;
      color: $rouge;
      
      &:hover{
        background: linear-gradient(118.23deg, rgba(246, 185, 59, 0.3) 12.44%, rgba(229, 80, 57, 0.3) 71.69%);
      }
      &:active{
        background: linear-gradient(124.79deg, #F6B93B 12.44%, $rouge 71.69%);
        color: #FFFFFF;
        border: none;
      }
    }
    .thanks-btn{
      margin-right: 10px;
      background: #FFFFFF;
    }
    .down-btn{
      border: 0.5px solid $rouge;
      background-color: $blanc;
    }
  }
  h5{
    font-size: 24px;
  }


  .discussion-footer{
    background: $darkColor;
    color: #FFFFFF;
    padding: 35px 40px;
    font-size: 18px;
  }

  .print-buttons{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 24px;

    .figma-btn{
      margin-bottom:12px;
    }

    .input-btn{
      width: 350px;
      padding: 0;
      .form-control {
        padding-right: 12px;
        padding-left: 40px;
        z-index: 1;
        border:none;
        border-radius: 12px;
      }
      .link-icon, .check-icon{
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
      }
      .link-icon{
        left: 10px;
      }
      .check-icon{
        right: 10px;
        cursor: pointer;
        &:hover{
          svg{
            fill: $noir;
          }
        }
      }
    }
  }

  .bottom-wrapper{
    position: relative;

    .ecran-protection{
      position: absolute;
      height: calc(100%);
      width: calc(100%);
      top: 0;
      left: 0;
      padding: 0;
      transition: opacity .5s;
      z-index:2;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(140.38deg, rgba(229, 80, 57, 0.64) 6.51%, rgba(183, 21, 64, 0.7) 96.1%);

      &:hover {
        opacity: .9;
        transition: opacity .5s;
      }
      .content-wrapper{
        position: relative;
        width:80%;
        max-width: 700px;
        text-align: center;
        background: #B71540;
        border: 1px dashed #FFFFFF;
        box-sizing: border-box;
        border-radius: 12px;
        opacity:1;
        padding:15px;

        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #FFFFFF;
        i{
          margin-right: 16px;
        }
      }
    }
  }

  .pointer{
    cursor: pointer;
  }

  div[contenteditable="true"]{
    min-width: 20px;
    background: white;
    outline: none;
  }

  div[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block;
    color: #aaa;
  }

  .wrapper-editeur{
    border: 1px dashed $darkColor;
    border-radius: 12px;
  }
}

.modal-fiabilite{

  .modal-content{
    background: #FBFBFB;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    font-size: 18px;
    line-height: 23px;
    padding:23px;

    h1{
      font-size: 40px;
      line-height: 51px;
    }
    .liste-fiabilite{
      margin-top:37px;
      padding-left:13px;
      padding-right:13px;

      .row{
        margin-bottom:32px;

        .make-it-red{
          color: #B71540;
        }
        .make-it-orange{
          color: #E58E26;
        }
        .make-it-green{
          color: #2CA12A;
        }
      }
    }
  }
}

.custom-tooltip{
  border-radius: 12px;

  .tooltipContainer{
    margin-bottom: 10px;
  }

  .tooltipFooter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15;

    .nav-tabs {
      position: relative;
      flex: 1;
      border:none;
    }

    .nav-tabs > li {
      margin-right: 5px;
    }
    .round-tab {
      width: 5px;
      height: 5px;
      display: inline-block;
      border-radius: 50%;
      border: 0.5px solid #FFFFFF;
    }
    .active .round-tab {
      background: #FFFFFF;
    }
  }

  .close-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  &.first-tooltip-wrapper{
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
    padding: 40px;
    
    .tooltipFooter {
      .round-tab {
        border: 0.5px solid $noir;
      }
      .active .round-tab {
        background: $noir;
      }
    }

  }

  &.tooltip-wrapper{
    background-color: $darkColor;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    line-height: 20px;
    max-width: 100%;
    padding: 20px;
    position: relative;
    width: 800px;
  }
}


div[x-placement="bottom"] .custom-tooltip .close-icon{
  top: 20px;
}

div[x-placement="left"] .custom-tooltip .close-icon{
  right: 30px;
}