@import "src/scss/global.scss";
@import "src/scss/colors.scss";

$imgWidth: 300px;
$imgHeight: 350px;

@media print {
  .print-rtl {
    direction: rtl;
  }
  .page-break {
    display: block;
    page-break-before: always;
  }
}

.dispositif.vue {
  flex: 1 1;
  position: relative;
  max-width: 100%;
  //overflow: scroll !important;
  -ms-overflow-style: none;
  scrollbar-width: 0;
  ::-webkit-scrollbar {
    display: none;
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
  }

  &.printing-mode {
    padding: 50px;
  }

  .banniere-dispo {
    margin-top: -75px;

    background-size: cover;
    background-repeat: no-repeat;
    background: $blanc;

    background-position: bottom -50px left 100px;
    position: relative;

    @include media-max("tablet-up") {
      height: 270px;
    }
    @media screen and (min-width: 1279px) {
      min-height: 500px;
      padding-top: 60px;
    }

    &.Logement {
      background-image: url(../../assets/figma/illustration_Logement.svg);
    }

    &.Bénévolat {
      background-image: url(../../assets/figma/illustration_Bénévolat.svg);
    }
    &.Loisir {
      background-image: url(../../assets/figma/illustration_Loisir.svg);
    }
    &.Mobilité {
      background-image: url(../../assets/figma/illustration_Mobilité.svg);
    }
    &.Rencontre {
      background-image: url(../../assets/figma/illustration_Rencontre.svg);
    }
    &.Santé {
      background-image: url(../../assets/figma/illustration_Santé.svg);
    }
    &.Études {
      background-image: url(../../assets/figma/illustration_Études.svg);
    }

    &.Formation-pro {
      background-image: url(../../assets/figma/illustration_Formation-pro.svg);
    }

    &.Français {
      background-image: url(../../assets/figma/illustration_Français.svg);
    }
    &.Insertion-pro {
      background-image: url(../../assets/figma/illustration_Insertion-pro.svg);
    }

    &.Administratif {
      background-image: url(../../assets/figma/illustration_Administratif.svg);
    }
    &.Culture {
      background-image: url(../../assets/figma/illustration_Culture.svg);
    }

    &.noImage {
      background-image: url(../../assets/figma/placeholder_no_theme.svg);
    }

    .post-title-block {
      padding: 114px 0 0;
      display: flex;
      z-index: 2;
      @include media-max("tablet-up") {
        padding: 95px 0 0;
      }

      .bloc-titre {
        @include media-max("tablet-up") {
          margin-left: 30px;
          margin-right: 30px;
        }
        @media screen and (min-width: 1279px) {
          padding-top: 155px;
          margin: auto;
        }
      }
      .bloc-subtitle {
        display: inline-flex;
      }
    }
    .post-title-block h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 52px;
      color: $noir;
      background-color: rgba(255, 255, 255, 0.95);
      line-height: 60px;
      padding: 15px 20px;

      text-transform: initial;
      margin-bottom: 0;
      @include media-max("tablet-up") {
        font-size: 22px;
        line-height: 30px;
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    .post-title-block h2 {
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      color: $noir;
      background-color: rgba(255, 255, 255, 0.95);
      line-height: 34px;
      padding-top: 0px;
      @include media-max("tablet-up") {
        font-size: 16px;
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 10px;
      }
      @media screen and (min-width: 1279px) {
        padding: 15px 20px;
      }
    }

    .header-row {
      position: absolute;
      width: 100%;
      margin-top: 30px;
      z-index: 3;

      .top-left .btn-retour {
        margin-left: 30px;
      }

      .top-right {
        text-align: right;
        display: flex;
        justify-content: flex-end;

        p {
          margin-bottom: 0;
        }

        .card {
          background: transparent;
          z-index: 3;
          position: fixed;
          border: none;
          max-width: 210px;

          .switch-outline-light .switch-input:checked + .switch-slider {
            &:hover {
              background-color: $grisFonce;
              border-color: $grisFonce;
            }
          }

          .card-body {
            display: flex;
            flex-direction: column;
            align-content: space-between;
            border-radius: 12px 12px 0px 0px;
            background: $gris;
            z-index: 2;

            .validate-header {
              text-align: center;
            }

            .savebtn {
              margin-top: 10px;
            }
            .full-width {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          .card-footer {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: $erreur;
            border: none;
            border-radius: 0px 0px 12px 12px;
            color: $error;

            font-weight: bold;
            svg {
              fill: $error;
            }
            &:hover {
              background: $error;
              color: $blancSimple;
              svg {
                fill: $blancSimple;
              }
            }
          }
        }

        .audio-icon-wrapper {
          z-index: 3;
        }
      }

      .top-right-edition {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-weight: bold;
        color: "red";

        .top-icon-wrapper {
          padding-top: 10px;
        }
      }
    }
  }
  .tags-bloc {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0;
    padding-left: 0;
  }

  .subtitle-container {
    display: inline-block;
    width: 100%;

    h1 {
      float: left;
    }
    .profile-header-container {
      text-align: center;
      float: right;
    }

    .profile-header-img > img.img-circle {
      width: 20px;
      height: 20px;
      border: 2px solid #51d2b7;
    }

    .profile-header {
      margin-top: 43px;
    }

    .rank-label-container {
      margin-top: -19px;
      text-align: center;
    }

    .label.label-default.rank-label {
      background-color: rgb(81, 210, 183);
      padding: 5px 10px 5px 10px;
      border-radius: 27px;
    }
  }

  .list-group.list-group-flush,
  .print-buttons {
    flex: 0 0 100%;
    @include media-max("lg-limit") {
      flex: 0 0 50%;
      margin-top: 10px;
    }
  }

  .list-group-flush ul {
    padding-left: 0px;
  }
  .list-group.list-group-flush .list-group {
    padding-left: 30px;
    border: none;
  }

  .list-group.list-group-flush .list-group-item {
    border: none;
    padding: 0;
    line-height: 35px;
    font-size: 18px;
  }

  &.side-view-mode {
    .main-col {
      padding-left: 0;
    }
  }
  .left-side-col {
    background: $gris;
    padding: 40px 60px;
    @include media-max("lg-limit") {
      padding: 20px 30px;
    }

    .sticky-affix {
      position: sticky;
      position: -webkit-sticky;
      top: 90px;
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      @include media-max("lg-limit") {
        margin-top: -10px;
      }
    }

    .list-item-wrapper.active > .list-group-item {
      z-index: 2;
      border: none;
      font-weight: 900;
    }

    .list-group-item {
      background: inherit;
      &:hover {
        color: $noir;
        font-weight: normal;
      }
    }
  }

  .aside-right {
    background-color: #dadada;

    .sideView {
      display: none;
    }
  }

  .anchor {
    display: block;
    position: relative;
    top: -56px;
    visibility: hidden;
  }

  .sous-paragraphe {
    .toolbar-editeur {
      right: 0;
      top: -60px;
    }
    .plus-wrapper {
      right: 15px;
    }
  }
  .editor-editeur {
    padding: 0 20px 20px 20px;

    .public-DraftEditor-content {
      background: transparent;
    }
  }

  .public-DraftEditorPlaceholder-root {
    color: $noir;
  }

  .public-DraftEditorPlaceholder-root.public-DraftEditorPlaceholder-hasFocus {
    color: transparent;
  }

  .rdw-link-decorator-wrapper,
  .edited-btn {
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
    a:link {
      color: blue;
    }
  }

  .rdw-editor-toolbar {
    background: none;
  }
  .toolbar-editeur {
    border: none;
    position: absolute;
    right: 34px;
    top: 70px;

    .blc-gh {
      background: $noir;
      padding: 10px;
      &.bloc-gauche-inline {
        border-radius: 12px 0 0 12px;
        padding-right: 0;
      }
      &.bloc-gauche-list {
        border-radius: 0 12px 12px 0;
        padding-left: 0;
      }
      .inline-btn,
      .list-btn {
        background: transparent;
        border: none;
      }
    }
    .blc-dr,
    .blc-gh-media,
    .rdw-image-wrapper,
    .rdw-embedded-wrapper {
      background: $darkColor;
      padding: 10px;
    }
    .rdw-image-wrapper {
      border-radius: 12px 0 0 12px;
      padding-right: 0;
      margin-left: 10px;
    }
    .rdw-embedded-wrapper,
    .bloc-droite-link {
      border-radius: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .blc-dr {
      &.bloc-droite-alert {
        border-radius: 0 12px 12px 0;
        padding-left: 0;
        margin-bottom: 6px;
      }
    }
    .blc-gh-media {
      &.bloc-gauche-media {
        margin-bottom: 6px;
      }
    }
    .bloc-droite-image,
    .bloc-droite-embedded,
    .btn-link {
      background: transparent;
      border: none;
    }
  }

  ul.a {
    list-style-type: disc;
    padding: 1.25rem;
  }

  .float-right {
    float: right;
  }

  h3.contenu-title {
    line-height: normal;
    color: $darkColor;
    margin-bottom: 40px;
    @include media-max("tablet-up") {
      font-size: 28px;
      margin-bottom: 16px;
    }
  }
  .mt-20 {
    margin-top: 20px;
  }

  .contenu {
    padding: 0 40px 0 0;
    font-size: 18px;
    line-height: 27px;
    @include media-max("tablet-up") {
      padding: 0;
    }
    .display-inline-block {
      display: inline-block;
    }
  }
  .paragraphe {
    margin-top: 10px;
  }
  #contenu-0 .toolbar-editeur {
    top: -70px;
    right: 0;
  }

  .col-middle {
    @include media-max("tablet-up") {
      padding: 0;
    }
    padding: 40px 0 0 0;
  }

  .contenu-wrapper {
    position: relative;

    li {
      margin-bottom: 27px;
      line-height: 27px;
      font-size: 18px;
    }

    .relative-position {
      position: relative;
    }

    .nopadding {
      margin-left: 0;
      margin-right: 0;
    }

    .toolbar-col {
      position: absolute;
      height: 100%;
      top: 0;
      right: 15px;
      transform: translateX(100%);
      z-index: 4;
      width: calc(20vw - 40px);
      @include media-max("tablet-up") {
        padding: 0;
      }
    }

    .sous-contenu-wrapper {
      .toolbar-col {
        right: -50px;
        // @include media-max("lg-limit") { right: 0px; }
      }
    }
  }
  .content-row,
  .sous-contenu-wrapper {
    padding: 0 40px;
  }
  .sous-contenu-wrapper.sous-contenu-map {
    padding: 0;
  }
  .sous-contenu-wrapper.sous-contenu-cards {
    flex: 0 0 33%;
    padding: 0;
    @include media-max("xl-limit") {
      flex: 0 0 50%;
    }
    @include media-max("md-limit") {
      flex: 0 0 100%;
    }
  }
  &.reading-mode .contenu.isHovered {
    border-right: 4px solid $darkColor;
    position: relative;

    &:after,
    &:before {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
    }
    &:before {
      border-left-color: inherit;
      border-width: 14px;
      margin-top: -14px;
    }
  }

  .tags-row {
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: $darkColor;
    margin-right: 0;
    .dropdown-menu.show {
      border-radius: 12px;
      border: none;
      outline: none;
      .dropdown-item {
        &:active {
          background-color: $noir;
        }
        &:focus {
          outline: none;
        }
      }
    }

    .en-bref {
      font-size: 24px;
      color: #ffffff;
    }
    .mt-10 {
      margin-top: 10px;
    }

    .tag-wrapper {
      box-sizing: border-box;
      font-size: 18px;
      line-height: normal;
      color: #ffffff;
      height: 40px;
      width: fit-content;
      display: flex;
      align-items: center;

      .tag-item {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        .no-decoration {
          color: inherit;
          text-decoration: none;
          display: inline-flex;

          .text-span {
            margin-left: 8px;
          }

          .text-span-rtl {
            margin-right: 8px;
          }
        }
      }
    }
  }
  .small-spinner {
    width: 16px;
    height: 16px;
  }

  .fiabilite-row {
    margin-left: auto;
    margin-right: 40px;
    margin-bottom: 20px;
    padding: 0 40px;

    .col {
      padding: 0;
      min-width: 250px;
      display: flex;
      align-items: center;
      white-space: nowrap;
      font-size: 16px;
      line-height: 35px;
      color: #828282;
      &.align-right {
        margin-right: 15px;
        padding: 0;
      }
      @include media-max("tablet-up") {
        font-size: 18px;
      }
    }
    .date-maj {
      color: green;
    }
  }

  #pageContent {
    background-color: #dadada;
  }
  .accordeon-col {
    .title-bloc {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      flex-wrap: wrap;

      p {
        margin-bottom: 0px;
      }
    }

    [contenteditable="true"]:empty:before {
      content: attr(placeholder);
      display: block;
      color: #828282;
    }

    .contenu-accordeon {
      margin-top: 20px;
      margin-left: 15px;
      a {
        font-weight: bold;
      }
      p {
        font-size: 18px;
        line-height: 27px;
      }
      &.etape-accordeon {
        .plus-wrapper {
          bottom: 53px;
        }
        .toolbar-editeur {
          bottom: -10px;
          top: initial;
          bottom: -60px;
          right: 0;
        }
      }
    }

    .accordeon-delete-icon {
      position: absolute;
      top: 20px;
      right: 16px;
    }
  }

  .bloc-rouge {
    background: $erreur;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    margin-bottom: 10px;

    .icon-left-side {
      padding: 0 20px 0 0;
    }
  }

  .feedback-footer {
    background: $blanc;
    color: $darkColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 40px;
    font-size: 18px;
    @include media-max("lg-limit") {
      width: 116%;
    }

    .btn {
      font-weight: bold;
      font-size: 16px;
      border-radius: 12px;
      border: 0.5px solid;
      padding: 15px 20px;
      &:hover {
        background: darken($color: $gris, $amount: 0);
      }
      &:active {
        background: $validationHover;
        color: #ffffff;
        border: none;
      }
      &::after {
        background: $validationHover;
      }
    }
  }

  .contenu figure .image-wrapper img {
    max-width: 100px;
  }

  .translating {
    background: $bgfocus;
    border-radius: 6px;
  }

  .arevoir {
    background-color: #ff9800 !important;
    //border-radius: 6px;
  }

  .discussion-footer {
    background: $darkColor;
    color: #ffffff;
    padding: 35px 40px;
    font-size: 18px;
    @include media-max("lg-limit") {
      width: 116%;
    }
  }

  /*   .print-rtl {
    direction: rtl;
  } */

  .print-buttons {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 24px;
    @include media-max("lg-limit") {
      margin-top: 10px;
    }

    .figma-btn {
      margin-bottom: 12px;
    }

    .link-wrapper {
      width: 100%;
    }

    .input-btn {
      width: 100%;
      padding: 0;
      .form-control {
        padding-right: 30px;
        padding-left: 40px;
        z-index: 1;
        border: none;
        border-radius: 12px;
        box-shadow: none;
      }
      .link-icon,
      .check-icon {
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
      }
      .link-icon {
        left: 10px;
      }
      .check-icon {
        right: 10px;
        cursor: pointer;
        &:hover {
          svg {
            fill: $noir;
          }
        }
      }
    }
  }

  .bottom-wrapper {
    position: relative;
    @include media-max("lg-limit") {
      width: 116%;
    }

    .ecran-protection {
      position: absolute;
      height: calc(100%);
      width: calc(100%);
      top: 0;
      left: 0;
      padding: 0;
      z-index: 2;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        opacity: 0.9;
        transition: opacity 0.5s;
      }
      .content-wrapper {
        position: relative;
        width: 80%;
        max-width: 700px;
        text-align: center;
        background: #b71540;
        border: 1px dashed #ffffff;
        box-sizing: border-box;
        border-radius: 12px;
        opacity: 1;
        padding: 15px;

        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #ffffff;
        i {
          margin-right: 16px;
        }
      }
    }
  }

  .pointer {
    cursor: pointer;
  }

  div[contenteditable="true"] {
    min-width: 20px;
    background: $attention;
    outline: none;
    min-height: 38px;
    padding: 5px;
  }

  h1 div[contenteditable="true"] {
    min-height: 60px;
    min-width: 60px;
  }

  div[contenteditable="true"]:empty:before {
    content: attr(placeholder);
    display: block;
    color: $noir;
  }

  .wrapper-editeur {
    border: 1px dashed $darkColor;
    border-radius: 12px;
    position: relative;
  }

  .backgroundColor-darkColor {
    background: $darkColor;
  }
  .backgroundColor-lightColor {
    background: $lightColor;
  }

  .variante-col {
    background: $attention;
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 40px;
  }
  .variante-radio {
    padding: 10px;
    max-width: 40px;
    position: absolute;
    height: 100%;
    left: -80px;
    transform: translateX(100%);
    z-index: 4;
    width: calc(20vw - 40px);
    background: $gris;

    .radio-btn {
      margin-top: 30px;
      background: #ffffff;
      cursor: pointer;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .active-inset {
        background: $focus;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 16px;
        height: 16px;
        border-radius: 50%;
      }
    }
  }
  .sous-paragraphe {
    position: relative;
  }
  .in-variante {
    background: $gris;
    &.variante-selected,
    &.variante-selected .variante-radio {
      background: $bgfocus;
    }
  }
  .negative-margin {
    margin-top: -10px;
  }
  .no-margin-right {
    margin-right: 0;
  }
}

.modal-fiabilite {
  .modal-content {
    background: #fbfbfb;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    font-size: 18px;
    line-height: 23px;
    padding: 23px;

    h1 {
      font-size: 40px;
      line-height: 51px;
    }
    .liste-fiabilite {
      margin-top: 37px;
      padding-left: 13px;
      padding-right: 13px;

      .row {
        margin-bottom: 32px;

        .make-it-red {
          color: #b71540;
        }
        .make-it-orange {
          color: #e58e26;
        }
        .make-it-green {
          color: #2ca12a;
        }
      }
    }
  }
}
.custom-tooltip {
  border-radius: 12px;

  .tooltipContainer {
    margin-bottom: 10px;
    padding-right: 40px;
  }

  .tooltipFooter {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 15px;

    .nav-tabs {
      position: relative;
      flex: 1;
      border: none;
    }

    .nav-tabs > li {
      margin-right: 5px;
      line-height: 10px;
    }
    .round-tab {
      width: 10px;
      height: 10px;
      display: inline-block;
      border-radius: 50%;
      border: 0.5px solid #ffffff;
    }
    .active .round-tab {
      background: #ffffff;
    }
  }

  .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  &.first-tooltip-wrapper {
    background: #ffffff;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
    padding: 40px;

    .tooltipFooter {
      .round-tab {
        border: 0.5px solid $noir;
      }
      .active .round-tab {
        background: $noir;
      }
    }
  }

  &.tooltip-wrapper {
    background-color: $noir;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    line-height: 20px;
    max-width: 100%;
    padding: 20px;
    position: relative;
    width: 800px;

    .polygon {
      fill: $noir;
    }
  }
}

div[x-placement="bottom"] .custom-tooltip .close-icon {
  top: 20px;
}

div[x-placement="left"] .custom-tooltip .close-icon {
  right: 30px;
}

div[x-placement="bottom"].__floater.__floater__open {
  margin-top: -20px;
}

div[x-placement="top"].__floater.__floater__open {
  margin-top: 60px;
}
