@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/rtl";
@import "~/scss/mixins/text";
@import "~/scss/colors";
@import "~/scss/variables";

.container {
  margin-block-start: u(8);

  @include isTablet {
    display: none;
  }

  label {
    margin-block-end: u(4);
    font-weight: bold;

    @include text("h5");
  }
}

.sms_form {
  position: relative;
}

.input {
  input {
    block-size: 64px;
    padding-inline-end: 50%;

    @include rtl {
      padding-inline: 50% u(4);
    }
  }
}

.options {
  @include r-ltr(8px);

  display: flex;
  align-items: center;
  position: absolute;
  inset-block-start: 8px;
}

.submit {
  @include ml-ltr(u(2));

  block-size: 48px;
}

.instructions {
  @include text("small");

  margin-block-start: u(4);
  color: $white;
}
