@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/colors";
@import "~/scss/variables";

.container {
  margin-block-start: u(8);

  @include isTablet {
    display: none;
  }

  label {
    margin-block-end: u(4);
    font-weight: bold;

    @include text("h5");
  }
}

.sms_form {
  position: relative;
}

.input {
  input {
    block-size: 64px;
    padding-inline-start: u(4);
  }
}

.options {
  inset-inline-start: inherit;
  inset-inline-end: u(2);
  display: flex;
  align-items: center;
  position: absolute;
  inset-block-start: 8px;
}

.submit {
  margin-inline-start: u(2);
  margin-inline-end: inherit;
  block-size: 48px;
}

.instructions {
  @include text("small");

  margin-block-start: u(4);
  color: $white;
}
