@import 'src/scss/colors.scss';
@import "src/scss/variables";

.container {
  display: flex;
  margin-left: 77px;
  height: 74px;
  background-color: $bleuCharte;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.25));
  border-radius: $radius;
  padding: 12px;
  z-index: 2;

  .input,
  .btn {
    display: flex;
    height: 50px;
    background: $gray10;
    padding: 12px;
    border: 0.5px solid $white;
    border-radius: $radius;
    font-size: $text-normal;
    margin-right: 12px;
    align-items: center;
  }
  .btn {
    font-weight: bold;
    padding-right: 16px;

    &.dark {
      background: $gray90;
      color: $gray10;
      border-color: $gray90;
      cursor: pointer;

      svg {
        fill: $gray10 !important;
      }
    }
  }
  .dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    background: #e0e0e0;
    padding: 16px;
    border-radius: $radius;
    align-items: left;
    width: max-content;
  }

  .results {
    font-size: $text-normal;
    font-weight: bold;
    padding: 12px;
    color: $gray10;
  }

  .type_btn {
    height: 50px;
    padding: 12px;
    border-radius: $radius;
    font-weight: bold;
    font-size: $text-normal;
    align-items: center;
    margin-right: 12px;
    border: 0.5px solid white;
    background: $white;

    &.selected {
      color: $white;
      border: 0.5px solid black;
      background-color: black;
    }
  }
  .autocomplete {
    border: $white;
  }
  .city_input > span {
    display: none;
  }
}



