@import "src/scss/colors";

.admin {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: $gray20;
  margin-top: -95px;
  padding-top: 100px;

  .tab_content {
    border: none;
    background: $gray20;
  }
}
