.admin {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #f2f2f2;
  margin-top: -95px;
  padding-top: 100px;
  .no-padding {
    padding: 0;
  }

  .tab-content {
    border: none;
    background: #f2f2f2;
  }
}
