@import "~/scss/colors";

.container {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  block-size: auto;
  background: $gray40;
}

.content {
  display: flex;
  flex-flow: row wrap;
  margin-block-end: 24px;
}
