@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/links";

.container {
  background: $white;
  max-inline-size: 544px;
  margin: auto;
  padding: 30px 10px;

  a[href] {
    @include dsfr-link;
  }

  h1 {
    margin-block-end: 56px;
  }

  p {
    margin-block-end: 24px;

    &.text_muted {
      color: #5e5e5e;
    }

    .icon {
      margin-inline-end: 8px;
      vertical-align: text-bottom;
    }
  }

  ul {
    padding-inline-start: 24px;
  }

  .h4 {
    margin-block-start: 56px;
  }

  .h5 {
    margin-block: 24px;
    font-weight: bold;
  }

  .address {
    display: flex;
    align-items: center;
    margin-block-end: 56px;

    p {
      margin-inline-start: 8px;
      margin-block-end: 0;
    }
  }

  .box {
    box-shadow: 1px 1px 9px 0 rgb(33 33 33 / 24%);
    border-radius: $radius;
    inline-size: 100%;
    padding: 24px;
    text-align: center;

    .box_title {
      max-inline-size: 250px;
      margin: 0 auto 24px;
    }

    .box_legend {
      inline-size: 250px;
      margin: 24px auto 0;

      p {
        margin-block-end: 8px;
        text-align: start;
        display: flex;
        align-items: center;
      }
    }

    .box_color {
      inline-size: 24px;
      block-size: 24px;
      border-radius: 4px;
      margin-inline-end: 8px;
    }

    .box_color_valid {
      background: #27a8a5;
    }

    .box_color_invalid {
      background: #d64b71;
    }
  }
}
