@import "~/scss/mixins/responsive";
@import "~/scss/colors";
@import "~/scss/variables";

.banniere {
  background: $gray10 0 cover no-repeat;
  position: relative;

  @include isMobile {
    block-size: 270px;
  }

  @include media-min("phone-down", $screen: false) {
    min-block-size: 500px;
  }

  &.no_image {
    background-image: url("../../assets/figma/placeholder_no_theme.svg");
  }

  .title {
    padding: 114px 0 0;
    display: flex;
    z-index: 2;

    @include isMobile {
      padding: 95px 0 0;
    }

    .bloc_title {
      padding-block-start: 155px;
      margin: auto;

      @include isMobile {
        margin-inline: 30px;
        padding-block-start: 0;
      }
    }

    .bloc_subtitle {
      display: inline-flex;
    }

    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 52px;
      color: $gray90;
      background-color: rgb(255 255 255 / 95%);
      line-height: 60px;
      padding: 15px 20px;
      text-transform: initial;
      margin-block-end: 0;
    }

    h2 {
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      color: $gray90;
      background-color: rgb(255 255 255 / 95%);
      line-height: 34px;
      padding-block-start: 0;

      /* stylelint-disable-next-line media-feature-range-notation */
      @media screen and (min-width: 1279px) {
        padding: 15px 20px;
      }
    }
  }

  .mobile_title {
    font-style: normal;
    font-weight: bold;
    color: $gray90;
    text-transform: initial;
    margin-block: 15px 0;
    font-size: 22px;
    line-height: 30px;
    padding-inline: 8px;
  }

  .mobile_title_sponsor {
    font-style: normal;
    font-weight: normal;
    color: $gray90;
    line-height: 34px;
    padding-block-start: 0;
    font-size: $text-normal;
    padding-inline: 8px;
    margin-block-start: 8px;
  }

  .mobile_title_text {
    display: inline;
    padding: 4px 0;
    background-color: $white;
    box-shadow:
      8px 0 0 $white,
      -8px 0 0 $white;
    box-decoration-break: clone;
  }

  .row {
    position: absolute;
    inline-size: 100%;
    margin-block-start: 30px;
    z-index: 3;
    justify-content: space-between;

    @media print {
      display: none;
    }
  }
}

.main {
  margin-inline: 0;

  & > div {
    padding-inline: 0;
  }
}

.back_button {
  @include media-max("sm-limit") {
    display: none;
  }
}

.infobox {
  display: flex;
  max-inline-size: 1002px;
  color: $gray10;
  background-color: $focus;
  border-radius: $radius;
  padding: 16px;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 20px 20px 40px;

  @include isMobile {
    margin: 16px;
  }
}

.other_language {
  display: flex;
  color: $gray70;
  font-size: 18px;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin: auto 40px;
  padding: 0;

  @include isMobile {
    margin: auto;
    padding: 16px;
  }
}

.informations {
  @include media-min("tablet-up") {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
