@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/links";

.legal_pages {
  flex: 1 1;
  background: $white;
  max-width: 100%;
  padding: 5% 25%;

  a[href] {
    @include dsfr-link;
  }
}
