@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";

.container {
  background: $gray20;
  inline-size: 100%;

  &.embed {
    padding: 0;
    min-block-size: 100vh;
  }
}

.container_inner {
  padding-inline: 2px;

  @include isMobile {
    padding-inline: 12px;
    display: flex;
    flex-direction: column;
  }
}

.hidden {
  display: none !important;
}

.embed {
  footer p {
    padding: u(2) u(8);
    display: inline-flex;
    align-items: center;

    .logo {
      margin: 0 u(6);
    }
  }
}
