@import "src/scss/colors.scss";

.dispositif-validate-modal {
  min-width: 500px;
  /* .modal-content{
    background: $blanc;
    border: hidden;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    color: $noir;
    padding: 40px;

    .modal-header{
      .close{
        color: $noir;
      }
      padding: 0;
      border:none;
      h5{
        font-size: 40px;
        line-height: 51px;
      }
    }
    .modal-body{
      padding: 0;
      margin-top: 30px;
      p{
        font-size: 18px;
        line-height: 23px;
      }
      h6{
        font-size: 24px;
        line-height: 30px;
      }
    }
    .modal-footer{
      margin-top: 20px;
      border:none;
      padding:0;
    }
  } */
}
