@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/variables";

$breakpoint: "lg-limit";

.container {
  display: inline-flex;
  background: url("../../../../../assets/staticPages/common/bubble-icon.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;

  &.red {
    background: url("../../../../../assets/staticPages/common/bubble-icon-red.svg");
  }
}

.flag {
  display: block;
  inline-size: 50%;
  block-size: 40%;
  margin-block-start: 22%;
  background-size: cover;
  border-radius: 4px;
  border: 1px solid $gray40b;
}
