@import "src/scss/mixins/unit";
@import "src/scss/mixins/text";

.container {
  background: var(--background-alt-blue-france);
  padding: u(3) u(1) u(3) u(4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include dsfr-text("small");
}

.brand {
  margin-bottom: u(-1);
  font-weight: bold;
}
