@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/variables";

$error: #b01917;

.container {
  position: relative;
}

.icon {
  position: absolute;
  display: inline-flex;
  align-items: center;
  inline-size: 24px;
  block-size: 24px;

  &.prepend {
    inset-inline-start: u(4);
    inset-block-start: u(4);
  }

  &.append {
    inset-inline-end: u(4);
    inset-block-start: u(4);
  }
}

.error svg {
  fill: $error;
}

.input {
  border: 1px solid $gray80;
  background: $white;
  border-radius: $radius;
  padding: u(4);
  inline-size: 100%;
  block-size: 100%;

  .with_icon & {
    padding-inline-start: u(11);
  }

  .error & {
    border-color: $error;
  }
}

.error_msg {
  @include text("small");

  display: inline-block;
  margin-block-start: u(4);
  font-weight: bold;
  color: $error;
  background-color: $erreur;
  padding: u(2);
  border-radius: u(2);
}
