@import "src/scss/global.scss";

.logo {
  margin: auto;
  text-decoration: none;
  color: inherit;

  @include media-max("phone-down") {
    font-size: 18px;
  }

  .logo_img {
    height: 30px;
    margin-right: 16px;

    @include media-max("tablet-up") {
      width: 100px;
    }
  }
  .logo_webmobile {
    margin-left: 16px;
  }
}
