.logo {
  font-weight: 800;
  font-size: 22px;
  margin: auto;
  text-decoration: none;
  color:inherit;

  .beta-tag{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #B71540;
  }
}