@import "src/scss/mixins/responsive";

.logo {
  margin: auto;
  text-decoration: none;
  color: inherit;

  @include media-max("phone-down") {
    font-size: 18px;
  }

  .logo_img {
    height: 30px;
    margin-right: 16px;

    @include media-max("tablet-up") {
      display: none;
    }
  }
  .logo_img_mobile {
    display: none;
    margin-left: 16px;

    @include media-max("tablet-up") {
      display: block;
    }
  }
}
