@import "src/scss/global.scss";

.logo {
  margin: auto;
  text-decoration: none;
  color: inherit;
  @include media-max("phone-down") {
    font-size: 18px;
  }

  .logo-img {
    height: 30px;
    @include media-max("tablet-up") {
      width: 100px;
    }
    margin-right: 16px;
  }

  .logo-img-rtl {
    height: 30px;
    @include media-max("tablet-up") {
      width: 100px;
    }
    margin-right: 16px;
  }

  .logo-beta {
    width: 70px;
    height: 30px;
  }
  .logo_webmobile {
    margin-left: 16px;
  }
}
