@import "src/scss/colors";

.container {
  background: $gray40;
  flex: 1 1;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: -75px;
}

.searchbar_wrapper {
  position: fixed;
  transform: translateY(60px);
  top: 0;
  z-index: 3;
  transition: transform 0.6s;

  &.top {
    transform: translateY(-8px);
  }
}
