@import "src/scss/colors";
@import "src/scss/mixins/responsive";

.container {
  background: $gray40;
  flex: 1 1;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: -75px;
}

.theme_grid {
  display: grid;
  justify-content: start;
  align-content: start;
  grid-template-columns: repeat(2, minmax(260px, 300px));

  @include media-min("tablet-down") {
    grid-template-columns: repeat(3, minmax(260px, 300px));
  }
  @include media-min("xl-limit") {
    grid-template-columns: repeat(4, minmax(260px, 300px));
  }
  @include media-min("widescreen-up") {
    grid-template-columns: repeat(5, minmax(260px, 300px));
  }
}

.searchbar_wrapper {
  position: fixed;
  transform: translateY(60px);
  top: 0;
  z-index: 3;
  transition: transform 0.6s;

  &.top {
    transform: translateY(-8px);
  }
}

.search_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.mt_250 {
  padding-top: 225px;
  transition: top 0.6s;
}
.mt_250_hidden {
  transition: top 0.6s;
  padding-top: 150px !important;
}

.language_btn {
  cursor: pointer;
  background-color: $gray20;
  padding: 8px;
  margin: 0 8px 0 0;
  border-radius: 8px;
  color: black;

  &:hover > span {
    background-color: $gray90;
    color: white !important;
  }
  &:hover {
    background-color: $gray90;
    color: white !important;
  }
}
