@import "src/scss/mixins/responsive";
@import "src/scss/colors";
@import "src/scss/variables";

.advanced-search {
  .search-bar {
    background: $white;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);
    margin-left: 68px;
    margin-right: 68px;
    padding: 16px;
    display: flex;
    border-radius: 12px 12px 12px 12px;
    margin-top: 24px;
    flex-wrap: nowrap;
    z-index: 3;

    @include media-max("sm-limit") {
      font-size: 12px;
    }
  }

  p {
    margin-bottom: 0;
    line-height: 20px;
  }

  .card-col {
    .card {
      border-radius: $radius;
      width: 252px;
      height: 252px;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: auto;
      padding: 16px;
      //overflow: scroll;
      -ms-overflow-style: none;
      scrollbar-width: 0;
    }
    ::-webkit-scrollbar {
      display: none;
      width: 0; /* remove scrollbar space */
      background: transparent; /* optional: just make scrollbar invisible */
    }
  }
}

.bs-tooltip-auto[x-placement^="bottom"] span.arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: white !important;
}
