@import "src/scss/mixins/unit";
@import "src/scss/mixins/text";
@import "src/scss/mixins/responsive";

.anchor {
  position: relative;
  top: -80px;
}

.hero {
  background: #071636;
  color: white;
  padding-top: u(20);
  padding-bottom: u(20);

  @include isTablet() {
    padding-top: u(10);
    padding-bottom: u(10);
    .row {
      flex-direction: column-reverse;
      text-align: center;
    }

    a {
      width: 100%;
      justify-content: center;
    }
  }
}

.title {
  @include dsfr-text("h1");
  color: white;

  @include isTablet() {
    @include dsfr-text("h2");

    margin-top: u(16);
  }
}

.subtitle {
  @include dsfr-text("chapo");
}

.blue {
  color: var(--text-action-high-blue-france);
}

.h3 {
  @include dsfr-text("h3");

  @include isTablet() {
    @include dsfr-text("h4");
  }
}
.h2 {
  @include dsfr-text("h2");
  @include isTablet() {
    @include dsfr-text("h3");
  }
}

.nav {
  padding-top: u(10);
  padding-bottom: u(10);
  position: sticky;
  top: 0;
  left: 0;
  background: white;
  z-index: 2;

  @include isTablet() {
    :global(.fr-segmented__elements) {
      flex-wrap: wrap;
    }
  }
}

.step {
  color: white;
  background-color: var(--text-action-high-blue-france);
  width: u(14);
  height: u(14);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  @include dsfr-text("h1");
  font-weight: bold;
  margin-bottom: u(10);
}

.list {
  @include isTablet() {
    padding-inline-start: u(10);
  }
  li {
    list-style-type: none;
    position: relative;
    margin-bottom: u(6);

    i {
      position: absolute;
      top: u(1);
      left: u(-10);
      color: var(--text-action-high-blue-france);
    }
  }
}

.card {
  padding: u(4) u(6) u(6) u(6);
  border: 1px solid var(--border-default-grey);
  height: 100%;

  h3 {
    @include dsfr-text("h6");
    color: var(--text-action-high-blue-france);
  }
}

.colored {
  &:global(.fr-btn--secondary) {
    color: var(--text-inverted-blue-france);
    box-shadow: inset 0 0 0 1px var(--border-open-blue-france) !important;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2) !important;
    }
    &:active {
      background-color: rgba(255, 255, 255, 0.4) !important;
    }
  }

  &:global(:not(.fr-btn--secondary)) {
    background-color: var(--background-contrast-blue-france);
    color: var(--text-action-high-blue-france);

    &:hover {
      background-color: var(--background-contrast-blue-france-hover) !important;
    }
    &:focus {
      background-color: var(--background-contrast-blue-france) !important;
    }
    &:active {
      background-color: var(--background-contrast-blue-france-active) !important;
    }
  }
}

.cards {
  :global(.fr-card__title a[href]) {
    color: var(--text-action-high-blue-france) !important;
  }
  :global(.fr-card__title a[href]::after) {
    content: "";
  }
}

.operator {
  border: 1px solid var(--border-default-grey);

  .head {
    background: var(--text-action-high-blue-france);
    color: white;
    padding: u(3) u(4);
    margin: -1px; // goes over border
    @include dsfr-text("chapo");
    font-weight: bold;
    display: flex;
    align-items: center;

    & > span {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--text-action-high-blue-france);
      background: white;
      border-radius: 50%;
      margin-right: u(3);
      width: u(10);
      height: u(10);
    }
  }
  .content {
    padding: u(6);
  }
}

.next {
  border-top: 1px solid var(--border-default-grey);

  @include isTablet() {
    border: none;
    background-color: var(--background-alt-blue-france);
  }
}
