@import "src/scss/colors";

.content {
  display: flex;
  flex-direction: row;
  flex: 1 1 0%;
}

.container {
  display: flex;
  flex: 1;
  max-height: 105vh;
  margin-top: -75px;
  background-color: $gray20;
}
