.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: #e5e5e5;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
