@import "src/scss/colors";
@import "src/scss/variables";

.container {
  flex: 1;
  background: $white;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../assets/comment-contribuer/CommentContribuer-header.svg);
  margin-top: -75px;
  width: 100%;
  height: 720px;

  h1 {
    font-weight: bold;
    font-size: 52px;
    line-height: 66px;
    color: $white;
    margin-top: 191px;
    margin-bottom: 72px;
  }
}

.redaction {
  padding-top: 48px;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  padding-left: 120px;
  padding-right: 120px;
  background: $white;
  padding-bottom: 106px;
  height: 720px;
}

.traduction {
  height: 720px;
  background-image: url(../../assets/comment-contribuer/CommentContribuer_backgroundTraduction.svg);
  padding-top: 48px;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  flex-direction: column;
}

.redaction_cards {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;

  .col {
    margin-right: 48px;
  }
}
.column {
  display: flex;
  flex-direction: column;
}

.trad_header {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  margin-top: 62px;
  margin-bottom: 16px;
}

.langues_cards {
  display: flex;
  flex-direction: row;

  margin-top: 32px;
}

.correction {
  height: 880px;
  padding-left: 120px;
  padding-right: 120px;
  background: $white;
  padding-top: 48px;
  position: relative;

  h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
  }
  .inner {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 380px;
  }
  .title {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .description {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 32px;
  }
}

.deployons {
  padding-left: 120px;
  padding-right: 120px;
  background: $white;
  padding-top: 48px;
  position: relative;

  .deployons_header {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }
  .section {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .text {
    padding-left: 25px;
    padding-right: 25px;
    width: 25%;
  }
}


.rdv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 60px;

  .inner {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding: 50px;
  }
}
.contact {
  display: flex;
  background-color: $bleuCharte;
  border-radius: $radius;
  padding: 20px;

  .infos {
    padding-left: 20px;
    padding-right: 20px;

    p {
      background-color: $white;
      font-size: 18px;
      width:fit-content;
      font-weight: normal;
      padding : 5px 10px;
    }
  }
}

.main_text {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.sub_text {
  font-size: 18px;
  font-weight: normal;
}

.dispo {
  color: $white;
  font-size: 16px;
  padding: 12px 10px 0 10px;
  font-weight: bold;
}

.icon {
  width: 60px;
  height: 60px;
  background: $gray20;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
