@import "src/scss/colors";
@import "src/scss/variables";

.container {
  background: $white;
  max-width: 544px;
  margin: auto;
  padding: 30px 10px;

  h1 {
    margin-bottom: 56px;
  }

  p {
    margin-bottom: 24px;

    &.text_muted {
      color: #5E5E5E;
    }

    .icon {
      margin-right: 8px;
      vertical-align: text-bottom;
    }
  }

  ul {
    padding-left: 24px;

    li a {
        text-decoration: underline;
    }
  }

  .h4 {
    margin-top: 56px;
  }

  .h5 {
    margin-bottom: 24px;
    margin-top: 24px;
    font-weight: bold;
  }

  .box {
    box-shadow: 1px 1px 9px 0 rgba(33, 33, 33, 0.24);
    border-radius: $radius;
    width: 100%;
    padding: 24px;
    text-align: center;

    .box_title {
      max-width: 250px;
      margin: 0 auto 24px auto;
    }
    .box_legend {
      width: 250px;
      margin: 24px auto 0 auto;

      p {
        margin-bottom: 8px;
        text-align: left;
        display: flex;
        align-items: center;
      }
    }
    .box_color {
      width: 24px;
      height: 24px;
      border-radius: 4px;
      margin-right: 8px;

    }
    .box_color_valid {
      background: #27A8A5;
    }
    .box_color_invalid {
      background: #D64B71;
    }
  }

  .address {
    display: flex;
    align-items: center;
    margin-bottom: 56px;

    p {
      margin-left: 8px;
      margin-bottom: 0;
    }
  }
}
