@import "src/scss/mixins/responsive";
@import "src/scss/colors";

.container {
  width: 100%;
}

.hero {
  min-height: 750px;
  background-size: cover;
  background-repeat: no-repeat;

  @include media-min("tablet-up") {
    background-image: url(../../assets/figma/integration_illu.svg);
  }
  @include isMobile() {
    background-image: url(../../assets/figma/home_mobile.svg);
  }
}
