@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/links";

.legal_pages {
  flex: 1 1;
  background: $white;
  max-width: 100%;
  padding: 5% 25%;

  a[href] {
    @include dsfr-link();
  }
}
