@import "src/scss/colors";
@import "src/scss/variables";

.legal_pages {
  flex: 1 1;
  background: $white;
  max-width: 100%;
  padding: 5% 25%;

  p {
    font-size: $text-large;
    line-height: 22px;
  }

  h2 {
    font-size: 30px;
    margin-top: 20px;
  }

  h3 {
    font-size: 20px;
    margin-top: 10px;
  }
}
