@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/text";
@import "src/scss/mixins/responsive";

$breakpoint: "lg-limit";

.figures {
  text-align: center;
}
.figure {
  @include text("h1");
  margin-bottom: u(6);
  font-weight: bold;

  @include isTablet() {
    margin-bottom: u(4);
  }
}
.figure_label {
  @include text("h5");
  margin-bottom: 0;

  @include isTablet() {
    @include text("large");
    margin-bottom: u(6);
  }
}
