@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/unit";

.container {
  background: $gray20;
  width: 100%;
}

.container_inner {
  padding-left: 2px;
  padding-right: 2px;
}

.hidden {
  display: none !important;
}
