@import "src/scss/colors.scss";

.quick-toolbar.card {
  width: fit-content;
  background: transparent;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 8px;
  border: none;
  z-index: 4;

  .card-body {
    align-items: center;
    padding: 0;
    background: transparent;

    .col-btn {
      padding: 0 5px 5px 0;
    }

    .btn-pill {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .first-row .isNonActiv {
      background-color: $lightColor;
    }
    .isActiv {
      background-color: $validationHover;
    }
    .second-row .btn-pill {
      background-color: $darkColor;
    }

    div[class^="col-lg"] {
      padding: 0 4px 0 4px;
      width: fit-content;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .custom-eva-size {
    .dropdown {
      .btn {
        padding: 0;
        background: none;
        border: none;

        .icon-toolbar {
          margin-top: -8px;
        }
      }
      .dropdown-menu {
        background: #3d3d3d;
        border-radius: 8px;

        .dropdown-item {
          font-size: 14px;
          color: #ffffff;
          display: flex;
          padding-right: 15px;
          padding-left: 15px;
          &:hover {
            background-color: #e5e5e5;
            color: #3d3d3d;
          }
          i {
            margin-left: 0;
          }
          svg {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.tooltip.show {
  .tooltip-inner {
    background: #3d3d3d;
    border-radius: 8px;
    font-size: 14px;
    line-height: 18px;
  }
  .arrow::before {
    border-top-color: #3d3d3d;
  }
}

.tooltip.show.light-back {
  .tooltip-inner {
    background: $lightColor;
    color: $darkColor;
  }
  .arrow:before {
    border-top-color: $lightColor;
    border-bottom-color: $lightColor;
  }
}

.tooltip.show.dark-back {
  .tooltip-inner {
    background: $darkColor;
  }
  .arrow:before {
    border-top-color: $darkColor;
    border-bottom-color: $darkColor;
  }
}
