@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/text";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/icons";
@import "~/scss/mixins/responsive";

.container {
  display: flex;
  align-items: center;

  @include media-max("lg-limit") {
    flex-direction: column;
    align-items: flex-start;
  }
}

.label {
  @include dsfr-text("normal");

  font-weight: bold;
  flex-shrink: 0;

  @include media-max("lg-limit") {
    @include dsfr-text("normal");

    margin-block-end: u(4);
  }
}

.sponsors {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: u(2);
}

.sponsor {
  @include dsfr-text("normal");

  display: flex;
  align-items: center;
  inline-size: 220px;
  padding: u(1) u(2);
  border-radius: u(2);
  min-block-size: 70px;

  @include media-max("lg-limit") {
    inline-size: auto;
  }

  &.edit {
    border: 1px solid var(--border-default-grey);
  }

  &.link:hover {
    background: var(--background-contrast-grey) !important;
  }
}

.delete {
  @include iconSize(u(4));

  padding: u(2) !important;
  min-block-size: u(8) !important;
  margin-inline-start: auto !important;

  @include media-max("lg-limit") {
    margin-inline-start: u(2) !important;
  }
}

.add {
  box-shadow: none !important;
  text-wrap: nowrap;
}
