ACCOUNT_SECURITY_API_KEY=demo
accountSid=demo
airtableApiKey=demo
airtableBase=demo
API_KEY=demo
API_SECRET=demo
authToken=demo
CLOUD_NAME=demo
GCLOUD_CLIENT_EMAIL=demo
GCLOUD_CLIENT_ID=demo
GCLOUD_CLIENT_X509=demo
GCLOUD_PKEY=demo
GCLOUD_PRIVATE_KEY_ID=demo
MONGODB_URI=demo
NODE_ENV=demo
OVH_PASS=demo
PORT=demo
PORTIO=demo
SECRET=demo
TTS_KEY_1=demo
FS_URL=demo
MONGODB_URI=demo
REACT_APP_SITE_SECRET=demo
SENDGRID_API_KEY=demo
FRONT_SITE_URL=demo
ALGOLIA_API_KEY=demo
ALGOLIA_INDEX=demo
MJ_APIKEY_PUBLIC=demo
MJ_APIKEY_PRIVATE=demo
