@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/text";
@import "~/scss/mixins/unit";
@import "~/scss/variables";

.container {
  block-size: 120px;
  background: var(--background-alt-raised-grey);
  border: 1px dashed var(--border-default-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: u(2);
}

.image_container {
  inline-size: 100px;
  block-size: 100px;
  position: relative;
}

.file_input {
  z-index: 2;
  cursor: pointer;
  display: block;
  block-size: 100%;
  inline-size: 100%;
  opacity: 0;
  position: absolute;
  inset-inline-end: 0;
  text-align: end;
  inset-block-start: 0;
}

.help {
  @include dsfr-text("very-small");

  color: var(--text-mention-grey);
  margin-block-start: u(2);
}

.delete {
  cursor: pointer;
  position: absolute;
  inset-block-start: -10px;
  inset-inline-end: -20px;
}

.uploading {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: rgb(0 0 0 / 40%);
  border-radius: $radius;
}
