@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/text";
@import "~/scss/mixins/unit";

.popup {
  position: relative;
  font-family: $font-family-sans-serif;
  inline-size: 240px;
  max-block-size: 180px;
  padding: u(2);
  z-index: 1;

  .title {
    @include dsfr-text("small");

    margin-block-end: u(3);
    color: var(--background-action-high-blue-france);
  }

  .info {
    @include dsfr-text("very-small");

    margin-block-end: 0;
    padding: u(1);
    display: flex;
    align-items: baseline;
    word-break: break-word;
  }

  .close {
    inline-size: u(8);
    block-size: u(8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset-block-start: u(2);
    inset-inline-end: u(2);
    cursor: pointer;
    border-radius: u(1);

    &:hover {
      background: var(--background-contrast-grey);
    }
  }
}
