@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/mixins/rtl";
@import "~/scss/variables";

.container {
  position: relative;
  display: flex;
  align-items: center;
  margin-block-start: u(8);
}

$image: 64px;

.image {
  inline-size: $image;
  block-size: $image;
  border-radius: 50%;
  overflow: hidden;
  margin-inline-end: u(4);
  flex-shrink: 0;

  @include rtl {
    margin-inline: u(4) inherit;
  }
}

.infos {
  @include text("normal");
}

.name {
  font-weight: bold;
  margin-block-end: u(2);
}
