<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060316291598-n4jasvtm9on9h9ts1m6piop9cqdnl5u8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060316291598-n4jasvtm9on9h9ts1m6piop9cqdnl5u8</string>
	<key>API_KEY</key>
	<string>AIzaSyDXObPwcg4fnAduJbMn_mU9THNE87DmWLE</string>
	<key>GCM_SENDER_ID</key>
	<string>1060316291598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>refugiesInfo</string>
	<key>PROJECT_ID</key>
	<string>refugies-info-beb2d</string>
	<key>STORAGE_BUCKET</key>
	<string>refugies-info-beb2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060316291598:ios:65315b29d37444ffd5925f</string>
</dict>
</plist>