@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/variables";

.modal.show .modal-dialog.custom-modal {
  overflow: scroll;
  block-size: 680px;
  max-block-size: 100vh;
  inline-size: 650px;
  max-inline-size: 60vw;
  background: $gray10;
  box-shadow: 0 0 16px rgb(0 0 0 / 30%);
  border-radius: $radius;
  display: flex;
  -ms-overflow-style: none;
  scrollbar-width: 0;

  @include media-min("tablet-up") {
    min-inline-size: 650px;
  }

  @include isMobile {
    inline-size: 100%;
    max-inline-size: 90vw;
    margin-inline: auto;
    block-size: auto;
  }

  &.auto-height {
    block-size: auto;
  }

  &.bg-grey {
    background: #edebeb;
  }

  .modal-content {
    background: transparent;
    padding: 20px;
    border: none;
    flex: 1;
    overflow: scroll;
  }

  .modal-header {
    background: transparent;
    padding: 20px;
    border: none;

    .close {
      position: absolute;
      outline: 0;
      inset-block-start: 20px;
      inset-inline-end: 20px;
    }
  }

  .modal-body {
    background: transparent;
    padding: 20px;
    padding-block-start: 0;
    border: none;
    display: flex;
    flex-direction: column;
  }

  .modal-footer {
    background: transparent;
    border: none;
  }
}

.modal.show {
  *::-webkit-scrollbar {
    display: none;
    inline-size: 0; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
  }

  ::-webkit-scrollbar {
    display: none;
    inline-size: 0; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
  }
}
