@import "~/scss/mixins/text";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";

$headerHeight: 120px;

.container {
  min-block-size: 100vh;
}

.main {
  inline-size: 50%;
  padding: u(6) u(38) u(20);

  &.full_width {
    inline-size: 100%;
    background-color: #fafaff;
    padding-inline: 0;
    min-block-size: calc(100vh - $headerHeight); // TODO: improve that
  }
}

.right {
  background: var(--background-contrast-blue-france);
  min-block-size: calc(100vh - $headerHeight); // TODO: improve that
}

.row {
  display: flex;

  .right,
  .main {
    inline-size: 50%;
  }
}

.illu {
  inline-size: 100%;
  block-size: auto;
  max-block-size: 33%;
  margin: 0 auto;
}

.right_content {
  text-align: center;
  inline-size: 480px;
  margin: u(15) auto 0;
}

.chapo {
  @include dsfr-text("chapo");

  margin-block-end: u(12);

  @include media-max("widescreen-up", true, true) {
    margin-block-end: u(10);
  }
}

.rating {
  @include dsfr-text("small");

  display: flex;
  align-items: center;
  justify-content: center;
  gap: u(2);
}

.small {
  @include dsfr-text("small");

  margin-block: u(2) u(12);

  @include media-max("widescreen-up", true, true) {
    margin-block-end: u(10);
  }
}

.fixed_illu {
  position: fixed;
  inset-block-end: u(10);
  inset-inline-start: u(26);
}
