@import "~/scss/colors";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/mixins/responsive";

.container {
  inline-size: 100%;
  background-color: var(--background-contrast-grey);

  :global(.toolbar-plugin-container) {
    inset-block-start: 56px;
  }
}

.content {
  display: flex;
  justify-content: center;

  @media print {
    justify-content: flex-start;
  }

  @include media-max("lg-limit") {
    display: block;
    background: $gray30;
    box-shadow: 0 4px 12px 0 #00001229;
    border-radius: u(2) u(2) 0 0;
    padding: u(4);
    margin-block-start: -30px;
    position: relative;
    z-index: 1;
  }
}

.left {
  inline-size: 320px;
  padding: u(10);

  @include media-max("xl-limit") {
    padding: u(5);
  }

  @include media-max("lg-limit") {
    inline-size: 100%;
    padding: 0;
  }
}

.main {
  min-inline-size: 700px;
  inline-size: 50%;
  background: $gray30;
  border: 1px solid var(--border-default-grey);
  border-radius: u(2) u(2) 0 0;
  padding: u(10) u(20);
  margin-block-start: -142px;
  z-index: 1;

  @include media-max("xl-limit") {
    min-inline-size: 580px;
  }

  @include media-max("lg-limit") {
    min-inline-size: 0;
    inline-size: auto;
    background: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    margin-block-start: u(10);
  }

  @media print {
    margin-inline-end: u(10);

    :global(.collapse:not(.show)) {
      display: block !important;
    }
  }
}

.right {
  inline-size: 320px;
  z-index: 1;

  @include media-max("lg-limit") {
    display: none;
  }

  & > div {
    padding: u(10);
    position: sticky;
    inset-block-start: 0;

    @include media-max("xl-limit") {
      padding: u(5);
    }
  }

  @media print {
    display: none;
  }
}

.edit {
  .right,
  .left {
    flex-shrink: 0;
  }

  .main {
    min-inline-size: 0;
  }

  .right > div {
    inset-block-start: 56px;
  }
}

.section_title {
  @include dsfr-text("h2");

  font-weight: bold;
}

.top {
  margin-block-end: u(16);
  display: inline-flex !important;

  @media print {
    display: none;
  }
}

.divider {
  display: block;
  inline-size: 100%;
  block-size: 1px;
  background-color: var(--border-default-grey);
  margin-block-end: u(10);
}
