@import "src/scss/colors.scss";

.bookmark-modal.modal-dialog {
  width: 400px;
  max-width: 90vw;

  .modal-content {
    background: $gris;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    font-size: 18px;
    line-height: 23px;
    border: none;

    .modal-header {
      border: none;
      padding: 30px 30px 0;

      .modal-title {
        font-size: 40px;
        line-height: 51px;
        font-weight: 600;
        background: inherit;

        .bookmark-icon {
          border-radius: 50%;
          &.success {
            background: #4caf50;
          }
          &.oups {
            background: #0421b1;
          }
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-bottom: 7px;
          margin-bottom: 20px;
        }
      }
    }
    .modal-body {
      padding: 30px;
      a {
        font-weight: 600;
        color: inherit;
      }
    }
    .modal-footer {
      border: none;
    }
  }
}
