
.bookmark-modal.modal-dialog{
  max-width:400px;
  font-family: CircularStd;

  .modal-content{
    background: #3D3D3D;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 23px;
    border: none;

    .modal-header{
      border:none;
      padding:30px;

      .modal-title{
        font-size: 40px;
        line-height: 51px;
        font-weight:600;
        background:inherit;
    
        .bookmark-icon svg{
          position: absolute;
          top: 30px;
          right: 30px;
        }
      }
    }
    .modal-body{
      padding:30px;
      a{
        font-weight:600;
        color:inherit;
      }
    }
    .modal-footer{
      border:none;
      padding:0;

      .btn-block{
        min-height:50px;
        margin: 0;
        border-radius: 0 0 12px 0;
        border: none;
        font-weight:600;

        &.btn-go{
          background: #F2F2F2;
          color: #3D3D3D;
          border-radius: 0 0 0 12px;
        }
      }
    }
  }
}