@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 248px;
  box-shadow: 0 4px 18px 0 #0000001a;
  padding: 16px;
  margin-right: 32px;
  margin-bottom: 32px;
  border-radius: $radius;
  border: 2px solid transparent;
  background: radial-gradient(150% 150%, #0421b1 0%, #1b62d8 100%);
}

.icon {
  width: 48px;
  height: 48px;
  background-color: $white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 28px;
  line-height: 35px;
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: bold;
  color: $white;
}

.badge {
  padding: 4px 8px;
  background: $white;
  color: $bleuCharte;
  font-size: $text-large;
  line-height: 22px;
  border-radius: 4px;
  font-weight: bold;
  display: inline-block;
}
