@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/mixins/rtl";
@import "~/scss/mixins/responsive";

.content {
  @include dsfr-text("normal");
  @include content-text;

  ol > li:has(ol) {
    counter-increment: none;

    &::marker {
      content: none;
    }
  }
}

.highlighted {
  background: lightblue;
}
