@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/mixins/rtl";

.container {
  margin-block-start: u(10);
  border: 1px solid var(--border-default-grey);
  padding: u(4);
  border-radius: u(2);
}

.title {
  @include dsfr-text("h6");

  font-weight: bold;
  margin-block-end: u(6);
  display: flex;
  align-items: center;
}

.input {
  background: var(--background-alt-raised-grey);
  border-radius: u(2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: u(2);

  input {
    inline-size: 155px;
    padding: u(2) u(3);
    outline: none !important;
    border-radius: u(2);
    border: 1px solid transparent;

    &.input_error {
      border-color: $error;
    }
  }
}

.language {
  margin-block-end: u(4);

  & > button {
    inline-size: 100%;
    justify-content: center;
    border-radius: u(2);
    background: var(--background-alt-raised-grey) !important;
    text-align: start;

    @include rtl {
      text-align: end;
    }
  }
}

.submit {
  inline-size: 100% !important;
  justify-content: center;
}

.error {
  color: $red;
  margin-block-start: u(4);
  display: flex;
  align-items: center;

  p {
    @include dsfr-text("very-small");

    margin-block-end: 0;
  }
}
