@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/text";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/icons";
@import "~/scss/mixins/responsive";

.container {
  position: absolute;
  inset-block: 0;
  inset-inline-end: 0;
  z-index: 4;

  .form {
    background: white;
    inline-size: 400px;
    block-size: 100%;
    box-shadow: 0 6px 18px 0 #00001229;
    padding: u(4);
    overflow-y: scroll;

    .close {
      @include dsfr-text("small");

      padding: u(1) u(3);
      box-shadow: none;
      min-block-size: 0;
      margin-block-end: u(2);
    }
  }
}
