.user-dash{
  padding: 30px;
  position:relative;
  
  .profile-header-container{
    text-align: center;
  }

  .profile-header-img > img.img-circle {
    width: 120px;
    height: 120px;
    border: 2px solid #51D2B7;
  }

  .profile-header {
    margin-top: 43px;
  }

  .rank-label-container {
    margin-top: -19px;
    text-align: center;
  }

  .label.label-default.rank-label {
    background-color: rgb(81, 210, 183);
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
  }

  .etale-boutons{
    display: flex;
    flex-direction: column;
  }

  .third-height{
    height:33%;
  }

  .profile-col{
    max-width:120px;
  }

  .space-it{
    margin-left: 1em;
  }
  .without-margin{
    margin-left: 0;
  }

  .recent-row{
    margin-top:39px;
  }
}