.user-dash{
  padding: 30px;
  
  .profile-header-container{
    text-align: center;
  }

  .profile-header-img > img.img-circle {
    width: 120px;
    height: 120px;
    border: 2px solid #51D2B7;
  }

  .profile-header {
    margin-top: 43px;
  }

  .rank-label-container {
    margin-top: -19px;
    text-align: center;
  }

  .label.label-default.rank-label {
    background-color: rgb(81, 210, 183);
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
  }

  .etale-boutons{
    display: flex;
    flex-direction: column;
  }

  .third-height{
    height:33%;
  }

  .profile-col{
    max-width:120px;
  }

  .space-it{
    margin-left: 1em;
  }
  .without-margin{
    margin-left: 0;
  }

  .recent-row{
    margin-top:39px;
  }

  .ecran-protection{
    height: calc(100% + 2 * 20px);
    width: calc(100% + 2 * 64px);
    opacity: 1;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    transition: opacity .5s;
    z-index:2;
    margin: -20px -64px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.no-recent{
      background: rgba(130, 130, 130, 0.8);
    }
    
    &:hover {
      opacity: .9;
      transition: opacity .5s;
    }
    .close-box{
      position: absolute;
      top:51px;
      right:53px;
      cursor: pointer;

      i{
        margin-right:12px;
      }
    }
    .content-wrapper{
      position: relative;
      width:60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h1{
        font-size: 40px;
        line-height: 51px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom:11px;
      }
      .btn{
        box-sizing: border-box;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
        border-radius: 12px;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        color: #FFFFFF;
        padding:13px;
      }
    }
  }
}