EXPO_PUBLIC_ALGOLIA_API_KEY=demo
EXPO_PUBLIC_ALGOLIA_INDEX=demo
EXPO_PUBLIC_API_URL=demo
EXPO_PUBLIC_ENV_NAME=demo
EXPO_PUBLIC_SITE_SECRET=demo
EXPO_PUBLIC_SITE_URL=demo
EXPO_TUNNEL_SUBDOMAIN=demo
EXPO_PUBLIC_SENTRY_DSN=https://