@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/unit";
@import "src/scss/variables";

.hidden {
  display: none !important;
}

.results {
  margin-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &.dispositifs {
    gap: u(8);
  }

  &.demarches {
    gap: u(6);
  }
}
