.label {
  /* Layout */
  flex: 1 0 0;

  /* Typography */
  color: var(--text-title-grey);

  /* 2.Corps de texte/M - Texte standard/Desktop & Mobile - Regular */
  font-family: Marianne, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.count {
  /* Typography */
  color: var(--text-mention-grey);
  text-align: right;
  display: inline-block;
  font-family: Marianne, sans-serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: 400;
}
