.container {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 0.5em;
  justify-items: left;
}

.labelWrapper {
  inline-size: 100%;
}

.label {
  inline-size: 100%;
  display: grid;
  grid-template-columns: 1fr min-content;
  color: var(--text-title-grey);
  white-space: wrap;
}

.count {
  margin-inline-start: auto;
  color: var(--text-mention-grey);
  display: inline-block;
  font-size: 0.75em;
  font-style: normal;
  font-weight: 400;
}
