.container {
  /* Layout */
  position: sticky;
  inset-block-start: 60px;
  display: flex;
  min-inline-size: 13.5em /*216px*/;
  padding: 0.5em 0;
  flex-direction: column;

  /* Style */
  background: var(--text-inverted-grey);
}

.ref {
  inline-size: 100%;
}

.accordion {
  inline-size: 100%;
}
