.container {
  /* Layout */
  position: sticky;
  top: 60px;
  display: flex;
  min-width: 216px;
  padding: 8px 0;
  flex-direction: column;
  align-items: flex-start;

  /* Style */
  background: var(--text-inverted-grey);
}

.accordion {
  width: 100%;
}
