@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/text";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/responsive";

.section {
  background-color: $darkBackgroundAltGrey;
  padding: u(20) 0;

  @include media-max("lg-limit") {
    padding: u(10) 0;
  }
}

.row {
  display: flex;
  gap: u(4);
  flex-wrap: wrap; // TODO: remove this when slider
  @include media-max("lg-limit") {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}

.title {
  color: white;
  @include dsfr-text("h3");
  font-weight: bold;
  margin-bottom: u(20);

  @include media-max("lg-limit") {
    @include dsfr-text("chapo");
    margin-bottom: u(10);
    margin-left: u(10);
    margin-right: u(10);
  }
}
