@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/variables";

.container {
  background: $white;
  border: 0.5px solid $white;
  border-radius: $radius;
  padding-inline: 15px 12px;
  margin-inline-end: 10px;
  font-size: $text-normal;
  font-weight: normal;
  inline-size: 18%;
  min-inline-size: 180px;
  block-size: 52px;
  color: #000;
  flex-direction: row;
  display: flex;
  align-items: center;

  &:hover {
    box-shadow: 0 4px 7px rgb(0 0 0 / 10%);
  }

  &:focus {
    outline: none !important;
  }

  @include media-min("widescreen-up") {
    inline-size: 240px;
  }

  &.no_margin {
    margin-inline-end: 0;
  }
}

.input {
  background: $white;
  border: 0.5px solid $white;
  border-radius: $radius;
  margin-inline-end: 10px;
  font-size: $text-normal;
  font-weight: normal;
  inline-size: 100%;
  color: #000;

  &:focus {
    outline: none !important;
  }
}
