@import "src/scss/mixins/text";
@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/responsive";

.container {
  &.half {
    max-width: 420px;
    margin-left: auto;
  }

  &.full {
    width: 720px;
    margin: auto;

    .container_inner {
      padding: 0 u(38);
      position: relative;

      .back_button {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1.05);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fafaff;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    animation: pulse 2s infinite;
  }

  p {
    @include dsfr-text("chapo");
  }
}

.mt {
  margin-top: u(14);
  @include media-max("widescreen-up", true, true) {
    margin-top: u(12);
  }
}
.mb {
  margin-bottom: u(14);
  @include media-max("widescreen-up", true, true) {
    margin-bottom: u(12);
  }
}

.mx {
  @extend .mt;
  @extend .mb;
}

.title {
  text-align: center;
  @extend .mx;

  h1 {
    @include dsfr-text("h2");
    margin-bottom: u(4);
  }
  .subtitle {
    color: $lightTextMentionGrey;
    margin-bottom: 0;
  }

  &.sm {
    text-align: left;
    h1 {
      @include dsfr-text("h3");
      margin-bottom: u(6);
    }
  }
}

.tag {
  background-color: transparent;
  border: 1px solid var(--border-default-grey);
  color: var(--text-action-high-blue-france);
}

.button {
  width: 100%;
  justify-content: center;
}

.separator {
  @include dsfr-text("large");
  color: var(--text-disabled-grey);
  display: flex;
  align-items: center;
  gap: u(6);
  @extend .mx;

  span {
    flex-shrink: 0;
  }

  &::after,
  &::before {
    content: "";
    height: 1px;
    width: 100%;
    flex-shrink: 1;
    background-color: var(--border-disabled-grey);
  }
}

.space_top {
  margin-top: u(24);
}

.small {
  @include dsfr-text("small");
  color: var(--text-mention-grey);
}

.radio {
  // background colors
  :global(.fr-radio-rich:hover input[type="radio"]:not(:disabled) ~ label),
  :global(.fr-radio-rich:hover input[type="radio"]:not(:disabled) ~ .fr-radio-rich__img) {
    background-color: var(--background-alt-blue-france);
  }
  :global(.fr-radio-rich input[type="radio"]:checked ~ label),
  :global(.fr-radio-rich input[type="radio"]:checked ~ .fr-radio-rich__img) {
    background-color: var(--background-action-low-blue-france);
  }
  :global(.fr-radio-rich:hover input[type="radio"]:checked ~ label),
  :global(.fr-radio-rich:hover input[type="radio"]:checked ~ .fr-radio-rich__img) {
    background-color: var(--border-action-low-blue-france);
  }

  // remove separator
  :global(.fr-radio-rich input[type="radio"] + label) {
    padding-right: 0;
  }
  :global(.fr-radio-rich__img) {
    background-size: 100% 1px, 100% 1px, 1px 100%, 0 0;
  }
  :global(.fr-radio-rich input[type="radio"] + label) {
    background-size: 100% 1px, 0 100%, 100% 1px, 1px 100%, 1.125rem 1.125rem, 1.125rem 1.125rem;
  }
}

.hidden {
  display: none;
}

.link {
  font-weight: bold;
  text-decoration: underline;
}
