@import "~scss/colors";
@import "~scss/mixins/responsive";
@import "~scss/mixins/unit";
@import "~scss/mixins/rtl";
@import "~scss/mixins/text";
@import "~scss/variables";

.wrapper {
  position: relative;
  display: flex;
  width: 282px;

  :global(.fr-card__content) {
    position: relative;
  }
}

// hover
.wrapper:hover :not(.demo) {
  border-color: $dark;
  background-color: $gray30;
  box-shadow: none;
  :global(.theme-badge) {
    background-color: $white !important;
  }
}

/* Favorite button */

.favorite {
  position: absolute;
  top: 8px;
  right: 12px;
  z-index: 5;

  @include rtl() {
    right: inherit;
    left: 12px;
  }
}

.info {
  display: flex;
  align-items: center;
  gap: u(2);
  @include dsfr-text("very-small");
  color: var(--text-mention-grey);

  & > i::before {
    --icon-size: 16px !important;
  }
}

.sponsor {
  position: absolute;
  border: 1px solid var(--border-default-grey);
  background: white;
  top: u(-6);
  right: 2rem; // same padding as dsfr card
  z-index: 2;
}
