@import "src/scss/mixins/text";
@import "src/scss/colors";
@import "src/scss/variables";

.container {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  background-image: url(../../assets/login_background.svg);
  background-color: #fbfbfb;
}
.input_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.label {
  font-weight: bold;
  margin-top: 64px;
  margin-bottom: 16px;
}
.header {
  display: flex;
  justify-content: space-between;
}

// Titles
.h2 {
  margin-top: 64px;
  color: $bleuCharte;
}
.h5 {
  margin-top: 32px;
  margin-bottom: 16px;
  @include text("h5");
}

// Footer
.footer_links {
  color: $gray70;
  margin-top: 64px;

  .link {
    color: $gray70;
    background: transparent;
    font-weight: bold;
    border: none;
    text-decoration: underline;
    outline: none;
  }
}

// Messages
.error_message {
  color: #e8140f;
  margin-top: 16px;
}

.reset_message {
  color: $gray70;
  margin-bottom: 16px;
}
.precisions_message {
  color: $gray70;
  margin-top: 16px;
}
.email_message {
  font-weight: bold;
  margin-top: 64px;
  margin-bottom: 16px;

  .no_email {
    margin-bottom: 64px;
    color: #e8140f;
  }
}

// Reset
.reset_loading_access {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
