@import "src/scss/mixins/responsive";

// Visible
.visible {
  display: none !important;

  @include isMobile() {
    display: block !important;
  }
}
.visible_flex {
  display: none !important;

  @include isMobile() {
    display: flex !important;
  }
}
.visible_inline_flex {
  display: none !important;

  @include isMobile() {
    display: inline-flex !important;
  }
}

// Hidden
.hidden {
  display: block !important;

  @include isMobile() {
    display: none !important;
  }
}
.hidden_flex {
  display: flex !important;

  @include isMobile() {
    display: none !important;
  }
}
.hidden_inline_flex {
  display: inline-flex !important;

  @include isMobile() {
    display: none !important;
  }
}
