@import "src/scss/colors";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/text";
@import "src/scss/mixins/responsive";

$breakpoint: "lg-limit";

.main {
  width: 100%;
}

.section {
  padding-top: u(20);
  padding-bottom: u(20);

  @include isTablet() {
    padding-top: u(10);
    padding-bottom: u(10);
  }

  .link {
    margin-top: u(20);
    text-align: center;

    @include isTablet() {
      margin-top: u(10);
    }
  }
}

.bg_blue {
  background: radial-gradient(150.13% 150.13% at 50% 50%, #0421b1 0%, #1b62d8 100%);
  color: $white;
}
.bg_green {
  background: radial-gradient(162.89% 162.89% at 50% 50%, #055e5a 0%, #27a8a5 100%);
  color: $white;
}
.bg_grey {
  background: $gray30;
}
.bg_red {
  background: radial-gradient(231.66% 330.79% at 50% 50%, #910940 0%, #d64b71 100%);
  color: $white;
}

// Titles
.title2 {
  @include text("h3");
  margin-bottom: u(20);

  @include isTablet() {
    @include text("h4");
    margin-bottom: u(10);
  }
}
.center {
  text-align: center;

  @include isTablet() {
    text-align: left;
  }
}
.subtitle {
  @include text("h5");
  margin-top: u(10);
  margin-bottom: 0;

  @include isTablet() {
    margin-top: u(6);
    @include text("large");
  }
}
