@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/text";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/responsive";

.card {
  display: none;
  background: var(--background-contrast-grey);
  border: 1px solid var(--border-default-grey);
  padding: u(4);
  margin-block: u(6);
  border-radius: u(2);

  @include media-max("lg-limit") {
    display: block;
  }

  ol > li::marker {
    @include dsfr-text("small");

    font-weight: normal;
  }
}

.title {
  @include dsfr-text("small");

  font-weight: bold;
  margin-block-end: u(4);
  text-transform: uppercase;
}

.item {
  @include dsfr-text("small");

  padding-block-end: u(4);
  text-decoration: underline;

  &:last-child {
    padding-block-end: 0;
  }
}
