@import "src/scss/colors";
@import "src/scss/variables";

.modal {
  .modal_content {
    mix-blend-mode: normal; /* Shadow autour */
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    border-radius: $radius;
    border: none;
    background: $gray20;
    padding: 16px;
    width: 748px;
    height: 550px;

    :global(.search-bar) {
      .react-autosuggest__container input {
        background: $white;
        border: 0.5px solid $white;
        border-radius: $radius;
        padding-right: 42px;
        padding-left: 15px;
        font-size: 16px;
        font-weight: normal;
        height: 40px;
        width: 100%;
      }
    }
  }
}
