@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/rtl";

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    margin-bottom: u(6);
  }
}
