@import "~/scss/mixins/responsive";

// .main {
// overflow-x: hidden;

// @include media-min("lg-limit") {
//   overflow-x: inherit;
// }
// }

.content {
  display: flex;
  flex: 1;
  min-block-size: 90vh;
  min-inline-size: 0;
  block-size: 100%;
  margin-inline: 0;
}
