@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/text";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/icons";
@import "src/scss/mixins/responsive";

.container {
  height: 320px;
  position: relative;
  border-radius: u(2);
  border: 1px solid $lightBorderDefaultGrey;
  overflow: hidden;
  margin-bottom: u(14);

  // map zoom controls
  :global(.gm-bundled-control) {
    :global(.gmnoprint) {
      & > div {
        border-radius: 8px !important;
      }
    }
    button img {
      width: 12px !important;
      height: 12px !important;
    }
  }
}
