@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/text";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/icons";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/map";

.container {
  height: 320px;
  position: relative;
  border-radius: u(2);
  border: 1px solid $lightBorderDefaultGrey;
  overflow: hidden;
  margin-bottom: u(14);
  @include zoom-controls();

  @include media-max("lg-limit") {
    height: 75vh;
  }

  .popup {
    background: white;
    box-shadow: 0 6px 18px 0 #00001229;
    border-radius: u(2);
  }
}
