@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/rtl";
@import "src/scss/mixins/btn";

.missing {
  border-radius: u(2);
  margin-top: u(6);
  margin-bottom: u(8);
}

.step {
  padding: u(4);
  border-radius: u(2);
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: u(2);
  width: 100%;

  & > span {
    display: flex;
    align-items: center;
  }

  &.new {
    @include buttonStatus("new");
    color: var(--text-action-high-yellow-tournesol);
  }
  &.error {
    @include buttonStatus("error");
    color: var(--text-default-error);
  }
}
