@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";

.container {
  display: flex;
  align-items: center;
  margin-block-start: u(4);
}

.item {
  inline-size: u(8);
  block-size: u(8);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: u(4);
}

.background {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: 0;
}

.flag {
  z-index: 1;
  position: relative;
  inline-size: 20px !important;
}
