@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/rtl";

.item {
  padding: u(4);
  background: $gray30;
  margin-bottom: u(6);
}

.avatar {
  border-radius: 50%;
  border: 1px solid var(--border-plain-grey);
}
