@import "~/scss/colors";

.container {
  font-size: 12px;
  line-height: 15px;
  background: $gray30;
  padding: 8px;
  border-radius: 8px;
  margin-block-end: 8px;
  position: relative;
  cursor: pointer;

  &:last-child {
    margin-block-end: 0;
  }

  &:hover {
    background: $gray40;
  }
}

.title {
  font-weight: bold;
  margin-block-end: 8px;
}

.status {
  position: absolute;
  inset-block-end: 8px;
  inset-inline-end: 8px;
}
