@import "src/scss/global.scss";
@import "src/scss/colors.scss";

$placeholderColor: $noir;

.login {
  background: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .login {
//   background: #fbfbfb;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   .card-login {
//     background: $blancSimple;
//     border-radius: 12px;
//     padding: 20px 40px;
//     margin-bottom: 10px;
//     &.main-card {
//       box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
//     }

//     .card-body {
//       padding: 0;
//     }

//     .footer-buttons {
//       display: flex;
//       justify-content: flex-end;
//       margin-top: 60px;

//       .password-btn {
//         padding: 0;
//         margin-right: 13px;
//         font-size: 12px;
//         line-height: 15px;
//         color: $noir;
//       }
//     }
//   }

//   .mr-20 {
//     margin-right: 20px;
//   }

//   .header-card {
//     padding: 20px;
//     background: $jauneClair;
//     border-radius: 12px;
//   }

//   .score-wrapper {
//     display: flex;
//     align-items: center;
//     .progress {
//       flex-grow: 1;
//       background-color: $noir3;
//     }
//   }

//   .forgotten-password {
//     text-decoration-line: underline;
//     color: $grisFonce;
//     cursor: pointer;
//     float: right;
//   }

//   .example-appear {
//     opacity: 0;
//   }
//   .example-exit {
//     opacity: 1;
//   }
//   .example-appear-active {
//     -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
//       both;
//     animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
//   }
//   .example-exit-active {
//     -webkit-animation: slide-out-blurred-top 0.45s
//       cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
//     animation: slide-out-blurred-top 0.45s
//       cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
//   }
// }

// .fade-in-bottom {
//   -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
//     both;
//   animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
// }
// .slide-out-blurred-top {
//   -webkit-animation: slide-out-blurred-top 0.45s
//     cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
//   animation: slide-out-blurred-top 0.45s cubic-bezier(0.755, 0.05, 0.855, 0.06)
//     both;
// }

// .modal.show .modal-dialog.custom-modal.info-modal {
//   height: initial;
// }

// @-webkit-keyframes fade-in-bottom {
//   0% {
//     -webkit-transform: translateY(50px);
//     transform: translateY(50px);
//     opacity: 0;
//   }
//   100% {
//     -webkit-transform: translateY(0);
//     transform: translateY(0);
//     opacity: 1;
//   }
// }
// @keyframes fade-in-bottom {
//   0% {
//     -webkit-transform: translateY(50px);
//     transform: translateY(50px);
//     opacity: 0;
//   }
//   100% {
//     -webkit-transform: translateY(0);
//     transform: translateY(0);
//     opacity: 1;
//   }
// }

// @-webkit-keyframes slide-out-blurred-top {
//   0% {
//     -webkit-transform: translateY(0) scaleY(1) scaleX(1);
//     transform: translateY(0) scaleY(1) scaleX(1);
//     -webkit-transform-origin: 50% 0%;
//     transform-origin: 50% 0%;
//     -webkit-filter: blur(0);
//     filter: blur(0);
//     opacity: 1;
//     height: 100%;
//   }
//   100% {
//     -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
//     transform: translateY(-1000px) scaleY(2) scaleX(0.2);
//     -webkit-transform-origin: 50% 0%;
//     transform-origin: 50% 0%;
//     -webkit-filter: blur(40px);
//     filter: blur(40px);
//     opacity: 0;
//     height: 0;
//   }
// }
// @keyframes slide-out-blurred-top {
//   0% {
//     -webkit-transform: translateY(0) scaleY(1) scaleX(1);
//     transform: translateY(0) scaleY(1) scaleX(1);
//     -webkit-transform-origin: 50% 0%;
//     transform-origin: 50% 0%;
//     -webkit-filter: blur(0);
//     filter: blur(0);
//     opacity: 1;
//     height: 100%;
//   }
//   100% {
//     -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
//     transform: translateY(-1000px) scaleY(2) scaleX(0.2);
//     -webkit-transform-origin: 50% 0%;
//     transform-origin: 50% 0%;
//     -webkit-filter: blur(40px);
//     filter: blur(40px);
//     opacity: 0;
//     height: 0;
//   }
// }
