@import "~scss/colors";
@import "~scss/mixins/responsive";
@import "~scss/mixins/unit";
@import "~scss/mixins/btn";
@import "~scss/variables";

.btn {
  width: u(6);
  height: u(6);
  border-radius: 50% !important;
  padding: 0 !important;
  background: $white !important;
  border: 1px solid var(--border-default-grey) !important;

  @include isMobile() {
    display: none !important;
  }

  &:hover,
  &:active,
  &:focus {
    background: $white !important;
  }

  & > i::before {
    --icon-size: 16px !important;
  }

  i {
    color: var(--text-disabled-grey);
  }

  &.active {
    i {
      color: var(--artwork-major-blue-france-active);
    }
  }
}
