@import "src/scss/colors";
@import "src/scss/mixins/responsive";

$btnHeight: 40px;
$btnWidth: 40px;

.language_btn {
  margin-top: auto;
  margin-bottom: auto;

  @include media-max("phone-down") {
    margin-right: 5px;
  }
  @include isMobile() {
    width: 50px;
    min-height: 50px;
    margin-right: 8px;
  }

  .mobile_hidden {
    @include media-max("desktop-up") {
      display: none;
    }
  }
}
