@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/text";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/links";

.highlighted {
  background: $lightBackgroundActionLowBlueFrance;
  border-radius: u(2);
  margin: u(-4);
  padding: u(4);
  display: inline-block;
}

.content {
  @include dsfr-text("normal");

  a[href] {
    --underline-img: linear-gradient(0deg, currentColor, currentColor); // force underline
    @include dsfr-link();
  }
}
