@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/text";
@import "src/scss/mixins/rtl";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/input";
@import "src/scss/mixins/icons";

.container {
  background-color: white;
  border-top: 1px solid $lightBorderDefaultGrey;
  border-bottom: 1px solid $lightBorderDefaultGrey;
  position: sticky;
  top: 0;
  z-index: 501; // goes over menu

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: u(2) 0;
  }
}
.warning {
  padding: u(2) 0;
  background: $lightBackgroundContrastInfo;
  color: $lightBorderPlainInfo;
  font-weight: bold;
}

.help {
  @include dsfr-text("small");
  margin-bottom: 0;
  color: $lightTextActionHighBlueFrance;
  margin-left: u(4);
}

.steps {
  display: flex;
  align-items: center;

  .step {
    display: block;
    background: $gray40;
    width: u(4);
    height: 6px;
    border-radius: 30px;
    margin-right: 2px;
    &.done {
      background: $lightPrimaryBlueFranceSun;
    }
  }

  .label {
    @include dsfr-text("small");
    color: $lightTextMentionGrey;
    margin-bottom: 0;
    margin-left: u(2);
  }
  .btn {
    @include iconSize(u(4));
    min-height: u(8);
    padding: u(2);
  }
}

.save {
  background: $lightBackgroundElevationAlt;
  border-radius: u(1);
  padding: 0 u(1);
  color: $darkBackgroundElevationContrast;
  @include dsfr-text("small");
  margin-right: u(8);
  cursor: default;
}
