@import "@/scss/colors";
@import "@/scss/mixins/responsive";
@import "@/scss/mixins/unit";
@import "@/scss/mixins/btn";
@import "@/scss/mixins/text";
@import "@/scss/mixins/rtl";
@import "@/scss/variables";

.container {
  position: relative;
  display: inline-block;
}

.button {
  display: inline-flex;
  align-items: center;
  background: white;
  white-space: nowrap;
  border: 1px solid var(--border-default-grey);
  padding: u(2) u(3);
  border-radius: 50px;
  color: var(--text-title-grey);

  i {
    margin-inline-start: u(2);
    line-height: 16px;
    height: 16px;

    &::before {
      --icon-size: 16px;

      vertical-align: baseline;
    }
  }

  &:hover {
    background: var(--background-default-grey-hover) !important;
  }

  &.values {
    background: var(--background-flat-blue-france);
    color: white;
    padding-inline-end: u(11);

    &:hover {
      background: var(--background-action-high-blue-france-hover) !important;
    }

    &.open {
      background: var(--background-action-high-blue-france-active);
    }
  }
}

.plus {
  margin-inline-start: u(1);

  & > span {
    opacity: 0.6;
  }
}

.clear {
  padding: 0;
  position: absolute;
  right: u(3);
  top: u(2);
  z-index: 2;
  color: var(--background-contrast-blue-france);
  background: transparent !important;

  &:hover {
    color: var(--background-contrast-blue-france-hover);
  }
}
