@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/text";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/icons";
@import "src/scss/mixins/responsive";

.badge {
  @include dsfr-text("small");
  text-transform: uppercase;
  padding-left: u(2);
  padding-right: u(1);
  border-radius: u(1);
  font-weight: bold;
  display: inline-flex;
  align-items: center;

  &.error {
    background: $lightBackgroundContrastError;
    color: var(--text-default-error);
    svg {
      fill: var(--text-default-error);
    }
  }
  &.warning {
    background: $lightBackgroundContrastWarning;
    color: var(--text-default-warning);
    svg {
      fill: var(--text-default-warning);
    }
  }
  &.new {
    background: var(--background-contrast-yellow-tournesol);
    color: var(--text-action-high-yellow-tournesol);
    svg {
      fill: var(--text-action-high-yellow-tournesol);
    }
  }
  &.success {
    background: var(--background-contrast-success);
    color: var(--text-default-success);
    svg {
      fill: var(--text-default-success);
    }
  }
  &.info {
    background: $lightBackgroundActionLowBlueFrance;
    color: $lightPrimaryBlueFranceSun;
    svg {
      fill: $lightPrimaryBlueFranceSun;
    }
  }
}
