/* stylelint-disable no-descending-specificity */
@use "sass:color";
@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/mixins/rtl";
@import "~/scss/variables";

/* stylelint-disable-next-line scss/dollar-variable-pattern */
$fadeWidth_lg: 160px;
/* stylelint-disable-next-line scss/dollar-variable-pattern */
$fadeWidth_md: 50px;

.container {
  position: relative;

  --gradient-start: #f2f2f200;
  --gradient-end: #f2f2f2;
}

.slider {
  display: flex;
  align-items: stretch;
  margin-block-start: u(4);
  padding-block-start: u(4);
  flex-wrap: nowrap;
  overflow-x: hidden;
  margin-inline: -$fadeWidth_lg;
  padding-inline: $fadeWidth_lg;

  & > div {
    flex-shrink: 0;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    inset-block: 0;
    inline-size: $fadeWidth_lg;
    z-index: 2;
  }

  &::after {
    inset-inline-end: -$fadeWidth_lg;
    background: linear-gradient(to right, var(--gradient-start) 0%, var(--gradient-end) 60%, var(--gradient-end) 100%);
  }

  &::before {
    inset-inline-start: -$fadeWidth_lg;
    background: linear-gradient(to left, var(--gradient-start) 0%, var(--gradient-end) 60%, var(--gradient-end) 100%);
  }

  @include media-max("xl-limit") {
    margin-inline: -$fadeWidth_md;
    padding-inline: $fadeWidth_md;

    &::after,
    &::before {
      inline-size: $fadeWidth_md;
    }

    &::after {
      inset-inline-end: -$fadeWidth_md;
    }

    &::before {
      inset-inline-start: -$fadeWidth_md;
    }
  }

  @include media-max("lg-limit") {
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-inline: -12px;
    padding-inline: 12px;
    padding-block-end: 12px;

    &::after,
    &::before {
      content: none;
      display: none;
    }
  }
}

.btn {
  position: absolute;
  inset-block-start: 50%;
  z-index: 10;
  inline-size: 64px;
  block-size: 64px;
  background: $bleuCharte;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 30px 0 #0421b14d;
  transform: translateY(-50%);

  &:hover,
  &:active,
  &:focus {
    /* stylelint-disable-next-line scss/no-global-function-names */
    background-color: darken($bleuCharte, 10%) !important;
  }

  &.prev {
    inset-inline-start: -32px;

    @include rtl {
      inset-inline: inherit -32px;
      transform: rotate(180deg);
      margin-block-start: -32px;
    }
  }

  &.next {
    inset-inline-end: -32px;

    @include rtl {
      inset-inline: -32px inherit;
      transform: rotate(180deg);
      margin-block-start: -32px;
    }
  }

  @include media-max("lg-limit") {
    display: none;
  }
}

html body .btn:focus {
  box-shadow: 0 0 30px 0 #0421b14d !important; /* override common styles */
}
