.container {
  /* Layout */
  display: flex;
  width: 320px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.selectedLocationItem {
  /* Layout */
  display: flex;
  padding: 8px 8px 8px 10px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
