.container {
  /* Layout */
  display: flex;
  width: 320px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.places {
  /* Layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
