@import "~scss/colors";
@import "~scss/mixins/responsive";
@import "~scss/mixins/unit";
@import "~scss/mixins/rtl";
@import "~scss/mixins/text";
@import "~scss/mixins/btn";
@import "~scss/variables";

.header {
  padding-bottom: u(4);
  margin-bottom: u(4);
  border-bottom: 1px solid $grey50b;

  @include rtl() {
    text-align: right;
  }

  &.no_results {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.selected {
  background-color: $bleuCharte;
  padding: u(3);
  font-weight: bold;
  border-radius: u(2);
  border: none;
  color: white;
  margin-right: u(1);
  margin-bottom: u(1);
  display: inline-flex;
  align-items: center;
  @include text("normal");

  @include rtl() {
    margin-right: 0;
    margin-left: u(1);
    flex-direction: row-reverse;
  }

  &:hover {
    background-color: darken($bleuCharte, 5) !important;
    color: white;
  }
  &:active,
  &:focus {
    background-color: darken($bleuCharte, 10) !important;
    color: white !important;
  }

  .icon {
    margin-left: u(2);
  }
}

.checkbox {
  flex: 1 0 0;
  align-items: start;
}

.btn {
  background: transparent;
  border: none;
  width: 100%;
  text-align: left;
  padding: u(3) u(2);
  border-radius: u(2);
  display: flex;
  align-items: center;
  @include text("normal");
  @include withIcon();

  @include rtl() {
    text-align: right;
  }

  &:hover {
    background: $gray40b;

    .icon {
      background: $white;
    }
  }

  .icon {
    margin-right: u(2);
    background: $gray40b;
    border-radius: u(1);
    width: 24px;
    height: 24px;

    @include rtl() {
      margin-right: 0;
      margin-left: u(2);
    }

    @include isMobile() {
      width: 32px;
      height: 32px;
    }
  }
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
