.admin-langues{
  padding: 30px;
  background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);

  // .no-padding{
  //   padding-right: 0;
  //   padding-left: 0;
  // }
}