@import "src/scss/colors";
@import "src/scss/variables";

.container {
  background: $white;
  border-radius: $radius;
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  font-size: 16px;
  line-height: 20px;
}

.details {
  margin-bottom: 0;
  font-size: 12px;
}
.author {
  font-weight: bold;
}
