@import "src/scss/colors.scss";

.admin-contenu {
  //padding: 30px;
  flex: 1;
  background: #f2f2f2;
  .decale-gauche {
    margin-left: 30px;
  }
  .super-decale-gauche {
    margin-left: 60px;
  }
  td {
    cursor: initial;
  }
  th {
    font-weight: initial;

    &.texte-bold {
      font-weight: bold;
    }
  }

  #responsable {
    background: $noir;
    color: #ffffff;
    border: none;
  }

  .petit-texte {
    font-size: 14px;
  }
}
