@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/mixins/rtl";
@import "~/scss/variables";

.btn {
  @include text("large");

  font-weight: bold;
  border-radius: $radius;
  padding: 0 u(4);
  border: none;
  text-align: start;
  color: $white !important;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  inline-size: 270px;
  block-size: 76px;
  box-shadow: 0 4px 18px 0 #0000001a;

  @include rtl {
    text-align: end;
  }

  @include isMobile {
    inline-size: 100%;
  }

  &.sm {
    @include text("normal");

    padding: u(2) u(4);
    inline-size: fit-content;
    block-size: 50px;
    box-shadow: 0 2px 6px 0 #00001229;
    border-radius: u(2);
  }
}

.image {
  position: relative;
  block-size: 64px;
  inline-size: 64px;
  flex-shrink: 0;

  .sm & {
    block-size: u(8);
    inline-size: u(8);
  }
}

.image_inner {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
}
