.draft {
  min-width: 100px;

  .modal-content {
    background: #edebeb;
    border: hidden;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    mix-blend-mode: normal; /* Shadow autour */
    padding: 24px;
  }
}
.modal-dialog {
  margin: 24px 12px;
}
