@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/text";
@import "src/scss/mixins/rtl";

.content {
  @include dsfr-text("normal");
}

.highlighted {
  background: lightblue;
}

.content {
  :global(.callout) {
    margin-top: u(6);
    margin-bottom: u(6);
  }
  :global(.callout--info) {
    @include pl-ltr(u(8));
    @include ml-ltr(u(8));
    $border: 4px solid $lightBorderDefaultBlueFrance;
    border-left: $border;

    @include rtl() {
      border-left: $border;
    }

    &::before {
      content: attr(data-title);
      display: block;
      margin-bottom: u(1);
      @include dsfr-text("h6");
      font-weight: bold;
      color: $lightBorderDefaultBlueFrance;
    }
  }

  :global(.callout--important) {
    background: $lightBackgroundContrastGrey;
    position: relative;
    border-radius: u(2);
    overflow: hidden;
    padding: u(4) u(2);
    @include pl-ltr(u(14));

    &::before {
      content: attr(data-title);
      display: block;
      margin-bottom: u(1);
      @include dsfr-text("h6");
      font-weight: bold;
    }

    &::after {
      content: "";
      width: u(10);
      position: absolute;
      top: 0;
      bottom: 0;
      @include l-ltr(0);
      background: $lightBorderDefaultBlueFrance;
    }
  }
}
