@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/text";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/rtl";
@import "src/scss/mixins/responsive";

.card {
  background: $lightBackgroundElevationAlt;
  border: 1px solid $lightBorderDefaultGrey;
  padding: u(4);
  margin-bottom: u(6);
  border-radius: u(2);
  position: relative;

  @include media-max("lg-limit") {
    background: $lightBackgroundContrastGrey;
  }

  &.btn {
    text-align: left;
    width: 100%;

    &:hover {
      background: $lightBorderDefaultGrey;
    }
  }

  .title {
    @include dsfr-text("h6");
    font-weight: bold;
    margin-bottom: 0;

    @include media-max("lg-limit") {
      @include dsfr-text("large");
    }
  }

  &.error {
    border-color: $lightTextDefaultError;
    box-shadow: 0 2px 6px 0 #00001229;

    .title {
      color: $lightTextDefaultError !important;
    }
  }

  :global(.fr-link) {
    @include dsfr-text("small");
  }
}

// Icon
.status {
  position: absolute;
  top: u(4);
  right: u(3);

  &.edit {
    display: none;
  }
}
.card:hover {
  .status {
    &.done {
      display: none;
    }
    &.edit {
      display: block;
    }
  }
}

.item {
  display: flex;
  margin-top: u(6);

  .details {
    @include ml-ltr(u(3));
    flex-grow: 1;

    &.no_icon {
      @include ml-ltr(0);
    }
  }

  .icon {
    width: u(8);
    height: u(8);
  }

  .label,
  .content {
    @include dsfr-text("small");
    display: block;

    @include media-max("lg-limit") {
      @include dsfr-text("normal");
    }
  }
  .label {
    font-weight: bold;
  }
  .content {
    a {
      display: inline;
    }
  }

  &.missing {
    background: $lightBackgroundContrastError;
    border-radius: u(2);

    .content {
      color: $lightTextDefaultError;
    }
  }
}
