@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/text";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/rtl";
@import "~/scss/mixins/responsive";

.banner {
  block-size: 400px;
  background: url("../../../../assets/dispositif/notheme-banner.svg");
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 0;

  &.translate {
    block-size: 280px;
  }

  @include media-max("lg-limit") {
    block-size: 240px;
  }
}

.actions {
  @include pr-ltr(u(4));

  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-block-start: u(4);

  @include media-max("lg-limit") {
    display: none;
  }

  .edit {
    box-shadow: 0 6px 18px 0 #00001252;
  }
}
