@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/variables";

.container {
  position: relative;
  margin-block-end: u(8);

  @include isTablet {
    margin-block-end: u(6);
  }
}

.btn {
  @include text("h5");

  background: $white;
  border-color: $white;
  padding: u(4);
  font-weight: bold;
  box-shadow: 0 10px 30px 0 #00000026;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: $radius;
  inline-size: 100%;

  @include isTablet {
    @include text("large");
  }

  &:hover,
  &.open {
    background: $gray40b !important;
    border-color: $darkColor;
  }

  &.open {
    box-shadow: none;
  }
}

.infos {
  &.with_images {
    @include media-min("lg-limit") {
      inline-size: 50%;
      flex-grow: 0;
      flex-basis: auto;
    }
  }
}

.text {
  @include text("large");

  padding-inline: u(4);
  margin-block: u(4) 0;

  @include isTablet {
    @include text("normal");
  }

  ul {
    margin: u(2) 0;
    padding-inline-start: u(6);

    li {
      margin-block-end: u(2);
    }
  }
}

.cta {
  padding-inline: u(4);
}

.image {
  max-inline-size: 100%;
  block-size: auto;
}

.video {
  max-inline-size: 250px;
  margin: 0 auto u(6);
  text-align: center;

  @include isTablet {
    margin-block-start: u(6);
  }
}

.icon {
  margin-inline-start: u(4);
  transition: transform 0.2s ease-in-out;

  .open & {
    transform: rotate(180deg);
  }
}

.media {
  inline-size: 50%;
  align-items: center;
  display: flex;

  &.center {
    justify-content: center;
  }

  &.right {
    justify-content: flex-end;
  }
}

.youtube,
.no_cookie {
  border: 8px solid $white;
  border-radius: u(2);
  box-shadow: 0 4px 18px 0 #0000001a;
  max-inline-size: 100%;
}

.no_cookie {
  display: flex;
  padding: u(2);
  align-items: center;
  text-align: center;
  color: var(--text-disabled-grey);
}
