@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/mixins/rtl";
@import "~/scss/variables";

.text {
  ul {
    margin: u(2) 0;
    padding-inline-start: u(6);

    li {
      margin-bottom: u(2);
    }
  }
}

.content {
  overflow: hidden;

  &[data-state="open"] {
    animation: slide-down 300ms ease-out;
  }

  &[data-state="closed"] {
    animation: slide-up 300ms ease-out;
  }
}

@keyframes slide-down {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slide-up {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}

/* TODO: delete when useless */
.youtube,
.no_cookie {
  max-width: 100%;
}

.no_cookie {
  display: flex;
  padding: u(2);
  align-items: center;
  text-align: center;
  color: var(--text-disabled-grey);
}
