@import "~scss/colors";
@import "~scss/mixins/responsive";
@import "~scss/mixins/unit";
@import "~scss/mixins/text";
@import "~scss/mixins/rtl";
@import "~scss/variables";

.tag {
  display: inline-block;
  @include dsfr-text("very-small");
  font-weight: bold;
  color: var(--text-action-high-blue-france);
  background: var(--background-action-low-blue-france);
  padding: u(2) u(3);
}
