@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/text";
@import "src/scss/mixins/rtl";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/input";

.item,
.content {
  margin-bottom: u(4);
  border-radius: u(2);
  width: 100%;
}

.item {
  padding: u(4);
  background: $lightBackgroundContrastGrey;
}

.content {
  padding-right: u(4);

  .title {
    background: white;
    padding: u(4);
    border-radius: u(2);
  }
  .text {
    padding: u(4);
    font-weight: normal;
  }
}

.input {
  @include dsfr-text("chapo");
  @include baseInput();
  margin-bottom: u(4);
  font-weight: bold;
}
