@import "src/scss/colors.scss";
@import "src/scss/global.scss";

.audio-icon-wrapper {
  position: relative;
  width: 40px;
  min-width: 40px;
  height: 40px;
  background: $blanc;
  box-sizing: border-box;
  border: 0.5px solid $blanc;
  border-radius: 100%;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  @include media-max("phone-down") {
    margin-right: 5px;
  }

  &:hover {
    background: $noir;
    border-color: $noir;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
    svg {
      fill: $blanc;
    }
  }
  &.pressed {
    background: $vert;
    border: none;
  }

  i.eva-hover {
    margin: auto;
  }
  #audioBtn {
    line-height: 20px;
  }
}
