@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/rtl";
@import "src/scss/mixins/text";
@import "src/scss/variables";

.menu {
  box-shadow: 0 0 40px 0 #00000040;
  padding: u(4);
  border-radius: $radius;
  margin-top: u(2);
}

.item {
  padding: u(3) u(2);
  border-radius: u(2) !important;
  margin-bottom: u(1);
  border: none;
  @include text("normal");

  &:hover {
    background: $gray40b;
    color: $dark;
  }
  &:focus {
    outline: none;
  }

  & > span {
    position: relative;
    top: -1px;
  }

  :global(.fi) {
    margin: 0 u(2) 0 0;

    @include rtl() {
      margin: 0 0 0 u(2);
    }
  }

  &.selected {
    background: $bleuCharte !important;
    color: $white !important;
  }
}

.backdrop {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
