@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/unit";
@import "src/scss/variables";

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 120px;

  @include isMobile() {
    display: block;
  }
}

.types {
  @include isMobile() {
    display:flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 0 15px u(2) 15px;
    margin: 0 -15px;
  }
}

.btn {
  background: $gray40b;
  border-radius: u(2);
  border: none;
  padding: u(3);
  margin-right: u(4);

  &.selected {
    background: $bleuCharte !important;
    color: $white !important;
    font-weight: bold;
  }

  @include isMobile() {
    background: transparent;
    border: 1px solid $bleuCharte;
    color: $bleuCharte;
    padding: u(2);
    white-space: nowrap;
  }
}

.dropdown {
  background: $white;
  border: none;
  padding: u(3);
  border-radius: u(2);
  box-shadow: 0 u(1) 18px 0 #0000001A;
  height: 45px;

  .icon {
    margin-right: u(2);
    svg{
      transform: rotate(90deg);
    }
  }

  @include isMobile() {
    margin-top: u(8);
    background: $gray40b;
    box-shadow: none;
    padding: u(2);
  }
}
.menu {
  box-shadow: 0 0 40px 0 #00000040;
  padding: u(4);
  border-radius: $radius;
  margin-top: u(2);
}
.item {
  padding: u(3) u(2);
  border-radius: u(2) !important;
  margin-bottom: u(1);
  border: none;

  &:hover {
    background: $gray40b;
    color: $dark;
  }
  &:focus {
    outline: none;
  }

  & > span {
    position: relative;
    top: -1px;
  }

  i {
    margin: 0 0 0 u(2);
  }

  &.selected {
    background: $bleuCharte !important;
    color: $white !important;
  }
}

