@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/text";
@import "src/scss/mixins/rtl";
@import "src/scss/variables";

.container {
  margin-top: 30px;
  margin-bottom: 80px;

  @include isMobile() {
    margin-bottom: u(10);

    &.no_result {
      display: none;
    }
  }
}

:global(.scrolled) {
  .container {
    padding-top: u(2);
    padding-bottom: u(2);
    margin: 0;
    background: $white;
    box-shadow: 0 8px 16px 0 #0000001a, 0 16px 16px -16px #00000052;
  }
}

.container_inner {
  padding-left: 2px;
  padding-right: 2px;
  display: flex;
  justify-content: space-between;

  @include isMobile() {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    order: 2;
  }
}

.types {
  @include isMobile() {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 0 15px u(2) 15px;
    margin: 0 -15px;
  }
}

.btn {
  background: transparent;
  border-radius: u(2);
  border: none;
  padding: u(3);
  margin-right: u(4);
  @include text("normal");

  &:hover,
  &:focus,
  &:active {
    background: $gray40b !important;
  }

  @include rtl() {
    margin-right: 0;
    margin-left: u(4);
  }

  &.selected {
    background: $bleuCharte !important;
    color: $white !important;
    font-weight: bold;
  }

  @include isMobile() {
    background: $gray40b;
    padding: u(2);
    white-space: nowrap;
  }
}

.dropdown {
  background: $white;
  border: none;
  padding: u(3);
  border-radius: u(2);
  box-shadow: 0 u(1) 18px 0 #0000001a;
  height: 45px;
  @include text("normal");

  .icon {
    margin-right: u(2);

    @include rtl() {
      margin-right: 0;
      margin-left: u(2);
    }

    svg {
      transform: rotate(90deg);
    }
  }

  @include isMobile() {
    margin-top: u(8);
    background: $gray40b;
    box-shadow: none;
    padding: u(2);
    height: auto;

    .icon {
      position: relative;
      top: -2px;
    }
  }
}
.menu {
  box-shadow: 0 0 40px 0 #00000040;
  padding: u(4);
  border-radius: $radius;
  margin-top: u(2);
}
.item {
  padding: u(3) u(2);
  border-radius: u(2) !important;
  margin-bottom: u(1);
  border: none;
  @include text("normal");

  &:hover {
    background: $gray40b;
    color: $dark;
  }
  &:focus {
    outline: none;
  }

  & > span {
    position: relative;
    top: -1px;
  }

  i {
    margin: 0 0 0 u(2);

    @include rtl() {
      margin: 0 u(2) 0 0;
    }
  }

  &.selected {
    background: $bleuCharte !important;
    color: $white !important;
  }
}
