/* Set size for EVA Icon and remixicons */
@mixin iconSize($size) {
  i {
    line-height: $size !important;
    height: $size !important;
    svg {
      width: $size !important;
      height: $size !important;
    }
  }
}
