// copy of dsfr link style
@mixin dsfr-link() {
  background-image: var(--underline-img), var(--underline-img);
  background-position: var(--underline-x) 100%, var(--underline-x) calc(100% - var(--underline-thickness));
  background-repeat: no-repeat, no-repeat;
  transition: background-size 0s;
  background-size: var(--underline-hover-width) calc(var(--underline-thickness) * 2),
    var(--underline-idle-width) var(--underline-thickness);

  &:hover {
    color: var(--bs-link-hover-color);
  }
  &::after {
    content: "" !important;
  }
}
