$breakpoints: (
  "phone-down": 500px,
  "sm-limit": 577px,
  "tablet-up": 768px,
  "md-limit": 769px,
  "tablet-down": 900px,
  "lg-limit": 992px,
  "desktop-up": 1024px,
  "xl-limit": 1200px,
  "desktop-down": 1280px,
  "widescreen-up": 1440px,
  "big-desktop": 1565px
);
$drawerLimit: 768px;

/* from... */
@mixin media-min($_key, $screen: true) {
  $break: map-get($breakpoints, $_key);

  @if ($screen) {
    @media screen and (min-width: $break) {
      &{ @content; }
    }
  } @else {
    @media (min-width: $break) {
      &{ @content; }
    }
  }
}

/* to... */
@mixin media-max($_key, $screen: true) {
  $break: map-get($breakpoints, $_key);

  @if ($screen) {
    @media screen and (max-width: ($break - 1)) {
      &{ @content; }
    }
  } @else {
    @media (max-width: ($break - 1)) {
      &{ @content; }
    }
  }
}

@mixin isMobile() {
  @include media-max("tablet-up") {
    @content;
  }
}
