@mixin rtl() {
  [dir="rtl"] & {
    @content;
  }
}
@mixin ltr() {
  [dir="ltr"] & {
    @content;
  }
}

/* Position */
@mixin r-ltr($size) {
  @include rtl() {
    right: inherit;
    left: $size;
  }
  @include ltr() {
    right: $size;
    left: inherit;
  }
}

@mixin l-ltr($size) {
  @include rtl() {
    left: inherit;
    right: $size;
  }
  @include ltr() {
    left: $size;
    right: inherit;
  }
}

/* Margins */
@mixin mr-ltr($size) {
  @include rtl() {
    margin-right: inherit;
    margin-left: $size;
  }
  @include ltr() {
    margin-right: $size;
    margin-left: inherit;
  }
}

@mixin ml-ltr($size) {
  @include rtl() {
    margin-left: inherit;
    margin-right: $size;
  }
  @include ltr() {
    margin-left: $size;
    margin-right: inherit;
  }
}

/* Paddings */
@mixin pr-ltr($size) {
  @include rtl() {
    padding-right: inherit;
    padding-left: $size;
  }
  @include ltr() {
    padding-right: $size;
    padding-left: inherit;
  }
}
@mixin pl-ltr($size) {
  @include rtl() {
    padding-left: inherit;
    padding-right: $size;
  }
  @include ltr() {
    padding-left: $size;
    padding-right: inherit;
  }
}
