@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/text";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/icons";

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: u(2);
  z-index: 2;
}

.input {
  input {
    box-shadow: 0 6px 18px 0 #00001229;
  }
}

.btn {
  @include iconSize(u(4));
  min-height: u(8) !important;
  padding: u(2) !important;
  background-color: white;
}

.suggestions {
  box-shadow: 0 2px 6px 0 #00001229;
  background: white;
  border-radius: u(2);
  padding: u(4);
  width: 80%;
  position: absolute;
  margin-top: u(2);

  .btn {
    border-radius: u(2);
    padding: u(2);
    text-align: left;
    width: 100%;
  }
}
