@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/variables";

.btn {
  font-weight: bold;
  font-size: $text-normal;
  line-height: 20px;
  border-radius: $radius;
  padding: 0 16px;
  cursor: pointer;
  color: $white;
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  align-items: center;
  inline-size: 100%;
  block-size: 46px;
  border: none;

  &:focus {
    outline: none;
  }

  .hoverVisible {
    display: none;
  }

  &:hover {
    .hoverHidden {
      display: none;
    }

    .hoverVisible {
      display: inline;
    }
  }
}

.edit {
  inline-size: 30px;
  block-size: 30px;
  background: $white;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: $gray20;
  }

  & > span {
    line-height: 16px;
  }
}

.image {
  position: relative;
  inset-block-start: 6px;
}
