@import "~/scss/mixins/text";
@import "~/scss/mixins/unit";

.modal {
  margin: 0 !important;

  .content {
    border-radius: 0;
    padding: u(6);
    block-size: 100vh;
    overflow-y: scroll;
  }
}

.illu {
  inline-size: 100%;
  block-size: auto;
}

.text {
  @include dsfr-text("chapo");

  margin-block: u(4) u(5);
  text-align: center;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons > button,
.buttons > a {
  inline-size: 100%;
  justify-content: center;
}

.close {
  position: absolute;
  inset-block-start: u(4);
  inset-inline-end: u(4);
  color: var(--text-disabled-grey) !important;
}
