@import "~scss/mixins/text";
@import "~scss/mixins/unit";

.modal {
  margin: 0 !important;

  .content {
    border-radius: 0;
    padding: u(6);
    height: 100vh;
    overflow-y: scroll;
  }
}

.illu {
  width: 100%;
  height: auto;
}

.text {
  @include dsfr-text("chapo");
  
  margin-top: u(4);
  margin-bottom: u(5);
  text-align: center;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons > button,
.buttons > a {
  width: 100%;
  justify-content: center;
}

.close {
  position: absolute;
  top: u(4);
  right: u(4);
  color: var(--text-disabled-grey) !important;
}
