@import 'src/scss/global.scss';

.SideDrawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: black;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
  background-color: rgba(52, 59, 64, 0.9);

  &.Open {
    transform: translateX(0);
  }

  &.Close {
    transform: translateX(-100%);
  }

  @media (min-width: $drawerLimit) {
    &.HideSideDrawer {
      display: none;
    }
  }
  .Logo {
    height: 11%;
    margin-bottom: 32px;
  }
}
