.container {
  display: flex;
  justify-content: flex-start;
  font-weight: normal;

  :global(.fi) {
    margin-inline-end: 8px;
  }

  & > span {
    font-weight: bold;
    margin-inline-end: 4px;
  }
}
