@import 'src/scss/colors.scss';
.etape-modal .modal-content{
  .modal-title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    .title-wrapper{
      color: $grisFonce;
      display: flex;
      flex-direction: column;
      .bigger-header{
        font-size: 22px;
        line-height: 28px;
      }
      .smaller-header{
        font-size: 18px;
        line-height: 23px;
      }
    }
  }

  .modal-body{
    .info-wrapper{
      background: $noir;
      border-radius: 12px;
      padding: 10px 20px;
      color: #FFFFFF;
      margin-bottom: 30px;
      cursor: pointer;

      h5{
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
      .copy-wrapper{
        background: #FFFFFF;
        border-radius: 12px;
        padding: 10px;
        line-height: 20px;
      }
    }
    .list-group{
      margin-bottom: 30px;
      .list-group-item{
        background: $gris;
        border-radius: 12px;
        padding: 10px;
        padding-left: 40px;
        margin-bottom: 10px;

        &.checked{
          background: $validation;
        }
      }
    }
  }

  .modal-footer{
    justify-content: space-between;
  }
}