@import "src/scss/colors";
@import "src/scss/variables";

.modal {
  :global(.modal-title) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .title_wrapper {
    color: $gray70;
    display: flex;
    flex-direction: column;

    .title {
      font-size: 22px;
      line-height: 28px;
    }

    .subtitle {
      font-size: 18px;
      line-height: 23px;
    }
  }

  .infos {
    background: $gray90;
    border-radius: $radius;
    padding: 10px 20px;
    color: $white;
    margin-bottom: 30px;
    cursor: pointer;

    h5 {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
  .copy {
    background: $white;
    border-radius: $radius;
    padding: 10px;
    line-height: 20px;
  }

  .list {
    margin-bottom: 30px;

    .item {
      background: $gray20;
      border-radius: $radius;
      padding: 10px;
      padding-left: 40px;
      margin-bottom: 10px;

      &.checked {
        background: $validation;
      }
    }
  }

  .modal_footer {
    justify-content: space-between;
  }
}
