@import "~scss/mixins/text";

.loader {
  position: absolute;
  inset: 0;
  background: #fafaff;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    animation: pulse 2s infinite;
  }

  p {
    @include dsfr-text("chapo");
  }
}
