section{width:100%; }
.banner-section{background-size:cover; height: 380px; left: 0; position: absolute; top: 0; background-position:0;}
.post-title-block{padding:100px 0;}
.post-title-block h1 {color: #fff; font-size: 85px; font-weight: bold; text-transform: capitalize;}
.post-title-block li{font-size:20px; color: #fff;}
.image-block{float:left; width:100%; margin-bottom:10px;}

.media-object{
  width: 64px; 
  height: 64px;
}

#rendered-article{
  h1,h2,h3,h4,h5,h6,div,span,a{
    i.display-on-hover{
      padding-left:10px;
      display: none;
    }
  
    &:hover{
      border-style: dashed;
      border-width: 1px;
      border-color: lightgray;
      padding-bottom:1px;
      border-top:none;
      border-right:none;
      border-left:none;
    }
    &:hover i.display-on-hover{
      display: inline;
    }
  }
}
