@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/rtl";
@import "src/scss/mixins/text";

.container {
  margin-bottom: 0 !important;
  padding: u(3) u(2) u(2) u(2);
  border-radius: u(2);
  position: relative;
  @include dsfr-text("small");
  flex-basis: 50%;
  display: flex;
  align-items: center;

  &.success {
    background: $lightBackgroundContrastSuccess;
  }
  &.error {
    background: $lightBackgroundContrastError;
  }
}

.icon {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);

  .success & {
    background: $lightTextDefaultSuccess;
  }
  .error & {
    background: $lightTextDefaultError;
  }
}
