@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";

.container {
  inline-size: 28px;
  block-size: 28px;
  border-radius: 50%;
  border: 1px solid var(--background-active-blue-france-active);
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress {
  inline-size: 20px;
  block-size: 20px;
  border-radius: 50%;
}
