.admin-structures {
  .sponsor-img {
    max-width: 90px;
    max-height: 35px;
  }

  // .respo-img {
  //   max-width: 70px;
  //   max-height: 40px;
  //   border-radius: 50%;
  //   margin-right: 8px;
  // }
}

td {
  cursor: pointer;
}
