@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/mixins/rtl";
@import "~/scss/variables";

.register {
  max-inline-size: 435px;

  .btn {
    inline-size: 100%;
    justify-content: center;

    @include isTablet {
      margin-block-start: u(10);
    }
  }

  .submit_btn {
    inline-size: 100%;
    justify-content: center;
  }

  // logged in
  .image {
    margin-block-end: u(6);
    text-align: center;
  }
}
