@use "sass:color";
@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/text";
@import "~/scss/variables";

.container {
  position: absolute;
  inset-block-end: -20px;
  inset-inline: -20px;
  block-size: 350px;
  padding-block-end: 30px;
  text-align: center;
  background: linear-gradient(#f2f2f200 0%, #f2f2f2 60%, #f2f2f2 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  @include isMobile {
    display: none;
  }

  &.visible {
    background: transparent;
    inset-block-end: -120px;
    padding-block-end: 0;
    block-size: auto;
  }
}

.btn {
  @include text("h5");

  background: $bleuCharte;
  border-radius: 50px;
  padding: 18px 24px;
  box-shadow: 0 0 30px 0 #0421b14d;
  color: $white;
  font-weight: bold;

  &:hover,
  &:active,
  &:focus {
    /* stylelint-disable-next-line scss/no-global-function-names */
    background-color: darken($bleuCharte, 5%) !important;
    color: $white;
  }
}
