.modal-reagir .modal-content {
  box-shadow: 0px 0px 40px #3c3434;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  background: #fbfbfb;

  .modal-header {
    border: none;
    .modal-title {
      display: flex;
      align-items: center;
      svg {
        margin-right: 10px;
      }
    }
  }

  .narrow-padding {
    &:not(:last-child) {
      padding-right: 0;
    }

    .comment-modal {
      background: #f2f2f2;
      border: 1px solid #f2f2f2;
      box-sizing: border-box;
      border-radius: 8px;
      box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
      margin-bottom: 0;
      height: 220px;

      &.pointy-end {
        cursor: pointer;
      }

      .card-body {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .feedback-buttons {
          display: flex;
          flex-direction: column;
          align-items: center;

          .btn {
            font-size: 18px;
            line-height: 23px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border: none;
            background: #3d3d3d;
            border-radius: 12px;
            font-weight: 600;

            &:first-child {
              margin-bottom: 10px;
            }
          }
        }
      }

      .icone {
        padding-top: 36px;
        padding-bottom: 25px;
        display: flex;
        img,
        svg {
          margin: 0 auto;
        }
      }

      .texte {
        font-size: 18px;
        line-height: 23px;
      }
    }
  }
}
