@import "src/scss/mixins/responsive";
@import "src/scss/colors";
@import "src/scss/variables";

.card {
  margin-bottom: 15px;
  border: 2px solid;
}

.border-none {
  border: none !important;
}

/* .puff-in-center {
  padding-right: 0px;
} */

.custom-card.card {
  cursor: pointer;
  border-radius: $radius;
  font-size: $text-normal;
  line-height: 21px;
  height: 250px;
  scrollbar-width: 0;
  border-width: 3px !important;

  @include media-max("desktop-up") {
    font-size: 12px;
  }

  &:hover {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
    .bookmark-icon {
      visibility: visible;
    }
  }

  .card-body {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: 0;
    padding: 16px;
  }
  ::-webkit-scrollbar {
    display: none;
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
  }

  .bookmark-icon {
    position: absolute;
    right: 8px;
    top: 8px;
    visibility: hidden;
    background-color: rgba(94, 94, 94, 0.8);

    &:hover {
      background-color: rgba(33, 33, 33, 0.8);
    }
    &.pinned {
      visibility: visible;
      background-color: rgba(76, 175, 80, 0.8);
    }
  }

  .align-right {
    text-align: right;
    color: #fff;
  }

  h3 {
    font-size: 24px;
    font-weight: 600;
    color: $gray90;
    margin-bottom: 8px;

    @include media-max("desktop-up") {
      font-size: $text-normal;
    }
  }

  h5 {
    margin-bottom: 5%;
  }

  p {
    //color: $gray90;
    margin-bottom: 0;
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    text-align: right;
    color: $white;
    padding: 15px;

    &.bg-null {
      background-color: $gray90;
    }
    &.no-icon {
      justify-content: flex-end;
    }
  }

  &.add-card {
    padding-right: 0;
    width: 100%;
    background-color: $gray20;

    .card-footer {
      background-color: $gray70;
    }
    &:hover {
      .add-sign {
        opacity: 1;
        font-size: 90px;
        -webkit-transition: opacity 0.4s ease, font-size 0.4s ease;
        -moz-transition: opacity 0.4s ease, font-size 0.4s ease;
        -o-transition: opacity 0.4s ease, font-size 0.4s ease;
        transition: opacity 0.4s ease, font-size 0.4s ease;
      }
    }
    .add-sign {
      font-size: 60px;
      font-weight: bold;
      opacity: 0.5;
    }
    .card-body {
      display: flex;
      justify-content: center;
      align-items: center;
      color: hsl(0, 0%, 20%);
    }
  }
}
