.modal {
  min-width: 650px;

  .modal_content {
    background: #edebeb;
    border: hidden;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    mix-blend-mode: normal;
  }
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;

    h2 {
      font-weight: bold;
      font-size: 40px;
      line-height: 51px;
    }
  }
  .container {
    padding: 40px;
    border-radius: 12px;
  }
  .icon {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }
  .btn_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .subtitle {
    font-size: 16px;
    line-height: 28px;
  }
  .video {
    background: #d2edfc;
    border-radius: 12px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
