@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/btn";
@import "~/scss/mixins/text";
@import "~/scss/mixins/rtl";
@import "~/scss/variables";

.filter {
  padding: u(4);
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  flex-grow: 1;
  border-radius: $radius;

  @include isMobile {
    padding: u(1);
  }

  &.homepage {
    @include isTablet {
      padding: 0;
    }
  }

  &:hover {
    background-color: $gray40b;
  }

  &.active {
    box-shadow: 0 0 40px 0 #00000040;
    background-color: $white;

    @include isMobile {
      box-shadow: none;
    }
  }

  .search {
    text-align: start;
    min-inline-size: 0;
    flex-grow: 1;
    position: relative;

    @include rtl {
      text-align: end;
    }

    @include isMobile {
      block-size: 20px;
      display: flex;
      align-items: center;
    }
  }

  .label {
    @include text("very-small");

    margin-block-end: u(2);
    font-weight: bold;
    color: $gray80;
    text-transform: uppercase;
    display: block;
    text-align: start;

    @include rtl {
      text-align: end;
    }

    @include isMobile {
      display: none;
    }
  }

  .input {
    @include text("normal");

    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    inline-size: 100%;
    block-size: 20px;

    &.hidden {
      display: none;
    }
  }

  .value {
    @include text("normal");

    font-weight: bold;
    text-align: start;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    padding-inline-end: u(16);
    line-height: 18px;
    block-size: 20px;
    color: $darkColor;

    @include isMobile {
      padding-inline-end: u(6);
    }

    @include rtl {
      text-align: end;
      padding-inline: u(16) 0;

      @include isMobile {
        padding-inline: u(6) 0;
      }
    }

    &.empty {
      font-weight: normal;

      @include isMobile {
        padding-inline: 0;
      }
    }
  }

  .icon {
    inline-size: 48px;
    block-size: 48px;
    border-radius: 50%;
    background: $gray30;
    margin-inline-end: u(4);
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;

    @include rtl {
      margin-inline: u(4) 0;
    }

    &.active {
      background: $bleuCharte;
    }

    @include isMobile {
      inline-size: 32px;
      block-size: 32px;
      margin-inline-end: u(2);

      @include rtl {
        margin-inline: u(2) 0;
      }
    }
  }

  &.searchpage {
    .icon.small {
      @include withIcon;

      inline-size: 20px;
      block-size: 20px;
      margin-inline-end: u(2);
      background: transparent !important;

      @include rtl {
        margin-inline: u(2) 0;
      }
    }
  }
}

.empty_btn {
  background: transparent;
  border: none;
  position: absolute;
  inset-inline-end: 0;
  inset-block-end: -3px;
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: u(6);
  block-size: u(6);
  border-radius: 50%;

  @include rtl {
    inset-inline: 0 inherit;
  }

  &:hover {
    background: $gray30;
  }
}

.plus {
  position: absolute;
  inset-inline-end: u(5);
  inline-size: u(10);

  @include rtl {
    inset-inline: u(5) auto;
  }

  @include isMobile {
    inset-inline-end: 0;
    inline-size: auto;

    @include rtl {
      inset-inline: 0 auto;
    }
  }
}
