@import "~scss/colors";
@import "~scss/variables";

.modal {
  .modal_content {
    mix-blend-mode: normal; /* Shadow autour */
    box-shadow: 0 0 16px rgb(0 0 0 / 30%);
    border-radius: $radius;
    border: none;
    background: $gray20;
    padding: 32px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
