@import "src/scss/colors.scss";
@import "src/scss/global.scss";

.mentions-legales {
  flex: 1 1;
  background: #ffffff;
  max-width: 100%;
  padding: 5% 25%;

  p {
    font-size: 18px;
    line-height: 22px;
  }

  h2 {
    font-size: 30px;
    margin-top: 20px;
  }

  h3 {
    font-size: 20px;
    margin-top: 10px;
  }
}
