.container {
  display: flex;
  padding: 0.5em 0.5em 0.5em 0.625em;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  align-self: stretch;

  /* Style */
  background: var(--background-contrast-grey);
}

.sticky {
  position: sticky;
  inset-block-start: 0;
}

.zone {
  display: flex;
  align-items: flex-start;
  gap: 0.5em;
  align-self: stretch;
}

.icon {
  --icon-size: 1.5em;

  inline-size: 1.5em; /* 24px */
  block-size: 1.5em; /* 24px */
}

.input {
  flex: 1 0 0;
}

.input[dir="rtl"] {
  text-align: end;
}

.input:not(:placeholder-shown) {
  color: var(--text-title-grey);

  /* 2.Corps de texte/M - Texte standard/Desktop & Mobile - Regular */
  font-style: normal;
}
