@import "src/scss/mixins/responsive";

.cards {
  padding: 0 30px;
  margin-left: 0;
  margin-right: 0;

  @include isMobile() {
    padding: 0 6px;
    overflow-x: auto;
    overflow-y: hidden;
  }
}
