.mobile-app-modal {
  width: 100%;
  height: 100%;
  margin: 0;

  .modal-content {
    background-color: #EDEBEB;
    height: 100%;
    border-radius: 0;
  }

  .modal-body {
    display: flex;
    align-items: center;
  }

  img {
    margin: auto;
    display: block;
  }
  h1 {
    font-size: 28px;
    line-height: 35px;
    font-weight: 700;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  p {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
  .close-button{
    margin-bottom: 8px;
  }
}
