@import "~/scss/colors";

.langue {
  padding: 8px;
  font-size: 12px;
  line-height: 15px;
  background: $gray50;
  inline-size: fit-content;
  block-size: fit-content;
  border-radius: 8px;
  margin-inline-end: 8px;
  margin-block-end: 8px;
  display: inline-flex;
  flex-direction: row;

  &.btn {
    background: $gray20;
    border-radius: 6px;
    border: none;

    &:hover {
      background: $gray40;
    }

    &.valid {
      background: $validation;

      &:hover {
        background: $greenValidate;
      }
    }
  }
}

.role_checkbox {
  font-size: 12px;
  padding: 8px;
  border-radius: 8px;
  inline-size: fit-content;
  line-height: 15px;
  color: $white;
  margin-inline-end: 8px;
  background: #828282;
  display: inline-block;

  &.selected {
    background: #4caf50;
  }
}

.role_name {
  margin-inline-start: 24px;
}

.role {
  background: $gray50;
  border-radius: 6px;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  padding: 8px;
  inline-size: fit-content;
  margin-inline-end: 4px;
  margin-block-end: 4px;
}
