@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/text";
@import "src/scss/mixins/unit";

.modal {
  .modal_content {
    mix-blend-mode: normal; /* Shadow autour */
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    border-radius: $radius;
    border: none;
    background: $gray20;
    padding: 32px;
    width: 600px;

    .sponsor_img {
      max-width: 140px;
      max-height: 60px;
      margin-right: 8px;
    }

    [type="file"] {
      z-index: 2;
      cursor: pointer;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.title {
  font-weight: 600;
  margin-bottom: u(4);
  @include dsfr-text("h2");
}

.label {
  font-weight: bold;
  @include dsfr-text("normal");
  margin: 0 0 u(2) 0;
}

.input {
  margin-bottom: u(2);
  width: 440px;
}
.row {
  display: flex;
  flex-direction: row;
  margin-top: u(4);
  justify-content: flex-end;
}

.logo {
  display: flex;
  flex-direction: row;

  .wrapper {
    width: 160px;
    max-height: 200px;
  }
  .right {
    margin-left: u(8);
    margin-bottom: u(6);
  }
}

.responsable {
  border: 2px solid;
  border-radius: u(4);
  padding: u(2);
  margin-bottom: u(2);
  border-color: $gray70;
}
