/* Set size for EVA Icon and remixicons */
@mixin iconSize($size) {
  i {
    line-height: $size !important;
    block-size: $size !important;

    svg {
      inline-size: $size !important;
      block-size: $size !important;
    }
  }

  :global(.ri-lg) {
    font-size: $size;
    line-height: $size;
  }

  &::before {
    inline-size: $size;
    block-size: $size;
  }
}
