@mixin zoom-controls() {
  :global(.gm-bundled-control) {
    :global(.gmnoprint) {
      & > div {
        border-radius: 8px !important;
      }
    }

    button img {
      inline-size: 12px !important;
      block-size: 12px !important;
    }
  }
}
