/* stylelint-disable scss/at-extend-no-missing-placeholder */
@mixin responsiveMargins() {
  .mt {
    margin-block-start: u(14);

    @include media-max("widescreen-up", true, true) {
      margin-block-start: u(12);
    }
  }

  .mb {
    margin-block-end: u(14);

    @include media-max("widescreen-up", true, true) {
      margin-block-end: u(12);
    }
  }

  .mx {
    @extend .mt;
    @extend .mb;
  }
}
