@use "sass:map";

$breakpoints: (
  "phone-down": 31.25em /* 500px */,
  "sm-limit": 36.0625em /* 577px */,
  "tablet-up": 48em /* 768px */,
  "md-limit": 48.0625em /* 769px */,
  "lg-limit": 62em /* 992px */,
  "desktop-up": 64em /* 1024px */,
  "xl-limit": 75em /* 1200px */,
  "widescreen-up": 90em /* 1440px */,
);
$drawerLimit: 48em;

/* from... */
@mixin media-min($_key, $screen: true) {
  $break: map.get($breakpoints, $_key);

  @if $screen {
    @media screen and (min-width: $break) {
      & {
        @content;
      }
    }
  } @else {
    @media (min-width: $break) {
      & {
        @content;
      }
    }
  }
}

@mixin container-min($_key) {
  $break: map.get($breakpoints, $_key);

  @container (min-width: $break) {
    & {
      @content;
    }
  }
}

/* to... */
@mixin media-max($_key, $screen: true, $include: false) {
  $break: map.get($breakpoints, $_key);
  $limit: if($include, 0, 1);

  @if $screen {
    @media screen and (max-width: ($break - $limit)) {
      & {
        @content;
      }
    }
  } @else {
    @media (max-width: ($break - $limit)) {
      & {
        @content;
      }
    }
  }
}

@mixin container-max($_key) {
  $break: map.get($breakpoints, $_key);

  @container (max-width: $break) {
    & {
      @content;
    }
  }
}

/* between xxx and xxx */

@mixin media-between($start, $end, $screen: true) {
  $break_start: map.get($breakpoints, $start);
  $break_end: map.get($breakpoints, $end);

  @if $screen {
    @media screen and (width >= $break_start) and (width <= $break_end) {
      & {
        @content;
      }
    }
  } @else {
    @media (width >= $break_start) and (width <= $break_end) {
      & {
        @content;
      }
    }
  }
}

@mixin isMobile() {
  @include media-max("tablet-up") {
    @content;
  }
}

@mixin isTablet() {
  @include media-max("lg-limit") {
    @content;
  }
}

@mixin isDesktop() {
  @include media-min("md-limit") {
    @content;
  }
}
