@mixin rtl() {
  [dir="rtl"] & {
    @content;
  }
}

@mixin ltr() {
  [dir="ltr"] & {
    @content;
  }
}

/* Position */
@mixin r-ltr($size) {
  @include rtl {
    inset-inline: $size inherit;
  }

  @include ltr {
    inset-inline: inherit $size;
  }
}

@mixin l-ltr($size) {
  @include rtl {
    inset-inline: inherit $size;
  }

  @include ltr {
    inset-inline: $size inherit;
  }
}

/* Margins */
@mixin mr-ltr($size) {
  @include rtl {
    margin-inline: $size inherit;
  }

  @include ltr {
    margin-inline: inherit $size;
  }
}

@mixin ml-ltr($size) {
  @include rtl {
    margin-inline: inherit $size;
  }

  @include ltr {
    margin-inline: $size inherit;
  }
}

/* Paddings */
@mixin pr-ltr($size) {
  @include rtl {
    padding-inline: $size inherit;
  }

  @include ltr {
    padding-inline: inherit $size;
  }
}

@mixin pl-ltr($size) {
  @include rtl {
    padding-inline: inherit $size;
  }

  @include ltr {
    padding-inline: $size inherit;
  }
}
