@use "sass:list";
@use "sass:map";
@import "~/scss/variables";

$texts: (
  "very-small": (
    0.75rem,
    // 12px
    0.9375rem,
    // 15px
  ),
  "small": (
    0.875rem,
    // 14px
    1.1875rem,
    // 19px
  ),
  "normal": (
    1rem,
    // 16px
    1.375rem,
    // 22px
  ),
  "large": (
    1.125rem,
    // 18px
    1.4375rem,
    // 23px
  ),
  "h5": (
    1.375rem,
    // 22px
    1.75rem,
    // 28px
  ),
  "h4": (
    1.75rem,
    // 28px
    2.1875rem,
    // 35px
  ),
  "h3": (
    2.5rem,
    // 40px
    3.1875rem,
    // 51px
  ),
  "h2": (
    2.5rem,
    // 40px
    3.1875rem,
    // 51px
  ),
  "h1": (
    3.25rem,
    // 52px
    4.125rem,
    // 66px
  ),
);

@mixin text($_key) {
  $sizes: map.get($texts, $_key);

  font-size: list.nth($sizes, 1);
  line-height: list.nth($sizes, 2);
}

$dsfr-texts: (
  "very-small": (
    12px,
    20px,
  ),
  "small": (
    14px,
    24px,
  ),
  "normal": (
    16px,
    24px,
  ),
  "large": (
    18px,
    28px,
  ),
  "chapo": (
    20px,
    32px,
  ),
  "h6": (
    20px,
    28px,
  ),
  "h4": (
    24px,
    32px,
  ),
  "h3": (
    28px,
    36px,
  ),
  "h2": (
    32px,
    40px,
  ),
  "h1": (
    40px,
    48px,
  ),
);

@mixin dsfr-text($_key) {
  $sizes: map.get($dsfr-texts, $_key);

  font-size: list.nth($sizes, 1);
  line-height: list.nth($sizes, 2);
}

@mixin content-text() {
  p {
    margin-block-end: u(6);
  }

  ul {
    margin-block-end: u(6);

    li {
      padding-block-end: u(2);
    }

    ul {
      margin-block-end: 0;
    }
  }

  p + ul {
    margin-block-start: u(-2);
  }

  ul li:has(ul),
  ol li:has(ol) {
    list-style: none;
  }

  h3 {
    margin-block: u(8) u(6);
  }
}
