@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/text";
@import "src/scss/mixins/rtl";
@import "src/scss/variables";

$breakpoint: "lg-limit";

.container {
  display: inline-flex;
  background: url(../../../../assets/staticPages/traduire/bubble-icon.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
}

.flag {
  display: block;
  width: 50%;
  height: 40%;
  margin-top: 22%;
  background-size: cover;
  border-radius: 4px;
  border: 1px solid $gray40b;
}
