@import 'src/scss/colors.scss';

.figma-btn{
  font-weight: bold;
  font-size: 16px;
  border-radius: 12px;
  padding: 10px;
  background: #FFFFFF;
  color: $noir;
  border:none;

  &:hover, &:active{
    background: $gris;
  }
  &:focus{
    background: $blanc;
    border: 1px solid $focus;
  }

  &.dark{
    background: $noir;
    color: #FFFFFF;
    &:hover, &:active{
      background: #000000;
    }
    &:focus{
      background: #000000;
    }
  }

  &.validate{
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
    background: linear-gradient(334.49deg, #78E08F 100%, #2CA12A 0%);
    color: #FFFFFF;
    &:hover, &:active{
      background: $vert;
    }
  }
  
  &.outline{
    border: 1px solid #FFFFFF;
    background: transparent;
    color: #FFFFFF;
  }
}

.mr-10{
  margin-right: 10px;
}
.mr-8{
  margin-right: 8px;
}
.ml-10{
  margin-left: 10px;
}
.ml-8{
  margin-left: 8px;
}