.container {
  /* Layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  min-width: 22rem;
}

.departments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.places {
  /* Layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 0.5rem;
  max-height: 35rem;
  overflow-y: auto;
  padding: 0.5rem;
}
