.structure-details-modal .modal-content {
  mix-blend-mode: normal; /* Shadow autour */
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  border: none;
  background: #f2f2f2;
  padding: 32px;
  min-width: max-content;
  max .creator-img {
    max-width: 70px;
    max-height: 40px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .sponsor-img {
    max-width: 140px;
    max-height: 60px;
    margin-right: 8px;
  }
}
