.modal-merci .modal-content{
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
  background: linear-gradient(123.26deg, #3D3D3D 6.51%, #000000 96.1%);
  border: 1px solid #3D3D3D;
  box-sizing: border-box;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: CircularStd;
  padding:30px;

  .modal-header{
    border:none;
    h5.modal-title{
      display:flex;
      align-items: center;
      font-weight: bold;
      font-size: 40px;
      line-height: 51px;
      i{
        margin-right:10px;
      }
    }
  }
  .modal-body{
    input{
      background: #FFFFFF;
      border: 1px solid #ECEBED;
      box-sizing: border-box;
      border-radius: 6px;
      height:60px;
    }
    .no-decoration{
      color:inherit;
      text-decoration: underline;
    }
  }
  .modal-footer{
    border:none;
    .send-btn{
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      background: #FBFBFB;
      border-radius: 12px;
      color:#3D3D3D;
      font-weight: 600;
    }
  }
}