@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/unit";

.btn {
  margin-block-end: u(6);
  display: block;
  inline-size: 100%;
  text-align: start;

  &:disabled {
    color: inherit;
    opacity: 0.4;
    cursor: not-allowed;
  }
}
