@import "src/scss/colors";
@import "src/scss/mixins/text";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/responsive";
@import "src/scss/variables";

.modal {
  @include isMobile() {
    width: 345px !important;

    :global(.modal-content) {
      padding: 0 !important;
    }
  }

  .title {
    @include isMobile() {
      @include text("h4");
      margin-top: u(10);
    }
  }
  .text {
    @include text("large");
  }

  .video {
    background: $bgfocus;
    border-radius: $radius;
    height: 307px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: u(10);

    @include isMobile() {
      height: 164px;
    }

    iframe {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: $radius;
    }
  }

  .modal_footer {
    @include isDesktop() {
      justify-content: space-between;
    }

    .quit {
      @include isMobile() {
        display: none;
      }
    }
  }
}
