@import "src/scss/colors.scss";
@import "src/scss/mixins/responsive";

.footer {
  position: absolute;
  width: 100%;
  background: $noir;
  padding: 60px 60px;
  color: #ffffff;

  @include media-max("tablet-up") {
    padding: 60px 60px;
  }
  @include media-max("phone-down") {
    padding: 30px 30px;
  }
  .header {
    line-height: 32px;
    font-size: 22px;
  }
  .link {
    margin-top: 25px;
    width: 290px;

    &:first-child {
      margin-top: 0;
    }
    &:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }
  .space_btn {
    margin-top: 20px;
  }

  $placeholderColor: $noir;
  *::-webkit-input-placeholder {
    color: $placeholderColor;
  }
  *:-moz-placeholder {
    color: $placeholderColor;
    opacity: 1;
  }
  *::-moz-placeholder {
    color: $placeholderColor;
    opacity: 1;
  }
  *:-ms-input-placeholder {
    color: $placeholderColor;
  }
  *::-ms-input-placeholder {
    color: $placeholderColor;
  }
  *::placeholder {
    color: $placeholderColor;
  }

  .btn {
    @include media-max("tablet-up") {
      width: 100%;
    }
  }

}
