@import "src/scss/mixins/responsive";

@keyframes pulse {
	0% {
		transform: scale(1.05);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.05);
	}
}

div.app-body {
  .app-loader {
    background-color: blue;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100vh;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: inherit;
      img {
        padding: 1rem;
        transform: scale(1);
        animation: pulse 2s infinite;
      }
      p {

      color: white;
      font-size: large;
      font-weight: bold;
      }
    }
  }

  @include media-min("tablet-up") {
    overflow-x: inherit;
  }

  @media (min-width: 992px) {
    .header-fixed & {
      margin-top: 55px;
    }
  }

  @media (max-width: 991.98px) {
    margin-top: 0;
  }

  .content {
    display: flex;
    flex: 1;
    min-height: 90vh;
    min-width: 0;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
