@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/mixins/rtl";
@import "~/scss/variables";

.container {
  position: relative;
}

.slider {
  display: flex;

  @include isTablet {
    margin-inline: -15px;
    flex-wrap: nowrap;
    overflow-x: hidden;
  }
}

.testimony {
  padding: u(8) u(12);

  @include isTablet {
    flex-shrink: 0;
    inline-size: 100%;
    max-inline-size: none;
    flex-basis: auto;
    padding: 0 u(18);
  }
}

.btn {
  position: absolute;
  inset-block-start: 50%;
  z-index: 10;
  inline-size: 40px;
  block-size: 40px;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  transform: translateY(-50%);

  &:hover,
  &:active {
    background-color: $gray70b;
  }

  &.prev {
    inset-inline-start: 0;

    @include rtl {
      transform: rotate(180deg);
      margin-block-start: -20px;
    }
  }

  &.next {
    inset-inline-end: 0;

    @include rtl {
      transform: rotate(180deg);
      margin-block-start: -20px;
    }
  }

  @include media-min("lg-limit") {
    display: none;
  }
}
