@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/text";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/responsive";

.badge {
  padding: u(1) u(3);
  border-radius: u(2);
  margin-block-end: u(2);
  margin-inline-end: u(1);
  display: inline-flex;
  align-items: center;
}
