@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/rtl";

.done {
  background: $lightBackgroundContrastInfo;
  border-radius: u(2);
  padding: u(4);
  display: flex;
  align-items: center;
}
