.tags{

  .tags-dropdown{
    margin-right:10px;
    background: transparent;
    border: 1px solid #4A69BD;
    box-sizing: border-box;
    border-radius: 12px;
    color: #4A69BD;
    
    .btn{
      background: transparent;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      border:none;
      color:inherit;
      padding:10px;
    }
    &:hover{
      background: #4A69BD;
      color: #FFFFFF;
    }
    &:nth-child(2n){
      border: 1px solid #E55039;
      color: #E55039;
      &:hover{
        background: #E55039;
        color: #FFFFFF;
      }
    }
  }

  .plus-button{
    background: #F2F2F2;
    border-radius: 12px;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #CDCDCD;
    border:none;
    padding:10px;

    i{
      margin-right:10px;
    }
    &:hover{
      color:black;
    }
  }

  .tags-icons{
    position: absolute;
    right: -7px;
    top: -15px;
    cursor: pointer;
  }
}