@import "src/scss/colors.scss";

.tags {
  //margin-top: -10px;
  //margin-right: -10px;
  outline: none;
  z-index: 10;
  justify-content: center;
  align-items: center;
  display: flex;

  .tags-dropdown {
    margin-left: 10px;
    background: transparent;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 12px;
    color: #ffffff;
   // margin-top: 10px;
    &:hover {
      background: #ffffff;
      color: $noir;
    }

    .dropdown-custom {
      &:hover {
        color: $blancSimple;
      }
    }

    .btn {
      background: transparent;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      border: none;
      color: inherit;
      padding: 10px;

      &:focus {
        background: transparent;
      }
      &:not(:disabled):not(.disabled):active {
        color: $noir;
        box-shadow: none;
        border-color: transparent;
        background-color: transparent;
        outline: none;
      }
    }
    &:hover {
      background: #ffffff;
      color: $noir;
    }
  }

  .plus-button {
    background: $jauneClair;
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: $noir;
    border: none;
    padding: 10px;
    //margin-top: 10px;
    height: 50px;
    svg {
      margin-right: 10px;
      fill: $noir;
    }

    &.icon {
      svg {
        fill: $noir;
        margin-right: 2px;
      }
    }

    i {
      margin-right: 10px;
    }
    &:hover {
      background-color: $gris;
    }
  }

  .tags-icons {
    position: absolute;
    right: -16px;
    top: -16px;
    cursor: pointer;
  }
}
