@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/input";
@import "~/scss/mixins/text";

.container {
  display: flex;
  align-items: center;

  .step {
    display: block;
    background: $gray40;
    inline-size: u(4);
    block-size: 6px;
    border-radius: 30px;
    margin-inline-end: 2px;

    &.done {
      background: var(--background-active-blue-france-active);
    }
  }
}

.label {
  @include dsfr-text("small");

  color: var(--text-mention-grey);
  margin-block-end: 0;
  margin-inline-start: u(2);
}
