@import "src/scss/colors.scss";

.search-btn {
  outline: none;
  justify-content: center;
  align-items: center;
  background: $grisFonce;
  border-radius: 10px;
  border: none;
  color: $cardColor;
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
  white-space: nowrap;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);

  &.lighter {
    filter: saturate(80%) opacity(50%) brightness(110%);
  }

  &:hover {
    color: $noir;
  }
  &:not(:disabled):not(.disabled):active,
  &.active {
    color: #ffffff;
    background: $noir;
  }
  &:focus {
    outline: 0;
    color: #ffffff;
    // border: 0.5px solid #2D9CDB;
  }

  &.full {
    background: transparent;
    color: #ffffff;
    // border: 0.5px solid #FFFFFF;
    &:hover {
      color: $noir;
      background: #ffffff;
    }
  }
  &.color {
    color: #ffffff;
    &:hover {
      filter: brightness(80%);
    }
  }
  &.in-header {
    padding: 20px;
    color: $blanc;
    border-radius: 12px;
    &:after {
      margin-left: 13px;
    }
  }
}

.static-btn {
  cursor: unset !important;
  outline: none;
  justify-content: center;
  align-items: center;
  background: $grisFonce;
  border-radius: 10px;
  border: none;
  color: $cardColor;
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
  white-space: nowrap;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);

  &:not(:disabled):not(.disabled):active,
  &.active {
    color: #ffffff;
  }

  &:focus {
    outline: 0;
    color: #ffffff;
    // border: 0.5px solid #2D9CDB;
  }
  &.full {
    background: transparent;
    color: #ffffff;
    // border: 0.5px solid #FFFFFF;
  }
  &.color {
    color: #ffffff;
  }
  &.in-header {
    padding: 20px;
    color: $blanc;
    border-radius: 12px;
    &:after {
      margin-left: 13px;
    }
  }
}

.filter-btn {
  margin-right: 10px;
  outline: none;
  justify-content: center;
  align-items: center;
  background: $grisFonce;
  border-radius: 12px;
  border: 1px solid white;
  color: white;
  font-weight: 400;
  font-size: 16px;
  padding: 8px;
  white-space: nowrap;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);

  &:not(:disabled):not(.disabled):active,
  &.active {
    color: black !important;
    font-weight: 500;
    background: #ffffff;
  }
  &.active-icon {
    color: black !important;
  }
  &:focus {
    outline: 0;
    color: #ffffff;
    // border: 0.5px solid #2D9CDB;
  }

  &.full {
    background: transparent;
    color: #ffffff;
    // border: 0.5px solid #FFFFFF;
  }
  &.color {
    color: #ffffff;
  }
  &.in-header {
    padding: 20px;
    color: $blanc;
    border-radius: 12px;
    &:after {
      margin-left: 13px;
    }
  }
}
