@import "src/scss/colors.scss";

.search-btn {
  outline: none;
  justify-content: center;
  align-items: center;
  background: $error;
  border-radius: 6px;
  border: none;
  color: $cardColor;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 10px;
  cursor: default;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
