@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/text";
@import "src/scss/mixins/unit";

.container {
  margin-bottom: u(20);
  position: relative;
}

.title {
  @include dsfr-text("h2");
  font-weight: bold;
  margin-bottom: u(6);
}
