@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/rtl";
@import "src/scss/mixins/text";
@import "src/scss/variables";

.container {
  border: 1px solid $lightBorderDefaultGrey;
  position: relative;
  background: white;
  border-radius: u(2);

  &.focus {
    border-color: $lightTextTitleGrey;
  }
}

.content {
  padding: u(6);
  outline: none !important;
  position: relative;
  z-index: 1;
  @include content-text();
}

.placeholder {
  position: absolute;
  bottom: u(12);
  @include l-ltr(u(6));
  color: $lightTextDisabledGrey;
}
