@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";

.container {
  background: var(--background-contrast-info);
  border-radius: u(2);
  padding: u(8);
  color: var(--background-flat-info);
  margin-block: u(6) u(8);
}

.item {
  padding-block-end: u(6);
  display: flex;
  align-items: baseline;
  position: relative;

  &::after {
    content: "";
    block-size: 100%;
    inline-size: 2px;
    background: var(--background-flat-info);
    position: absolute;
    inset-inline-start: 11px;
    inset-block-start: 6px;
  }

  &:last-child::after {
    content: none;
    display: none;
  }
}

.title {
  font-weight: bold;
  margin-block-end: 0;
}

.subtitle {
  @include dsfr-text("very-small");

  margin-block-end: 0;
}

.icon {
  position: relative;
  z-index: 1;

  // trick to avoid border going over icons
  background: var(--background-contrast-info);
  block-size: 20px;
}

.badge {
  background-color: var(--background-action-low-blue-france) !important;
}
