@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/variables";

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  text-align: center;
  background: linear-gradient(#f2f2f200 0%, #f2f2f2 60%, #f2f2f2 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  &.visible {
    background: transparent;
    bottom: -60px;
  }
}

.btn {
  background: $bleuCharte;
  border-radius: 50px;
  padding: 18px 24px;
  box-shadow: 0 0 30px 0 #0421b14d;
  color: $white;
  font-size: 22px;
  line-height: 27px;
  font-weight: bold;

  &:hover,
  &:active,
  &:focus {
    background-color: darken($bleuCharte, 5%);
    color: $white;
  }
}
