@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/text";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/icons";
@import "src/scss/mixins/responsive";

.container {
  display: flex;
  align-items: center;

  @include media-max("lg-limit") {
    flex-direction: column;
    align-items: flex-start;
  }
}

.label {
  @include dsfr-text("normal");
  font-weight: bold;
  flex-shrink: 0;

  @include media-max("lg-limit") {
    @include dsfr-text("normal");
    margin-bottom: u(4);
  }
}

.sponsors {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: u(2);
}

.sponsor {
  @include dsfr-text("normal");
  display: flex;
  align-items: center;
  width: 220px;
  padding: u(1) u(2);
  border-radius: u(2);
  cursor: pointer;

  @include media-max("lg-limit") {
    width: auto;
  }

  &.edit {
    border: 1px solid $lightBorderDefaultGrey;
  }

  &:hover {
    background: $lightBackgroundContrastGrey !important;
  }
}

.delete {
  @include iconSize(u(4));
  padding: u(2) !important;
  min-height: u(8) !important;
  margin-left: auto !important;

  @include media-max("lg-limit") {
    margin-left: u(2) !important;
  }
}

.add {
  box-shadow: none !important;
  text-wrap: nowrap;
}
