.step1 {
  .sponsor-img {
    max-height: 200px;
    max-width: 200px;
  }
  .upload-btn {
    position: relative;
  }

  [type="file"] {
    z-index: 2;
    cursor: pointer;
    display: block;
    filter: alpha(opacity=0);
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    background-color: red;
  }
}
