@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/responsive";

.text {
  margin-bottom: 0;
  font-size: 12px;
  line-height: 15px;
}

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.infoline {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.recap {
  background: $erreur;
  width: 100%;
  padding: 8px;
  border-radius: 12px;
  margin-bottom: 12px;
  margin-top: 12px;
  font-size: 12px;
}

.input {
  border-radius: $radius;
  font-size: 12px;
  padding: 16px;
  color: $dark;
  flex-grow: 1;
}

.category {
  font-size: 12px !important;
  padding: 8px !important;
  font-weight: normal !important;
  margin: 0 8px 8px 0;
}
