@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/mixins/rtl";
@import "~/scss/variables";

.dispositifs {
  padding-block-end: u(4);
}

.demarches {
  margin-block-end: u(10);
  padding-block-end: u(10);
}
