@import 'src/scss/global.scss';

$placeholderColor:#CDCDCD;
$blanc:#FBFBFB;
$noir:#3D3D3D;

.register{
  color: #FFFFFF;
  h1{
    margin-bottom:20px;
    font-size: 40px;
    line-height: 51px;
  }
  .card-left{
    background: $noir;
    border-radius: 12px !important;
    margin-right:10px;
    padding:20px;
    width:520px;
    @include media-max("tablet-up") { width: 100%; }

    .input-group{
      .icon-prepend{
        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translateY(-50%);
        left:20px;
      }
      .icon-append{
        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translateY(-50%);
        right:20px;
        cursor: pointer;
      }
      input{
        background: #FFFFFF;
        border-radius: 12px !important;
        padding-left: 50px;

        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
      }
      *::-webkit-input-placeholder {
        color: $placeholderColor;
      }
      *:-moz-placeholder {
        color: $placeholderColor;
        opacity: 1;
      }
      *::-moz-placeholder {
        color: $placeholderColor;
        opacity: 1;
      }
      *:-ms-input-placeholder {
        color: $placeholderColor;
      }
      *::-ms-input-placeholder {
        color: $placeholderColor;
      }
      *::placeholder {
        color: $placeholderColor;
      }
    }
    .footer-buttons{
      display: flex;
      justify-content: flex-end;

      .password-btn{
        margin-right:13px;
        font-size: 18px;
        line-height: 23px;
        a{
          text-decoration: none;
          color:inherit;
        }
      }
      .connect-btn{
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        background: #FFFFFF;
        border-radius: 12px;
        color:$noir;
      }
    }
  }
  .card-right{
    width: 44%;
    max-width: 300px;
    background: $blanc;
    border-radius: 12px !important;
    .card-body{
      padding:20px;
      height:100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      h2{
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
      }
      .btn-sign{
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        background-color: #FFFFFF;
        border-radius: 12px;
      }
      .knowMore-link{
        text-decoration: underline;
        color:$noir;
      }
    }
  }

  .retour-wrapper{
    width:0;
    @include media-max("tablet-up") { width: 100%; background: lightgray; margin:15px; border-radius: 12px; }

    .retour-btn{
      display:flex;
      text-decoration: none;
      color:inherit;
      @include media-max("tablet-up") { margin:auto; }

      i{
        margin-right:3px;
      }
    }
  }
}