@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/text";
@import "~/scss/mixins/rtl";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/responsive";

.form {
  .text {
    color: var(--text-mention-grey);
    margin-block-end: u(8);
  }

  .input {
    background: var(--background-alt-raised-grey);
    border-radius: u(2);
    margin-block-end: u(6);
    padding: u(3);
    inline-size: 100%;
    outline: none !important;
    border: 1px solid transparent;

    &.input_error {
      border-color: var(--text-default-error);
    }
  }

  .btn {
    padding: u(3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    inline-size: 100%;
    margin-block-end: u(6);
    background-color: var(--background-alt-raised-grey);
    color: $gray90;

    .icon {
      transition: transform 0.15s ease;

      &.open {
        transform: rotate(180deg);
      }

      i {
        line-height: 24px !important;
        block-size: 24px !important;

        svg {
          inline-size: 24px;
          block-size: 24px;
        }
      }
    }
  }

  .error {
    color: var(--text-default-error);
    margin-block-start: u(4);
    display: flex;
    align-items: center;

    p {
      margin-block-end: 0;
    }
  }

  .submit {
    inline-size: 100%;
    justify-content: center;
    margin-block-start: u(4);
    padding-block: u(3);
  }
}
