@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/text";
@import "src/scss/mixins/unit";

.popup {
  position: relative;
  font-family: $font-family-sans-serif;
  width: 240px;
  max-height: 180px;
  padding: u(2);
  z-index: 1;

  .title {
    @include dsfr-text("small");
    margin-bottom: u(3);
    color: $lightTextActionHighBlueFrance;
  }
  .info {
    @include dsfr-text("very-small");
    margin-bottom: 0;
    padding: u(1);
    display: flex;
    align-items: baseline;
    word-break: break-word;
  }
  .close {
    width: u(8);
    height: u(8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: u(2);
    right: u(2);
    cursor: pointer;
    border-radius: u(1);

    &:hover {
      background: $lightBackgroundContrastGrey;
    }
  }
}
