@import "src/scss/colors";
@import "src/scss/variables";

.label_details {
  font-weight: normal;
  position: absolute;
  right: 15px;
}

.colors {
  background: $white;
  border-radius: $radius;
  display: flex;
  padding: 8px 4px;

  & > div {
    padding: 0 4px;
  }
}

.color_input {
  padding: 16px 8px;
  border-radius: $radius;
  color: white;
  background: $dark;
  border:none;
  font-weight: bold;
  height: 50px;
  text-align: center;

  &:focus {
    background: $dark;
    outline: none;
    box-shadow: none;
    color: white;
  }
}

.notes_col {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.notes_input_group {
  flex-grow: 1;
}
.notes_input {
  height: 100% !important;
}
