@import "src/scss/variables";

.options {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5px;
  max-width: 75%;
  border-radius: $radius;
  margin: 15px;
  z-index: 4;

  .link {
    margin: 5px;
    font-size: 20px;
    color: white;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: $radius;
    background-color: black;
  }
  .menu {
    border-width: 0;
    outline: none;
    margin: 5px;
    font-size: 20px;
    color: black;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: $radius;
    background-color: white;
  }
/*   .figma-btn {
    border-radius: $radius;
    border-width: 1px;
    border-color: black;
    margin: 5px;
  } */
}
