@import "src/scss/mixins/responsive";
@import "src/scss/mixins/rtl";
@import "src/scss/colors";
@import "src/scss/variables";

.col {
  outline: none;
  border-radius: $radius;
  border-width: 0;
  padding-left: 20px;
  padding: 10px 10px 10px 20px;
  font-size: 22px;
  font-weight: 600;
  color: $gray90;
  display: flex;
  align-items: center;
  z-index: 4;
  background: $white;

  @include isMobile() {
    flex-direction: column;
    padding: 20px;
  }
  @include media-min("tablet-up") {
    margin-bottom: 0;
  }

  :global(.mb-15) {
    @include media-min("tablet-up") {
      margin-bottom: 0;
    }
    @include isMobile() {
      margin-bottom: 15px;
    }
  }
  :global(.mr-10) {
    padding-right: 10px;
    z-index: 4;
  }
}

.icon {
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;

  @include rtl() {
    margin-right: 0;
    margin-left: 10px;
  }
}

$flippy_width: 280px;
$flippy_height: 50px;
.flippy {
  width: $flippy_width;
  height: $flippy_height;
}
.flippy_side{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: $flippy_width;
  height: $flippy_height;
  border-radius: 10px;
}
.flippy_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 10px;
  padding: 0;
  font-weight: 600;
}
.flippy_btn_open {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 10px;
  background: $gray70;
}
