@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/variables";

.modal.show .modal-dialog.custom-modal {
  overflow: scroll;
  height: 680px;
  max-height: 100vh;
  width: 650px;
  max-width: 60vw;
  background: $gray10;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  border-radius: $radius;
  display: flex;
  -ms-overflow-style: none;
  scrollbar-width: 0;

  @include media-min("tablet-up") {
    min-width: 650px;
  }
  @include isMobile() {
    width: 100%;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  &.auto-height {
    height: auto;
  }

  &.bg-grey {
    background: #edebeb;
  }

  .modal-content {
    background: transparent;
    padding: 20px;
    border: none;
    flex: 1;
    overflow: scroll;
  }
  .modal-header {
    background: transparent;
    padding: 20px;
    border: none;

    .close {
      position: absolute;
      outline: 0;
      top: 20px;
      right: 20px;
    }
  }
  .modal-body {
    background: transparent;
    padding: 20px;
    padding-top: 0;
    border: none;
    display: flex;
    flex-direction: column;
  }
  .modal-footer {
    background: transparent;
    border: none;
  }
}

.modal.show {
  *::-webkit-scrollbar {
    display: none;
    width: 0; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
  }
  ::-webkit-scrollbar {
    display: none;
    width: 0; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
  }
}
