@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/text";
@import "src/scss/mixins/unit";
@import "src/scss/variables";

.container {
  display: block;
  position: relative;
  width: 190px;
  background: $white;
  box-shadow: 0 4px 18px 0 #0000001A;
  padding: u(8) u(4) u(4) u(4);
  margin-right: u(8);
  margin-bottom: u(8);
  border-radius: $radius;
  border: 2px solid transparent;
  cursor: pointer;

  &:hover {
    border-color: $dark;
    background-color: $gray30;
    box-shadow: none;

    :global(.theme-badge) {
      background-color: $white !important;
    }
  }
}

.title {
  @include text("large");
  margin-top: u(6);
  margin-bottom: u(4);
  font-weight: bold;
}

.badges {
  margin-bottom: u(1);
  margin-right: u(1);
}

.update {
  position: absolute;
  top: -4px;
  left: 0;
  width: 100%;
  text-align: center;

  & > span {
    @include text("very-small");
    background-color: $vert2;
    padding: u(1) u(2);
    border-radius: 0 0 u(2) u(2);
    color: $white;
  }
}
