@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/mixins/input";

.structure {
  margin-block-end: u(2);

  img {
    object-fit: contain;
  }
}

.other {
  min-block-size: 82px;
}
