@import "src/scss/mixins/responsive";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/text";

.help_text {
  margin-top: u(6);
  margin-bottom: 0;
  @include text("large");

  @include isTablet() {
    margin-top: u(4);
  }
}
