$couleurFond: #60A3BC;;
.modal-thanks{ 
  min-width:900px;
  font-family: CircularStd;
  .modal-content{
    background: $couleurFond;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    color: #FFFFFF;

    .modal-header{
      border:none;
      .modal-title{
        font-weight: bold;
        font-size: 40px;
        line-height: 51px;
      }
    }
    
    .custom-padding{
      &:not(:last-child){
        padding-right: 0;
      }
      
      .comment-modal{
        background: $couleurFond;
        border: 1px solid #F2F2F2;
        box-sizing: border-box;
        border-radius: 8px;
        margin-bottom:0;
        border:none;

        .card-body{
          font-weight: bold;
          font-size: 24px;
          line-height: 30px;

          .icon-on-top{
            margin-bottom:37px;
          }
        }
      }
    }
  }
}