@import "src/scss/colors";
@import "src/scss/mixins/unit";

.container {
  background-color: white;
  padding: u(2);
  border-radius: u(2) u(2) 0 0;
  border-bottom: 1px solid $lightBorderDefaultGrey;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
  position: sticky;
  top: 0;
  z-index: 2;

  :global([class^="ri-"]::before) {
    --icon-size: 1em !important;
  }
}

.divider {
  width: 1px;
  height: u(8);
  background: $lightBorderDefaultGrey;
  margin: 0 6px;
}
