@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/text";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/rtl";
@import "~/scss/mixins/responsive";

.card {
  background: var(--background-alt-raised-grey);
  border: 1px solid var(--border-default-grey);
  padding: u(4);
  margin-block-end: u(6);
  border-radius: u(2);
  position: relative;

  @include media-max("lg-limit") {
    background: var(--background-contrast-grey);
  }

  &.btn {
    text-align: start;
    inline-size: 100%;

    &:hover {
      background: var(--background-contrast-grey) !important;
    }
  }

  .title {
    @include dsfr-text("h6");

    font-weight: bold;
    margin-block-end: 0;

    @include media-max("lg-limit") {
      @include dsfr-text("large");
    }
  }

  &.error {
    border-color: var(--text-default-error);
    box-shadow: 0 2px 6px 0 #00001229;

    .title {
      color: var(--text-default-error) !important;
    }
  }

  :global(.fr-link) {
    @include dsfr-text("small");
  }
}

// Icon
.status {
  position: absolute;
  inset-block-start: u(4);
  inset-inline-end: u(3);

  &.edit {
    display: none;
  }
}

.card:hover {
  .status {
    &.done {
      display: none;
    }

    &.edit {
      display: block;
    }
  }
}

.item {
  display: flex;
  margin-block-start: u(6);

  .details {
    @include ml-ltr(u(3));

    flex-grow: 1;

    &.no_icon {
      @include ml-ltr(0);
    }
  }

  .icon {
    inline-size: u(8);
    block-size: u(8);
  }

  .label,
  .content {
    @include dsfr-text("small");

    display: block;

    @include media-max("lg-limit") {
      @include dsfr-text("normal");
    }
  }

  .label {
    font-weight: bold;
  }

  .content {
    a {
      display: inline;
    }
  }

  &.missing {
    background: var(--background-contrast-error);
    border-radius: u(2);

    .content {
      color: var(--text-default-error);
    }
  }
}
