@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/unit";
@import "src/scss/variables";

.filter {
  padding: 16px;
  margin: 8px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  flex-grow: 1;
  border-radius: $radius;

  @include isMobile() {
    padding: 0;
  }

  &:hover {
    background-color: $gray40b;
  }
  &.active {
    box-shadow: 0 0 40px 0 #00000040;
    background-color: $white;
  }

  .search {
    text-align: left;
    min-width: 0;
    flex-grow: 1;
  }

  .label {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 8px;
    color: $gray80;
    text-transform: uppercase;
    display: block;
    text-align: left;

    @include isMobile() {
      display: none;
    }
  }

  .input {
    border: none;
    outline: none;
    background:transparent;
    padding: 0;
  }

  .value {
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    padding-right: u(6);

    &.empty {
      font-weight: normal;
    }
  }

  .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: $gray30;
    margin-right: 16px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;

    &.active {
      background: $bleuCharte;
    }
  }
}

.empty_btn {
  background: transparent;
  padding: 2px;
  border: none;
  position: absolute;
  right: 0;
  top: -3px;

  &:hover {
    background: transparent;
  }
}
