@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/text";
@import "src/scss/variables";

.filter {
  padding: u(4);
  margin: u(2);
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  flex-grow: 1;
  border-radius: $radius;

  @include isMobile() {
    padding: u(1);
  }

  &:hover {
    background-color: $gray40b;
  }
  &.active {
    box-shadow: 0 0 40px 0 #00000040;
    background-color: $white;

    @include isMobile() {
      box-shadow: none;
    }
  }

  .search {
    text-align: left;
    min-width: 0;
    flex-grow: 1;
  }

  .label {
    @include text("very-small");
    margin-bottom: u(2);
    color: $gray80;
    text-transform: uppercase;
    display: block;
    text-align: left;

    @include isMobile() {
      display: none;
    }
  }

  .input {
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    @include text("small");

    @include isMobile() {
      width: 100%;
    }
  }

  .value {
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    padding-right: u(6);
    @include text("small");

    @include isMobile() {
      padding-right: 0;
    }

    &.empty {
      font-weight: normal;
    }
  }

  .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: $gray30;
    margin-right: u(4);
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;

    &.active {
      background: $bleuCharte;
    }

    @include isMobile() {
      width: 32px;
      height: 32px;
    }
  }
}

.empty_btn {
  background: transparent;
  padding: 2px;
  border: none;
  position: absolute;
  right: 0;
  top: -3px;

  &:hover {
    background: transparent;
  }

  @include isMobile() {
    display: none;
  }
}
