@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/text";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/rtl";

.container {
  background: $lightBackgroundActionLowBlueFrance;
  color: $lightTextTitleGrey;
  padding: u(8) u(4) u(8) 256px;
  border-radius: u(3);
  overflow: hidden;
  position: relative;
  margin-bottom: u(20);
}

.illu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
}

.content {
  position: relative;
  z-index: 2;
}

.title {
  @include dsfr-text("h6");
  font-weight: bold;
  margin-bottom: u(4);
}

.btn {
  font-weight: bold !important;
}
