@import "src/scss/colors";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/icons";

.btn {
  border-radius: u(2);
  @include iconSize(24px);

  /* TODO: remove when dataesr removed */
  i {
    display: inline-flex;
    align-items: center;
  }
  [class^="ri-"]::before {
    --icon-size: 24px !important;
  }

  &.small_icon {
    @include iconSize(16px);
    /* TODO: remove when dataesr removed */
    [class^="ri-"]::before {
      --icon-size: 16px !important;
    }
  }

  &.icon_end {
    flex-direction: row-reverse;
  }
}
