@import "src/scss/colors";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/icons";

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn {
  border-radius: u(2);
  @include iconSize(24px);

  &.small_icon {
    @include iconSize(16px);
  }

  &.icon_end {
    flex-direction: row-reverse;
  }

  .loading {
    animation: rotate 3s infinite;
  }
}
