@import "src/scss/colors.scss";
@import "src/scss/global.scss";

.btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  border-radius: 12px;
  padding: 15px;
  cursor: pointer;
  border: 0.5px solid transparent;
  color: $noir;
  width: fit-content;
  text-decoration: none;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;

  @include media-max("sm-limit") {
    font-size: 16px;
  }

  &.filter {
    padding: 8px;
  }

  &:hover {
    transition: all 0.5s ease;

    svg {
      fill: $noir;
    }
  }
  &:not(.theme) {
    &:hover {
      color: $noir;
    }
    &:active {
      background: $noirCD;
      color: $noir;
    }
    &:focus {
      outline: 0;
      border: 0.5px solid transparent;
    }

    &:disabled,
    &.disabled {
      background: $gris;
      color: $grisFonce;
      cursor: not-allowed;
      svg {
        fill: $grisFonce;
      }
      &:hover {
        background-color: $gris;
        color: $grisFonce;
        svg {
          fill: $grisFonce;
        }
      }
    }
  }

  // TYPES
  &.default {
    svg {
      fill: $noir;
    }
  }
  &.saved {
    background: $lightgreen;
    color: $noir;
    svg {
      fill: $vert;
    }
  }
  &.modified {
    background: $lightOrange;
    color: $noir;
    svg {
      fill: $orange;
    }
  }
  &.white {
    background: $blancSimple;
    color: $noir;
    svg {
      fill: $noir;
    }
    &:hover {
      transition: all 0.5s ease;
      background: $noir;
      color: $blancSimple;
      svg {
        fill: $blancSimple;
      }
    }
  }
  &.white-yellow-hover {
    background: $blancSimple;
    color: $noir;
    svg {
      fill: $noir;
    }
    &:hover {
      transition: all 0.5s ease;
      background: #f9ef98;
      color: $noir;
      svg {
        fill: $noir;
      }
    }
  }
  &.dark {
    background: $noir;
    color: #ffffff;
    svg {
      fill: $blancSimple;
    }
    &:hover {
      transition: all 0.5s ease;
      background: #000000;
      color: #ffffff;
      svg {
        fill: $blancSimple;
      }
    }
    &:not(:disabled):not(.disabled):active {
      background: #000000;
      color: #ffffff;
      svg {
        fill: $blancSimple;
      }
    }
  }
  &.validate-light {
    background: $vert;
    color: $blancSimple;
    svg {
      fill: $blancSimple;
    }
    &:not(:disabled):not(.disabled):hover {
      transition: all 0.5s ease;
      background: $vertFonce;
      color: $blancSimple;
      box-shadow: none;
      svg {
        fill: $blancSimple;
      }
    }
    &:not(:disabled):not(.disabled):active {
      box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
      background: $vert;
    }

    &:disabled {
      background: #828282;
      color: $blancSimple;

      &:hover {
        background-color: #828282;
        color: $blancSimple;
        svg {
          fill: $blancSimple;
        }
      }
      svg {
        fill: $blancSimple;
      }
    }
  }
  &.validate {
    background: $vert;
    color: $blancSimple;
    svg {
      fill: $blancSimple;
    }
    &:not(:disabled):not(.disabled):hover {
      transition: all 0.5s ease;
      background: $vertFonce;
      color: $blancSimple;
      box-shadow: none;
      svg {
        fill: $blancSimple;
      }
    }
    &:not(:disabled):not(.disabled):active {
      box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
      background: $vert;
    }
  }
  &.validate-mockup {
    background: $vert;
    color: $blancSimple;
    svg {
      fill: $blancSimple;
    }
    &:not(:disabled):not(.disabled):hover {
      transition: all 0.5s ease;
      background: $vertFonce;
      color: $blancSimple;
      box-shadow: none;
      svg {
        fill: $blancSimple;
      }
    }
    &:not(:disabled):not(.disabled):active {
      box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
      background: $vert;
    }
    &.disabled {
      background: $orange;
      color: $blanc;
      cursor: not-allowed;
      svg {
        fill: $blanc;
      }
    }
  }
  &.login {
    background: #0421b1;
    color: $blancSimple;
    svg {
      fill: $blancSimple;
    }
    &:hover {
      background: $blancSimple;
      color: #0421b1;
      border-color: #0421b1;
      svg {
        fill: #0421b1;
      }
    }
  }
  &.signup {
    background: $blancSimple;
    color: #0421b1;
    svg {
      fill: #0421b1;
    }
    &:hover {
      background: #0421b1;
      color: $blancSimple;
      svg {
        fill: $blancSimple;
      }
    }
  }
  &.error {
    background: $error;
    color: $blancSimple;
    &:hover {
      background: $rouge;
      color: $blancSimple;
      svg {
        fill: $blancSimple;
      }
    }
    &:not(:disabled):not(.disabled):active {
      background: $error;
    }
  }
  &.light-action {
    //min-width: 40px;
    color: $noir;
    background: $blancSimple;
    svg {
      fill: $noir;
    }
    &:not(:disabled):hover {
      background: $noir;
      box-shadow: none;
      color: $blancSimple;
      svg {
        fill: $blancSimple;
      }
    }
    &:not(:disabled):not(.disabled):active {
      background: $noir;
      color: #ffffff;
      svg {
        fill: #ffffff;
      }
    }
  }
  &.small-figma {
    padding: 0;
    width: 40px;
    height: 40px;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    background-color: #cdcdcd;
  }
  &.thanks {
    background: transparent;
    color: $grisFonce;
    border: 0.5px solid $grisFonce;
    padding: 15px 20px;
    &:hover {
      background: $validationDefault;
      color: $blancSimple;
      border: 0.5px solid $validationDefault;
    }
    &:active {
      background: $validationHover;
      color: $blancSimple;
      border: 0.5px solid $validationHover;
    }
    &.clicked {
      background: $validationHover;
      color: $blancSimple;
      border: 0.5px solid $validationHover;
    }
  }
  &.outline {
    border: 0.5px solid #ffffff;
    background: transparent;
    color: #ffffff;
    transition: all 0.2s ease;
    &:hover {
      color: $noir;
      border-color: $blancSimple;
      background: $blancSimple;
      svg {
        fill: $noir;
      }
    }
  }
  &.outline-black {
    border: 0.5px solid $noir;
    background: transparent;
    color: $noir;
    transition: all 0.4s ease;
    svg {
      fill: $noir;
    }
    &:hover {
      border-color: $noir;
      background: $noir;
      color: $blancSimple;
      svg {
        fill: $blancSimple;
      }
    }
  }
  &.pill {
    border-radius: 12px;
    height: auto;
    border: 0.5px solid #ffffff;
    background: transparent;
    color: #ffffff;
    transition: all 0.2s ease;

    svg {
      fill: $blanc;
    }
    &:hover,
    &:not(:disabled):not(.disabled):active,
    &:focus {
      background: $blanc;
      svg {
        fill: $noir;
      }
    }
    &:hover {
      border-color: #000000;
    }
    &:active {
      background: transparent;
    }
    &:focus {
      background: transparent;
    }

    &.pill-dark {
      border-color: $noir;
      color: $noir;
      svg {
        fill: $noir;
      }
      &:hover {
        background-color: #000000;
        svg {
          fill: $blanc;
        }
      }
    }
  }
  &.hero {
    height: 60px;
    padding: 10px 20px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);
  }
  &.help {
    background: $erreur;
    color: $error;
    svg {
      fill: $error;
    }
    &:hover {
      background: $error;
      color: $blancSimple;
      svg {
        fill: $blancSimple;
      }
    }
    &:not(:disabled):not(.disabled):active {
      background: $erreur;
    }
  }
  &.tuto {
    background: $focus;
    color: $blancSimple;
    outline: 0;
    border: 0.5px solid transparent;
    svg {
      fill: $blancSimple;
    }
    &:hover {
      background: #d2edfc;
      color: $focus;
      svg {
        fill: $focus;
      }
    }
    &:not(:disabled):not(.disabled):active {
      background: $focus;
    }
  }
  &.edit {
    background: #f9ef99;
    color: $noir;
    svg {
      fill: $noir;
    }
    &:hover {
      box-shadow: none;
    }
  }
  &.precision {
    background: $attention;
    color: $darkColor;
    svg {
      fill: $darkColor;
    }
  }
  &.fill-dark {
    background: $noir;
    color: $blancSimple;
    svg {
      fill: $blancSimple;
    }

    &:hover {
      background: #ffffff;
      border: 1px solid #000000;
      color: $noir;

      svg {
        fill: $noir;
      }
    }
  }

  // Utilisé lorsqu'un bouton utilise la couleur de thème de façon dynamique dans le JS
  &.theme {
    background: $noir;
    color: $blanc;
    svg {
      fill: $blanc;
    }
    &:hover {
      box-shadow: none;
    }
  }
}
