@import 'src/scss/colors.scss';

body .figma-btn{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  border-radius: 12px;
  padding: 10px;
  background: #FFFFFF;
  color: $grisFonce;
  border:none;
  width: fit-content;
  text-decoration: none;
  
  .default svg{
    fill:$grisFonce;
  }
  &:hover{
    svg{
      fill: $noir;
    }
  }
  &:not(.theme){
    &:not(:disabled):hover, &:not(:disabled):not(.disabled):active{
      color: $noir;
    }
    &:not(:disabled):not(.disabled):active{
      background: $noirCD;
    }
    &:focus{
      background: $blanc;
      border: 1px solid $focus;
    }
  }
  &:focus{
    outline:0;
  }

  &.dark{
    background: $noir;
    color: #FFFFFF;
    svg{
      fill: $blanc;
    }
    &:hover{
      background: #000000;
      color: #FFFFFF;
      svg{
        fill: $blanc;
      }
    }
    
    &:not(:disabled):not(.disabled):active{
      background: #000000;
      color: #FFFFFF;
      svg{
        fill: $blanc;
      }
    }
    &:focus{
      background: #000000;
    }
  }

  &.validate{
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
    background: $vert;
    color: #FFFFFF;
    &:hover, &:not(:disabled):not(.disabled):active{
      background: $vert;
    }
  }
  
  &.light-action{ 
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
    svg{
      fill: $noir;
    }
    &:not(:disabled):hover{
      background: $gris;
    }
    &:not(:disabled):not(.disabled):active{
      background: $noir;
      color: #FFFFFF;
      svg{
        fill: #FFFFFF;
      }
    }
    &:focus{
      box-shadow: 0px 4px 7px rgba(47, 128, 237, 0.3);
      border: 1px solid $focus;
    }
  }

  &.theme{
    background: $darkColor;
    color: #FFFFFF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
  }

  &.outline, &.pill{
    border: 1px solid #FFFFFF;
    background: transparent;
    color: #FFFFFF;

    &.pill-dark{
      border-color: $noir;
      color: $noir;
    }
  }

  &.outline-black{
    border: 1px solid $noir;
    background: transparent;
    color: $noir;
  }

  &.pill{
    border-radius: 12px;
    height: auto;
    svg{
      fill: $blanc;
    }
    &:hover, &:not(:disabled):not(.disabled):active, &:focus{
      svg{
        fill: $noir;
      }
    }
  }
}
