@import 'src/scss/colors.scss';

body .figma-btn{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  border-radius: 12px;
  min-height: 40px;
  padding: 10px;
  background: $blanc;
  cursor: pointer;
  border: 0.5px solid transparent;
  color: $noir;
  width: fit-content;
  text-decoration: none;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  
  &.default svg{
    fill:$noir;
  }
  &:hover{
    svg{
      fill: $noir;
    }
  }
  &:not(.theme){
    &:hover {
      color: $noir;
    }
    &:active{
      background: $noirCD;
      color: $noir;
    }
    &:focus{
      color: $focus;
      background: $blanc;
      border: 0.5px solid $focus;
      svg{
        fill : $focus;
      }
    }
    &:disabled, &.disabled{
      background: $gris;
      color: $grisFonce;
      svg{
        fill:$grisFonce;
      }
    }
  }
  &:focus{
    outline:0;
  }

  &.dark{
    background: $noir;
    color: #FFFFFF;
    svg{
      fill: $blanc;
    }
    &:hover{
      background: #000000;
      color: #FFFFFF;
      box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
      svg{
        fill: $blanc;
      }
    }
    
    &:not(:disabled):not(.disabled):active{
      background: #000000;
      color: #FFFFFF;
      cursor: not-allowed;
      svg{
        fill: $blanc;
      }
    }
    &:focus{
      background: #000000;
    }
  }

  &.validate{
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
    background: $vert;
    color: $blanc;
    svg{
      fill: $blancSimple;
    }
    &:hover{
      background: $vertFonce;
      color: $blanc;
      box-shadow: none;
      svg{
        fill: $blanc;
      }
    } 
    &:not(:disabled):not(.disabled):active{
      background: $vert;
    }
  }

  &.error{
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
    background: $error;
    color: $blanc;
    &:hover{
      background: $rouge;
      color: $blanc;
      svg{
        fill: $blanc;
      }
    } 
    &:not(:disabled):not(.disabled):active{
      background: $error;
    }
  }
  
  &.light-action{ 
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
    svg{
      fill: $noir;
    }
    &:not(:disabled):hover{
      background: $noir3;
      box-shadow: none;
    }
    &:not(:disabled):not(.disabled):active{
      background: $noir;
      color: #FFFFFF;
      svg{
        fill: #FFFFFF;
      }
    }
    &:focus{
      box-shadow: 0px 4px 7px rgba(47, 128, 237, 0.3);
      border: 0.5px solid $focus;
    }
  }

  &.theme{
    background: $noir;
    color: $blanc;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
    svg{
      fill: $blanc;
    }
    &:hover{
      box-shadow: none;
    }
  }

  &.outline, &.pill{
    border: 0.5px solid #FFFFFF;
    background: transparent;
    color: #FFFFFF;
    transition: all 0.2s ease;
    &:hover{
      border-color: #000000;
    }
    &:active{
      background: transparent;
    }
    &:focus{
      background: transparent;
    }

    &.pill-dark{
      border-color: $noir;
      color: $noir;
      svg{
        fill: $noir;
      }
      &:hover{
        background-color: #000000;
        svg{
          fill: $blanc;}

      }
    }
  }

  &.outline-black{
    border: 0.5px solid $noir;
    background: transparent;
    color: $noir;
    transition: all 0.2s ease;
    &:hover{
      border-color: #000000;
      background: $gris;
      color: #000000;
      box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
    }
  }

  &.pill{
    border-radius: 12px;
    height: auto;
    svg{
      fill: $blanc;
    }
    &:hover, &:not(:disabled):not(.disabled):active, &:focus{
      background: $blanc;
      svg{
        fill: $noir;
      }
    }
  }
}
