@import 'src/scss/colors.scss';

$taille:60px;
$tailleBig:80px;

.sponsor-footer{
  color: $darkColor;
  background: #FFFFFF;
  padding: 20px 40px;

  h5{
    margin-bottom: 20px;
    font-weight: bold;
  }

  .col{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img{
      height: fit-content;
    }
  }

  .image-wrapper{
    position:relative;
    .sponsor-img{
      //max-width:64px;
      max-height:150px;
      &:hover{
        filter: grayscale(1);
        cursor: pointer;
      }
    }
    .delete-icon{
      position: absolute;
      top: -15px;
      right: -15px;
      display:none;
    }
    &:hover .delete-icon{
      display: inherit;
    }
  }

  .add-sponsor{
    cursor: pointer;
    background: $gris;
    border-radius: 12px;
    display:flex;
    justify-content: center;
    align-items: center;
    height:$taille;
    position:relative;
    padding: 20px;
    &:hover{
      cursor: pointer;
      background-color: $grisFonce;
    }
    .add-sign{
      border-radius: 50%;
      padding: 10px;
      margin-right: 10px;
      font-size: 20px;
      line-height: 20px;
      height: 40px;
    }

    .add-text{
      font-weight: bold;
      font-size: 16px;
    }
  }
}

.modal-sponsors .modal-content{
  background: $gris;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  padding: 40px;

  .form-field{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    color: $noir;

    &.inline-div{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }
    .input-group{
      margin-top: 10px;
      input{
        border-radius: 12px;
        border: none;
        padding: 10px 10px 10px 40px;
      }
      .input-icon{
        position: absolute;
        top: 8px;
        left: 10px;
        z-index: 4;
        line-height: 20px;
      }
    }

    .image-wrapper{
      position:relative;
      .sponsor-img{
        max-height: 40px;
        max-width: 110px;
      }
    }
  }
  .btn-footer{
    margin-top: 10px;
    margin-left: auto;
  }
  .upload-btn{
    position: relative;
  }
  [type=file] {
    z-index:2;
    cursor: pointer;
    display: block;
    filter: alpha(opacity=0);
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
  }
}