@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/rtl";
@import "src/scss/variables";

$taille: 60px;
$tailleBig: 80px;

.container {
  color: white;
  background-color: $gray90;
  padding: 32px;

  @include isMobile() {
    padding-right: 0;
    padding-left: 0;
  }
  .title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 40px;
    line-height: 27px;

    @include isMobile() {
      font-size: 28px;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;

  @include isMobile() {
    margin-left: 32px;
    margin-right: 0;

    @include rtl() {
      margin-left: 0;
      margin-right: 32px;
    }
  }
}

.sponsor_img {
  max-width: 160px;
  max-height: 110px;

  &:hover {
    filter: grayscale(1);
    cursor: pointer;
  }
}

.image_wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0 8px;
  max-height: 100px;
  align-items: center;

  .sponsor_img {
    margin: 0 8px 0 0;
  }
}

.btn_footer {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-left: 0;
  margin-top: 10px;
}

.file_input {
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.input {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: $text-normal;
  color: $gray90;
  border-radius: $radius;

  &.inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
    background-color: $white;
    padding: 16px;
  }

  .input_group {
    margin-top: 10px;
    input {
      border-radius: $radius;
      border: none;
      padding: 10px 10px 10px 40px;
    }
    .input_icon {
      position: absolute;
      top: 14px;
      left: 10px;
      z-index: 4;
      line-height: 20px;
    }
  }
}

.warning {
  border-radius: $radius;
  padding: 10px 40px 10px 60px;
  position: relative;
  color: white;

  .info_icon {
    position: absolute;
    left: 10px;
    top: 20px;
    transform: translateY(-50%);
  }
  .close_icon {
    position: absolute;
    right: 10px;
    top: 20px;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.selection_logo {
  @apply .mr-10;
  max-width: 40px;
  max-height: 40px;
}

.selection_wrapper {
  display: flex;
  align-items: center;
  border-radius: $radius;
  padding: 10px 20px;
}

.content_sent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .illu {
    margin: 30px;
    max-height: 280px;
  }
  h5 {
    color: $validationHover;
  }
}

.author {
  padding: 10px 20px 10px 40px;
  border: 0.5px solid $gray90;
  border-radius: $radius;
  width: -webkit-fill-available;
  background-color: $gray10;
  cursor: pointer;
}

.structure {
  @apply .mb-10;
  display: flex;
  padding: 10px 10px 10px 30px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  border-radius: $radius;
  background-color: $white;
  height: 50px;
  align-items: center;
  margin-bottom: 150px;
}

.custom_modal {
  overflow: hidden;
  width: 650px;
  max-width: 60vw;
  background: $gray10;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  border-radius: $radius;

  .modal_content {
    background-color: $gray20;
    padding: 20px;
    border: none;
    min-height: 80vh;
  }
  .modal_footer {
    background: transparent;
    justify-content: space-between;
    border: none;
  }

  .input {
    .input_group {
      input {
        border: 0.5px solid gray;
      }
    }
  }
}

.img_modal {
  .modal_content {
    background-color: $gray20;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    border-radius: $radius;
    padding: 40px;
    flex-direction: column;
  }
}

.mobile_section {
  display: flex;
  overflow-x: auto;
  margin-left: 32px;

  @include rtl() {
    margin-left: 0;
    margin-right: 32px;
  }
}

.sponsor_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  width: 214px;
  border-radius: 12px;
  margin-left: 0;
  margin-right: 16px;
  height: 345px;
  background: #eaeaea;

  &.no_edit {
    height: 303px;
    cursor: pointer;
  }
  &.add {
    background: #f9ef99;
    cursor: pointer;

    &:hover {
      border: 2px solid #212121;
    }
  }
  &.nolink {
    cursor: auto !important;
  }

  @include isMobile() {
    margin-left: 32px;
    margin-right: 32px;
  }
}
