@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/responsive";

.container {
  margin-block-start: u(10);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.btn {
  padding: u(2) !important;
  margin-block-end: u(2);

  @include media-max("xl-limit") {
    margin-block-end: u(1);
  }

  &:last-child {
    @include mr-ltr(0);
  }
}
