@import "~/scss/mixins/responsive";

@layer components {
  .navBar {
    /* stylelint-disable-next-line selector-class-pattern */
    :global .fr-btn--menu {
      position: absolute;
      top: 0.75rem;
      margin-inline: -0.5rem;
    }
  }
}

a.navLinkWithSearchIcon,
a.navLinkWithAppIcon {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &::after {
    content: "";
    display: inline-block;
    width: 0.875rem;
    height: 0.875rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

body {
  @include media-min("xl-limit") {
    a.navLinkWithSearchIcon::after {
      background-image: url("data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjE0IiBoZWlnaHQ9IjE0IiB2aWV3Qm94PSIwIDAgMTQgMTQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTEuMDIxMyAxMC4wNzgyTDEzLjg3NjcgMTIuOTMyOEwxMi45MzMzIDEzLjg3NjJMMTAuMDc4NyAxMS4wMjA4QzkuMDE2NDggMTEuODcyMyA3LjY5NTMyIDEyLjMzNTQgNi4zMzM5OCAxMi4zMzM1QzMuMDIxOTggMTIuMzMzNSAwLjMzMzk4NCA5LjY0NTUgMC4zMzM5ODQgNi4zMzM1QzAuMzMzOTg0IDMuMDIxNSAzLjAyMTk4IDAuMzMzNDk2IDYuMzMzOTggMC4zMzM0OTZDOS42NDU5OCAwLjMzMzQ5NiAxMi4zMzQgMy4wMjE1IDEyLjMzNCA2LjMzMzVDMTIuMzM1OSA3LjY5NDgzIDExLjg3MjggOS4wMTU5OSAxMS4wMjEzIDEwLjA3ODJaTTkuNjgzOTggOS41ODM1QzEwLjUzMDEgOC43MTM0MiAxMS4wMDI2IDcuNTQ3MTIgMTEuMDAwNyA2LjMzMzVDMTEuMDAwNyAzLjc1NDgzIDguOTExOTggMS42NjY4MyA2LjMzMzk4IDEuNjY2ODNDMy43NTUzMiAxLjY2NjgzIDEuNjY3MzIgMy43NTQ4MyAxLjY2NzMyIDYuMzMzNUMxLjY2NzMyIDguOTExNSAzLjc1NTMyIDExLjAwMDIgNi4zMzM5OCAxMS4wMDAyQzcuNTQ3NiAxMS4wMDIxIDguNzEzOTEgMTAuNTI5NiA5LjU4Mzk4IDkuNjgzNUw5LjY4Mzk4IDkuNTgzNVoiIGZpbGw9IiMxNjE2MTYiLz4KPC9zdmc+Cg==");
    }

    a.navLinkWithAppIcon::after {
      background-image: url("data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjEwIiBoZWlnaHQ9IjE0IiB2aWV3Qm94PSIwIDAgMTAgMTQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNOS4wMDA2NSAwLjMzMzAwOEM5LjM2ODg0IDAuMzMzMDA4IDkuNjY3MzIgMC42MzE0ODUgOS42NjczMiAwLjk5OTY3NFYxMi45OTk3QzkuNjY3MzIgMTMuMzY3OSA5LjM2ODg0IDEzLjY2NjMgOS4wMDA2NSAxMy42NjYzSDEuMDAwNjVDMC42MzI0NjEgMTMuNjY2MyAwLjMzMzk4NCAxMy4zNjc5IDAuMzMzOTg0IDEyLjk5OTdWMC45OTk2NzRDMC4zMzM5ODQgMC42MzE0ODUgMC42MzI0NjEgMC4zMzMwMDggMS4wMDA2NSAwLjMzMzAwOEg5LjAwMDY1Wk04LjMzMzk4IDEuNjY2MzRIMS42NjczMlYxMi4zMzNIOC4zMzM5OFYxLjY2NjM0Wk01LjAwMDY1IDEwLjMzM0M1LjM2ODg0IDEwLjMzMyA1LjY2NzMyIDEwLjYzMTUgNS42NjczMiAxMC45OTk3QzUuNjY3MzIgMTEuMzY3OSA1LjM2ODg0IDExLjY2NjMgNS4wMDA2NSAxMS42NjYzQzQuNjMyNDYgMTEuNjY2MyA0LjMzMzk4IDExLjM2NzkgNC4zMzM5OCAxMC45OTk3QzQuMzMzOTggMTAuNjMxNSA0LjYzMjQ2IDEwLjMzMyA1LjAwMDY1IDEwLjMzM1oiIGZpbGw9IiMxNjE2MTYiLz4KPC9zdmc+Cg==");
    }
  }
}
