@import "~/scss/colors";
@import "~/scss/variables";

.btn {
  display: flex;
  inline-size: 100%;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 20px;
  border-radius: $radius;
  align-items: center;
  background-color: $gray60;
  font-size: $text-normal;
  color: white;
  font-weight: bold;
  border: none;

  .icon {
    margin-inline-end: 10px;

    &.rtl {
      margin-inline: 10px 0;
    }
  }
}
