@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/text";
@import "src/scss/mixins/rtl";
@import "src/scss/variables";

$breakpoint: "lg-limit";
$purple: #3d2884;
$red: #910940;
$orange: #cd5605;
$brown: #443023;
$green: #055e5a;

:export {
  purple: $purple;
  red: $red;
  orange: $orange;
  brown: $brown;
  green: $green;
  blue: $bleuCharte;
  white: $white;
}

.link {
  @include text("large");
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: none;
  outline: none;

  @include media-max($breakpoint) {
    @include text("normal");
  }

  &:hover {
    text-decoration: underline;
    background: transparent !important;
  }

  &.color_purple {
    color: $purple;
  }
  &.color_red {
    color: $red;
  }
  &.color_orange {
    color: $orange;
  }
  &.color_blue {
    color: $bleuCharte;
  }
  &.color_white {
    color: $white;
  }
  &.color_brown {
    color: $brown;
  }
  &.color_green {
    color: $green;
  }
}

.icon {
  margin-left: u(2);

  @include rtl() {
    margin-left: inherit;
    margin-right: u(2);
  }
}
