@import "src/scss/colors.scss";

.footer-link {
  color: $grisFonce;
  background: transparent;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  border: none;
  text-decoration: underline;
  outline: none;
}
