@import "src/scss/colors";
@import "src/scss/variables";

$containerHeight: 435px;

.details_row {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  margin-top: 20px;
}

.col_1 {
  width: 335px;
  display: flex;
  flex-direction: column;
}
.col_2 {
  width: 390px;
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  height: $containerHeight;

  .scrollable {
    background: $white;
    border-radius: $radius;
    padding: 16px;
    flex-grow: 1;
    overflow-y: scroll;
  }
}
.col_3 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: $containerHeight;
}
