@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/mixins/rtl";
@import "~/scss/variables";

.container {
  background: $white;
  block-size: 100%;
  position: relative;
  overflow-y: clip;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: u(4);
}

.icon {
  inline-size: u(10);
  block-size: u(10);
  border-radius: 50%;
  background: $bleuCharte;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-end: u(2);

  @include rtl {
    margin-inline: u(2) 0;
  }
}

.close {
  background: transparent;
  border: none;
}

.title {
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: u(4);
  position: fixed;
  inset-block-end: 0;
  inline-size: 100%;
  box-shadow: 0 -16px 16px 0 #0000000d;
  background: $white;
  z-index: 3;

  & > button {
    @include text("normal");

    border-radius: $radius;

    &.btn_search {
      font-weight: bold;
      padding: 12px;
    }
  }

  .reset {
    color: $bleuCharte;

    & > span {
      position: relative;
      inset-block-start: -2px;
    }
  }
}
