.Footer {
    height: 56px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    background-color: rgba(52, 59, 64, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 90;
    padding: 0 20px;
}

.Footer .Logo {
    height: 80%;
}
