$white: rgb(255, 255, 255);
$c-main: #062751;
.parkour-on-board{

  .full-width{
    width:100%;
  }

  .stack{
    overflow: hidden;
  }

  .logo{
    transform: translateX(-50%) translateX(0px); visibility: inherit; opacity: 1;
    text-align: center;
    color: white;
  }

  .page__sidebar .logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 125;
    top: 8rem;
    display: block;
    width: 20rem;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
  }

  .peel__bottom{
    top: 60px; left: 0px; right: 0px; bottom: 0px; background: rgb(16, 62, 120); border-right: 1px solid rgb(16, 62, 120); border-bottom: 1px solid rgb(16, 62, 120); border-left: 1px solid rgb(16, 62, 120);
    position: absolute;
  }

  .peel__top{
    top: 0px; left: 60px; right: 0px; bottom: 10px; background: rgb(16, 62, 120); border-top: 1px solid rgb(16, 62, 120); border-right: 1px solid rgb(16, 62, 120);
    position: absolute;
  }

  .icon.icon-ui-arrow-left{
    fill: rgb(255, 255, 255);
  }

  .stack .panel__content__name{
    opacity: 0; transform: matrix(-1, 0, 0, -1, 0, 0);
    position: absolute;
    top: 3.5rem;
    left: 1.5rem;
    font-size: 2rem !important;
    white-space: nowrap;
    writing-mode: vertical-lr;
  }

  .panel:not(.old) .panel__content__name {
    display: none;
  }

  background: $white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  .page__sidebar {
    position: relative;
    padding-top: 6rem;
    background: $c-main;
  }
  
  .page__sidebar .logo {
    display: none;
  }
  
  .page__content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .page.hide-cards {
    .wizard__cards {
      opacity: 0;
    }
  }
  
  display: flex;
  justify-content: flex-end;
  min-height: 100vh;

  .page__sidebar {
    position: fixed;
    z-index: 20;
    top: 56px;
    left: 0;
    flex-basis: 37%;
    min-width: 37%;
    height: calc(100vh - 2 * 56px);
    padding-top: 0;
    bottom: 56px;
  }

  .page__content {
    flex-basis: 63%;
    max-width: 63%;
  }

  .page__sidebar .logo {
    z-index: 125;
    top: 8rem;
    display: block;
    width: 20rem;
    transition: transform 1s;

    text {
      display: none;
    }
  }

  .stack {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .panel.old {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  .stack .panel:nth-child(1) {
    left: 0rem;
  }

  .stack .panel:nth-child(2) {
    left: 1rem;
  }

  .stack .panel {
    transform-origin: 0% 100%;
    transition: left 0.7s cubic-bezier(0.17, 0.395, 0, 1);
  }
  
  .stack .panel {
    z-index: 10;
  }

  .panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: auto !important;
    height: 100% !important;
    padding-top: 20rem;
  }

  .panel:not(.old) {
    height: auto !important;
  }

  .stack .panel::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    box-shadow: -2px -1px 20px 0px rgba(6, 39, 81, 0.5);
    opacity: 0;
  } 

  .panel .peel {
    min-height: 5rem;
  }

  .peel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .peel svg.grow {
    transform: scale(1.05);
  }

  .peel svg {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
  }

  svg:not(:root) {
    overflow: hidden;
  }

  .panel.old .panel__back {
    pointer-events: none;
  }

  .panel__back.hide {
    opacity: 0;
  }

  .panel__back {
    width: 10rem;
    height: 8rem;
    margin-left: 1.6rem;
    padding-top: 0;
  }

  .panel__back {
    position: absolute;
    z-index: 70;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8rem;
    height: 3rem;
    padding-top: .8rem;
    color: white;
    cursor: pointer;
    transition: opacity 0.4s cubic-bezier(0.17, 0.395, 0, 1);
  }

  .panel__back .icon {
    width: 1rem;
  }
  
  .panel__back .icon {
    margin-left: 1.8rem;
  }

  .panel__back p {
    color: white;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }

  .panel.old .panel__content {
    padding-top: 1rem;
  } 

  .panel__content {
    width: 100%;
    max-width: 68rem;
    margin: 0 auto;
  }

  .panel__content {
    padding: 2rem;
  }

  .panel__action {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
    display: none;
  } 

  .panel__content__name {
    overflow: hidden;
    color: white;
    font-weight: 700;
    text-align: center;
    text-overflow: ellipsis;
  }  

  .panel__content > * {
    position: relative;
    z-index: 10;
  }

  .panel__content__title, .panel__content__text {
    max-width: 38rem;
    margin: 0 auto;
  }

  .panel__content__title {
    position: relative;
    z-index: 30;
    font-size: 3rem;
  }

  .panel__content__title {
    color: white;
    text-align: center;
  }

  .panel__content__text {
    display: block;
    text-align: center;
  }

  .panel__content__text {
    color: white;
    font-size: 1.4rem;
    line-height: 1.7;
  }

  .panel__content__image {
    position: absolute;
    right: 0;
    bottom: 2rem;
    left: 0;
    display: block;
    transform-origin: 50% 100%;
  }

  .panel__content__image img {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  img {
    height: auto;
  }

  img {
    border: 0;
  }

  .panel{
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  .page__content{
    transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-flex-basis: 63%;
    -ms-flex-preferred-size: 63%;
    flex-basis: 63%;
    max-width: 63%;
  }
}

html:not(.ie) .stack .panel::before {
  transition: opacity cubic-bezier(0.17, 0.395, 0, 1) 0.4s;
  transition-delay: .2s;
}