@import 'src/scss/colors.scss';
@import 'src/scss/global.scss';

.qui-sommes-nous{
  flex: 1 1;
  background: #FFFFFF;
  max-width: 100%;
  overflow: scroll;

  .header-anchor{
    position: absolute;
    top: 600px;
  }

  .slide-animation{
    position: absolute;
    bottom: 33px;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-animation: slide-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
            animation: slide-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
  }
  
  .slide-background{
    left: 6px;
    bottom: 6px;
    position: absolute;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: $noir;
  }
  .slide-bottom {
    position: relative;
    fill: $blancSimple;
    &:hover{
      svg{
        transition: all 0.5s ease;
        fill:$gris;
      }
    }
  }

  section{
    min-height: 650px;
    padding-top: 50px;
    padding-bottom: 50px;

    &#equipe{
      min-height: initial;
    }
  }

  #hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(124.63deg, #FFFFFF -3.98%, #F2F2F2 115.05%);
    background-image: url(../../assets/figma/trame_home_bg.svg);
    background-size: cover;
    flex-direction: column;
  }

  .hero-container{
    text-align: center;
    max-width: 650px;
    h1{
      margin-bottom: 30px;
    }
  }

  .section-container{
    width: 100%;

    h2{
      text-align: center;
      margin-bottom: 60px;
    }
    h3{
      margin-bottom: 30px;
      margin-left: 17%;
    }
  }
  .card-row{
    margin-top: -10px;
  }
  .card-col{ 
    padding: 0 70px;
    margin-top: 10px;

    .card{
      min-height: 450px;
      border:none;
      padding: 0;
      background: transparent;
      @include media-max("md-limit") { min-height: 200px; }

      .card-header{
        background: transparent;
        border: none;
        font-weight: 900;
        font-size: 27px;
        line-height: 34px;
        height: auto;
        padding:0;
        margin-bottom: 40px
      }
      .card-body{
        padding:0;
        font-size: 18px;
        line-height: 24px;
      }
      .card-footer{
        background: transparent;
        border: none;
        display: flex;
        justify-content: left;
        padding:0;
      }
    }
  }
  .membres-row{
    text-align: center;
    background-color: $gris;
    margin-bottom: -13px;
    .col{
      padding: 20px;
      &:hover{
        background-color: $noir;
        color: $blancSimple;
      }
    }
  }
  .team-wrapper{
    margin-top: 13px;
    position:relative;
    .team-picture{
      width: 100%;
    }
    .description{
      width: 600px;
      max-width: 50%;
      background: $noir;
      opacity: 0.95;
      height: 100%;
      position: absolute;
      right:0;
      top:0;
      color: #FFFFFF;
      padding: 30px 40px;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      flex-direction: column;
      overflow: scroll;
      // @include media-max("md-limit") { min-height: 200px; }
    }
    .team-header{
      margin-bottom: 15px;
    }
    .team-body{
      flex: 1;
      h5{
        margin: 15px 0;
      }
    }
    .team-footer{
      display: flex;
      justify-content: flex-end;
    }
    .close-btn{
      position: absolute;
      top: 12px;
      right: 15px;
      cursor: pointer;
    }
  }

  #partenaires{
    .section-container{
      padding: 0 0;
      margin: auto;
    }
  }
  .partner-row{
    margin-bottom: 30px;
  }
  .partner-img{
    max-width: 360px;
  }
}

.slide-bottom {
	-webkit-animation: slide-bottom 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
	        animation: slide-bottom 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}

 @-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}
