@import "~/scss/colors";
@import "~/scss/variables";

.container {
  inline-size: 390px;
  background-image: url("../../../../assets/annuaire/illu_annuaire_big.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 44px;
  display: flex;
  padding-block-start: 100px;
  flex-direction: column;
}

.logo {
  background: $white;
  border-radius: $radius;
  inline-size: 296px;
  block-size: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 8px;
  padding: 32px;
}

.img {
  align-self: center;
}
