@import "~/scss/colors";
@import "~/scss/variables";

.container {
  inline-size: 300px;
  overflow: scroll;
  padding: 32px;

  .title {
    display: flex;
    flex-direction: row;
    margin-block-end: 20px;
    padding-block-start: 71px;

    h2 {
      font-weight: bold;
      font-size: 40px;
      line-height: 51px;
      margin-inline-end: 8px;
    }
  }

  .dispositifs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../../../assets/no_results.svg");
    inline-size: 223px;
    block-size: 158px;
    margin-block-start: 24px;
  }

  .figure {
    background: $white;
    box-shadow: 0 4px 8px rgb(33 33 33 / 25%);
    border-radius: 4px;
    font-weight: bold;
    font-size: $text-normal;
    line-height: 20px;
    block-size: fit-content;
    inline-size: fit-content;
    padding: 4px;
    color: $gray90;

    &.red {
      color: #f44336;
    }
  }

  .card {
    inline-size: 248px;
    margin: 8px 24px;
    z-index: 0;
  }

  .empty_text {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: $gray70;
    margin-inline: 24px;
  }
}
