@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/text";
@import "src/scss/mixins/rtl";
@import "src/scss/variables";

.register {
  max-width: 435px;

  .btn {
    width: 100%;
    justify-content: center;

    @include isTablet() {
      margin-top: u(10);
    }
  }

  .submit_btn {
    width: 100%;
    justify-content: center;
  }

  // logged in
  .image {
    margin-bottom: u(6);
    text-align: center;
  }
}
