@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/input";
@import "~/scss/mixins/icons";

.container {
  background-color: white;
  border-block-start: 1px solid var(--border-default-grey);
  border-block-end: 1px solid var(--border-default-grey);
  position: sticky;
  inset-block-start: 0;
  box-shadow: 0 12px 32px -8px #0000241f;
  z-index: 501; // goes over menu

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: u(2) 0;
  }
}

.warning {
  padding: u(2) 0;
  background: var(--background-contrast-info);
  color: var(--background-flat-info);
  font-weight: bold;
}

.help {
  @include dsfr-text("small");

  margin-block-end: 0;
  color: var(--background-action-high-blue-france);
  margin-inline-start: u(4);
}

.steps {
  display: flex;
  align-items: center;

  .btn {
    @include iconSize(u(4));

    min-block-size: u(8);
    padding: u(2);
  }
}

.progress {
  @include dsfr-text("small");

  display: flex;
  align-items: center;
  margin-inline-start: 80px;
  color: var(--background-action-high-blue-france);

  p {
    margin-block-end: 0;
    margin-inline-start: u(2);
  }
}

.save {
  @include dsfr-text("small");

  background: var(--background-alt-raised-grey);
  border-radius: u(1);
  padding: 0 u(1);
  color: $darkBackgroundElevationContrast;
  margin-inline-end: u(8);
  cursor: default;
  display: inline-flex;
  align-items: baseline;
}
