@import "~/scss/colors";
@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";
@import "~/scss/variables";

.container {
  background: $white;
  border-radius: $radius;
  inline-size: 100%;
  display: flex;
  margin-block-end: u(4);
}

// Button
.dropdown > button,
.btn {
  background: transparent !important;
  border: none;
  inline-size: 100%;
  padding: u(4);
  min-block-size: 56px;
}

// Dropdown menu
.dropdown {
  flex-shrink: 1;
  flex-grow: 1;
  min-inline-size: 0;

  &.filters {
    inline-size: u(14);
    flex-grow: 0;
    flex-shrink: 0;

    & > button {
      background: $bleuCharte !important;
      block-size: 100%;
      inline-size: 100%;
      border-radius: 0;
    }
  }
}
