
@import 'src/scss/colors.scss';

.reduced-variable{
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  align-items: center;
  position: relative;

  &.direction-row{
    margin-left: 65px;
    margin-top: 10px;
    background: $gris;
    border-radius: 6px;
    padding: 0 0 10px 10px;
    display: inline-flex;
    flex-wrap: wrap;
    .variable-item{
      margin-top: 10px;
      margin-right: 10px;
    }
  }

  &.direction-column{
    flex-direction: column;
    height: 100%;

    .variable-item{
      width: 100%;
      margin-bottom: 10px;
    }
    .reduced-critere{
      width: 100%;
      background: $validation;
      // border-radius: 12px;
    }
  }
  .case-number{
    font-weight: bold;
    background: $noir;
    border-radius: 6px;
    padding: 10px 20px;
    position: absolute;
    left: -55px;
    top:0;
    color: #FFFFFF;
  }
}
.plus-col{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .add-wrapper{
    text-align: center;
  }
  .big-plus{
    font-weight: bold;
    font-size: 64px;
    line-height: 81px;
    color: $grisFonce;
  }
  .add-texte{
    color: $grisFonce;
  }

  &:not(.disabled):hover{
    cursor: pointer;
    .big-plus, .add-texte{
      color: $noir;
    }
  }
}