@import 'src/scss/global.scss';
@import 'src/scss/colors.scss';

.advanced-search{
  background: #E5E5E5;
  flex: 1 1;

  .search-bar{
    background: $noir3;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 3;
    @include media-max("sm-limit") { font-size: 12px; }
  }
  .search-wrapper{
    max-width: 100%;
  }
  .mt-250{
    margin-top: 250px;
    @include media-max("desktop-up") { margin-top: 300px; }
    @include media-max("sm-limit") { margin-top: 350px; }
  }
  .central-col{
    position: relative;
  }
  .close-arrow{
    cursor: pointer;
  }
  .responsive-footer{
    z-index: 2;
    position: absolute;
    bottom: -45px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    // align-items: center;
  }
  .options-dropdown{
    background: $grisFonce;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    .btn > span{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &.active{
      background: $noir;
    }
  }

  .side-col{
    display: flex;
    justify-content: center;

    .right-side{
      font-size: 18px;
      max-width: 100%;
    }

    .side-options{
      color: $grisFonce;
      font-size: 18px;
      line-height: 26px;
      cursor: pointer;
      .side-option{
        &.right{
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        &:hover{
          color: $noir;
        }
        &.active{
          color: $noir;
          font-weight: bold;
        }
      }
    }
  }
  .side-option.dropdown-item.active{
    color: $noir;
    font-weight: bold;
    background-color: transparent;
  }
  .results-wrapper{
    .row{
      margin: 0 -10px;
    }
    .card-col{
      padding: 0 10px;
    }
  }
  .no-result{
    .card-body{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      h5, p{
        color: $grisFonce;
      }
    }
  }
}