@import "src/scss/global.scss";
@import "src/scss/colors.scss";

.advanced-search {
  background: #e5e5e5;
  flex: 1 1;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  .search-bar {
    background: #ffffff;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    position: fixed;
    height: 94px;
    margin-left: 68px;
    margin-right: 68px;
    padding: 8px 16px;
    top: 60px;
    display: flex;
    z-index: 3;
    border-radius: 12px 12px 12px 12px;
    margin-top: 24px;
    transition: top 0.6s;
    flex-wrap: nowrap;
    @include media-max("sm-limit") {
      font-size: 12px;
    }
    &.search-bar-hidden {
      top: -8px !important;
    }
  }
  .search-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .mt-250 {
    padding-top: 225px;
    transition: top 0.6s;
    /*     @include media-max("desktop-up") {
      padding-top: 375px;
    }
    @include media-max("sm-limit") {
      padding-top: 425px;
    } */
  }
  .mt-250-hidden {
    transition: top 0.6s;
    padding-top: 150px !important;
  }
  .close-arrow {
    cursor: pointer;
  }
  .responsive-footer {
    z-index: 2;
    position: absolute;
    bottom: -45px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    // align-items: center;
  }
  .options-dropdown {
    background: $grisFonce;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    .btn > span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &.active {
      background: $noir;
    }
  }

  .side-col {
    display: flex;
    justify-content: center;

    .right-side {
      font-size: 18px;
      max-width: 100%;
    }

    .side-options {
      color: $grisFonce;
      font-size: 18px;
      line-height: 26px;
      cursor: pointer;
      .side-option {
        &.right {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        &:hover {
          color: $noir;
        }
        &.active {
          color: $noir;
          font-weight: bold;
        }
      }
    }
  }
  .side-option.dropdown-item.active {
    color: $noir;
    font-weight: bold;
    background-color: transparent;
  }
  .results-wrapper {
    .row {
      margin: 0 -10px;
    }
    .card-col {
      padding: 0 10px;
    }
  }

  .bookmark-icon {
    position: absolute;
    opacity: 0;
    top: -8px;
    right: 5px;
    &:active {
    }
    &:hover {
    }
    &:focus {
      svg {
        fill: $noir;
      }
    }
  }

  .pinned {
    opacity: 1;
  }

  p {
    margin-bottom: 0;
    line-height: 20px;
  }

  .card {
    border-radius: 12px;
    height: 250px;
    cursor: pointer;
    &:hover {
      .bookmark-icon {
        opacity: 1;
      }
    }
  }

  .card-col {
    .card {
      //border: none;
      border-radius: 12px;
      width: 252px;
      height: 252px;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: auto;
      padding: 16px;
      //overflow: scroll;
    }
  }

  .card-col,
  .no-result-card,
  .create-card {
    .card-body {
      -ms-overflow-style: none;
      scrollbar-width: 0;
    }
    ::-webkit-scrollbar {
      display: none;
      width: 0px; /* remove scrollbar space */
      background: transparent; /* optional: just make scrollbar invisible */
    }
  }
  .no-result {
    .no-result-card {
      cursor: pointer;
      border-radius: 12px;
      font-size: 16px;
      line-height: 21px;
      height: 250px;
      scrollbar-width: 0;
      border: none;
      background: #ffffff;

      @include media-max("desktop-up") {
        font-size: 12px;
      }
      color: $noir;
    }
    ::-webkit-scrollbar {
      display: none;
      width: 0px; /* remove scrollbar space */
      background: transparent; /* optional: just make scrollbar invisible */
    }
    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: 0;
      padding: 16px;
    }
  }

  .card-footer {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 15px;
    border: none;
    text-align: right;
    color: $blancSimple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.bg-null {
      background-color: $noir;
    }
    &.correct-radius {
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
    }
    &.no-icon {
      justify-content: flex-end;
    }
  }
}
.grid-container {
  display: grid;
  justify-content: center;
  align-content: center;
  //width: 100%;
  padding-left: 24px;
}
.grid-list {
  grid-template-columns: repeat(5, minmax(260px, 300px));
}

.language-filter-button {
  cursor: pointer;
  background-color: #f2f2f2;
  padding: 8px;
  margin: 0px 8px 0px 0px;
  border-radius: 8px;
  color: black;
  &:hover > span {
    background-color: #212121;
    color: white !important;
  }
  &:hover {
    background-color: #212121;
    color: white !important;
  }
}

.bs-tooltip-auto[x-placement^="bottom"] span.arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: white !important;
}
