@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/text";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/responsive";

.container {
  margin-block-end: u(20);
  position: relative;
}

.share {
  display: none !important;

  @include media-max("lg-limit") {
    margin-block-start: u(10);
    display: block !important;
  }
}
