// RI colors
$attention: #f9ef99;
$bgfocus: #d2edfc;
$bleuCharte: #0421b1;
$darkColor: #212121;
$darkOrange: #ea6206;
$erreur: #ffcecb;
$error: #f44336;
$focus: #2d9cdb;
$gray10: #fbfbfb;
$gray20: #f2f2f2;
$gray30: #f6f6f6;
$gray40: #e5e5e5;
$gray40b: #edebeb;
$gray50: #cdcdcd;
$gray60: #c6c6c6;
$gray70: #828282;
$gray70b: #ababab;
$gray80: #5e5e5e;
$gray90: #212121;
$greenValidate: #bdf0c7;
$grey50b: #e0e0e0;
$lightColor: #f2f2f2;
$lightgreen: #def6c2;
$lightOrange: #ffe2b8;
$lightYellow: #fff7ae;
$orange: #ff9800;
$rouge: #e55039;
$standby: #fdd497;
$validation: #def6c2;
$validationDefault: #8bc34a;
$validationHover: #4caf50;
$vert: #2ca12a;
$vert2: #008205;
$vertFonce: #219653;
$white: #ffffff;
$yellow: #ffeb3b;

// Adhoc DSFR colors
$darkBackgroundActionHighBlueFrance: #8585f6;
$darkBackgroundAltBlueFrance: #1b1b35;
$darkBackgroundAltGrey: #1e1e1e;
$darkBackgroundContrastGrey: #242424;
$darkBackgroundElevationContrast: #2f2f2f;
$darkBorderPlainError: #ff5655;

// DSFR colors
$lightBackgroundContrastGrey: #eeeeee;
$lightBackgroundAltRaisedGrey: #f6f6f6;
$lightBorderDefaultBlueFrance: #6a6af4;
$lightBorderDefaultGrey: #dddddd;

$lightTextDefaultError: #ce0500;
$lightTextDefaultGrey: #3a3a3a;
$lightTextDefaultSuccess: #18753c;
$lightTextDefaultWarning: #b34000;
$lightTextDisabledGrey: #929292;
$lightTextInvertedBlueFrance: #f5f5fe;
$lightTextMentionGrey: #666666;
$lightTextTitleGrey: #161616;

:export {
  // RI colors
  attention: $attention;
  bleuCharte: $bleuCharte;
  darkColor: $darkColor;
  darkOrange: $darkOrange;
  erreur: $erreur;
  error: $error;
  focus: $focus;
  gray10: $gray10;
  gray20: $gray20;
  gray50: $gray50;
  gray60: $gray60;
  gray70: $gray70;
  gray90: $gray90;
  grey50b: $grey50b;
  lightBlue: $bgfocus;
  lightColor: $lightColor;
  lightgreen: $lightgreen;
  lightOrange: $lightOrange;
  lightYellow: $lightYellow;
  orange: $orange;
  rouge: $rouge;
  standby: $standby;
  validation: $validation;
  validationHover: $validationHover;
  vert: $vert;
  vert2: $vert2;
  white: $white;
  yellow: $yellow;

  // DSFR colors
  darkBackgroundActionHighBlueFrance: $darkBackgroundActionHighBlueFrance;
  darkBackgroundAltBlueFrance: $darkBackgroundAltBlueFrance;
  darkBackgroundAltGrey: $darkBackgroundAltGrey;
  darkBackgroundContrastGrey: $darkBackgroundContrastGrey;
  darkBackgroundElevationContrast: $darkBackgroundElevationContrast;
  darkBorderPlainError: $darkBorderPlainError;
  lightBackgroundContrastGrey: $lightBackgroundContrastGrey;
  lightBackgroundAltRaisedGrey: $lightBackgroundAltRaisedGrey;
  lightBorderDefaultBlueFrance: $lightBorderDefaultBlueFrance;
  lightBorderDefaultGrey: $lightBorderDefaultGrey;

  lightTextDefaultError: $lightTextDefaultError;
  lightTextDefaultSuccess: $lightTextDefaultSuccess;
  lightTextDisabledGrey: $lightTextDisabledGrey;
  lightTextInvertedBlueFrance: $lightTextInvertedBlueFrance;
  lightTextMentionGrey: $lightTextMentionGrey;
  lightTextTitleGrey: $lightTextTitleGrey;
}
