// RI colors
$white: #ffffff;
$gray10: #fbfbfb;
$gray20: #f2f2f2;
$lightColor: #f2f2f2;
$gray30: #f6f6f6;
$gray40: #e5e5e5;
$gray40b: #edebeb;
$gray50: #cdcdcd;
$grey50b: #e0e0e0;
$gray60: #c6c6c6;
$gray70: #828282;
$gray70b: #ababab;
$gray80: #5e5e5e;
$gray90: #212121;
$darkColor: #212121;
$bgfocus: #d2edfc;
$focus: #2d9cdb;
$bleuCharte: #0421b1;
$lightgreen: #def6c2;
$validation: #def6c2;
$greenValidate: #bdf0c7;
$validationDefault: #8bc34a;
$vert: #2ca12a;
$vert2: #008205;
$vertFonce: #219653;
$validationHover: #4caf50;
$attention: #f9ef99;
$lightOrange: #ffe2b8;
$orange: #ff9800;
$darkOrange: #ea6206;
$lightYellow: #fff7ae;
$yellow: #ffeb3b;
$standby: #fdd497;
$erreur: #ffcecb;
$rouge: #e55039;
$error: #f44336;

// DSFR colors
$lightBackgroundElevationAlt: #f6f6f6;
$lightBackgroundContrastGrey: #eeeeee;
$lightTextInvertedBlueFrance: #f5f5fe;
$lightBorderDefaultGrey: #dddddd;
$lightTextMentionGrey: #666666;
$lightTextDisabledGrey: #929292;
$darkBackgroundElevationContrast: #2f2f2f;
$darkBackgroundContrastGrey: #242424;
$darkBackgroundAltGrey: #1e1e1e;
$lightTextTitleGrey: #161616;
$lightBorderDefaultBlueFrance: #6a6af4;
$lightBackgroundActionLowBlueFrance: #e3e3fd;
$lightTextDefaultSuccess: #18753c;
$lightTextActionHighBlueFrance: #000091;
$darkBackgroundAltBlueFrance: #1b1b35;
$lightTextDefaultError: #ce0500;

:export {
  // RI colors
  lightColor: $lightColor;
  darkColor: $darkColor;
  white: $white;
  gray10: $gray10;
  gray20: $gray20;
  gray50: $gray50;
  grey50b: $grey50b;
  gray60: $gray60;
  gray70: $gray70;
  gray90: $gray90;
  rouge: $rouge;
  vert: $vert;
  vert2: $vert2;
  lightgreen: $lightgreen;
  orange: $orange;
  lightOrange: $lightOrange;
  focus: $focus;
  lightYellow: $lightYellow;
  attention: $attention;
  validation: $validation;
  validationHover: $validationHover;
  error: $error;
  erreur: $erreur;
  yellow: $yellow;
  standby: $standby;
  darkOrange: $darkOrange;
  bleuCharte: $bleuCharte;
  lightBlue: $bgfocus;

  // DSFR colors
  lightBackgroundElevationAlt: $lightBackgroundElevationAlt;
  lightBackgroundContrastGrey: $lightBackgroundContrastGrey;
  lightBorderDefaultGrey: $lightBorderDefaultGrey;
  lightTextMentionGrey: $lightTextMentionGrey;
  lightTextDisabledGrey: $lightTextDisabledGrey;
  darkBackgroundElevationContrast: $darkBackgroundElevationContrast;
  darkBackgroundContrastGrey: $darkBackgroundContrastGrey;
  darkBackgroundAltGrey: $darkBackgroundAltGrey;
  lightTextTitleGrey: $lightTextTitleGrey;
  lightBorderDefaultBlueFrance: $lightBorderDefaultBlueFrance;
  lightBackgroundActionLowBlueFrance: $lightBackgroundActionLowBlueFrance;
  lightTextDefaultSuccess: $lightTextDefaultSuccess;
  lightTextActionHighBlueFrance: $lightTextActionHighBlueFrance;
  darkBackgroundAltBlueFrance: $darkBackgroundAltBlueFrance;
  lightTextInvertedBlueFrance: $lightTextInvertedBlueFrance;
  lightTextDefaultError: $lightTextDefaultError;
}
