@import 'mixins/responsive';
@import 'mixins/rtl';
@import 'colors';
@import "src/scss/variables";

$list: top bottom left right;

html body{
  @for $i from 8 through 16 {
    @each $side in $list {
      .m#{str-slice($side, 0, 1)}-#{$i} {
        margin-#{$side}: 1px*$i;
        @include media-max("phone-down") { &.rsz{margin-#{$side}: 1px*$i/2; }}
      }
    }
    [dir="rtl"]{
      .mr-#{$i} {
        margin-left: 1px*$i;
        margin-right: 0;
        @include media-max("phone-down") { &.rsz{margin-left: 1px*$i/2; }}
      }
      .ml-#{$i} {
        margin-right: 1px*$i;
        margin-left: 0;
        @include media-max("phone-down") { &.rsz{margin-right: 1px*$i/2; }}
      }
      .mb-#{$i} {
        margin-bottom: 1px*$i;
        @include media-max("phone-down") { &.rsz{margin-bottom: 1px*$i/2; }}
      }
    }
  }
}

html {
  scroll-behavior: smooth;
}

html body {
  height: 100%;
  min-height: 100vh;
  font-size: $text-normal;

  [contenteditable] {
    -webkit-user-select: text;
    user-select: text;
  }

  h1 {
    font-weight: bold;
    font-size: 52px;
    line-height: 66px;
    @include media-max("sm-limit") {
      font-size: 35px;
    }
  }
  h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 51px;
    @include media-max("sm-limit") {
      font-size: 27px;
    }
  }
  h3 {
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;
    @include media-max("sm-limit") {
      font-size: 27px;
    }
  }
  h4 {
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    @include media-max("sm-limit") {
      font-size: 21px;
    }
  }
  h5 {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    @include media-max("sm-limit") {
      font-size: 15px;
    }
  }

  .texte-small {
    font-weight: normal;
    font-size: $text-normal;
    line-height: 19px;
    @include media-max("sm-limit") {
      font-size: 11px;
    }
  }
  .texte-very-small {
    font-size: 12px;
    line-height: 15px;
  }

  .color-vert {
    color: $validationHover;
  }
  .color-jaune {
    color: $yellow;
  }
  .color-orange {
    color: $orange;
  }
  .color-rouge {
    color: $error;
  }
  .color-gray70 {
    color: $gray70;
  }
  .color-focus {
    color: $focus;
  }

  .cursor-pointer {
    cursor: pointer;
  }
  .full-width {
    width: 100%;
  }

  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
  .reset-btn {
    border: none;
    background: none;
    padding: 0;
    -webkit-appearance: unset;

    &:focus {
      outline: none;
    }
  }

  .btn-group:focus {
    outline: none;
    box-shadow: none;
  }
  .btn:focus {
    outline: none;
    box-shadow: none !important;
  }
  .dropdown-menu.show {
    border-radius: $radius;
    border: none;
    z-index: 2000000;
  }
  .profile-img-pin {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  .bg-attention {
    background: $attention;
  }
  .bg-attention2 {
    background: $bgfocus;
  }
  .bg-validation {
    background: $validation;
  }
  .bg-gray20 {
    background: $gray20;
  }
  .bg-dark-gray20 {
    background: $gray70;
  }
  .bg-standby {
    background: $standby;
  }
  .bg-focus {
    background: $focus;
  }
  .bg-erreur {
    background: $erreur;
  }
  .bg-error {
    background: $error;
  }
  .bg-black {
    background: $gray90;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .flag-icon-sa {
    background-image: url(../assets/figma/sa_custom.svg);
  }
}

// GMap Autocomplete
.pac-container {
  z-index: 2000 !important;
}

// Dropdown
.dropdown-menu.show {
  @include rtl() {
    left: inherit !important;
    right: 0 !important;
  }
}
