@import "mixins/responsive";
@import "mixins/rtl";
@import "mixins/text";
@import "mixins/btn";
@import "colors";
@import "src/scss/variables";

html {
  scroll-behavior: smooth;
}

// Titles
main {
  h1 {
    @include text("h1");
    @include media-max("sm-limit") {
      font-size: 35px;
    }
  }
  h2 {
    @include text("h2");
    @include media-max("sm-limit") {
      font-size: 27px;
    }
  }
  h3 {
    @include text("h3");
    @include media-max("sm-limit") {
      font-size: 27px;
    }
  }
  h4 {
    @include text("h4");
    @include media-max("sm-limit") {
      font-size: 21px;
    }
  }
  h5 {
    @include text("h5");
  }
}

html body {
  height: 100%;
  min-height: 100vh;

  [contenteditable] {
    -webkit-user-select: text;
    user-select: text;
  }

  // Texts
  .texte-small {
    font-weight: normal;
    @include text("normal");
    @include media-max("sm-limit") {
      font-size: 11px;
    }
  }
  .texte-very-small {
    @include text("very-small");
  }

  .cursor-pointer {
    cursor: pointer;
  }

  // Links and buttons
  a {
    &:not([class^="fr-"]),
    &:not([class^="fr-"])[href],
    &:not([class^="fr-"]):hover {
      text-decoration: none;
      color: inherit;
      background-image: none;
    }
  }

  :not([class^="fr-link"])[target="_blank"]::after {
    content: none;
  }

  .reset-btn {
    border: none;
    background: none;
    padding: 0;
    -webkit-appearance: unset;
    appearance: unset;

    &:focus {
      outline: none;
    }
  }

  .btn-group:focus {
    outline: none;
    box-shadow: none;
  }

  .btn:focus-visible {
    color: initial;
    background-color: inherit;
    border-color: initial;
    @include focus();
    box-shadow: initial;
  }

  // Dropdowns
  .dropdown-menu {
    &.show {
      border-radius: $radius;
      border: none;
      z-index: 2000000;

      @include rtl() {
        left: inherit !important;
        right: 8px !important;
      }
    }
  }

  // Avatar
  .profile-img-pin {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  // Backgrounds
  .bg-focus {
    background: $focus;
  }

  // Aligns
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // Inputs
  input[type="number"]:not(.spinner)::-webkit-inner-spin-button,
  input[type="number"]:not(.spinner)::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // Flags
  .fi.fi-sa {
    background-image: url(../assets/figma/sa_custom.svg);
  }
}

// Google Map
.pac-container {
  z-index: 2000 !important;
}
// fix for: https://github.com/JustFly1984/react-google-maps-api/issues/2906
.gm-style-moc {
  height: unset !important;
}
@media print {
  .gm-style .gmnoprint,
  .gmnoprint {
    display: none;
  }
}
@media screen {
  .gm-style .gmnoscreen,
  .gmnoscreen {
    display: none;
  }
}

// Bootstrap btn fix
.btn-secondary,
.btn-secondary:hover {
  color: $dark;
}

// Crisp
[data-page="content"] .crisp-client .cc-tlyw[data-full-view="true"] .cc-kxkl .cc-nsge {
  @include isTablet() {
    bottom: 80px !important;
  }
}

// Print
@media print {
  body {
    width: 1200px;
  }
  .axeptio_mount {
    display: none;
  }
}
