@media (min-width: 62em) {

    [dir="ltr"] .fr-translate__menu {
        right: 0;
    }
    [dir="rtl"] .fr-translate__menu {
        left: 0;
    }
}

.fr-footer__bottom-copy {
    font-size: .75rem;
}
