// mobile menu button
.fr-header .fr-header__navbar {
  align-self: center;

  [dir="ltr"] & {
    padding-right: 1rem;
  }
  [dir="rtl"] & {
    padding-left: 1rem;
    margin-left: inherit;
    margin-right: auto;
  }
}

// rtl
[dir="rtl"] {
  .fr-footer__top-cat,
  .fr-nav__list > * > .fr-nav__link,
  .fr-nav__link {
    text-align: right;
  }
  [class^="ri-"].icon-left {
    margin-right: 0;
    margin-left: 0.5rem;
  }
  .fr-header
    .fr-btns-group:not(.fr-btns-group--sm):not(.fr-btns-group--lg):not([class^="fr-btns-group--icon-"]):not(
      [class*=" fr-btns-group--icon-"]
    )
    .fr-btn::before {
    margin-right: -0.125rem;
    margin-left: 0.5rem;
  }

  @media (min-width: 62em) {
    .fr-footer__content {
      margin-right: auto;
      margin-left: inherit;
    }
  }
}

// remove when remixicons css is removed
.fr-header [class^="ri-"],
.fr-header [class*=" ri-"] {
  font-family: inherit !important;
}
