@font-face {
  font-family: "CircularStdMedium";
  src: local("CircularStdMedium"),
    url(/fonts/CircularStd/CircularStd-Medium.WOFF) format("woff");
}

@font-face {
  font-family: "CircularStdBlack";
  src: local("CircularStdBlack"),
    url(/fonts/CircularStd/CircularStd-Black.WOFF) format("woff");
}

@font-face {
  font-family: "CircularStdBold";
  src: local("CircularStdBold"),
    url(/fonts/CircularStd/CircularStd-Bold.WOFF) format("woff");
}

@font-face {
  font-family: "CircularStdBook";
  src: local("CircularStdBook"),
    url(/fonts/CircularStd/CircularStd-Book.WOFF) format("woff");
}
