@font-face {
  font-family: "Marianne";
  src: local("Marianne-Bold"),
    url(https://storage.googleapis.com/refugies-info-assets/fonts/Marianne/Marianne-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne-Regular"),
    url(https://storage.googleapis.com/refugies-info-assets/fonts/Marianne/Marianne-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
