
// Bootstrap
// All variables here: https://github.com/twbs/bootstrap/blob/v4.6.1/scss/_variables.scss
$font-family-sans-serif: "CircularStdBook", "CircularStdMedium", "Roboto", "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI";
$body-color: $noir;
$body-bg: white;

// Headings
$h1-font-size: 3.25rem;
$h2-font-size: 2.5rem;
$h3-font-size: 2.5rem;
$h4-font-size: 1.75rem;
$h5-font-size: 1.375rem;

$headings-margin-bottom: 0;
$headings-font-weight: 700;
$headings-line-height: 1.25;


// Custom
$radius: 12px;
