
// Bootstrap
// All variables here: https://github.com/twbs/bootstrap/blob/v4.6.1/scss/_variables.scss
$font-family-sans-serif: "CircularStdBook", "CircularStdMedium", "Roboto", "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI";
$body-color: $noir;

// Custom
$radius: 12px;
