$blanc: #fbfbfb;
$gris: #f2f2f2;
$grisFonce: #828282;
$noir3: #e5e5e5;
$rouge: #e55039;
$vert: #2ca12a;
$vertFonce: #219653;
$noir: #212121;
$noirCD: #cdcdcd;
$violet: #583f93;
$blancSimple: #ffffff;
$jauneClair: #fff7ae;
$orange: #ff9800;
$attention: #f9ef99;
$uiattention: #ffeb3b;
$validation: #def6c2;
$validationHover: #4caf50;
$validationDefault: #8bc34a;
$error: #f44336;
$erreur: #ffcecb;
$lightColor: #f2f2f2;
$darkColor: #212121;
$cardColor: #828282;
$focus: #2d9cdb;
$bgfocus: #d2edfc;
$standby: #fdd497;
$bleuCharte: #0421b1;
$darkOrange: #ea6206;

:export {
  lightColor: $lightColor;
  darkColor: $darkColor;
  cardColor: $cardColor;
  blanc: $blanc;
  rouge: $rouge;
  vert: $vert;
  noir: $noir;
  gris: $gris;
  violet: $violet;
  orange: $orange;
  focus: $focus;
  grisFonce: $grisFonce;
  noirCD: $noirCD;
  blancSimple: $blancSimple;
  jauneClair: $jauneClair;
  attention: $attention;
  validation: $validation;
  validationHover: $validationHover;
  error: $error;
  erreur: $erreur;
  uiattention: $uiattention;
  standby: $standby;
  darkOrange: $darkOrange;
  bleuCharte: $bleuCharte;
  lightBlue: $bgfocus;
}
