$lightColor: #FFFFFF;
$darkColor: #3C3C3C;
$cardColor: linear-gradient(107.81deg, #4A69BD -7.66%, #60A3BC 92.45%);
$blanc: #FBFBFB;
$gris: #F2F2F2;
$grisFonce: #828282;
$rouge: #E55039;
$vert: #2CA12A;
$noir: #3C3C3C;
$noirCD: #CDCDCD;
$violet: #583F93;
$focus: #583F93;
$blanc: #FFFFFF;

:export {
  lightColor: $lightColor;
  darkColor: $darkColor;
  cardColor: $cardColor;
  blanc: $blanc;
  rouge: $rouge;
  vert: $vert;
  noir: $noir;
  gris: $gris;
  violet: $violet;
  focus: $focus;
  grisFonce: $grisFonce;
  noirCD: $noirCD;
  blanc: $blanc;
}