$list: top bottom left right;

html body{
  @for $i from 8 through 16 {
    @each $side in $list {
      .m#{str-slice($side, 0, 1)}-#{$i} {
        margin-#{$side}: 1px*$i;
        @include media-max("phone-down") { &.rsz{margin-#{$side}: 1px*$i/2; }}
      }
    }
    [dir="rtl"]{
      .mr-#{$i} {
        margin-left: 1px*$i; 
        margin-right: 0;
        @include media-max("phone-down") { &.rsz{margin-left: 1px*$i/2; }}
      }
      .ml-#{$i} {
        margin-right: 1px*$i;
        margin-left: 0;
        @include media-max("phone-down") { &.rsz{margin-right: 1px*$i/2; }}
      }
      .mb-#{$i} {
        margin-bottom: 1px*$i;
        @include media-max("phone-down") { &.rsz{margin-bottom: 1px*$i/2; }}
      }
    } 
  }
}