@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/text";

.dropdown {
  .toggle {
    background: $lightBackgroundElevationAlt;
    padding: u(2) u(3);
    color: $darkBackgroundAltGrey;
    border-radius: u(2);
    white-space: nowrap;
    border: 1px solid $lightBorderDefaultGrey;

    &:hover,
    &:active {
      background: $lightBackgroundContrastGrey !important;
    }
    &:focus {
      background: $lightBackgroundElevationAlt !important;
      border-color: $darkBackgroundAltGrey;
    }

    &:global([aria-expanded="true"]) {
      .icon {
        transform: rotate(180deg);
      }
    }
  }
  .menu {
    box-shadow: 0 2px 6px 0 #00001229;
    border-radius: u(2);
    margin-top: u(2);
    padding: u(4);
  }
}
