@import "src/scss/colors";
@import "src/scss/variables";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/text";

.dropdown {
  .toggle {
    background: $white;
    padding: u(2) u(3);
    border: none;
    color: $lightTextTitleGrey;

    &:hover,
    &:focus {
      background: $lightTextInvertedBlueFrance !important;
      color: $lightTextTitleGrey !important;
    }
  }
  .menu {
    box-shadow: 0 2px 6px 0 #00001229;
    border-radius: u(2);
    margin-top: u(2);
    padding: u(4);
  }
}
