@import "~/scss/mixins/responsive";
@import "~/scss/mixins/unit";
@import "~/scss/mixins/text";

$navbarHeight: 160px;
$paddingTop: u(18);
$heightTitle: 130px;
$searchMarginTop: 56px;
$searchHeight: 96px;

.hero {
  position: relative;
  min-block-size: 470px;
  block-size: calc(100vh - $navbarHeight);
  background-image: url("../../../../../assets/homepage/hero/background-image.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding-block-start: $paddingTop;

  @include isTablet {
    padding-block-start: u(10);
    block-size: 90vh;
  }

  h1 {
    text-align: center;

    @include isTablet {
      @include text("h4");
    }
  }
}

.bottom_img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url("../../../../../assets/homepage/hero/bottom-back.svg");
  inline-size: 100%;
  block-size: calc(100vh - $navbarHeight - $paddingTop - $heightTitle - $searchMarginTop - $searchHeight);
  padding-inline-start: 20%;
  padding-block-start: u(10);
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 0;
  z-index: 1;
  display: flex;
  align-items: flex-end;

  img {
    block-size: 100%;
    max-block-size: 50vh;
    inline-size: auto;
  }

  @include media-max("lg-limit") {
    padding-inline-start: 10%;

    img {
      max-block-size: 30vh;
    }
  }
}
