@import "~scss/mixins/unit";
@import "~scss/colors";

.container {
  background: $gray40b;
  border-radius: 12px;
  padding-top: u(10);
  padding-bottom: u(10);
  width: 1120px;
  height: fit-content;
  margin: u(6) auto;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-right: u(8);
  margin-left: u(8);
  gap: u(4);
}

.title {
  margin-right: u(10);
  margin-left: u(10);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
