@import "src/scss/colors";
@import "src/scss/mixins/responsive";
@import "src/scss/mixins/unit";
@import "src/scss/mixins/text";
@import "src/scss/mixins/rtl";
@import "src/scss/variables";

.btn {
  font-weight: bold;
  border-radius: $radius;
  padding: 0 u(4);
  @include text("large");
  border: none;
  text-align: left;
  outline: none;
  color: $white !important;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  height: 76px;
  box-shadow: 0 4px 18px 0 #0000001a;

  @include rtl() {
    text-align: right;
  }
  @include isMobile() {
    width: 100%;
  }

  &.sm {
    padding: u(2) u(4);
    @include text("normal");
    width: fit-content;
    height: 50px;
    box-shadow: 0 2px 6px 0 #00001229;
    border-radius: u(2);
  }

  &:focus {
    outline: none;
  }
}

.image {
  position: relative;
  height: 64px;
  width: 64px;
  flex-shrink: 0;

  .sm & {
    height: u(8);
    width: u(8);
  }
}
.image_inner {
  position: absolute;
  top: 0;
  left: 0;
}
