@import "~/scss/colors";
@import "~/scss/variables";
@import "~/scss/mixins/text";
@import "~/scss/mixins/unit";

.modal {
  .modal_content {
    mix-blend-mode: normal; /* Shadow autour */
    box-shadow: 0 0 16px rgb(0 0 0 / 30%);
    border-radius: $radius;
    border: none;
    background: $gray20;
    padding: 32px;
    inline-size: 600px;

    .sponsor_img {
      max-inline-size: 140px;
      max-block-size: 60px;
      margin-inline-end: 8px;
    }

    [type="file"] {
      z-index: 2;
      cursor: pointer;
      opacity: 0;
      position: absolute;
      inset-inline-end: 0;
      inset-block-start: 0;
      inline-size: 100%;
      block-size: 100%;
    }
  }
}

.title {
  @include dsfr-text("h2");

  font-weight: 600;
  margin-block-end: u(4);
}

.label {
  @include dsfr-text("normal");

  font-weight: bold;
  margin: 0 0 u(2);
}

.input {
  margin-block-end: u(2);
  inline-size: 440px;
}

.row {
  display: flex;
  flex-direction: row;
  margin-block-start: u(4);
  justify-content: flex-end;
}

.logo {
  display: flex;
  flex-direction: row;

  .wrapper {
    inline-size: 160px;
    max-block-size: 200px;
  }

  .right {
    margin-inline-start: u(8);
    margin-block-end: u(6);
  }
}

.responsable {
  border: 2px solid;
  border-radius: u(4);
  padding: u(2);
  margin-block-end: u(2);
  border-color: $gray70;
}
